@import '../..//main.scss';

.moon-distance-container {
    text-align: center;
    .md-back {
        background: $deepspace;
        background: url("http://a1star.com/images/star-tile-far-away.jpg") repeat center;
        position: absolute;
        background-attachment: fixed;
        top: 0;
        z-index: 0;
        width: 100vw;
        .earth-img {
            margin-left: auto;
            margin-right: auto;
        }
        .hoop-back-set-1 {
            .md-hoop {
                width: 200px;
                height: 200px;
                border-top: 5px solid $blue;
                border-radius: 50%/50px 50px 100px 100px; 
                margin: 0 auto -160px auto;
            }
        }
        .hint {
            margin-top: 500px;
            height: 1000px;
            p{
                background: rgba($lilac, 0.75);
                padding: 30px;
                border-radius: 10px;
                width: 200px;
                margin-left: 100px;
            }
            h2 {
                color: $lilac;
                position: absolute;
                right: 10vw;
                margin-top: 300px;
            }
        }
        .visit-const {
            height: 2500px;
            margin-top: 200px;
            color: white;
            p {
                padding: 20px;
            }
            h3{
                left: 30vw;
                position: absolute;
                font-size: 22px;
                margin-top: 300px;
            }
            .gemini {
                margin-top: 700px;
                right: 10vw;
                position: absolute;
                height: 600px;
                img {
                    height: 400px;
                    margin-bottom: -150px;
                }
            }
            h4 {
                margin-top: 400px;
                position: absolute;
                left: -20vw;
                color: $teal;
            }
            .learnmore {
                margin-top: 700px;
                background: transparent;
            }
            a {
                color: $teal;
                left: -20vw;
                top: 1500px;
                position: absolute;
            }
        }
        .visit-zodiacs {
            width: 100vw;
            height: 2000px;
            color: white;
            margin-top: 150px;
            p {
                padding: 20px;
            }
            h2 {
                color: $teal;
                left: 10vw;
                position: absolute;
                z-index: 2;
                margin-top: 300px;
            }
            img {
                height: 280px;
                opacity: 0.85;
                right: 10vw;
                position: absolute;
                z-index: 1;
            }
            .leo {
                height: 500px;
                margin-top: 600px;
                h2 {
                    margin-top: 100px;
                }
                p {
                    margin-top: 300px;
                }
                h4 {
                    margin-top: 500px;
                }
            }
        }
        .visit-horoscope {
            width: 100vw;
            height: 2000px;
            color: white;
            margin-top: 150px;
            p {
                margin-top: 500px;
                position: absolute;
                right: 10vw;
            }
            h3 {
                margin-top: 1000px;
            }
            a{
                margin-top: 500px;
                position: absolute;
                left: 10vw;
                color: $blue;
                font-size: 22px;
            }
        }
        .visit-tarot {
            width: 100vw;
            height: 2000px;
            color: white;
            margin-top: 400px;
            p {
                margin-top: 500px;
                position: absolute;
                left: 10vw;
            }
            h3 {
                margin-top: 1000px;
            }
            a{
                margin-top: 500px;
                position: absolute;
                right: 10vw;
                color: $lilac;
                font-size: 22px;
            }
        }
    }
    .md-middle {
        position: fixed;
        z-index: 1;
        width: 100vw;
        .astronaut-img {
            margin-left: auto;
            margin-right: auto;
            height: 100px;
            animation: astronaut 5s infinite;
        }
        @keyframes astronaut {
            0%   {
                margin-top: 20vh;
                padding-left: 3%;
                padding-right: 0%;
            }
            25%   {
                margin-top: 17vh;
            }
            50%  {
                margin-top: 20vh;
                padding-left: 0;
                padding-right: 3%;
            }
            75%  {
                margin-top: 17vh;
            }
            100%  {
                margin-top: 20vh;
                padding-left: 3%;
                padding-right: 0%;
            }
        }
    }
    .md-front {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100vw;
        h1 {
            background: rgba(0,0,0,0.5);
            padding: 10px 30px;
            color: white;
            margin-top: 32vh;
        }
        .distance-tracker {
            right: 50px;
            top: 22vh;
            background: red;
            border-radius: 45px;
            height: 75px;
            width: 75px;
            position: fixed;
            padding: 17px;
            color: white;
            .miles {
                font-size: 20px;
                &:after {
                    content: 'k';
                }
            }
            p {
                margin: 0;
            }
        }
        .hoop-set-1 {
            margin-top: 83px;
            top: 289px;
            position: absolute;
            width: 100vw;
        }
        .hoop-set-2 {
            top: 1988px;
            position: absolute;
            width: 100vw;
        }
        .hoop-set-3 {
            top: 4807px;
            position: absolute;
            width: 100vw;
        }
        .hoop-set-4 {
            top: 9224px;
            position: absolute;
            width: 100vw;
        }
        .md-hoop {
            width: 200px;
            height: 200px;
            border-bottom: 5px solid $teal;
            border-radius: 50%/100px 100px 50px 50px; 
            margin: -160px auto 0 auto;
        }
    }
}