
.inputf {
    background: transparent;
    height: 50px;
    width: 900px;
    border: 2px solid white;
    color: white;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 13px;
    text-align: center;
}


.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.collapse.in {
    background: transparent;
}

.well {
    background: transparent;
    border: 2px solid white;
}

.iconslist {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    position: absolute; 
    width: 100vw;
}

.iconitem {
    width: 100px;
    height: 100px;
}

.animate {
    animation: moveDown 1.6s ease-in-out 0.2s backwards;
}

.iconbutton {
    padding: 0;
    background: transparent;
    border: 0;

}

.horoscope-container {
    border: 2px white solid;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
}

.content-style {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.horor-description {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.row-one {
    display: 'flex';
    padding-right: 40px;
    font-size: 18px;
}

.row-two {
    font-size: 18px;
}

.mood {
    display: flex;
    font-size: 25px;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.horor-description {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding: 0px 50px;
}


.btn-close {
    display: flex;
    align-self: 'flex-end';
    border: 2px solid white;
    margin-top: 20px;
}

.line {
    border-left: 2px solid white;
    height: 60px;
    margin-top: -20px;
    margin-bottom: -50;
    margin-left: 40px;
}

.horor-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-top: 5px;
}

.horor-sign {
    display: flex;
    align-self: 'center';
    justify-content: 'center';
    font-size: 25px;
    padding-left: 10px;
}

/* Grow Rotate */
.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
  }



@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}