
.inputf {
    background: transparent;
    height: 50px;
    width: 900px;
    border: 2px solid white;
    color: white;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 13px;
    text-align: center;
}




.btn-myc {
    padding: 10px 70px;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    margin-bottom: 30px;


}


.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.collapse.in {
    background: transparent;
}

.well {
    background: transparent;
    border: 2px solid white;
}

.iconslist {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    position: absolute; 
    width: 100vw;
}

.iconitem {
    width: 100px;
    height: 100px;
}

.animate {
    animation: moveDown 1.6s ease-in-out 0.2s backwards;
}

.iconbutton {
    padding: 0;
    background: transparent;
    border: 0;

}





@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}