@import url('https://fonts.googleapis.com/css?family=Cantarell:400,700');

.inputf {
    background: transparent;
    height: 50px;
    width: 900px;
    border: 2px solid white;
    color: white;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 13px;
    text-align: center;
}




.btn-myc {
    padding: 10px 70px;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    margin-bottom: 30px;


}


.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

.collapse.in {
    background: transparent;
}

.well {
    background: transparent;
    border: 2px solid white;
}

.iconslist {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    position: absolute; 
    width: 100vw;
}

.iconitem {
    width: 100px;
    height: 100px;
}

.animate {
    animation: moveDown 1.6s ease-in-out 0.2s backwards;
}

.iconbutton {
    padding: 0;
    background: transparent;
    border: 0;

}

.horoscope-container {
    font-family: 'Cantarell', sans-serif;
    border: 2px white solid;
    margin: 10px 40px;
    background-color: rgba(0, 0, 0, 0.8);
}

.content-style {
    display: flex;
    justify-content: center;
    padding: 50px;

}

.horor-description {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.row-one {
    display: 'flex';
    padding-right: 40px;
}

.mood {
    
    display: flex;
    justify-content: 'center';
    font-size: 35px;
}




@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}