@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 1; }

input {
  display: none; }

input:checked ~ label {
  left: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    left: 34%; }
  .homepage .homepage {
    background: #000;
    color: #B5B4B5;
    height: 100vh;
    width: 100vw;
    padding-top: 50px; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 700;
    stroke-width: 2;
    stroke: #BDCAEC;
    stroke-dashoffset: 1300;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 56vw 42vh #fff, 19vw 95vw #fff, 66vw 48vw #fff, 38vw 27vw #fff, 56vw 62vw #fff, 82vw 71vw #fff, 35vw 2vw #fff, 67vw 47vw #fff, 1vw 14vw #fff, 89vw 72vw #fff, 2vw 98vw #fff, 60vw 90vw #fff, 78vw 74vw #fff, 75vw 31vw #fff, 22vw 8vw #fff, 96vw 99vw #fff, 18vw 21vw #fff, 31vw 96vw #fff, 49vw 55vw #fff, 99vw 87vw #fff, 99vw 95vw #fff, 21vw 24vw #fff, 96vw 64vw #fff, 100vw 7vw #fff, 61vw 15vw #fff, 16vw 31vw #fff, 3vw 75vw #fff, 95vw 90vw #fff, 57vw 70vw #fff, 25vw 61vw #fff, 30vw 90vw #fff, 71vw 87vw #fff, 74vw 47vw #fff, 41vw 17vw #fff, 52vw 45vw #fff, 62vw 16vw #fff, 46vw 20vw #fff, 44vw 46vw #fff, 83vw 3vw #fff, 84vw 68vw #fff, 85vw 50vw #fff, 82vw 48vw #fff, 90vw 76vw #fff, 100vw 50vw #fff, 47vw 54vw #fff, 18vw 48vw #fff, 67vw 16vw #fff, 32vw 16vw #fff, 52vw 68vw #fff, 91vw 46vw #fff, 89vw 79vw #fff, 95vw 50vw #fff, 5vw 82vw #fff, 87vw 97vw #fff, 15vw 16vw #fff, 6vw 48vw #fff, 74vw 48vw #fff, 11vw 66vw #fff, 51vw 7vw #fff, 72vw 46vw #fff, 20vw 33vw #fff, 19vw 64vw #fff, 81vw 28vw #fff, 4vw 77vw #fff, 43vw 85vw #fff, 24vw 82vw #fff, 55vw 56vw #fff, 83vw 52vw #fff, 68vw 98vw #fff, 62vw 36vw #fff, 42vw 23vw #fff, 36vw 99vw #fff, 97vw 70vw #fff, 71vw 46vw #fff, 98vw 50vw #fff, 34vw 61vw #fff, 16vw 73vw #fff, 72vw 94vw #fff, 78vw 5vw #fff, 57vw 46vw #fff, 99vw 20vw #fff, 26vw 2vw #fff, 33vw 29vw #fff, 77vw 64vw #fff, 34vw 25vw #fff, 15vw 76vw #fff, 61vw 65vw #fff, 97vw 32vw #fff, 58vw 79vw #fff, 78vw 60vw #fff, 88vw 91vw #fff, 50vw 47vw #fff, 11vw 52vw #fff, 14vw 48vw #fff, 81vw 16vw #fff, 93vw 92vw #fff, 99vw 2vw #fff, 12vw 15vw #fff, 21vw 72vw #fff, 56vw 6vw #fff, 12vw 89vw #fff, 38vw 57vw #fff, 63vw 89vw #fff, 85vw 83vw #fff, 16vw 21vw #fff, 47vw 12vw #fff, 21vw 60vw #fff, 74vw 67vw #fff, 51vw 90vw #fff, 53vw 53vw #fff, 77vw 8vw #fff, 63vw 71vw #fff, 61vw 22vw #fff, 72vw 61vw #fff, 20vw 42vw #fff, 62vw 29vw #fff, 13vw 17vw #fff, 46vw 39vw #fff, 98vw 23vw #fff, 49vw 37vw #fff, 70vw 63vw #fff, 72vw 55vw #fff, 97vw 37vw #fff, 1vw 13vw #fff, 39vw 43vw #fff, 43vw 21vw #fff, 92vw 36vw #fff, 49vw 48vw #fff, 61vw 3vw #fff, 23vw 31vw #fff, 52vw 77vw #fff, 100vw 9vw #fff, 30vw 47vw #fff, 13vw 62vw #fff, 18vw 57vw #fff, 45vw 39vw #fff, 100vw 43vw #fff, 65vw 52vw #fff, 86vw 43vw #fff, 77vw 75vw #fff, 9vw 28vw #fff, 51vw 62vw #fff, 26vw 56vw #fff, 51vw 26vw #fff, 50vw 97vw #fff, 12vw 6vw #fff, 57vw 58vw #fff, 96vw 18vw #fff, 77vw 94vw #fff, 5vw 99vw #fff, 44vw 65vw #fff, 85vw 82vw #fff, 12vw 4vw #fff, 81vw 65vw #fff, 41vw 37vw #fff, 41vw 63vw #fff, 3vw 38vw #fff, 77vw 99vw #fff, 64vw 50vw #fff, 75vw 4vw #fff, 41vw 46vw #fff, 44vw 60vw #fff, 96vw 84vw #fff, 13vw 27vw #fff, 59vw 30vw #fff, 41vw 6vw #fff, 81vw 69vw #fff, 52vw 17vw #fff, 83vw 84vw #fff, 58vw 22vw #fff, 76vw 81vw #fff, 2vw 7vw #fff, 38vw 96vw #fff, 36vw 8vw #fff, 3vw 37vw #fff, 51vw 13vw #fff, 86vw 12vw #fff, 32vw 19vw #fff, 22vw 15vw #fff, 66vw 12vw #fff, 70vw 3vw #fff, 85vw 23vw #fff, 63vw 39vw #fff, 98vw 35vw #fff, 36vw 10vw #fff, 56vw 2vw #fff, 72vw 62vw #fff, 22vw 99vw #fff, 61vw 70vw #fff, 59vw 53vw #fff, 21vw 43vw #fff, 54vw 86vw #fff, 98vw 58vw #fff, 27vw 87vw #fff, 39vw 39vw #fff, 95vw 69vw #fff, 90vw 93vw #fff, 9vw 84vw #fff, 11vw 26vw #fff, 20vw 64vw #fff, 100vw 59vw #fff, 2vw 9vw #fff, 83vw 9vw #fff, 87vw 6vw #fff, 53vw 96vw #fff, 51vw 5vw #fff, 19vw 43vw #fff, 97vw 2vw #fff, 43vw 4vw #fff, 35vw 44vw #fff, 53vw 39vw #fff, 81vw 48vw #fff, 40vw 88vw #fff, 21vw 33vw #fff, 88vw 85vw #fff, 27vw 46vw #fff, 98vw 68vw #fff, 90vw 17vw #fff, 65vw 55vw #fff, 94vw 41vw #fff, 91vw 15vw #fff, 64vw 38vw #fff, 89vw 30vw #fff, 55vw 48vw #fff, 53vw 56vw #fff, 70vw 57vw #fff, 16vw 23vw #fff, 45vw 6vw #fff, 85vw 17vw #fff, 13vw 59vw #fff, 11vw 51vw #fff, 74vw 19vw #fff, 19vw 18vw #fff, 3vw 37vw #fff, 60vw 93vw #fff, 20vw 9vw #fff, 82vw 73vw #fff, 73vw 29vw #fff, 90vw 55vw #fff, 69vw 94vw #fff, 100vw 67vw #fff, 95vw 38vw #fff, 82vw 93vw #fff, 96vw 42vw #fff, 97vw 24vw #fff, 29vw 84vw #fff, 9vw 54vw #fff, 96vw 32vw #fff, 91vw 87vw #fff, 41vw 54vw #fff, 92vw 52vw #fff, 100vw 74vw #fff, 64vw 50vw #fff, 71vw 50vw #fff, 10vw 31vw #fff, 41vw 84vw #fff, 77vw 97vw #fff, 77vw 99vw #fff, 90vw 86vw #fff, 42vw 77vw #fff, 62vw 26vw #fff, 59vw 3vw #fff, 23vw 20vw #fff, 34vw 76vw #fff, 99vw 91vw #fff, 3vw 11vw #fff, 67vw 19vw #fff, 62vw 16vw #fff, 21vw 70vw #fff, 37vw 81vw #fff, 65vw 19vw #fff, 38vw 9vw #fff, 42vw 64vw #fff, 8vw 57vw #fff, 57vw 29vw #fff, 24vw 49vw #fff, 60vw 48vw #fff, 8vw 39vw #fff, 83vw 19vw #fff, 7vw 81vw #fff, 64vw 90vw #fff, 53vw 93vw #fff, 71vw 88vw #fff, 90vw 7vw #fff, 4vw 74vw #fff, 79vw 63vw #fff, 72vw 25vw #fff, 80vw 92vw #fff, 49vw 56vw #fff, 39vw 61vw #fff, 9vw 91vw #fff, 27vw 18vw #fff, 39vw 85vw #fff, 76vw 92vw #fff, 84vw 91vw #fff, 42vw 24vw #fff, 57vw 63vw #fff, 71vw 58vw #fff, 26vw 10vw #fff, 79vw 89vw #fff, 52vw 6vw #fff, 79vw 70vw #fff, 85vw 45vw #fff, 77vw 28vw #fff, 59vw 72vw #fff, 8vw 78vw #fff, 66vw 31vw #fff, 24vw 11vw #fff, 30vw 97vw #fff, 66vw 57vw #fff, 57vw 7vw #fff, 41vw 38vw #fff, 35vw 60vw #fff, 17vw 74vw #fff, 31vw 15vw #fff, 33vw 14vw #fff, 14vw 54vw #fff, 79vw 40vw #fff, 69vw 20vw #fff, 32vw 32vw #fff, 86vw 11vw #fff, 25vw 71vw #fff, 35vw 45vw #fff, 57vw 6vw #fff, 47vw 94vw #fff, 51vw 31vw #fff, 81vw 11vw #fff, 99vw 40vw #fff, 62vw 64vw #fff, 62vw 3vw #fff, 57vw 38vw #fff, 21vw 45vw #fff, 63vw 9vw #fff, 83vw 36vw #fff, 64vw 95vw #fff, 17vw 96vw #fff, 18vw 84vw #fff, 84vw 76vw #fff, 69vw 5vw #fff, 84vw 100vw #fff, 73vw 38vw #fff, 20vw 2vw #fff, 85vw 34vw #fff, 27vw 33vw #fff, 36vw 89vw #fff, 1vw 45vw #fff, 47vw 53vw #fff, 86vw 57vw #fff, 90vw 55vw #fff, 81vw 1vw #fff, 58vw 60vw #fff, 85vw 51vw #fff, 24vw 91vw #fff, 70vw 32vw #fff, 13vw 85vw #fff, 24vw 45vw #fff, 10vw 2vw #fff, 59vw 51vw #fff, 36vw 75vw #fff, 25vw 33vw #fff, 77vw 16vw #fff, 35vw 36vw #fff, 68vw 96vw #fff, 26vw 94vw #fff, 99vw 23vw #fff, 4vw 37vw #fff, 67vw 63vw #fff, 31vw 58vw #fff, 66vw 19vw #fff, 38vw 26vw #fff, 59vw 91vw #fff, 88vw 22vw #fff, 48vw 47vw #fff, 42vw 32vw #fff, 42vw 44vw #fff, 75vw 31vw #fff, 20vw 51vw #fff, 9vw 59vw #fff, 23vw 92vw #fff, 35vw 31vw #fff, 97vw 24vw #fff, 61vw 29vw #fff, 19vw 91vw #fff, 31vw 29vw #fff, 52vw 85vw #fff, 8vw 24vw #fff, 51vw 91vw #fff, 75vw 47vw #fff, 43vw 16vw #fff, 62vw 37vw #fff, 72vw 44vw #fff, 22vw 41vw #fff, 98vw 20vw #fff, 53vw 10vw #fff, 22vw 78vw #fff, 32vw 78vw #fff, 3vw 35vw #fff, 33vw 28vw #fff, 15vw 66vw #fff, 44vw 40vw #fff, 67vw 72vw #fff, 90vw 49vw #fff, 6vw 70vw #fff, 81vw 78vw #fff, 53vw 65vw #fff, 24vw 23vw #fff, 49vw 15vw #fff, 62vw 89vw #fff, 75vw 88vw #fff, 8vw 60vw #fff, 1vw 95vw #fff, 29vw 93vw #fff, 83vw 32vw #fff, 20vw 77vw #fff, 72vw 59vw #fff, 79vw 76vw #fff, 32vw 10vw #fff, 74vw 68vw #fff, 44vw 96vw #fff, 76vw 2vw #fff, 68vw 82vw #fff, 21vw 25vw #fff, 89vw 75vw #fff, 64vw 24vw #fff, 80vw 83vw #fff, 98vw 85vw #fff, 29vw 84vw #fff, 20vw 36vw #fff, 42vw 50vw #fff, 46vw 10vw #fff, 90vw 50vw #fff, 33vw 25vw #fff, 87vw 21vw #fff, 7vw 68vw #fff, 9vw 49vw #fff, 39vw 43vw #fff, 50vw 53vw #fff, 42vw 63vw #fff, 2vw 21vw #fff, 57vw 12vw #fff, 95vw 59vw #fff, 65vw 86vw #fff, 31vw 49vw #fff, 67vw 33vw #fff, 23vw 54vw #fff, 42vw 55vw #fff, 20vw 18vw #fff, 47vw 74vw #fff, 65vw 57vw #fff, 62vw 76vw #fff, 32vw 30vw #fff, 76vw 83vw #fff, 62vw 11vw #fff, 57vw 21vw #fff, 51vw 40vw #fff, 72vw 100vw #fff, 10vw 74vw #fff, 73vw 33vw #fff, 48vw 23vw #fff, 6vw 1vw #fff, 71vw 27vw #fff, 73vw 80vw #fff, 40vw 78vw #fff, 11vw 82vw #fff, 13vw 39vw #fff, 72vw 47vw #fff, 83vw 89vw #fff, 77vw 26vw #fff, 61vw 54vw #fff, 69vw 69vw #fff, 21vw 9vw #fff, 63vw 39vw #fff, 97vw 37vw #fff, 22vw 78vw #fff, 59vw 44vw #fff, 71vw 97vw #fff, 78vw 58vw #fff, 17vw 35vw #fff, 23vw 37vw #fff, 57vw 72vw #fff, 49vw 29vw #fff, 98vw 92vw #fff, 43vw 94vw #fff, 14vw 65vw #fff, 84vw 84vw #fff, 65vw 55vw #fff, 26vw 86vw #fff, 68vw 79vw #fff, 57vw 36vw #fff, 19vw 63vw #fff, 83vw 63vw #fff, 91vw 55vw #fff, 81vw 85vw #fff, 4vw 83vw #fff, 30vw 13vw #fff, 6vw 6vw #fff, 39vw 13vw #fff, 22vw 53vw #fff, 71vw 41vw #fff, 21vw 30vw #fff, 100vw 42vw #fff, 41vw 88vw #fff, 36vw 66vw #fff, 28vw 29vw #fff, 22vw 5vw #fff, 97vw 16vw #fff, 82vw 83vw #fff, 87vw 2vw #fff, 99vw 3vw #fff, 60vw 54vw #fff, 46vw 31vw #fff, 63vw 82vw #fff, 81vw 56vw #fff, 24vw 60vw #fff, 68vw 22vw #fff, 8vw 49vw #fff, 67vw 57vw #fff, 10vw 18vw #fff, 44vw 55vw #fff, 43vw 31vw #fff, 19vw 3vw #fff, 99vw 28vw #fff, 1vw 40vw #fff, 88vw 45vw #fff, 91vw 61vw #fff, 27vw 95vw #fff, 94vw 90vw #fff, 16vw 17vw #fff, 80vw 78vw #fff, 59vw 76vw #fff, 2vw 86vw #fff, 62vw 8vw #fff, 28vw 92vw #fff, 26vw 9vw #fff, 5vw 4vw #fff, 32vw 43vw #fff, 29vw 61vw #fff, 65vw 31vw #fff, 13vw 14vw #fff, 20vw 26vw #fff, 37vw 91vw #fff, 77vw 29vw #fff, 10vw 43vw #fff, 95vw 95vw #fff, 20vw 95vw #fff, 56vw 59vw #fff, 48vw 69vw #fff, 47vw 34vw #fff, 53vw 68vw #fff, 35vw 99vw #fff, 95vw 31vw #fff, 75vw 94vw #fff, 22vw 19vw #fff, 95vw 93vw #fff, 97vw 36vw #fff, 57vw 67vw #fff, 20vw 80vw #fff, 59vw 42vw #fff, 1vw 58vw #fff, 85vw 94vw #fff, 89vw 47vw #fff, 10vw 98vw #fff, 50vw 17vw #fff, 44vw 9vw #fff, 54vw 26vw #fff, 100vw 19vw #fff, 85vw 33vw #fff, 12vw 26vw #fff, 49vw 84vw #fff, 88vw 71vw #fff, 62vw 8vw #fff, 69vw 31vw #fff, 37vw 58vw #fff, 71vw 29vw #fff, 62vw 42vw #fff, 11vw 56vw #fff, 24vw 98vw #fff, 34vw 11vw #fff, 93vw 42vw #fff, 54vw 87vw #fff, 30vw 63vw #fff, 42vw 86vw #fff, 72vw 55vw #fff, 35vw 72vw #fff, 45vw 25vw #fff, 64vw 2vw #fff, 88vw 37vw #fff, 57vw 36vw #fff, 67vw 23vw #fff, 74vw 93vw #fff, 16vw 95vw #fff, 44vw 13vw #fff, 51vw 27vw #fff, 95vw 9vw #fff, 26vw 82vw #fff, 14vw 85vw #fff, 84vw 32vw #fff, 56vw 92vw #fff, 46vw 25vw #fff, 35vw 26vw #fff, 96vw 99vw #fff, 31vw 99vw #fff, 67vw 62vw #fff, 91vw 24vw #fff, 33vw 59vw #fff, 16vw 87vw #fff, 95vw 25vw #fff, 25vw 45vw #fff, 45vw 75vw #fff, 65vw 80vw #fff, 81vw 60vw #fff, 15vw 90vw #fff, 85vw 44vw #fff, 39vw 19vw #fff, 63vw 48vw #fff, 14vw 55vw #fff, 55vw 9vw #fff, 21vw 22vw #fff, 6vw 51vw #fff, 38vw 28vw #fff, 51vw 76vw #fff, 37vw 100vw #fff, 16vw 42vw #fff, 46vw 87vw #fff, 23vw 6vw #fff, 7vw 80vw #fff, 28vw 6vw #fff, 19vw 59vw #fff, 51vw 86vw #fff, 75vw 9vw #fff, 75vw 74vw #fff, 65vw 65vw #fff, 59vw 35vw #fff, 58vw 35vw #fff, 81vw 53vw #fff, 34vw 78vw #fff, 5vw 59vw #fff, 60vw 39vw #fff, 34vw 96vw #fff, 53vw 41vw #fff, 55vw 26vw #fff, 24vw 7vw #fff, 59vw 40vw #fff, 98vw 12vw #fff, 45vw 13vw #fff, 61vw 53vw #fff, 14vw 90vw #fff, 44vw 31vw #fff, 20vw 32vw #fff, 80vw 49vw #fff, 38vw 58vw #fff, 15vw 21vw #fff, 29vw 29vw #fff, 43vw 51vw #fff, 61vw 39vw #fff, 36vw 24vw #fff, 30vw 38vw #fff, 97vw 28vw #fff, 10vw 70vw #fff, 55vw 17vw #fff, 45vw 93vw #fff, 86vw 36vw #fff, 77vw 13vw #fff, 100vw 9vw #fff, 77vw 77vw #fff, 99vw 7vw #fff, 31vw 100vw #fff, 1vw 60vw #fff, 3vw 38vw #fff, 78vw 90vw #fff, 94vw 66vw #fff, 27vw 69vw #fff, 84vw 63vw #fff, 98vw 60vw #fff, 37vw 7vw #fff, 53vw 90vw #fff, 86vw 25vw #fff, 69vw 97vw #fff, 28vw 24vw #fff, 66vw 28vw #fff, 47vw 81vw #fff, 9vw 74vw #fff, 16vw 1vw #fff, 3vw 48vw #fff, 88vw 96vw #fff, 33vw 6vw #fff, 20vw 8vw #fff, 99vw 77vw #fff, 21vw 56vw #fff, 74vw 77vw #fff, 36vw 6vw #fff, 27vw 79vw #fff, 49vw 43vw #fff, 57vw 25vw #fff, 8vw 8vw #fff, 88vw 24vw #fff, 87vw 28vw #fff, 14vw 40vw #fff, 39vw 46vw #fff, 35vw 57vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 56vw 42vh #fff, 19vw 95vw #fff, 66vw 48vw #fff, 38vw 27vw #fff, 56vw 62vw #fff, 82vw 71vw #fff, 35vw 2vw #fff, 67vw 47vw #fff, 1vw 14vw #fff, 89vw 72vw #fff, 2vw 98vw #fff, 60vw 90vw #fff, 78vw 74vw #fff, 75vw 31vw #fff, 22vw 8vw #fff, 96vw 99vw #fff, 18vw 21vw #fff, 31vw 96vw #fff, 49vw 55vw #fff, 99vw 87vw #fff, 99vw 95vw #fff, 21vw 24vw #fff, 96vw 64vw #fff, 100vw 7vw #fff, 61vw 15vw #fff, 16vw 31vw #fff, 3vw 75vw #fff, 95vw 90vw #fff, 57vw 70vw #fff, 25vw 61vw #fff, 30vw 90vw #fff, 71vw 87vw #fff, 74vw 47vw #fff, 41vw 17vw #fff, 52vw 45vw #fff, 62vw 16vw #fff, 46vw 20vw #fff, 44vw 46vw #fff, 83vw 3vw #fff, 84vw 68vw #fff, 85vw 50vw #fff, 82vw 48vw #fff, 90vw 76vw #fff, 100vw 50vw #fff, 47vw 54vw #fff, 18vw 48vw #fff, 67vw 16vw #fff, 32vw 16vw #fff, 52vw 68vw #fff, 91vw 46vw #fff, 89vw 79vw #fff, 95vw 50vw #fff, 5vw 82vw #fff, 87vw 97vw #fff, 15vw 16vw #fff, 6vw 48vw #fff, 74vw 48vw #fff, 11vw 66vw #fff, 51vw 7vw #fff, 72vw 46vw #fff, 20vw 33vw #fff, 19vw 64vw #fff, 81vw 28vw #fff, 4vw 77vw #fff, 43vw 85vw #fff, 24vw 82vw #fff, 55vw 56vw #fff, 83vw 52vw #fff, 68vw 98vw #fff, 62vw 36vw #fff, 42vw 23vw #fff, 36vw 99vw #fff, 97vw 70vw #fff, 71vw 46vw #fff, 98vw 50vw #fff, 34vw 61vw #fff, 16vw 73vw #fff, 72vw 94vw #fff, 78vw 5vw #fff, 57vw 46vw #fff, 99vw 20vw #fff, 26vw 2vw #fff, 33vw 29vw #fff, 77vw 64vw #fff, 34vw 25vw #fff, 15vw 76vw #fff, 61vw 65vw #fff, 97vw 32vw #fff, 58vw 79vw #fff, 78vw 60vw #fff, 88vw 91vw #fff, 50vw 47vw #fff, 11vw 52vw #fff, 14vw 48vw #fff, 81vw 16vw #fff, 93vw 92vw #fff, 99vw 2vw #fff, 12vw 15vw #fff, 21vw 72vw #fff, 56vw 6vw #fff, 12vw 89vw #fff, 38vw 57vw #fff, 63vw 89vw #fff, 85vw 83vw #fff, 16vw 21vw #fff, 47vw 12vw #fff, 21vw 60vw #fff, 74vw 67vw #fff, 51vw 90vw #fff, 53vw 53vw #fff, 77vw 8vw #fff, 63vw 71vw #fff, 61vw 22vw #fff, 72vw 61vw #fff, 20vw 42vw #fff, 62vw 29vw #fff, 13vw 17vw #fff, 46vw 39vw #fff, 98vw 23vw #fff, 49vw 37vw #fff, 70vw 63vw #fff, 72vw 55vw #fff, 97vw 37vw #fff, 1vw 13vw #fff, 39vw 43vw #fff, 43vw 21vw #fff, 92vw 36vw #fff, 49vw 48vw #fff, 61vw 3vw #fff, 23vw 31vw #fff, 52vw 77vw #fff, 100vw 9vw #fff, 30vw 47vw #fff, 13vw 62vw #fff, 18vw 57vw #fff, 45vw 39vw #fff, 100vw 43vw #fff, 65vw 52vw #fff, 86vw 43vw #fff, 77vw 75vw #fff, 9vw 28vw #fff, 51vw 62vw #fff, 26vw 56vw #fff, 51vw 26vw #fff, 50vw 97vw #fff, 12vw 6vw #fff, 57vw 58vw #fff, 96vw 18vw #fff, 77vw 94vw #fff, 5vw 99vw #fff, 44vw 65vw #fff, 85vw 82vw #fff, 12vw 4vw #fff, 81vw 65vw #fff, 41vw 37vw #fff, 41vw 63vw #fff, 3vw 38vw #fff, 77vw 99vw #fff, 64vw 50vw #fff, 75vw 4vw #fff, 41vw 46vw #fff, 44vw 60vw #fff, 96vw 84vw #fff, 13vw 27vw #fff, 59vw 30vw #fff, 41vw 6vw #fff, 81vw 69vw #fff, 52vw 17vw #fff, 83vw 84vw #fff, 58vw 22vw #fff, 76vw 81vw #fff, 2vw 7vw #fff, 38vw 96vw #fff, 36vw 8vw #fff, 3vw 37vw #fff, 51vw 13vw #fff, 86vw 12vw #fff, 32vw 19vw #fff, 22vw 15vw #fff, 66vw 12vw #fff, 70vw 3vw #fff, 85vw 23vw #fff, 63vw 39vw #fff, 98vw 35vw #fff, 36vw 10vw #fff, 56vw 2vw #fff, 72vw 62vw #fff, 22vw 99vw #fff, 61vw 70vw #fff, 59vw 53vw #fff, 21vw 43vw #fff, 54vw 86vw #fff, 98vw 58vw #fff, 27vw 87vw #fff, 39vw 39vw #fff, 95vw 69vw #fff, 90vw 93vw #fff, 9vw 84vw #fff, 11vw 26vw #fff, 20vw 64vw #fff, 100vw 59vw #fff, 2vw 9vw #fff, 83vw 9vw #fff, 87vw 6vw #fff, 53vw 96vw #fff, 51vw 5vw #fff, 19vw 43vw #fff, 97vw 2vw #fff, 43vw 4vw #fff, 35vw 44vw #fff, 53vw 39vw #fff, 81vw 48vw #fff, 40vw 88vw #fff, 21vw 33vw #fff, 88vw 85vw #fff, 27vw 46vw #fff, 98vw 68vw #fff, 90vw 17vw #fff, 65vw 55vw #fff, 94vw 41vw #fff, 91vw 15vw #fff, 64vw 38vw #fff, 89vw 30vw #fff, 55vw 48vw #fff, 53vw 56vw #fff, 70vw 57vw #fff, 16vw 23vw #fff, 45vw 6vw #fff, 85vw 17vw #fff, 13vw 59vw #fff, 11vw 51vw #fff, 74vw 19vw #fff, 19vw 18vw #fff, 3vw 37vw #fff, 60vw 93vw #fff, 20vw 9vw #fff, 82vw 73vw #fff, 73vw 29vw #fff, 90vw 55vw #fff, 69vw 94vw #fff, 100vw 67vw #fff, 95vw 38vw #fff, 82vw 93vw #fff, 96vw 42vw #fff, 97vw 24vw #fff, 29vw 84vw #fff, 9vw 54vw #fff, 96vw 32vw #fff, 91vw 87vw #fff, 41vw 54vw #fff, 92vw 52vw #fff, 100vw 74vw #fff, 64vw 50vw #fff, 71vw 50vw #fff, 10vw 31vw #fff, 41vw 84vw #fff, 77vw 97vw #fff, 77vw 99vw #fff, 90vw 86vw #fff, 42vw 77vw #fff, 62vw 26vw #fff, 59vw 3vw #fff, 23vw 20vw #fff, 34vw 76vw #fff, 99vw 91vw #fff, 3vw 11vw #fff, 67vw 19vw #fff, 62vw 16vw #fff, 21vw 70vw #fff, 37vw 81vw #fff, 65vw 19vw #fff, 38vw 9vw #fff, 42vw 64vw #fff, 8vw 57vw #fff, 57vw 29vw #fff, 24vw 49vw #fff, 60vw 48vw #fff, 8vw 39vw #fff, 83vw 19vw #fff, 7vw 81vw #fff, 64vw 90vw #fff, 53vw 93vw #fff, 71vw 88vw #fff, 90vw 7vw #fff, 4vw 74vw #fff, 79vw 63vw #fff, 72vw 25vw #fff, 80vw 92vw #fff, 49vw 56vw #fff, 39vw 61vw #fff, 9vw 91vw #fff, 27vw 18vw #fff, 39vw 85vw #fff, 76vw 92vw #fff, 84vw 91vw #fff, 42vw 24vw #fff, 57vw 63vw #fff, 71vw 58vw #fff, 26vw 10vw #fff, 79vw 89vw #fff, 52vw 6vw #fff, 79vw 70vw #fff, 85vw 45vw #fff, 77vw 28vw #fff, 59vw 72vw #fff, 8vw 78vw #fff, 66vw 31vw #fff, 24vw 11vw #fff, 30vw 97vw #fff, 66vw 57vw #fff, 57vw 7vw #fff, 41vw 38vw #fff, 35vw 60vw #fff, 17vw 74vw #fff, 31vw 15vw #fff, 33vw 14vw #fff, 14vw 54vw #fff, 79vw 40vw #fff, 69vw 20vw #fff, 32vw 32vw #fff, 86vw 11vw #fff, 25vw 71vw #fff, 35vw 45vw #fff, 57vw 6vw #fff, 47vw 94vw #fff, 51vw 31vw #fff, 81vw 11vw #fff, 99vw 40vw #fff, 62vw 64vw #fff, 62vw 3vw #fff, 57vw 38vw #fff, 21vw 45vw #fff, 63vw 9vw #fff, 83vw 36vw #fff, 64vw 95vw #fff, 17vw 96vw #fff, 18vw 84vw #fff, 84vw 76vw #fff, 69vw 5vw #fff, 84vw 100vw #fff, 73vw 38vw #fff, 20vw 2vw #fff, 85vw 34vw #fff, 27vw 33vw #fff, 36vw 89vw #fff, 1vw 45vw #fff, 47vw 53vw #fff, 86vw 57vw #fff, 90vw 55vw #fff, 81vw 1vw #fff, 58vw 60vw #fff, 85vw 51vw #fff, 24vw 91vw #fff, 70vw 32vw #fff, 13vw 85vw #fff, 24vw 45vw #fff, 10vw 2vw #fff, 59vw 51vw #fff, 36vw 75vw #fff, 25vw 33vw #fff, 77vw 16vw #fff, 35vw 36vw #fff, 68vw 96vw #fff, 26vw 94vw #fff, 99vw 23vw #fff, 4vw 37vw #fff, 67vw 63vw #fff, 31vw 58vw #fff, 66vw 19vw #fff, 38vw 26vw #fff, 59vw 91vw #fff, 88vw 22vw #fff, 48vw 47vw #fff, 42vw 32vw #fff, 42vw 44vw #fff, 75vw 31vw #fff, 20vw 51vw #fff, 9vw 59vw #fff, 23vw 92vw #fff, 35vw 31vw #fff, 97vw 24vw #fff, 61vw 29vw #fff, 19vw 91vw #fff, 31vw 29vw #fff, 52vw 85vw #fff, 8vw 24vw #fff, 51vw 91vw #fff, 75vw 47vw #fff, 43vw 16vw #fff, 62vw 37vw #fff, 72vw 44vw #fff, 22vw 41vw #fff, 98vw 20vw #fff, 53vw 10vw #fff, 22vw 78vw #fff, 32vw 78vw #fff, 3vw 35vw #fff, 33vw 28vw #fff, 15vw 66vw #fff, 44vw 40vw #fff, 67vw 72vw #fff, 90vw 49vw #fff, 6vw 70vw #fff, 81vw 78vw #fff, 53vw 65vw #fff, 24vw 23vw #fff, 49vw 15vw #fff, 62vw 89vw #fff, 75vw 88vw #fff, 8vw 60vw #fff, 1vw 95vw #fff, 29vw 93vw #fff, 83vw 32vw #fff, 20vw 77vw #fff, 72vw 59vw #fff, 79vw 76vw #fff, 32vw 10vw #fff, 74vw 68vw #fff, 44vw 96vw #fff, 76vw 2vw #fff, 68vw 82vw #fff, 21vw 25vw #fff, 89vw 75vw #fff, 64vw 24vw #fff, 80vw 83vw #fff, 98vw 85vw #fff, 29vw 84vw #fff, 20vw 36vw #fff, 42vw 50vw #fff, 46vw 10vw #fff, 90vw 50vw #fff, 33vw 25vw #fff, 87vw 21vw #fff, 7vw 68vw #fff, 9vw 49vw #fff, 39vw 43vw #fff, 50vw 53vw #fff, 42vw 63vw #fff, 2vw 21vw #fff, 57vw 12vw #fff, 95vw 59vw #fff, 65vw 86vw #fff, 31vw 49vw #fff, 67vw 33vw #fff, 23vw 54vw #fff, 42vw 55vw #fff, 20vw 18vw #fff, 47vw 74vw #fff, 65vw 57vw #fff, 62vw 76vw #fff, 32vw 30vw #fff, 76vw 83vw #fff, 62vw 11vw #fff, 57vw 21vw #fff, 51vw 40vw #fff, 72vw 100vw #fff, 10vw 74vw #fff, 73vw 33vw #fff, 48vw 23vw #fff, 6vw 1vw #fff, 71vw 27vw #fff, 73vw 80vw #fff, 40vw 78vw #fff, 11vw 82vw #fff, 13vw 39vw #fff, 72vw 47vw #fff, 83vw 89vw #fff, 77vw 26vw #fff, 61vw 54vw #fff, 69vw 69vw #fff, 21vw 9vw #fff, 63vw 39vw #fff, 97vw 37vw #fff, 22vw 78vw #fff, 59vw 44vw #fff, 71vw 97vw #fff, 78vw 58vw #fff, 17vw 35vw #fff, 23vw 37vw #fff, 57vw 72vw #fff, 49vw 29vw #fff, 98vw 92vw #fff, 43vw 94vw #fff, 14vw 65vw #fff, 84vw 84vw #fff, 65vw 55vw #fff, 26vw 86vw #fff, 68vw 79vw #fff, 57vw 36vw #fff, 19vw 63vw #fff, 83vw 63vw #fff, 91vw 55vw #fff, 81vw 85vw #fff, 4vw 83vw #fff, 30vw 13vw #fff, 6vw 6vw #fff, 39vw 13vw #fff, 22vw 53vw #fff, 71vw 41vw #fff, 21vw 30vw #fff, 100vw 42vw #fff, 41vw 88vw #fff, 36vw 66vw #fff, 28vw 29vw #fff, 22vw 5vw #fff, 97vw 16vw #fff, 82vw 83vw #fff, 87vw 2vw #fff, 99vw 3vw #fff, 60vw 54vw #fff, 46vw 31vw #fff, 63vw 82vw #fff, 81vw 56vw #fff, 24vw 60vw #fff, 68vw 22vw #fff, 8vw 49vw #fff, 67vw 57vw #fff, 10vw 18vw #fff, 44vw 55vw #fff, 43vw 31vw #fff, 19vw 3vw #fff, 99vw 28vw #fff, 1vw 40vw #fff, 88vw 45vw #fff, 91vw 61vw #fff, 27vw 95vw #fff, 94vw 90vw #fff, 16vw 17vw #fff, 80vw 78vw #fff, 59vw 76vw #fff, 2vw 86vw #fff, 62vw 8vw #fff, 28vw 92vw #fff, 26vw 9vw #fff, 5vw 4vw #fff, 32vw 43vw #fff, 29vw 61vw #fff, 65vw 31vw #fff, 13vw 14vw #fff, 20vw 26vw #fff, 37vw 91vw #fff, 77vw 29vw #fff, 10vw 43vw #fff, 95vw 95vw #fff, 20vw 95vw #fff, 56vw 59vw #fff, 48vw 69vw #fff, 47vw 34vw #fff, 53vw 68vw #fff, 35vw 99vw #fff, 95vw 31vw #fff, 75vw 94vw #fff, 22vw 19vw #fff, 95vw 93vw #fff, 97vw 36vw #fff, 57vw 67vw #fff, 20vw 80vw #fff, 59vw 42vw #fff, 1vw 58vw #fff, 85vw 94vw #fff, 89vw 47vw #fff, 10vw 98vw #fff, 50vw 17vw #fff, 44vw 9vw #fff, 54vw 26vw #fff, 100vw 19vw #fff, 85vw 33vw #fff, 12vw 26vw #fff, 49vw 84vw #fff, 88vw 71vw #fff, 62vw 8vw #fff, 69vw 31vw #fff, 37vw 58vw #fff, 71vw 29vw #fff, 62vw 42vw #fff, 11vw 56vw #fff, 24vw 98vw #fff, 34vw 11vw #fff, 93vw 42vw #fff, 54vw 87vw #fff, 30vw 63vw #fff, 42vw 86vw #fff, 72vw 55vw #fff, 35vw 72vw #fff, 45vw 25vw #fff, 64vw 2vw #fff, 88vw 37vw #fff, 57vw 36vw #fff, 67vw 23vw #fff, 74vw 93vw #fff, 16vw 95vw #fff, 44vw 13vw #fff, 51vw 27vw #fff, 95vw 9vw #fff, 26vw 82vw #fff, 14vw 85vw #fff, 84vw 32vw #fff, 56vw 92vw #fff, 46vw 25vw #fff, 35vw 26vw #fff, 96vw 99vw #fff, 31vw 99vw #fff, 67vw 62vw #fff, 91vw 24vw #fff, 33vw 59vw #fff, 16vw 87vw #fff, 95vw 25vw #fff, 25vw 45vw #fff, 45vw 75vw #fff, 65vw 80vw #fff, 81vw 60vw #fff, 15vw 90vw #fff, 85vw 44vw #fff, 39vw 19vw #fff, 63vw 48vw #fff, 14vw 55vw #fff, 55vw 9vw #fff, 21vw 22vw #fff, 6vw 51vw #fff, 38vw 28vw #fff, 51vw 76vw #fff, 37vw 100vw #fff, 16vw 42vw #fff, 46vw 87vw #fff, 23vw 6vw #fff, 7vw 80vw #fff, 28vw 6vw #fff, 19vw 59vw #fff, 51vw 86vw #fff, 75vw 9vw #fff, 75vw 74vw #fff, 65vw 65vw #fff, 59vw 35vw #fff, 58vw 35vw #fff, 81vw 53vw #fff, 34vw 78vw #fff, 5vw 59vw #fff, 60vw 39vw #fff, 34vw 96vw #fff, 53vw 41vw #fff, 55vw 26vw #fff, 24vw 7vw #fff, 59vw 40vw #fff, 98vw 12vw #fff, 45vw 13vw #fff, 61vw 53vw #fff, 14vw 90vw #fff, 44vw 31vw #fff, 20vw 32vw #fff, 80vw 49vw #fff, 38vw 58vw #fff, 15vw 21vw #fff, 29vw 29vw #fff, 43vw 51vw #fff, 61vw 39vw #fff, 36vw 24vw #fff, 30vw 38vw #fff, 97vw 28vw #fff, 10vw 70vw #fff, 55vw 17vw #fff, 45vw 93vw #fff, 86vw 36vw #fff, 77vw 13vw #fff, 100vw 9vw #fff, 77vw 77vw #fff, 99vw 7vw #fff, 31vw 100vw #fff, 1vw 60vw #fff, 3vw 38vw #fff, 78vw 90vw #fff, 94vw 66vw #fff, 27vw 69vw #fff, 84vw 63vw #fff, 98vw 60vw #fff, 37vw 7vw #fff, 53vw 90vw #fff, 86vw 25vw #fff, 69vw 97vw #fff, 28vw 24vw #fff, 66vw 28vw #fff, 47vw 81vw #fff, 9vw 74vw #fff, 16vw 1vw #fff, 3vw 48vw #fff, 88vw 96vw #fff, 33vw 6vw #fff, 20vw 8vw #fff, 99vw 77vw #fff, 21vw 56vw #fff, 74vw 77vw #fff, 36vw 6vw #fff, 27vw 79vw #fff, 49vw 43vw #fff, 57vw 25vw #fff, 8vw 8vw #fff, 88vw 24vw #fff, 87vw 28vw #fff, 14vw 40vw #fff, 39vw 46vw #fff, 35vw 57vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 49vw 40vh #fff, 21vw 60vw #fff, 37vw 22vw #fff, 40vw 91vw #fff, 71vw 87vw #fff, 100vw 79vw #fff, 51vw 63vw #fff, 19vw 97vw #fff, 87vw 72vw #fff, 76vw 39vw #fff, 60vw 94vw #fff, 11vw 94vw #fff, 94vw 42vw #fff, 85vw 10vw #fff, 73vw 75vw #fff, 71vw 74vw #fff, 16vw 11vw #fff, 12vw 15vw #fff, 84vw 49vw #fff, 98vw 49vw #fff, 11vw 81vw #fff, 10vw 66vw #fff, 84vw 96vw #fff, 85vw 9vw #fff, 13vw 37vw #fff, 50vw 89vw #fff, 99vw 68vw #fff, 60vw 21vw #fff, 58vw 49vw #fff, 38vw 53vw #fff, 96vw 6vw #fff, 10vw 68vw #fff, 92vw 60vw #fff, 20vw 27vw #fff, 57vw 34vw #fff, 17vw 51vw #fff, 12vw 7vw #fff, 61vw 24vw #fff, 44vw 93vw #fff, 89vw 33vw #fff, 96vw 47vw #fff, 31vw 33vw #fff, 100vw 42vw #fff, 87vw 41vw #fff, 13vw 88vw #fff, 58vw 99vw #fff, 32vw 25vw #fff, 57vw 79vw #fff, 86vw 95vw #fff, 38vw 17vw #fff, 48vw 81vw #fff, 49vw 56vw #fff, 44vw 48vw #fff, 23vw 49vw #fff, 96vw 45vw #fff, 72vw 74vw #fff, 80vw 20vw #fff, 70vw 14vw #fff, 2vw 8vw #fff, 85vw 45vw #fff, 63vw 77vw #fff, 38vw 31vw #fff, 87vw 15vw #fff, 89vw 12vw #fff, 83vw 91vw #fff, 61vw 55vw #fff, 46vw 21vw #fff, 69vw 19vw #fff, 15vw 67vw #fff, 93vw 7vw #fff, 86vw 14vw #fff, 41vw 12vw #fff, 99vw 95vw #fff, 4vw 97vw #fff, 20vw 43vw #fff, 10vw 28vw #fff, 33vw 31vw #fff, 32vw 21vw #fff, 81vw 2vw #fff, 26vw 55vw #fff, 97vw 64vw #fff, 43vw 70vw #fff, 32vw 17vw #fff, 78vw 82vw #fff, 82vw 31vw #fff, 42vw 67vw #fff, 34vw 13vw #fff, 79vw 27vw #fff, 51vw 51vw #fff, 12vw 4vw #fff, 16vw 66vw #fff, 73vw 48vw #fff, 39vw 89vw #fff, 72vw 25vw #fff, 74vw 78vw #fff, 52vw 70vw #fff, 26vw 49vw #fff, 6vw 42vw #fff, 99vw 28vw #fff, 8vw 26vw #fff, 85vw 64vw #fff, 33vw 14vw #fff, 67vw 70vw #fff, 47vw 46vw #fff, 91vw 60vw #fff, 97vw 70vw #fff, 22vw 82vw #fff, 4vw 40vw #fff, 27vw 17vw #fff, 81vw 30vw #fff, 88vw 23vw #fff, 17vw 82vw #fff, 69vw 12vw #fff, 65vw 9vw #fff, 79vw 5vw #fff, 2vw 93vw #fff, 54vw 62vw #fff, 51vw 43vw #fff, 98vw 21vw #fff, 64vw 10vw #fff, 20vw 87vw #fff, 8vw 77vw #fff, 14vw 32vw #fff, 17vw 69vw #fff, 71vw 34vw #fff, 33vw 9vw #fff, 52vw 48vw #fff, 41vw 3vw #fff, 53vw 52vw #fff, 78vw 3vw #fff, 88vw 44vw #fff, 9vw 58vw #fff, 81vw 3vw #fff, 5vw 76vw #fff, 31vw 40vw #fff, 72vw 79vw #fff, 57vw 74vw #fff, 79vw 49vw #fff, 32vw 26vw #fff, 24vw 24vw #fff, 45vw 54vw #fff, 52vw 33vw #fff, 71vw 1vw #fff, 55vw 7vw #fff, 28vw 7vw #fff, 92vw 82vw #fff, 90vw 19vw #fff, 78vw 6vw #fff, 34vw 94vw #fff, 91vw 37vw #fff, 29vw 53vw #fff, 55vw 92vw #fff, 52vw 8vw #fff, 56vw 91vw #fff, 4vw 33vw #fff, 88vw 7vw #fff, 85vw 9vw #fff, 67vw 60vw #fff, 38vw 19vw #fff, 71vw 85vw #fff, 73vw 29vw #fff, 1vw 26vw #fff, 79vw 32vw #fff, 33vw 30vw #fff, 46vw 80vw #fff, 6vw 92vw #fff, 1vw 87vw #fff, 88vw 95vw #fff, 18vw 48vw #fff, 7vw 74vw #fff, 78vw 10vw #fff, 17vw 73vw #fff, 60vw 24vw #fff, 1vw 75vw #fff, 45vw 80vw #fff, 11vw 26vw #fff, 93vw 6vw #fff, 22vw 23vw #fff, 31vw 80vw #fff, 21vw 79vw #fff, 95vw 53vw #fff, 46vw 91vw #fff, 19vw 13vw #fff, 48vw 26vw #fff, 89vw 35vw #fff, 72vw 28vw #fff, 64vw 76vw #fff, 87vw 23vw #fff, 94vw 8vw #fff, 3vw 12vw #fff, 12vw 32vw #fff, 86vw 5vw #fff, 5vw 52vw #fff, 86vw 36vw #fff, 40vw 29vw #fff, 52vw 7vw #fff, 22vw 70vw #fff, 64vw 2vw #fff, 25vw 46vw #fff, 17vw 27vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 49vw 40vh #fff, 21vw 60vw #fff, 37vw 22vw #fff, 40vw 91vw #fff, 71vw 87vw #fff, 100vw 79vw #fff, 51vw 63vw #fff, 19vw 97vw #fff, 87vw 72vw #fff, 76vw 39vw #fff, 60vw 94vw #fff, 11vw 94vw #fff, 94vw 42vw #fff, 85vw 10vw #fff, 73vw 75vw #fff, 71vw 74vw #fff, 16vw 11vw #fff, 12vw 15vw #fff, 84vw 49vw #fff, 98vw 49vw #fff, 11vw 81vw #fff, 10vw 66vw #fff, 84vw 96vw #fff, 85vw 9vw #fff, 13vw 37vw #fff, 50vw 89vw #fff, 99vw 68vw #fff, 60vw 21vw #fff, 58vw 49vw #fff, 38vw 53vw #fff, 96vw 6vw #fff, 10vw 68vw #fff, 92vw 60vw #fff, 20vw 27vw #fff, 57vw 34vw #fff, 17vw 51vw #fff, 12vw 7vw #fff, 61vw 24vw #fff, 44vw 93vw #fff, 89vw 33vw #fff, 96vw 47vw #fff, 31vw 33vw #fff, 100vw 42vw #fff, 87vw 41vw #fff, 13vw 88vw #fff, 58vw 99vw #fff, 32vw 25vw #fff, 57vw 79vw #fff, 86vw 95vw #fff, 38vw 17vw #fff, 48vw 81vw #fff, 49vw 56vw #fff, 44vw 48vw #fff, 23vw 49vw #fff, 96vw 45vw #fff, 72vw 74vw #fff, 80vw 20vw #fff, 70vw 14vw #fff, 2vw 8vw #fff, 85vw 45vw #fff, 63vw 77vw #fff, 38vw 31vw #fff, 87vw 15vw #fff, 89vw 12vw #fff, 83vw 91vw #fff, 61vw 55vw #fff, 46vw 21vw #fff, 69vw 19vw #fff, 15vw 67vw #fff, 93vw 7vw #fff, 86vw 14vw #fff, 41vw 12vw #fff, 99vw 95vw #fff, 4vw 97vw #fff, 20vw 43vw #fff, 10vw 28vw #fff, 33vw 31vw #fff, 32vw 21vw #fff, 81vw 2vw #fff, 26vw 55vw #fff, 97vw 64vw #fff, 43vw 70vw #fff, 32vw 17vw #fff, 78vw 82vw #fff, 82vw 31vw #fff, 42vw 67vw #fff, 34vw 13vw #fff, 79vw 27vw #fff, 51vw 51vw #fff, 12vw 4vw #fff, 16vw 66vw #fff, 73vw 48vw #fff, 39vw 89vw #fff, 72vw 25vw #fff, 74vw 78vw #fff, 52vw 70vw #fff, 26vw 49vw #fff, 6vw 42vw #fff, 99vw 28vw #fff, 8vw 26vw #fff, 85vw 64vw #fff, 33vw 14vw #fff, 67vw 70vw #fff, 47vw 46vw #fff, 91vw 60vw #fff, 97vw 70vw #fff, 22vw 82vw #fff, 4vw 40vw #fff, 27vw 17vw #fff, 81vw 30vw #fff, 88vw 23vw #fff, 17vw 82vw #fff, 69vw 12vw #fff, 65vw 9vw #fff, 79vw 5vw #fff, 2vw 93vw #fff, 54vw 62vw #fff, 51vw 43vw #fff, 98vw 21vw #fff, 64vw 10vw #fff, 20vw 87vw #fff, 8vw 77vw #fff, 14vw 32vw #fff, 17vw 69vw #fff, 71vw 34vw #fff, 33vw 9vw #fff, 52vw 48vw #fff, 41vw 3vw #fff, 53vw 52vw #fff, 78vw 3vw #fff, 88vw 44vw #fff, 9vw 58vw #fff, 81vw 3vw #fff, 5vw 76vw #fff, 31vw 40vw #fff, 72vw 79vw #fff, 57vw 74vw #fff, 79vw 49vw #fff, 32vw 26vw #fff, 24vw 24vw #fff, 45vw 54vw #fff, 52vw 33vw #fff, 71vw 1vw #fff, 55vw 7vw #fff, 28vw 7vw #fff, 92vw 82vw #fff, 90vw 19vw #fff, 78vw 6vw #fff, 34vw 94vw #fff, 91vw 37vw #fff, 29vw 53vw #fff, 55vw 92vw #fff, 52vw 8vw #fff, 56vw 91vw #fff, 4vw 33vw #fff, 88vw 7vw #fff, 85vw 9vw #fff, 67vw 60vw #fff, 38vw 19vw #fff, 71vw 85vw #fff, 73vw 29vw #fff, 1vw 26vw #fff, 79vw 32vw #fff, 33vw 30vw #fff, 46vw 80vw #fff, 6vw 92vw #fff, 1vw 87vw #fff, 88vw 95vw #fff, 18vw 48vw #fff, 7vw 74vw #fff, 78vw 10vw #fff, 17vw 73vw #fff, 60vw 24vw #fff, 1vw 75vw #fff, 45vw 80vw #fff, 11vw 26vw #fff, 93vw 6vw #fff, 22vw 23vw #fff, 31vw 80vw #fff, 21vw 79vw #fff, 95vw 53vw #fff, 46vw 91vw #fff, 19vw 13vw #fff, 48vw 26vw #fff, 89vw 35vw #fff, 72vw 28vw #fff, 64vw 76vw #fff, 87vw 23vw #fff, 94vw 8vw #fff, 3vw 12vw #fff, 12vw 32vw #fff, 86vw 5vw #fff, 5vw 52vw #fff, 86vw 36vw #fff, 40vw 29vw #fff, 52vw 7vw #fff, 22vw 70vw #fff, 64vw 2vw #fff, 25vw 46vw #fff, 17vw 27vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun,
  .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%,
  .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%,
  .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%,
  .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%,
  .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%,
  .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }

.tarot-container {
  padding-top: 40px;
  text-align: center;
  background: url("./components/Tarot/desk.png");
  min-height: 100vh;
  background-size: cover;
  background-position: center; }
  .tarot-container h1, .tarot-container h3, .tarot-container p {
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    width: auto;
    margin: 0;
    display: inline-block; }
  .tarot-container .card-holder {
    perspective: 700px; }
  .tarot-container .card-base, .tarot-container .card {
    height: 210px;
    width: 120px;
    margin: 10px;
    display: inline-block;
    position: relative; }
  .tarot-container .card {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s; }
  .tarot-container .pickCard1, .tarot-container .pickCard2, .tarot-container .pickCard3, .tarot-container .pickCard4, .tarot-container .pickCard5 {
    top: -90vh;
    opacity: 0.25; }
  .tarot-container .flipping {
    transform: translate(0, 20px) rotateY(90deg);
    -webkit-transform: translate(0, 20px) rotateY(90deg); }
