@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 4; }

.noinput {
  display: none; }

input:checked ~ label {
  right: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.main {
  display: flex;
  width: 100vw;
  height: 100vh; }

.main span {
  margin: auto;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Pacifico', cursive; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    left: 34%; }
  .homepage .homepage {
    background: #000;
    color: #B5B4B5;
    height: 100vh;
    width: 100vw;
    padding-top: 50px; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 700;
    stroke-width: 2;
    stroke: #BDCAEC;
    stroke-dashoffset: 1300;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 20vw 61vh #fff, 17vw 43vw #fff, 22vw 50vw #fff, 90vw 80vw #fff, 21vw 68vw #fff, 23vw 29vw #fff, 99vw 59vw #fff, 60vw 8vw #fff, 15vw 22vw #fff, 96vw 95vw #fff, 40vw 28vw #fff, 6vw 30vw #fff, 29vw 42vw #fff, 87vw 43vw #fff, 1vw 69vw #fff, 76vw 18vw #fff, 40vw 1vw #fff, 15vw 10vw #fff, 41vw 27vw #fff, 3vw 57vw #fff, 51vw 13vw #fff, 37vw 62vw #fff, 93vw 29vw #fff, 40vw 79vw #fff, 52vw 32vw #fff, 98vw 83vw #fff, 58vw 80vw #fff, 47vw 42vw #fff, 81vw 82vw #fff, 57vw 96vw #fff, 64vw 42vw #fff, 85vw 97vw #fff, 90vw 68vw #fff, 63vw 2vw #fff, 61vw 51vw #fff, 71vw 41vw #fff, 15vw 47vw #fff, 70vw 97vw #fff, 9vw 35vw #fff, 68vw 11vw #fff, 67vw 60vw #fff, 92vw 47vw #fff, 1vw 95vw #fff, 28vw 87vw #fff, 19vw 28vw #fff, 42vw 1vw #fff, 43vw 60vw #fff, 47vw 80vw #fff, 48vw 49vw #fff, 20vw 27vw #fff, 66vw 60vw #fff, 5vw 66vw #fff, 94vw 6vw #fff, 29vw 21vw #fff, 48vw 81vw #fff, 58vw 14vw #fff, 36vw 13vw #fff, 58vw 2vw #fff, 36vw 50vw #fff, 49vw 3vw #fff, 87vw 50vw #fff, 84vw 80vw #fff, 34vw 1vw #fff, 55vw 24vw #fff, 61vw 37vw #fff, 74vw 82vw #fff, 98vw 41vw #fff, 35vw 52vw #fff, 85vw 53vw #fff, 35vw 97vw #fff, 76vw 36vw #fff, 70vw 7vw #fff, 29vw 89vw #fff, 5vw 32vw #fff, 28vw 66vw #fff, 71vw 83vw #fff, 99vw 28vw #fff, 70vw 2vw #fff, 85vw 21vw #fff, 26vw 63vw #fff, 71vw 61vw #fff, 78vw 7vw #fff, 1vw 76vw #fff, 8vw 61vw #fff, 56vw 95vw #fff, 60vw 41vw #fff, 73vw 1vw #fff, 84vw 95vw #fff, 69vw 99vw #fff, 26vw 97vw #fff, 28vw 74vw #fff, 89vw 64vw #fff, 30vw 63vw #fff, 14vw 36vw #fff, 92vw 53vw #fff, 78vw 8vw #fff, 94vw 82vw #fff, 96vw 57vw #fff, 21vw 71vw #fff, 69vw 92vw #fff, 65vw 2vw #fff, 55vw 23vw #fff, 25vw 73vw #fff, 17vw 69vw #fff, 74vw 49vw #fff, 50vw 1vw #fff, 52vw 80vw #fff, 30vw 7vw #fff, 42vw 30vw #fff, 29vw 9vw #fff, 70vw 1vw #fff, 26vw 46vw #fff, 60vw 79vw #fff, 58vw 27vw #fff, 2vw 8vw #fff, 6vw 11vw #fff, 94vw 17vw #fff, 90vw 88vw #fff, 89vw 81vw #fff, 74vw 60vw #fff, 84vw 87vw #fff, 32vw 50vw #fff, 65vw 96vw #fff, 94vw 35vw #fff, 70vw 29vw #fff, 21vw 46vw #fff, 86vw 85vw #fff, 58vw 92vw #fff, 3vw 51vw #fff, 27vw 61vw #fff, 26vw 94vw #fff, 96vw 46vw #fff, 38vw 79vw #fff, 26vw 84vw #fff, 63vw 27vw #fff, 8vw 70vw #fff, 51vw 4vw #fff, 21vw 66vw #fff, 76vw 28vw #fff, 97vw 43vw #fff, 76vw 85vw #fff, 70vw 49vw #fff, 55vw 51vw #fff, 14vw 67vw #fff, 54vw 3vw #fff, 4vw 20vw #fff, 51vw 49vw #fff, 74vw 8vw #fff, 85vw 31vw #fff, 22vw 57vw #fff, 89vw 56vw #fff, 6vw 44vw #fff, 25vw 4vw #fff, 8vw 55vw #fff, 17vw 55vw #fff, 90vw 20vw #fff, 89vw 66vw #fff, 67vw 4vw #fff, 63vw 81vw #fff, 89vw 68vw #fff, 10vw 88vw #fff, 55vw 57vw #fff, 26vw 28vw #fff, 96vw 63vw #fff, 22vw 31vw #fff, 43vw 77vw #fff, 26vw 41vw #fff, 95vw 14vw #fff, 90vw 43vw #fff, 55vw 44vw #fff, 58vw 47vw #fff, 46vw 12vw #fff, 21vw 2vw #fff, 52vw 96vw #fff, 29vw 36vw #fff, 36vw 27vw #fff, 47vw 67vw #fff, 60vw 1vw #fff, 33vw 73vw #fff, 50vw 34vw #fff, 13vw 99vw #fff, 24vw 43vw #fff, 80vw 38vw #fff, 46vw 29vw #fff, 6vw 75vw #fff, 79vw 62vw #fff, 68vw 84vw #fff, 24vw 35vw #fff, 76vw 72vw #fff, 9vw 46vw #fff, 35vw 63vw #fff, 23vw 53vw #fff, 25vw 55vw #fff, 42vw 89vw #fff, 34vw 69vw #fff, 98vw 69vw #fff, 54vw 71vw #fff, 39vw 25vw #fff, 66vw 100vw #fff, 41vw 94vw #fff, 27vw 89vw #fff, 76vw 28vw #fff, 79vw 65vw #fff, 20vw 1vw #fff, 93vw 31vw #fff, 11vw 70vw #fff, 75vw 34vw #fff, 6vw 85vw #fff, 26vw 94vw #fff, 48vw 4vw #fff, 76vw 75vw #fff, 84vw 74vw #fff, 51vw 4vw #fff, 58vw 22vw #fff, 51vw 39vw #fff, 7vw 100vw #fff, 84vw 22vw #fff, 47vw 65vw #fff, 40vw 12vw #fff, 22vw 96vw #fff, 4vw 85vw #fff, 17vw 98vw #fff, 56vw 95vw #fff, 10vw 49vw #fff, 68vw 33vw #fff, 57vw 99vw #fff, 65vw 14vw #fff, 10vw 73vw #fff, 47vw 18vw #fff, 48vw 24vw #fff, 31vw 59vw #fff, 35vw 94vw #fff, 21vw 65vw #fff, 10vw 10vw #fff, 68vw 94vw #fff, 52vw 10vw #fff, 43vw 28vw #fff, 65vw 71vw #fff, 85vw 55vw #fff, 9vw 59vw #fff, 9vw 42vw #fff, 51vw 46vw #fff, 77vw 20vw #fff, 29vw 54vw #fff, 58vw 45vw #fff, 27vw 37vw #fff, 54vw 46vw #fff, 25vw 24vw #fff, 84vw 44vw #fff, 65vw 45vw #fff, 92vw 74vw #fff, 25vw 92vw #fff, 84vw 98vw #fff, 57vw 36vw #fff, 94vw 45vw #fff, 11vw 85vw #fff, 40vw 5vw #fff, 4vw 60vw #fff, 35vw 28vw #fff, 48vw 9vw #fff, 90vw 60vw #fff, 13vw 15vw #fff, 97vw 73vw #fff, 41vw 15vw #fff, 61vw 38vw #fff, 24vw 76vw #fff, 33vw 4vw #fff, 18vw 75vw #fff, 55vw 93vw #fff, 97vw 65vw #fff, 19vw 54vw #fff, 53vw 5vw #fff, 4vw 23vw #fff, 43vw 58vw #fff, 52vw 69vw #fff, 44vw 40vw #fff, 73vw 84vw #fff, 83vw 99vw #fff, 37vw 91vw #fff, 52vw 65vw #fff, 88vw 9vw #fff, 9vw 25vw #fff, 34vw 19vw #fff, 43vw 17vw #fff, 41vw 83vw #fff, 58vw 39vw #fff, 87vw 27vw #fff, 4vw 30vw #fff, 57vw 24vw #fff, 52vw 35vw #fff, 77vw 18vw #fff, 19vw 91vw #fff, 36vw 21vw #fff, 49vw 12vw #fff, 50vw 82vw #fff, 35vw 28vw #fff, 13vw 53vw #fff, 58vw 77vw #fff, 46vw 90vw #fff, 86vw 31vw #fff, 27vw 55vw #fff, 49vw 31vw #fff, 38vw 50vw #fff, 97vw 76vw #fff, 2vw 13vw #fff, 67vw 41vw #fff, 72vw 89vw #fff, 65vw 89vw #fff, 32vw 27vw #fff, 48vw 99vw #fff, 28vw 58vw #fff, 38vw 1vw #fff, 37vw 68vw #fff, 95vw 55vw #fff, 69vw 59vw #fff, 10vw 80vw #fff, 85vw 26vw #fff, 74vw 34vw #fff, 38vw 7vw #fff, 45vw 61vw #fff, 66vw 63vw #fff, 34vw 33vw #fff, 62vw 6vw #fff, 16vw 5vw #fff, 37vw 61vw #fff, 60vw 51vw #fff, 57vw 77vw #fff, 100vw 68vw #fff, 99vw 25vw #fff, 64vw 95vw #fff, 58vw 41vw #fff, 59vw 92vw #fff, 59vw 63vw #fff, 37vw 28vw #fff, 79vw 88vw #fff, 36vw 72vw #fff, 10vw 5vw #fff, 23vw 67vw #fff, 57vw 17vw #fff, 49vw 63vw #fff, 95vw 34vw #fff, 2vw 57vw #fff, 83vw 92vw #fff, 76vw 23vw #fff, 27vw 70vw #fff, 72vw 85vw #fff, 72vw 51vw #fff, 27vw 65vw #fff, 77vw 93vw #fff, 69vw 2vw #fff, 5vw 76vw #fff, 86vw 73vw #fff, 48vw 93vw #fff, 45vw 15vw #fff, 91vw 81vw #fff, 85vw 7vw #fff, 67vw 67vw #fff, 97vw 15vw #fff, 23vw 3vw #fff, 39vw 85vw #fff, 38vw 61vw #fff, 35vw 29vw #fff, 32vw 62vw #fff, 13vw 80vw #fff, 66vw 88vw #fff, 95vw 93vw #fff, 84vw 88vw #fff, 14vw 51vw #fff, 68vw 21vw #fff, 18vw 1vw #fff, 24vw 88vw #fff, 42vw 58vw #fff, 8vw 82vw #fff, 14vw 84vw #fff, 36vw 57vw #fff, 77vw 45vw #fff, 22vw 71vw #fff, 51vw 4vw #fff, 63vw 85vw #fff, 54vw 25vw #fff, 95vw 93vw #fff, 87vw 87vw #fff, 9vw 68vw #fff, 10vw 87vw #fff, 11vw 4vw #fff, 60vw 45vw #fff, 82vw 74vw #fff, 45vw 45vw #fff, 73vw 51vw #fff, 12vw 79vw #fff, 84vw 93vw #fff, 34vw 34vw #fff, 27vw 80vw #fff, 93vw 44vw #fff, 78vw 16vw #fff, 12vw 45vw #fff, 32vw 64vw #fff, 4vw 41vw #fff, 9vw 11vw #fff, 70vw 36vw #fff, 81vw 38vw #fff, 22vw 28vw #fff, 2vw 92vw #fff, 65vw 66vw #fff, 8vw 40vw #fff, 79vw 89vw #fff, 70vw 37vw #fff, 62vw 56vw #fff, 83vw 67vw #fff, 45vw 27vw #fff, 68vw 9vw #fff, 90vw 99vw #fff, 57vw 22vw #fff, 26vw 55vw #fff, 80vw 93vw #fff, 31vw 35vw #fff, 55vw 1vw #fff, 44vw 66vw #fff, 50vw 54vw #fff, 43vw 85vw #fff, 10vw 83vw #fff, 15vw 5vw #fff, 38vw 25vw #fff, 49vw 77vw #fff, 81vw 65vw #fff, 14vw 59vw #fff, 21vw 29vw #fff, 89vw 36vw #fff, 100vw 10vw #fff, 87vw 28vw #fff, 11vw 36vw #fff, 26vw 34vw #fff, 48vw 97vw #fff, 76vw 89vw #fff, 53vw 4vw #fff, 86vw 54vw #fff, 34vw 38vw #fff, 66vw 55vw #fff, 2vw 39vw #fff, 31vw 43vw #fff, 23vw 20vw #fff, 17vw 22vw #fff, 9vw 91vw #fff, 64vw 15vw #fff, 60vw 13vw #fff, 64vw 51vw #fff, 60vw 27vw #fff, 94vw 24vw #fff, 73vw 20vw #fff, 79vw 63vw #fff, 29vw 52vw #fff, 78vw 73vw #fff, 37vw 23vw #fff, 67vw 42vw #fff, 70vw 14vw #fff, 27vw 55vw #fff, 58vw 76vw #fff, 21vw 82vw #fff, 4vw 4vw #fff, 15vw 25vw #fff, 51vw 42vw #fff, 39vw 28vw #fff, 65vw 33vw #fff, 8vw 70vw #fff, 64vw 30vw #fff, 43vw 69vw #fff, 4vw 87vw #fff, 69vw 13vw #fff, 80vw 93vw #fff, 15vw 63vw #fff, 79vw 20vw #fff, 66vw 6vw #fff, 64vw 19vw #fff, 78vw 62vw #fff, 87vw 35vw #fff, 85vw 34vw #fff, 1vw 53vw #fff, 44vw 50vw #fff, 24vw 21vw #fff, 9vw 16vw #fff, 70vw 80vw #fff, 92vw 46vw #fff, 52vw 1vw #fff, 49vw 65vw #fff, 69vw 49vw #fff, 64vw 62vw #fff, 3vw 87vw #fff, 60vw 28vw #fff, 62vw 98vw #fff, 94vw 81vw #fff, 66vw 49vw #fff, 14vw 11vw #fff, 64vw 3vw #fff, 98vw 44vw #fff, 79vw 5vw #fff, 93vw 15vw #fff, 82vw 19vw #fff, 12vw 67vw #fff, 75vw 81vw #fff, 35vw 22vw #fff, 25vw 13vw #fff, 45vw 25vw #fff, 58vw 1vw #fff, 26vw 5vw #fff, 31vw 74vw #fff, 94vw 4vw #fff, 54vw 83vw #fff, 40vw 29vw #fff, 96vw 9vw #fff, 36vw 69vw #fff, 46vw 7vw #fff, 25vw 39vw #fff, 62vw 60vw #fff, 11vw 49vw #fff, 68vw 65vw #fff, 100vw 35vw #fff, 72vw 74vw #fff, 13vw 37vw #fff, 27vw 56vw #fff, 51vw 97vw #fff, 64vw 92vw #fff, 64vw 90vw #fff, 55vw 83vw #fff, 50vw 88vw #fff, 57vw 86vw #fff, 51vw 18vw #fff, 17vw 23vw #fff, 17vw 94vw #fff, 16vw 83vw #fff, 27vw 50vw #fff, 4vw 55vw #fff, 93vw 36vw #fff, 36vw 98vw #fff, 64vw 2vw #fff, 87vw 49vw #fff, 12vw 53vw #fff, 5vw 42vw #fff, 4vw 75vw #fff, 42vw 97vw #fff, 37vw 17vw #fff, 11vw 44vw #fff, 87vw 91vw #fff, 86vw 73vw #fff, 78vw 10vw #fff, 63vw 34vw #fff, 93vw 61vw #fff, 83vw 1vw #fff, 7vw 40vw #fff, 49vw 11vw #fff, 95vw 65vw #fff, 96vw 78vw #fff, 7vw 63vw #fff, 80vw 34vw #fff, 48vw 28vw #fff, 4vw 13vw #fff, 48vw 7vw #fff, 1vw 88vw #fff, 22vw 5vw #fff, 39vw 36vw #fff, 93vw 54vw #fff, 55vw 65vw #fff, 20vw 91vw #fff, 34vw 76vw #fff, 58vw 34vw #fff, 98vw 64vw #fff, 54vw 11vw #fff, 76vw 93vw #fff, 31vw 39vw #fff, 55vw 53vw #fff, 57vw 30vw #fff, 58vw 82vw #fff, 33vw 8vw #fff, 61vw 27vw #fff, 88vw 54vw #fff, 38vw 50vw #fff, 6vw 22vw #fff, 52vw 20vw #fff, 90vw 9vw #fff, 35vw 84vw #fff, 64vw 88vw #fff, 76vw 71vw #fff, 52vw 57vw #fff, 44vw 62vw #fff, 59vw 11vw #fff, 78vw 77vw #fff, 27vw 9vw #fff, 8vw 12vw #fff, 49vw 76vw #fff, 3vw 80vw #fff, 82vw 70vw #fff, 42vw 52vw #fff, 17vw 44vw #fff, 59vw 4vw #fff, 25vw 62vw #fff, 58vw 50vw #fff, 90vw 58vw #fff, 78vw 47vw #fff, 29vw 88vw #fff, 98vw 88vw #fff, 11vw 85vw #fff, 30vw 70vw #fff, 56vw 10vw #fff, 66vw 25vw #fff, 55vw 69vw #fff, 2vw 27vw #fff, 97vw 32vw #fff, 57vw 30vw #fff, 55vw 19vw #fff, 79vw 2vw #fff, 11vw 54vw #fff, 65vw 1vw #fff, 40vw 62vw #fff, 74vw 22vw #fff, 8vw 32vw #fff, 28vw 87vw #fff, 58vw 45vw #fff, 95vw 62vw #fff, 1vw 88vw #fff, 53vw 39vw #fff, 27vw 27vw #fff, 47vw 15vw #fff, 85vw 48vw #fff, 52vw 66vw #fff, 45vw 17vw #fff, 3vw 34vw #fff, 78vw 94vw #fff, 51vw 2vw #fff, 5vw 25vw #fff, 44vw 95vw #fff, 90vw 96vw #fff, 83vw 31vw #fff, 81vw 26vw #fff, 12vw 57vw #fff, 94vw 69vw #fff, 33vw 45vw #fff, 30vw 60vw #fff, 80vw 50vw #fff, 74vw 7vw #fff, 59vw 19vw #fff, 70vw 71vw #fff, 78vw 53vw #fff, 40vw 19vw #fff, 33vw 78vw #fff, 53vw 99vw #fff, 1vw 28vw #fff, 48vw 79vw #fff, 59vw 43vw #fff, 53vw 16vw #fff, 21vw 89vw #fff, 9vw 90vw #fff, 31vw 20vw #fff, 1vw 5vw #fff, 47vw 80vw #fff, 38vw 91vw #fff, 16vw 12vw #fff, 32vw 23vw #fff, 8vw 52vw #fff, 52vw 31vw #fff, 83vw 1vw #fff, 55vw 80vw #fff, 21vw 91vw #fff, 16vw 7vw #fff, 1vw 31vw #fff, 46vw 71vw #fff, 77vw 21vw #fff, 68vw 85vw #fff, 18vw 55vw #fff, 65vw 57vw #fff, 15vw 4vw #fff, 70vw 11vw #fff, 19vw 99vw #fff, 64vw 33vw #fff, 32vw 52vw #fff, 37vw 97vw #fff, 21vw 47vw #fff, 85vw 77vw #fff, 7vw 9vw #fff, 63vw 25vw #fff, 29vw 64vw #fff, 6vw 50vw #fff, 70vw 27vw #fff, 67vw 13vw #fff, 18vw 98vw #fff, 36vw 89vw #fff, 32vw 88vw #fff, 68vw 2vw #fff, 78vw 36vw #fff, 42vw 22vw #fff, 72vw 5vw #fff, 19vw 98vw #fff, 11vw 67vw #fff, 20vw 32vw #fff, 21vw 36vw #fff, 62vw 31vw #fff, 70vw 54vw #fff, 85vw 89vw #fff, 29vw 35vw #fff, 3vw 9vw #fff, 12vw 79vw #fff, 91vw 43vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 20vw 61vh #fff, 17vw 43vw #fff, 22vw 50vw #fff, 90vw 80vw #fff, 21vw 68vw #fff, 23vw 29vw #fff, 99vw 59vw #fff, 60vw 8vw #fff, 15vw 22vw #fff, 96vw 95vw #fff, 40vw 28vw #fff, 6vw 30vw #fff, 29vw 42vw #fff, 87vw 43vw #fff, 1vw 69vw #fff, 76vw 18vw #fff, 40vw 1vw #fff, 15vw 10vw #fff, 41vw 27vw #fff, 3vw 57vw #fff, 51vw 13vw #fff, 37vw 62vw #fff, 93vw 29vw #fff, 40vw 79vw #fff, 52vw 32vw #fff, 98vw 83vw #fff, 58vw 80vw #fff, 47vw 42vw #fff, 81vw 82vw #fff, 57vw 96vw #fff, 64vw 42vw #fff, 85vw 97vw #fff, 90vw 68vw #fff, 63vw 2vw #fff, 61vw 51vw #fff, 71vw 41vw #fff, 15vw 47vw #fff, 70vw 97vw #fff, 9vw 35vw #fff, 68vw 11vw #fff, 67vw 60vw #fff, 92vw 47vw #fff, 1vw 95vw #fff, 28vw 87vw #fff, 19vw 28vw #fff, 42vw 1vw #fff, 43vw 60vw #fff, 47vw 80vw #fff, 48vw 49vw #fff, 20vw 27vw #fff, 66vw 60vw #fff, 5vw 66vw #fff, 94vw 6vw #fff, 29vw 21vw #fff, 48vw 81vw #fff, 58vw 14vw #fff, 36vw 13vw #fff, 58vw 2vw #fff, 36vw 50vw #fff, 49vw 3vw #fff, 87vw 50vw #fff, 84vw 80vw #fff, 34vw 1vw #fff, 55vw 24vw #fff, 61vw 37vw #fff, 74vw 82vw #fff, 98vw 41vw #fff, 35vw 52vw #fff, 85vw 53vw #fff, 35vw 97vw #fff, 76vw 36vw #fff, 70vw 7vw #fff, 29vw 89vw #fff, 5vw 32vw #fff, 28vw 66vw #fff, 71vw 83vw #fff, 99vw 28vw #fff, 70vw 2vw #fff, 85vw 21vw #fff, 26vw 63vw #fff, 71vw 61vw #fff, 78vw 7vw #fff, 1vw 76vw #fff, 8vw 61vw #fff, 56vw 95vw #fff, 60vw 41vw #fff, 73vw 1vw #fff, 84vw 95vw #fff, 69vw 99vw #fff, 26vw 97vw #fff, 28vw 74vw #fff, 89vw 64vw #fff, 30vw 63vw #fff, 14vw 36vw #fff, 92vw 53vw #fff, 78vw 8vw #fff, 94vw 82vw #fff, 96vw 57vw #fff, 21vw 71vw #fff, 69vw 92vw #fff, 65vw 2vw #fff, 55vw 23vw #fff, 25vw 73vw #fff, 17vw 69vw #fff, 74vw 49vw #fff, 50vw 1vw #fff, 52vw 80vw #fff, 30vw 7vw #fff, 42vw 30vw #fff, 29vw 9vw #fff, 70vw 1vw #fff, 26vw 46vw #fff, 60vw 79vw #fff, 58vw 27vw #fff, 2vw 8vw #fff, 6vw 11vw #fff, 94vw 17vw #fff, 90vw 88vw #fff, 89vw 81vw #fff, 74vw 60vw #fff, 84vw 87vw #fff, 32vw 50vw #fff, 65vw 96vw #fff, 94vw 35vw #fff, 70vw 29vw #fff, 21vw 46vw #fff, 86vw 85vw #fff, 58vw 92vw #fff, 3vw 51vw #fff, 27vw 61vw #fff, 26vw 94vw #fff, 96vw 46vw #fff, 38vw 79vw #fff, 26vw 84vw #fff, 63vw 27vw #fff, 8vw 70vw #fff, 51vw 4vw #fff, 21vw 66vw #fff, 76vw 28vw #fff, 97vw 43vw #fff, 76vw 85vw #fff, 70vw 49vw #fff, 55vw 51vw #fff, 14vw 67vw #fff, 54vw 3vw #fff, 4vw 20vw #fff, 51vw 49vw #fff, 74vw 8vw #fff, 85vw 31vw #fff, 22vw 57vw #fff, 89vw 56vw #fff, 6vw 44vw #fff, 25vw 4vw #fff, 8vw 55vw #fff, 17vw 55vw #fff, 90vw 20vw #fff, 89vw 66vw #fff, 67vw 4vw #fff, 63vw 81vw #fff, 89vw 68vw #fff, 10vw 88vw #fff, 55vw 57vw #fff, 26vw 28vw #fff, 96vw 63vw #fff, 22vw 31vw #fff, 43vw 77vw #fff, 26vw 41vw #fff, 95vw 14vw #fff, 90vw 43vw #fff, 55vw 44vw #fff, 58vw 47vw #fff, 46vw 12vw #fff, 21vw 2vw #fff, 52vw 96vw #fff, 29vw 36vw #fff, 36vw 27vw #fff, 47vw 67vw #fff, 60vw 1vw #fff, 33vw 73vw #fff, 50vw 34vw #fff, 13vw 99vw #fff, 24vw 43vw #fff, 80vw 38vw #fff, 46vw 29vw #fff, 6vw 75vw #fff, 79vw 62vw #fff, 68vw 84vw #fff, 24vw 35vw #fff, 76vw 72vw #fff, 9vw 46vw #fff, 35vw 63vw #fff, 23vw 53vw #fff, 25vw 55vw #fff, 42vw 89vw #fff, 34vw 69vw #fff, 98vw 69vw #fff, 54vw 71vw #fff, 39vw 25vw #fff, 66vw 100vw #fff, 41vw 94vw #fff, 27vw 89vw #fff, 76vw 28vw #fff, 79vw 65vw #fff, 20vw 1vw #fff, 93vw 31vw #fff, 11vw 70vw #fff, 75vw 34vw #fff, 6vw 85vw #fff, 26vw 94vw #fff, 48vw 4vw #fff, 76vw 75vw #fff, 84vw 74vw #fff, 51vw 4vw #fff, 58vw 22vw #fff, 51vw 39vw #fff, 7vw 100vw #fff, 84vw 22vw #fff, 47vw 65vw #fff, 40vw 12vw #fff, 22vw 96vw #fff, 4vw 85vw #fff, 17vw 98vw #fff, 56vw 95vw #fff, 10vw 49vw #fff, 68vw 33vw #fff, 57vw 99vw #fff, 65vw 14vw #fff, 10vw 73vw #fff, 47vw 18vw #fff, 48vw 24vw #fff, 31vw 59vw #fff, 35vw 94vw #fff, 21vw 65vw #fff, 10vw 10vw #fff, 68vw 94vw #fff, 52vw 10vw #fff, 43vw 28vw #fff, 65vw 71vw #fff, 85vw 55vw #fff, 9vw 59vw #fff, 9vw 42vw #fff, 51vw 46vw #fff, 77vw 20vw #fff, 29vw 54vw #fff, 58vw 45vw #fff, 27vw 37vw #fff, 54vw 46vw #fff, 25vw 24vw #fff, 84vw 44vw #fff, 65vw 45vw #fff, 92vw 74vw #fff, 25vw 92vw #fff, 84vw 98vw #fff, 57vw 36vw #fff, 94vw 45vw #fff, 11vw 85vw #fff, 40vw 5vw #fff, 4vw 60vw #fff, 35vw 28vw #fff, 48vw 9vw #fff, 90vw 60vw #fff, 13vw 15vw #fff, 97vw 73vw #fff, 41vw 15vw #fff, 61vw 38vw #fff, 24vw 76vw #fff, 33vw 4vw #fff, 18vw 75vw #fff, 55vw 93vw #fff, 97vw 65vw #fff, 19vw 54vw #fff, 53vw 5vw #fff, 4vw 23vw #fff, 43vw 58vw #fff, 52vw 69vw #fff, 44vw 40vw #fff, 73vw 84vw #fff, 83vw 99vw #fff, 37vw 91vw #fff, 52vw 65vw #fff, 88vw 9vw #fff, 9vw 25vw #fff, 34vw 19vw #fff, 43vw 17vw #fff, 41vw 83vw #fff, 58vw 39vw #fff, 87vw 27vw #fff, 4vw 30vw #fff, 57vw 24vw #fff, 52vw 35vw #fff, 77vw 18vw #fff, 19vw 91vw #fff, 36vw 21vw #fff, 49vw 12vw #fff, 50vw 82vw #fff, 35vw 28vw #fff, 13vw 53vw #fff, 58vw 77vw #fff, 46vw 90vw #fff, 86vw 31vw #fff, 27vw 55vw #fff, 49vw 31vw #fff, 38vw 50vw #fff, 97vw 76vw #fff, 2vw 13vw #fff, 67vw 41vw #fff, 72vw 89vw #fff, 65vw 89vw #fff, 32vw 27vw #fff, 48vw 99vw #fff, 28vw 58vw #fff, 38vw 1vw #fff, 37vw 68vw #fff, 95vw 55vw #fff, 69vw 59vw #fff, 10vw 80vw #fff, 85vw 26vw #fff, 74vw 34vw #fff, 38vw 7vw #fff, 45vw 61vw #fff, 66vw 63vw #fff, 34vw 33vw #fff, 62vw 6vw #fff, 16vw 5vw #fff, 37vw 61vw #fff, 60vw 51vw #fff, 57vw 77vw #fff, 100vw 68vw #fff, 99vw 25vw #fff, 64vw 95vw #fff, 58vw 41vw #fff, 59vw 92vw #fff, 59vw 63vw #fff, 37vw 28vw #fff, 79vw 88vw #fff, 36vw 72vw #fff, 10vw 5vw #fff, 23vw 67vw #fff, 57vw 17vw #fff, 49vw 63vw #fff, 95vw 34vw #fff, 2vw 57vw #fff, 83vw 92vw #fff, 76vw 23vw #fff, 27vw 70vw #fff, 72vw 85vw #fff, 72vw 51vw #fff, 27vw 65vw #fff, 77vw 93vw #fff, 69vw 2vw #fff, 5vw 76vw #fff, 86vw 73vw #fff, 48vw 93vw #fff, 45vw 15vw #fff, 91vw 81vw #fff, 85vw 7vw #fff, 67vw 67vw #fff, 97vw 15vw #fff, 23vw 3vw #fff, 39vw 85vw #fff, 38vw 61vw #fff, 35vw 29vw #fff, 32vw 62vw #fff, 13vw 80vw #fff, 66vw 88vw #fff, 95vw 93vw #fff, 84vw 88vw #fff, 14vw 51vw #fff, 68vw 21vw #fff, 18vw 1vw #fff, 24vw 88vw #fff, 42vw 58vw #fff, 8vw 82vw #fff, 14vw 84vw #fff, 36vw 57vw #fff, 77vw 45vw #fff, 22vw 71vw #fff, 51vw 4vw #fff, 63vw 85vw #fff, 54vw 25vw #fff, 95vw 93vw #fff, 87vw 87vw #fff, 9vw 68vw #fff, 10vw 87vw #fff, 11vw 4vw #fff, 60vw 45vw #fff, 82vw 74vw #fff, 45vw 45vw #fff, 73vw 51vw #fff, 12vw 79vw #fff, 84vw 93vw #fff, 34vw 34vw #fff, 27vw 80vw #fff, 93vw 44vw #fff, 78vw 16vw #fff, 12vw 45vw #fff, 32vw 64vw #fff, 4vw 41vw #fff, 9vw 11vw #fff, 70vw 36vw #fff, 81vw 38vw #fff, 22vw 28vw #fff, 2vw 92vw #fff, 65vw 66vw #fff, 8vw 40vw #fff, 79vw 89vw #fff, 70vw 37vw #fff, 62vw 56vw #fff, 83vw 67vw #fff, 45vw 27vw #fff, 68vw 9vw #fff, 90vw 99vw #fff, 57vw 22vw #fff, 26vw 55vw #fff, 80vw 93vw #fff, 31vw 35vw #fff, 55vw 1vw #fff, 44vw 66vw #fff, 50vw 54vw #fff, 43vw 85vw #fff, 10vw 83vw #fff, 15vw 5vw #fff, 38vw 25vw #fff, 49vw 77vw #fff, 81vw 65vw #fff, 14vw 59vw #fff, 21vw 29vw #fff, 89vw 36vw #fff, 100vw 10vw #fff, 87vw 28vw #fff, 11vw 36vw #fff, 26vw 34vw #fff, 48vw 97vw #fff, 76vw 89vw #fff, 53vw 4vw #fff, 86vw 54vw #fff, 34vw 38vw #fff, 66vw 55vw #fff, 2vw 39vw #fff, 31vw 43vw #fff, 23vw 20vw #fff, 17vw 22vw #fff, 9vw 91vw #fff, 64vw 15vw #fff, 60vw 13vw #fff, 64vw 51vw #fff, 60vw 27vw #fff, 94vw 24vw #fff, 73vw 20vw #fff, 79vw 63vw #fff, 29vw 52vw #fff, 78vw 73vw #fff, 37vw 23vw #fff, 67vw 42vw #fff, 70vw 14vw #fff, 27vw 55vw #fff, 58vw 76vw #fff, 21vw 82vw #fff, 4vw 4vw #fff, 15vw 25vw #fff, 51vw 42vw #fff, 39vw 28vw #fff, 65vw 33vw #fff, 8vw 70vw #fff, 64vw 30vw #fff, 43vw 69vw #fff, 4vw 87vw #fff, 69vw 13vw #fff, 80vw 93vw #fff, 15vw 63vw #fff, 79vw 20vw #fff, 66vw 6vw #fff, 64vw 19vw #fff, 78vw 62vw #fff, 87vw 35vw #fff, 85vw 34vw #fff, 1vw 53vw #fff, 44vw 50vw #fff, 24vw 21vw #fff, 9vw 16vw #fff, 70vw 80vw #fff, 92vw 46vw #fff, 52vw 1vw #fff, 49vw 65vw #fff, 69vw 49vw #fff, 64vw 62vw #fff, 3vw 87vw #fff, 60vw 28vw #fff, 62vw 98vw #fff, 94vw 81vw #fff, 66vw 49vw #fff, 14vw 11vw #fff, 64vw 3vw #fff, 98vw 44vw #fff, 79vw 5vw #fff, 93vw 15vw #fff, 82vw 19vw #fff, 12vw 67vw #fff, 75vw 81vw #fff, 35vw 22vw #fff, 25vw 13vw #fff, 45vw 25vw #fff, 58vw 1vw #fff, 26vw 5vw #fff, 31vw 74vw #fff, 94vw 4vw #fff, 54vw 83vw #fff, 40vw 29vw #fff, 96vw 9vw #fff, 36vw 69vw #fff, 46vw 7vw #fff, 25vw 39vw #fff, 62vw 60vw #fff, 11vw 49vw #fff, 68vw 65vw #fff, 100vw 35vw #fff, 72vw 74vw #fff, 13vw 37vw #fff, 27vw 56vw #fff, 51vw 97vw #fff, 64vw 92vw #fff, 64vw 90vw #fff, 55vw 83vw #fff, 50vw 88vw #fff, 57vw 86vw #fff, 51vw 18vw #fff, 17vw 23vw #fff, 17vw 94vw #fff, 16vw 83vw #fff, 27vw 50vw #fff, 4vw 55vw #fff, 93vw 36vw #fff, 36vw 98vw #fff, 64vw 2vw #fff, 87vw 49vw #fff, 12vw 53vw #fff, 5vw 42vw #fff, 4vw 75vw #fff, 42vw 97vw #fff, 37vw 17vw #fff, 11vw 44vw #fff, 87vw 91vw #fff, 86vw 73vw #fff, 78vw 10vw #fff, 63vw 34vw #fff, 93vw 61vw #fff, 83vw 1vw #fff, 7vw 40vw #fff, 49vw 11vw #fff, 95vw 65vw #fff, 96vw 78vw #fff, 7vw 63vw #fff, 80vw 34vw #fff, 48vw 28vw #fff, 4vw 13vw #fff, 48vw 7vw #fff, 1vw 88vw #fff, 22vw 5vw #fff, 39vw 36vw #fff, 93vw 54vw #fff, 55vw 65vw #fff, 20vw 91vw #fff, 34vw 76vw #fff, 58vw 34vw #fff, 98vw 64vw #fff, 54vw 11vw #fff, 76vw 93vw #fff, 31vw 39vw #fff, 55vw 53vw #fff, 57vw 30vw #fff, 58vw 82vw #fff, 33vw 8vw #fff, 61vw 27vw #fff, 88vw 54vw #fff, 38vw 50vw #fff, 6vw 22vw #fff, 52vw 20vw #fff, 90vw 9vw #fff, 35vw 84vw #fff, 64vw 88vw #fff, 76vw 71vw #fff, 52vw 57vw #fff, 44vw 62vw #fff, 59vw 11vw #fff, 78vw 77vw #fff, 27vw 9vw #fff, 8vw 12vw #fff, 49vw 76vw #fff, 3vw 80vw #fff, 82vw 70vw #fff, 42vw 52vw #fff, 17vw 44vw #fff, 59vw 4vw #fff, 25vw 62vw #fff, 58vw 50vw #fff, 90vw 58vw #fff, 78vw 47vw #fff, 29vw 88vw #fff, 98vw 88vw #fff, 11vw 85vw #fff, 30vw 70vw #fff, 56vw 10vw #fff, 66vw 25vw #fff, 55vw 69vw #fff, 2vw 27vw #fff, 97vw 32vw #fff, 57vw 30vw #fff, 55vw 19vw #fff, 79vw 2vw #fff, 11vw 54vw #fff, 65vw 1vw #fff, 40vw 62vw #fff, 74vw 22vw #fff, 8vw 32vw #fff, 28vw 87vw #fff, 58vw 45vw #fff, 95vw 62vw #fff, 1vw 88vw #fff, 53vw 39vw #fff, 27vw 27vw #fff, 47vw 15vw #fff, 85vw 48vw #fff, 52vw 66vw #fff, 45vw 17vw #fff, 3vw 34vw #fff, 78vw 94vw #fff, 51vw 2vw #fff, 5vw 25vw #fff, 44vw 95vw #fff, 90vw 96vw #fff, 83vw 31vw #fff, 81vw 26vw #fff, 12vw 57vw #fff, 94vw 69vw #fff, 33vw 45vw #fff, 30vw 60vw #fff, 80vw 50vw #fff, 74vw 7vw #fff, 59vw 19vw #fff, 70vw 71vw #fff, 78vw 53vw #fff, 40vw 19vw #fff, 33vw 78vw #fff, 53vw 99vw #fff, 1vw 28vw #fff, 48vw 79vw #fff, 59vw 43vw #fff, 53vw 16vw #fff, 21vw 89vw #fff, 9vw 90vw #fff, 31vw 20vw #fff, 1vw 5vw #fff, 47vw 80vw #fff, 38vw 91vw #fff, 16vw 12vw #fff, 32vw 23vw #fff, 8vw 52vw #fff, 52vw 31vw #fff, 83vw 1vw #fff, 55vw 80vw #fff, 21vw 91vw #fff, 16vw 7vw #fff, 1vw 31vw #fff, 46vw 71vw #fff, 77vw 21vw #fff, 68vw 85vw #fff, 18vw 55vw #fff, 65vw 57vw #fff, 15vw 4vw #fff, 70vw 11vw #fff, 19vw 99vw #fff, 64vw 33vw #fff, 32vw 52vw #fff, 37vw 97vw #fff, 21vw 47vw #fff, 85vw 77vw #fff, 7vw 9vw #fff, 63vw 25vw #fff, 29vw 64vw #fff, 6vw 50vw #fff, 70vw 27vw #fff, 67vw 13vw #fff, 18vw 98vw #fff, 36vw 89vw #fff, 32vw 88vw #fff, 68vw 2vw #fff, 78vw 36vw #fff, 42vw 22vw #fff, 72vw 5vw #fff, 19vw 98vw #fff, 11vw 67vw #fff, 20vw 32vw #fff, 21vw 36vw #fff, 62vw 31vw #fff, 70vw 54vw #fff, 85vw 89vw #fff, 29vw 35vw #fff, 3vw 9vw #fff, 12vw 79vw #fff, 91vw 43vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 17vw 27vh #fff, 24vw 45vw #fff, 23vw 71vw #fff, 62vw 31vw #fff, 81vw 69vw #fff, 21vw 8vw #fff, 75vw 71vw #fff, 70vw 39vw #fff, 30vw 67vw #fff, 65vw 3vw #fff, 84vw 20vw #fff, 52vw 86vw #fff, 24vw 12vw #fff, 66vw 71vw #fff, 84vw 50vw #fff, 77vw 56vw #fff, 48vw 3vw #fff, 68vw 14vw #fff, 8vw 77vw #fff, 79vw 21vw #fff, 40vw 47vw #fff, 76vw 26vw #fff, 90vw 73vw #fff, 70vw 59vw #fff, 62vw 14vw #fff, 37vw 79vw #fff, 3vw 80vw #fff, 41vw 67vw #fff, 94vw 49vw #fff, 45vw 57vw #fff, 93vw 55vw #fff, 73vw 58vw #fff, 25vw 49vw #fff, 56vw 18vw #fff, 79vw 48vw #fff, 100vw 18vw #fff, 61vw 2vw #fff, 71vw 90vw #fff, 49vw 24vw #fff, 87vw 86vw #fff, 27vw 27vw #fff, 73vw 34vw #fff, 42vw 18vw #fff, 95vw 43vw #fff, 45vw 94vw #fff, 91vw 10vw #fff, 1vw 30vw #fff, 44vw 36vw #fff, 76vw 85vw #fff, 3vw 31vw #fff, 38vw 68vw #fff, 100vw 25vw #fff, 75vw 41vw #fff, 34vw 57vw #fff, 97vw 60vw #fff, 90vw 22vw #fff, 52vw 20vw #fff, 82vw 42vw #fff, 23vw 77vw #fff, 72vw 91vw #fff, 58vw 31vw #fff, 89vw 82vw #fff, 28vw 20vw #fff, 11vw 45vw #fff, 43vw 49vw #fff, 60vw 17vw #fff, 59vw 58vw #fff, 62vw 94vw #fff, 36vw 52vw #fff, 82vw 96vw #fff, 73vw 84vw #fff, 100vw 88vw #fff, 36vw 40vw #fff, 57vw 7vw #fff, 99vw 81vw #fff, 83vw 11vw #fff, 12vw 55vw #fff, 78vw 70vw #fff, 62vw 28vw #fff, 2vw 2vw #fff, 97vw 68vw #fff, 14vw 43vw #fff, 44vw 8vw #fff, 89vw 81vw #fff, 52vw 93vw #fff, 72vw 44vw #fff, 96vw 40vw #fff, 15vw 64vw #fff, 77vw 42vw #fff, 95vw 60vw #fff, 15vw 11vw #fff, 62vw 68vw #fff, 85vw 51vw #fff, 96vw 42vw #fff, 8vw 73vw #fff, 17vw 11vw #fff, 54vw 33vw #fff, 45vw 9vw #fff, 33vw 29vw #fff, 43vw 18vw #fff, 16vw 32vw #fff, 13vw 47vw #fff, 23vw 97vw #fff, 98vw 8vw #fff, 16vw 78vw #fff, 37vw 81vw #fff, 78vw 48vw #fff, 69vw 88vw #fff, 58vw 44vw #fff, 39vw 59vw #fff, 8vw 12vw #fff, 30vw 27vw #fff, 40vw 4vw #fff, 17vw 10vw #fff, 31vw 64vw #fff, 10vw 19vw #fff, 65vw 1vw #fff, 65vw 65vw #fff, 10vw 97vw #fff, 7vw 62vw #fff, 92vw 77vw #fff, 64vw 91vw #fff, 34vw 17vw #fff, 51vw 10vw #fff, 71vw 45vw #fff, 18vw 6vw #fff, 56vw 9vw #fff, 99vw 55vw #fff, 41vw 79vw #fff, 5vw 24vw #fff, 39vw 11vw #fff, 96vw 35vw #fff, 9vw 48vw #fff, 23vw 27vw #fff, 41vw 79vw #fff, 82vw 43vw #fff, 49vw 4vw #fff, 84vw 60vw #fff, 5vw 19vw #fff, 73vw 44vw #fff, 98vw 33vw #fff, 14vw 18vw #fff, 21vw 2vw #fff, 70vw 20vw #fff, 66vw 81vw #fff, 48vw 69vw #fff, 14vw 35vw #fff, 93vw 6vw #fff, 11vw 31vw #fff, 4vw 49vw #fff, 3vw 67vw #fff, 13vw 92vw #fff, 98vw 65vw #fff, 41vw 51vw #fff, 22vw 34vw #fff, 15vw 71vw #fff, 31vw 63vw #fff, 6vw 88vw #fff, 42vw 51vw #fff, 39vw 77vw #fff, 61vw 45vw #fff, 25vw 32vw #fff, 52vw 92vw #fff, 94vw 98vw #fff, 20vw 58vw #fff, 43vw 69vw #fff, 30vw 27vw #fff, 80vw 42vw #fff, 39vw 66vw #fff, 69vw 84vw #fff, 15vw 41vw #fff, 67vw 88vw #fff, 98vw 60vw #fff, 4vw 60vw #fff, 18vw 5vw #fff, 46vw 41vw #fff, 24vw 16vw #fff, 62vw 90vw #fff, 90vw 23vw #fff, 10vw 50vw #fff, 53vw 49vw #fff, 83vw 72vw #fff, 92vw 14vw #fff, 92vw 72vw #fff, 82vw 26vw #fff, 98vw 76vw #fff, 22vw 88vw #fff, 68vw 15vw #fff, 86vw 62vw #fff, 91vw 85vw #fff, 82vw 63vw #fff, 50vw 87vw #fff, 29vw 3vw #fff, 87vw 80vw #fff, 2vw 15vw #fff, 15vw 71vw #fff, 73vw 77vw #fff, 35vw 6vw #fff, 13vw 7vw #fff, 24vw 22vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 17vw 27vh #fff, 24vw 45vw #fff, 23vw 71vw #fff, 62vw 31vw #fff, 81vw 69vw #fff, 21vw 8vw #fff, 75vw 71vw #fff, 70vw 39vw #fff, 30vw 67vw #fff, 65vw 3vw #fff, 84vw 20vw #fff, 52vw 86vw #fff, 24vw 12vw #fff, 66vw 71vw #fff, 84vw 50vw #fff, 77vw 56vw #fff, 48vw 3vw #fff, 68vw 14vw #fff, 8vw 77vw #fff, 79vw 21vw #fff, 40vw 47vw #fff, 76vw 26vw #fff, 90vw 73vw #fff, 70vw 59vw #fff, 62vw 14vw #fff, 37vw 79vw #fff, 3vw 80vw #fff, 41vw 67vw #fff, 94vw 49vw #fff, 45vw 57vw #fff, 93vw 55vw #fff, 73vw 58vw #fff, 25vw 49vw #fff, 56vw 18vw #fff, 79vw 48vw #fff, 100vw 18vw #fff, 61vw 2vw #fff, 71vw 90vw #fff, 49vw 24vw #fff, 87vw 86vw #fff, 27vw 27vw #fff, 73vw 34vw #fff, 42vw 18vw #fff, 95vw 43vw #fff, 45vw 94vw #fff, 91vw 10vw #fff, 1vw 30vw #fff, 44vw 36vw #fff, 76vw 85vw #fff, 3vw 31vw #fff, 38vw 68vw #fff, 100vw 25vw #fff, 75vw 41vw #fff, 34vw 57vw #fff, 97vw 60vw #fff, 90vw 22vw #fff, 52vw 20vw #fff, 82vw 42vw #fff, 23vw 77vw #fff, 72vw 91vw #fff, 58vw 31vw #fff, 89vw 82vw #fff, 28vw 20vw #fff, 11vw 45vw #fff, 43vw 49vw #fff, 60vw 17vw #fff, 59vw 58vw #fff, 62vw 94vw #fff, 36vw 52vw #fff, 82vw 96vw #fff, 73vw 84vw #fff, 100vw 88vw #fff, 36vw 40vw #fff, 57vw 7vw #fff, 99vw 81vw #fff, 83vw 11vw #fff, 12vw 55vw #fff, 78vw 70vw #fff, 62vw 28vw #fff, 2vw 2vw #fff, 97vw 68vw #fff, 14vw 43vw #fff, 44vw 8vw #fff, 89vw 81vw #fff, 52vw 93vw #fff, 72vw 44vw #fff, 96vw 40vw #fff, 15vw 64vw #fff, 77vw 42vw #fff, 95vw 60vw #fff, 15vw 11vw #fff, 62vw 68vw #fff, 85vw 51vw #fff, 96vw 42vw #fff, 8vw 73vw #fff, 17vw 11vw #fff, 54vw 33vw #fff, 45vw 9vw #fff, 33vw 29vw #fff, 43vw 18vw #fff, 16vw 32vw #fff, 13vw 47vw #fff, 23vw 97vw #fff, 98vw 8vw #fff, 16vw 78vw #fff, 37vw 81vw #fff, 78vw 48vw #fff, 69vw 88vw #fff, 58vw 44vw #fff, 39vw 59vw #fff, 8vw 12vw #fff, 30vw 27vw #fff, 40vw 4vw #fff, 17vw 10vw #fff, 31vw 64vw #fff, 10vw 19vw #fff, 65vw 1vw #fff, 65vw 65vw #fff, 10vw 97vw #fff, 7vw 62vw #fff, 92vw 77vw #fff, 64vw 91vw #fff, 34vw 17vw #fff, 51vw 10vw #fff, 71vw 45vw #fff, 18vw 6vw #fff, 56vw 9vw #fff, 99vw 55vw #fff, 41vw 79vw #fff, 5vw 24vw #fff, 39vw 11vw #fff, 96vw 35vw #fff, 9vw 48vw #fff, 23vw 27vw #fff, 41vw 79vw #fff, 82vw 43vw #fff, 49vw 4vw #fff, 84vw 60vw #fff, 5vw 19vw #fff, 73vw 44vw #fff, 98vw 33vw #fff, 14vw 18vw #fff, 21vw 2vw #fff, 70vw 20vw #fff, 66vw 81vw #fff, 48vw 69vw #fff, 14vw 35vw #fff, 93vw 6vw #fff, 11vw 31vw #fff, 4vw 49vw #fff, 3vw 67vw #fff, 13vw 92vw #fff, 98vw 65vw #fff, 41vw 51vw #fff, 22vw 34vw #fff, 15vw 71vw #fff, 31vw 63vw #fff, 6vw 88vw #fff, 42vw 51vw #fff, 39vw 77vw #fff, 61vw 45vw #fff, 25vw 32vw #fff, 52vw 92vw #fff, 94vw 98vw #fff, 20vw 58vw #fff, 43vw 69vw #fff, 30vw 27vw #fff, 80vw 42vw #fff, 39vw 66vw #fff, 69vw 84vw #fff, 15vw 41vw #fff, 67vw 88vw #fff, 98vw 60vw #fff, 4vw 60vw #fff, 18vw 5vw #fff, 46vw 41vw #fff, 24vw 16vw #fff, 62vw 90vw #fff, 90vw 23vw #fff, 10vw 50vw #fff, 53vw 49vw #fff, 83vw 72vw #fff, 92vw 14vw #fff, 92vw 72vw #fff, 82vw 26vw #fff, 98vw 76vw #fff, 22vw 88vw #fff, 68vw 15vw #fff, 86vw 62vw #fff, 91vw 85vw #fff, 82vw 63vw #fff, 50vw 87vw #fff, 29vw 3vw #fff, 87vw 80vw #fff, 2vw 15vw #fff, 15vw 71vw #fff, 73vw 77vw #fff, 35vw 6vw #fff, 13vw 7vw #fff, 24vw 22vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun,
  .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%,
  .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%,
  .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%,
  .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%,
  .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%,
  .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }

.tarot-container {
  padding-top: 40px;
  text-align: center; }
  .tarot-container .card-holder {
    perspective: 700px; }
  .tarot-container .card-base, .tarot-container .card {
    height: 153px;
    width: 96px;
    display: inline-block; }
  .tarot-container .card {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s; }
  .tarot-container .flipping {
    transform: translate(0, 20px) rotateY(90deg);
    -webkit-transform: translate(0, 20px) rotateY(90deg); }
