@import '../../main.scss';

.tarot-container {
    padding-top: 40px;
    text-align: center;
    background: url('./components/Tarot/desk.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    h1, h3, p {
        padding: 10px 30px;
        background: rgba(0,0,0,0.75);
        color: white;
        width: auto;
        margin: 0;
        display: inline-block;
    }
    .card-holder {
        perspective: 700px;
    }
    .card-base, .card {
        height: 210px;
        width: 120px;
        margin: 10px;
        display: inline-block;
        position: relative;
    }
    .card {
        -webkit-transition:-webkit-transform 0.5s;
        transition:transform 0.5s;
    }
    .pickCard1, .pickCard2, .pickCard3, .pickCard4, .pickCard5 {
        top: -90vh;
        opacity: 0.25;
    }
    .flipping {
        transform: translate(0, 20px) rotateY(90deg);
        -webkit-transform: translate(0, 20px) rotateY(90deg);
    }
}