@import '../../main.scss';

.tarot-container {
    padding-top: 40px;
    text-align: center;
    .card-holder {
        perspective: 700px;
    }
    .card-base, .card {
        height: 153px;
        width: 96px;
        display: inline-block;
    }
    .card {
        -webkit-transition:-webkit-transform 0.5s;
        transition:transform 0.5s;
    }
    .flipping {
        transform: translate(0, 20px) rotateY(90deg);
        -webkit-transform: translate(0, 20px) rotateY(90deg);
    }
}