@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 1; }

input {
  display: none; }

input:checked ~ label {
  left: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    left: 34%; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 800;
    stroke-width: 1;
    stroke: #BDCAEC;
    stroke-dashoffset: 1600;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 63vw 76vh #fff, 47vw 72vw #fff, 33vw 38vw #fff, 90vw 98vw #fff, 88vw 33vw #fff, 77vw 57vw #fff, 64vw 37vw #fff, 99vw 59vw #fff, 10vw 58vw #fff, 20vw 70vw #fff, 48vw 3vw #fff, 85vw 71vw #fff, 17vw 67vw #fff, 94vw 57vw #fff, 75vw 20vw #fff, 1vw 7vw #fff, 84vw 73vw #fff, 23vw 39vw #fff, 10vw 10vw #fff, 98vw 49vw #fff, 23vw 82vw #fff, 37vw 52vw #fff, 93vw 85vw #fff, 35vw 88vw #fff, 48vw 84vw #fff, 62vw 64vw #fff, 88vw 53vw #fff, 75vw 41vw #fff, 9vw 74vw #fff, 21vw 64vw #fff, 51vw 48vw #fff, 7vw 98vw #fff, 16vw 81vw #fff, 38vw 52vw #fff, 8vw 36vw #fff, 40vw 11vw #fff, 86vw 60vw #fff, 62vw 38vw #fff, 58vw 33vw #fff, 67vw 22vw #fff, 45vw 42vw #fff, 75vw 69vw #fff, 11vw 54vw #fff, 86vw 85vw #fff, 73vw 37vw #fff, 66vw 15vw #fff, 72vw 3vw #fff, 44vw 100vw #fff, 7vw 33vw #fff, 30vw 17vw #fff, 24vw 76vw #fff, 79vw 73vw #fff, 26vw 2vw #fff, 95vw 32vw #fff, 16vw 79vw #fff, 35vw 46vw #fff, 48vw 4vw #fff, 83vw 79vw #fff, 43vw 1vw #fff, 52vw 3vw #fff, 73vw 21vw #fff, 4vw 79vw #fff, 38vw 30vw #fff, 52vw 13vw #fff, 80vw 51vw #fff, 43vw 24vw #fff, 69vw 39vw #fff, 13vw 13vw #fff, 59vw 96vw #fff, 64vw 11vw #fff, 47vw 24vw #fff, 62vw 77vw #fff, 74vw 91vw #fff, 2vw 65vw #fff, 57vw 71vw #fff, 13vw 82vw #fff, 86vw 5vw #fff, 78vw 40vw #fff, 93vw 16vw #fff, 58vw 83vw #fff, 22vw 83vw #fff, 84vw 18vw #fff, 55vw 20vw #fff, 51vw 90vw #fff, 99vw 95vw #fff, 60vw 98vw #fff, 14vw 25vw #fff, 9vw 69vw #fff, 74vw 63vw #fff, 91vw 69vw #fff, 30vw 42vw #fff, 85vw 43vw #fff, 1vw 42vw #fff, 26vw 90vw #fff, 96vw 82vw #fff, 6vw 64vw #fff, 15vw 68vw #fff, 63vw 73vw #fff, 69vw 82vw #fff, 53vw 71vw #fff, 74vw 70vw #fff, 98vw 69vw #fff, 66vw 69vw #fff, 40vw 42vw #fff, 39vw 52vw #fff, 19vw 12vw #fff, 71vw 13vw #fff, 98vw 37vw #fff, 63vw 96vw #fff, 86vw 14vw #fff, 31vw 3vw #fff, 39vw 20vw #fff, 52vw 39vw #fff, 91vw 81vw #fff, 44vw 91vw #fff, 24vw 1vw #fff, 90vw 37vw #fff, 92vw 79vw #fff, 43vw 72vw #fff, 20vw 18vw #fff, 67vw 82vw #fff, 24vw 60vw #fff, 42vw 86vw #fff, 97vw 66vw #fff, 71vw 98vw #fff, 10vw 95vw #fff, 73vw 56vw #fff, 83vw 64vw #fff, 12vw 6vw #fff, 28vw 6vw #fff, 7vw 54vw #fff, 5vw 4vw #fff, 66vw 2vw #fff, 17vw 2vw #fff, 7vw 20vw #fff, 18vw 32vw #fff, 9vw 22vw #fff, 96vw 81vw #fff, 48vw 100vw #fff, 83vw 38vw #fff, 65vw 94vw #fff, 89vw 92vw #fff, 60vw 39vw #fff, 10vw 90vw #fff, 9vw 96vw #fff, 35vw 6vw #fff, 11vw 99vw #fff, 100vw 95vw #fff, 100vw 61vw #fff, 84vw 67vw #fff, 89vw 55vw #fff, 50vw 93vw #fff, 1vw 73vw #fff, 64vw 83vw #fff, 91vw 74vw #fff, 26vw 15vw #fff, 65vw 21vw #fff, 91vw 55vw #fff, 64vw 15vw #fff, 58vw 17vw #fff, 20vw 67vw #fff, 17vw 8vw #fff, 21vw 40vw #fff, 90vw 11vw #fff, 70vw 3vw #fff, 26vw 90vw #fff, 45vw 52vw #fff, 55vw 66vw #fff, 32vw 84vw #fff, 8vw 38vw #fff, 100vw 2vw #fff, 3vw 42vw #fff, 94vw 99vw #fff, 99vw 29vw #fff, 76vw 37vw #fff, 21vw 63vw #fff, 16vw 35vw #fff, 34vw 81vw #fff, 71vw 88vw #fff, 46vw 45vw #fff, 77vw 74vw #fff, 65vw 42vw #fff, 84vw 30vw #fff, 58vw 92vw #fff, 5vw 37vw #fff, 26vw 32vw #fff, 42vw 27vw #fff, 10vw 21vw #fff, 35vw 46vw #fff, 39vw 80vw #fff, 29vw 21vw #fff, 76vw 68vw #fff, 28vw 25vw #fff, 69vw 20vw #fff, 60vw 55vw #fff, 37vw 25vw #fff, 36vw 3vw #fff, 63vw 27vw #fff, 37vw 67vw #fff, 18vw 64vw #fff, 23vw 100vw #fff, 87vw 80vw #fff, 15vw 36vw #fff, 67vw 79vw #fff, 95vw 41vw #fff, 52vw 17vw #fff, 88vw 8vw #fff, 33vw 58vw #fff, 69vw 63vw #fff, 37vw 15vw #fff, 79vw 26vw #fff, 97vw 6vw #fff, 4vw 48vw #fff, 18vw 90vw #fff, 60vw 92vw #fff, 74vw 91vw #fff, 97vw 46vw #fff, 1vw 13vw #fff, 25vw 34vw #fff, 22vw 69vw #fff, 72vw 85vw #fff, 96vw 52vw #fff, 93vw 36vw #fff, 91vw 38vw #fff, 24vw 94vw #fff, 27vw 3vw #fff, 88vw 19vw #fff, 22vw 61vw #fff, 38vw 72vw #fff, 34vw 26vw #fff, 66vw 7vw #fff, 75vw 4vw #fff, 59vw 71vw #fff, 56vw 16vw #fff, 16vw 54vw #fff, 76vw 68vw #fff, 26vw 70vw #fff, 48vw 39vw #fff, 10vw 6vw #fff, 61vw 66vw #fff, 74vw 38vw #fff, 58vw 58vw #fff, 53vw 9vw #fff, 36vw 93vw #fff, 64vw 70vw #fff, 64vw 50vw #fff, 5vw 26vw #fff, 1vw 49vw #fff, 43vw 7vw #fff, 25vw 18vw #fff, 87vw 93vw #fff, 52vw 69vw #fff, 86vw 100vw #fff, 20vw 60vw #fff, 20vw 97vw #fff, 19vw 15vw #fff, 59vw 43vw #fff, 41vw 89vw #fff, 4vw 49vw #fff, 91vw 72vw #fff, 47vw 17vw #fff, 75vw 86vw #fff, 58vw 100vw #fff, 64vw 40vw #fff, 63vw 61vw #fff, 77vw 61vw #fff, 98vw 17vw #fff, 11vw 63vw #fff, 93vw 63vw #fff, 10vw 5vw #fff, 92vw 97vw #fff, 59vw 45vw #fff, 57vw 4vw #fff, 48vw 52vw #fff, 17vw 6vw #fff, 54vw 55vw #fff, 88vw 49vw #fff, 46vw 56vw #fff, 37vw 63vw #fff, 71vw 64vw #fff, 85vw 57vw #fff, 17vw 40vw #fff, 37vw 96vw #fff, 80vw 75vw #fff, 100vw 7vw #fff, 72vw 1vw #fff, 93vw 87vw #fff, 15vw 23vw #fff, 56vw 85vw #fff, 29vw 56vw #fff, 89vw 7vw #fff, 73vw 52vw #fff, 15vw 94vw #fff, 36vw 79vw #fff, 12vw 91vw #fff, 1vw 88vw #fff, 39vw 96vw #fff, 68vw 52vw #fff, 37vw 8vw #fff, 76vw 55vw #fff, 46vw 32vw #fff, 88vw 38vw #fff, 49vw 12vw #fff, 18vw 19vw #fff, 15vw 40vw #fff, 92vw 6vw #fff, 6vw 87vw #fff, 67vw 68vw #fff, 56vw 20vw #fff, 68vw 25vw #fff, 98vw 18vw #fff, 82vw 38vw #fff, 67vw 35vw #fff, 29vw 74vw #fff, 25vw 100vw #fff, 42vw 20vw #fff, 81vw 93vw #fff, 74vw 94vw #fff, 13vw 99vw #fff, 21vw 4vw #fff, 76vw 34vw #fff, 97vw 16vw #fff, 8vw 63vw #fff, 55vw 45vw #fff, 1vw 62vw #fff, 16vw 37vw #fff, 25vw 5vw #fff, 30vw 97vw #fff, 83vw 93vw #fff, 7vw 48vw #fff, 89vw 63vw #fff, 95vw 70vw #fff, 65vw 85vw #fff, 6vw 50vw #fff, 50vw 100vw #fff, 14vw 94vw #fff, 78vw 77vw #fff, 99vw 17vw #fff, 9vw 8vw #fff, 87vw 2vw #fff, 33vw 93vw #fff, 68vw 92vw #fff, 41vw 86vw #fff, 86vw 61vw #fff, 61vw 78vw #fff, 83vw 2vw #fff, 49vw 72vw #fff, 38vw 29vw #fff, 68vw 27vw #fff, 97vw 33vw #fff, 66vw 99vw #fff, 9vw 18vw #fff, 23vw 75vw #fff, 58vw 76vw #fff, 6vw 82vw #fff, 95vw 79vw #fff, 79vw 34vw #fff, 47vw 99vw #fff, 31vw 28vw #fff, 47vw 78vw #fff, 66vw 97vw #fff, 33vw 28vw #fff, 48vw 32vw #fff, 80vw 46vw #fff, 6vw 9vw #fff, 49vw 52vw #fff, 56vw 50vw #fff, 80vw 64vw #fff, 96vw 49vw #fff, 16vw 61vw #fff, 64vw 22vw #fff, 51vw 26vw #fff, 84vw 58vw #fff, 71vw 66vw #fff, 8vw 52vw #fff, 58vw 13vw #fff, 73vw 60vw #fff, 65vw 46vw #fff, 81vw 25vw #fff, 34vw 1vw #fff, 88vw 62vw #fff, 28vw 67vw #fff, 77vw 26vw #fff, 3vw 63vw #fff, 59vw 16vw #fff, 38vw 92vw #fff, 21vw 56vw #fff, 20vw 28vw #fff, 75vw 2vw #fff, 52vw 41vw #fff, 76vw 50vw #fff, 86vw 15vw #fff, 4vw 78vw #fff, 3vw 45vw #fff, 31vw 10vw #fff, 51vw 80vw #fff, 29vw 6vw #fff, 65vw 27vw #fff, 88vw 34vw #fff, 27vw 62vw #fff, 80vw 21vw #fff, 64vw 92vw #fff, 53vw 49vw #fff, 93vw 88vw #fff, 89vw 98vw #fff, 43vw 27vw #fff, 4vw 70vw #fff, 22vw 45vw #fff, 39vw 20vw #fff, 95vw 51vw #fff, 40vw 28vw #fff, 34vw 12vw #fff, 96vw 75vw #fff, 100vw 80vw #fff, 35vw 9vw #fff, 40vw 8vw #fff, 97vw 40vw #fff, 24vw 21vw #fff, 91vw 31vw #fff, 65vw 23vw #fff, 97vw 2vw #fff, 51vw 95vw #fff, 89vw 24vw #fff, 22vw 58vw #fff, 57vw 46vw #fff, 73vw 5vw #fff, 2vw 34vw #fff, 65vw 11vw #fff, 81vw 38vw #fff, 55vw 73vw #fff, 22vw 82vw #fff, 3vw 39vw #fff, 66vw 100vw #fff, 87vw 98vw #fff, 64vw 41vw #fff, 22vw 39vw #fff, 19vw 92vw #fff, 62vw 98vw #fff, 94vw 41vw #fff, 63vw 25vw #fff, 100vw 39vw #fff, 36vw 80vw #fff, 5vw 94vw #fff, 73vw 99vw #fff, 71vw 41vw #fff, 45vw 7vw #fff, 81vw 93vw #fff, 11vw 93vw #fff, 83vw 9vw #fff, 1vw 15vw #fff, 19vw 82vw #fff, 11vw 74vw #fff, 14vw 7vw #fff, 41vw 12vw #fff, 23vw 34vw #fff, 49vw 2vw #fff, 94vw 4vw #fff, 39vw 7vw #fff, 65vw 29vw #fff, 70vw 16vw #fff, 3vw 84vw #fff, 70vw 29vw #fff, 70vw 95vw #fff, 72vw 76vw #fff, 80vw 90vw #fff, 3vw 42vw #fff, 87vw 22vw #fff, 49vw 79vw #fff, 8vw 63vw #fff, 61vw 58vw #fff, 74vw 27vw #fff, 52vw 11vw #fff, 88vw 64vw #fff, 91vw 31vw #fff, 52vw 53vw #fff, 93vw 86vw #fff, 85vw 17vw #fff, 11vw 78vw #fff, 46vw 80vw #fff, 35vw 39vw #fff, 71vw 26vw #fff, 8vw 75vw #fff, 16vw 57vw #fff, 58vw 12vw #fff, 74vw 87vw #fff, 93vw 46vw #fff, 80vw 41vw #fff, 56vw 5vw #fff, 41vw 7vw #fff, 50vw 85vw #fff, 85vw 25vw #fff, 52vw 48vw #fff, 82vw 47vw #fff, 53vw 20vw #fff, 33vw 33vw #fff, 55vw 71vw #fff, 81vw 20vw #fff, 70vw 34vw #fff, 44vw 2vw #fff, 40vw 15vw #fff, 82vw 33vw #fff, 15vw 36vw #fff, 49vw 83vw #fff, 95vw 49vw #fff, 40vw 58vw #fff, 27vw 99vw #fff, 54vw 88vw #fff, 49vw 9vw #fff, 11vw 42vw #fff, 46vw 72vw #fff, 62vw 60vw #fff, 8vw 94vw #fff, 42vw 76vw #fff, 77vw 56vw #fff, 94vw 93vw #fff, 24vw 41vw #fff, 96vw 4vw #fff, 57vw 96vw #fff, 67vw 100vw #fff, 62vw 54vw #fff, 93vw 54vw #fff, 80vw 16vw #fff, 7vw 63vw #fff, 84vw 49vw #fff, 94vw 96vw #fff, 77vw 73vw #fff, 14vw 86vw #fff, 39vw 3vw #fff, 84vw 89vw #fff, 47vw 52vw #fff, 80vw 97vw #fff, 62vw 92vw #fff, 100vw 89vw #fff, 99vw 53vw #fff, 12vw 15vw #fff, 32vw 30vw #fff, 19vw 38vw #fff, 22vw 2vw #fff, 23vw 52vw #fff, 51vw 88vw #fff, 64vw 70vw #fff, 61vw 83vw #fff, 92vw 51vw #fff, 4vw 7vw #fff, 50vw 38vw #fff, 30vw 85vw #fff, 60vw 23vw #fff, 11vw 64vw #fff, 72vw 23vw #fff, 57vw 86vw #fff, 63vw 13vw #fff, 62vw 55vw #fff, 72vw 88vw #fff, 88vw 89vw #fff, 100vw 11vw #fff, 2vw 76vw #fff, 88vw 34vw #fff, 19vw 18vw #fff, 79vw 55vw #fff, 88vw 67vw #fff, 14vw 42vw #fff, 100vw 44vw #fff, 83vw 33vw #fff, 84vw 41vw #fff, 65vw 46vw #fff, 71vw 93vw #fff, 43vw 79vw #fff, 11vw 6vw #fff, 41vw 69vw #fff, 85vw 15vw #fff, 57vw 66vw #fff, 22vw 48vw #fff, 38vw 66vw #fff, 44vw 63vw #fff, 70vw 38vw #fff, 7vw 94vw #fff, 41vw 88vw #fff, 98vw 58vw #fff, 17vw 79vw #fff, 40vw 30vw #fff, 14vw 21vw #fff, 14vw 1vw #fff, 58vw 48vw #fff, 44vw 47vw #fff, 100vw 81vw #fff, 67vw 30vw #fff, 16vw 94vw #fff, 76vw 92vw #fff, 15vw 9vw #fff, 68vw 50vw #fff, 100vw 47vw #fff, 10vw 80vw #fff, 18vw 5vw #fff, 4vw 39vw #fff, 43vw 44vw #fff, 57vw 22vw #fff, 10vw 94vw #fff, 6vw 75vw #fff, 15vw 77vw #fff, 57vw 43vw #fff, 76vw 71vw #fff, 55vw 61vw #fff, 9vw 83vw #fff, 29vw 16vw #fff, 3vw 38vw #fff, 37vw 21vw #fff, 33vw 27vw #fff, 25vw 69vw #fff, 32vw 98vw #fff, 74vw 91vw #fff, 32vw 100vw #fff, 41vw 48vw #fff, 62vw 87vw #fff, 3vw 92vw #fff, 44vw 42vw #fff, 50vw 91vw #fff, 91vw 70vw #fff, 39vw 94vw #fff, 52vw 24vw #fff, 25vw 53vw #fff, 96vw 11vw #fff, 92vw 28vw #fff, 28vw 78vw #fff, 80vw 53vw #fff, 28vw 17vw #fff, 84vw 91vw #fff, 38vw 76vw #fff, 63vw 84vw #fff, 10vw 98vw #fff, 48vw 92vw #fff, 31vw 31vw #fff, 20vw 94vw #fff, 96vw 97vw #fff, 77vw 68vw #fff, 26vw 62vw #fff, 100vw 51vw #fff, 77vw 32vw #fff, 62vw 19vw #fff, 85vw 40vw #fff, 4vw 95vw #fff, 45vw 11vw #fff, 43vw 74vw #fff, 92vw 79vw #fff, 71vw 73vw #fff, 11vw 72vw #fff, 11vw 17vw #fff, 30vw 96vw #fff, 36vw 70vw #fff, 71vw 35vw #fff, 81vw 73vw #fff, 39vw 16vw #fff, 99vw 85vw #fff, 10vw 62vw #fff, 72vw 36vw #fff, 37vw 31vw #fff, 1vw 63vw #fff, 66vw 46vw #fff, 68vw 63vw #fff, 52vw 63vw #fff, 20vw 16vw #fff, 85vw 37vw #fff, 90vw 75vw #fff, 69vw 41vw #fff, 12vw 22vw #fff, 73vw 66vw #fff, 72vw 5vw #fff, 30vw 70vw #fff, 76vw 57vw #fff, 50vw 32vw #fff, 68vw 98vw #fff, 17vw 42vw #fff, 98vw 33vw #fff, 60vw 81vw #fff, 52vw 74vw #fff, 88vw 42vw #fff, 85vw 66vw #fff, 99vw 69vw #fff, 71vw 39vw #fff, 15vw 13vw #fff, 44vw 48vw #fff, 41vw 67vw #fff, 53vw 49vw #fff, 58vw 8vw #fff, 64vw 15vw #fff, 21vw 76vw #fff, 80vw 67vw #fff, 60vw 92vw #fff, 15vw 86vw #fff, 60vw 31vw #fff, 2vw 15vw #fff, 76vw 13vw #fff, 60vw 76vw #fff, 93vw 13vw #fff, 82vw 42vw #fff, 71vw 49vw #fff, 15vw 82vw #fff, 35vw 82vw #fff, 85vw 45vw #fff, 6vw 3vw #fff, 44vw 54vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 63vw 76vh #fff, 47vw 72vw #fff, 33vw 38vw #fff, 90vw 98vw #fff, 88vw 33vw #fff, 77vw 57vw #fff, 64vw 37vw #fff, 99vw 59vw #fff, 10vw 58vw #fff, 20vw 70vw #fff, 48vw 3vw #fff, 85vw 71vw #fff, 17vw 67vw #fff, 94vw 57vw #fff, 75vw 20vw #fff, 1vw 7vw #fff, 84vw 73vw #fff, 23vw 39vw #fff, 10vw 10vw #fff, 98vw 49vw #fff, 23vw 82vw #fff, 37vw 52vw #fff, 93vw 85vw #fff, 35vw 88vw #fff, 48vw 84vw #fff, 62vw 64vw #fff, 88vw 53vw #fff, 75vw 41vw #fff, 9vw 74vw #fff, 21vw 64vw #fff, 51vw 48vw #fff, 7vw 98vw #fff, 16vw 81vw #fff, 38vw 52vw #fff, 8vw 36vw #fff, 40vw 11vw #fff, 86vw 60vw #fff, 62vw 38vw #fff, 58vw 33vw #fff, 67vw 22vw #fff, 45vw 42vw #fff, 75vw 69vw #fff, 11vw 54vw #fff, 86vw 85vw #fff, 73vw 37vw #fff, 66vw 15vw #fff, 72vw 3vw #fff, 44vw 100vw #fff, 7vw 33vw #fff, 30vw 17vw #fff, 24vw 76vw #fff, 79vw 73vw #fff, 26vw 2vw #fff, 95vw 32vw #fff, 16vw 79vw #fff, 35vw 46vw #fff, 48vw 4vw #fff, 83vw 79vw #fff, 43vw 1vw #fff, 52vw 3vw #fff, 73vw 21vw #fff, 4vw 79vw #fff, 38vw 30vw #fff, 52vw 13vw #fff, 80vw 51vw #fff, 43vw 24vw #fff, 69vw 39vw #fff, 13vw 13vw #fff, 59vw 96vw #fff, 64vw 11vw #fff, 47vw 24vw #fff, 62vw 77vw #fff, 74vw 91vw #fff, 2vw 65vw #fff, 57vw 71vw #fff, 13vw 82vw #fff, 86vw 5vw #fff, 78vw 40vw #fff, 93vw 16vw #fff, 58vw 83vw #fff, 22vw 83vw #fff, 84vw 18vw #fff, 55vw 20vw #fff, 51vw 90vw #fff, 99vw 95vw #fff, 60vw 98vw #fff, 14vw 25vw #fff, 9vw 69vw #fff, 74vw 63vw #fff, 91vw 69vw #fff, 30vw 42vw #fff, 85vw 43vw #fff, 1vw 42vw #fff, 26vw 90vw #fff, 96vw 82vw #fff, 6vw 64vw #fff, 15vw 68vw #fff, 63vw 73vw #fff, 69vw 82vw #fff, 53vw 71vw #fff, 74vw 70vw #fff, 98vw 69vw #fff, 66vw 69vw #fff, 40vw 42vw #fff, 39vw 52vw #fff, 19vw 12vw #fff, 71vw 13vw #fff, 98vw 37vw #fff, 63vw 96vw #fff, 86vw 14vw #fff, 31vw 3vw #fff, 39vw 20vw #fff, 52vw 39vw #fff, 91vw 81vw #fff, 44vw 91vw #fff, 24vw 1vw #fff, 90vw 37vw #fff, 92vw 79vw #fff, 43vw 72vw #fff, 20vw 18vw #fff, 67vw 82vw #fff, 24vw 60vw #fff, 42vw 86vw #fff, 97vw 66vw #fff, 71vw 98vw #fff, 10vw 95vw #fff, 73vw 56vw #fff, 83vw 64vw #fff, 12vw 6vw #fff, 28vw 6vw #fff, 7vw 54vw #fff, 5vw 4vw #fff, 66vw 2vw #fff, 17vw 2vw #fff, 7vw 20vw #fff, 18vw 32vw #fff, 9vw 22vw #fff, 96vw 81vw #fff, 48vw 100vw #fff, 83vw 38vw #fff, 65vw 94vw #fff, 89vw 92vw #fff, 60vw 39vw #fff, 10vw 90vw #fff, 9vw 96vw #fff, 35vw 6vw #fff, 11vw 99vw #fff, 100vw 95vw #fff, 100vw 61vw #fff, 84vw 67vw #fff, 89vw 55vw #fff, 50vw 93vw #fff, 1vw 73vw #fff, 64vw 83vw #fff, 91vw 74vw #fff, 26vw 15vw #fff, 65vw 21vw #fff, 91vw 55vw #fff, 64vw 15vw #fff, 58vw 17vw #fff, 20vw 67vw #fff, 17vw 8vw #fff, 21vw 40vw #fff, 90vw 11vw #fff, 70vw 3vw #fff, 26vw 90vw #fff, 45vw 52vw #fff, 55vw 66vw #fff, 32vw 84vw #fff, 8vw 38vw #fff, 100vw 2vw #fff, 3vw 42vw #fff, 94vw 99vw #fff, 99vw 29vw #fff, 76vw 37vw #fff, 21vw 63vw #fff, 16vw 35vw #fff, 34vw 81vw #fff, 71vw 88vw #fff, 46vw 45vw #fff, 77vw 74vw #fff, 65vw 42vw #fff, 84vw 30vw #fff, 58vw 92vw #fff, 5vw 37vw #fff, 26vw 32vw #fff, 42vw 27vw #fff, 10vw 21vw #fff, 35vw 46vw #fff, 39vw 80vw #fff, 29vw 21vw #fff, 76vw 68vw #fff, 28vw 25vw #fff, 69vw 20vw #fff, 60vw 55vw #fff, 37vw 25vw #fff, 36vw 3vw #fff, 63vw 27vw #fff, 37vw 67vw #fff, 18vw 64vw #fff, 23vw 100vw #fff, 87vw 80vw #fff, 15vw 36vw #fff, 67vw 79vw #fff, 95vw 41vw #fff, 52vw 17vw #fff, 88vw 8vw #fff, 33vw 58vw #fff, 69vw 63vw #fff, 37vw 15vw #fff, 79vw 26vw #fff, 97vw 6vw #fff, 4vw 48vw #fff, 18vw 90vw #fff, 60vw 92vw #fff, 74vw 91vw #fff, 97vw 46vw #fff, 1vw 13vw #fff, 25vw 34vw #fff, 22vw 69vw #fff, 72vw 85vw #fff, 96vw 52vw #fff, 93vw 36vw #fff, 91vw 38vw #fff, 24vw 94vw #fff, 27vw 3vw #fff, 88vw 19vw #fff, 22vw 61vw #fff, 38vw 72vw #fff, 34vw 26vw #fff, 66vw 7vw #fff, 75vw 4vw #fff, 59vw 71vw #fff, 56vw 16vw #fff, 16vw 54vw #fff, 76vw 68vw #fff, 26vw 70vw #fff, 48vw 39vw #fff, 10vw 6vw #fff, 61vw 66vw #fff, 74vw 38vw #fff, 58vw 58vw #fff, 53vw 9vw #fff, 36vw 93vw #fff, 64vw 70vw #fff, 64vw 50vw #fff, 5vw 26vw #fff, 1vw 49vw #fff, 43vw 7vw #fff, 25vw 18vw #fff, 87vw 93vw #fff, 52vw 69vw #fff, 86vw 100vw #fff, 20vw 60vw #fff, 20vw 97vw #fff, 19vw 15vw #fff, 59vw 43vw #fff, 41vw 89vw #fff, 4vw 49vw #fff, 91vw 72vw #fff, 47vw 17vw #fff, 75vw 86vw #fff, 58vw 100vw #fff, 64vw 40vw #fff, 63vw 61vw #fff, 77vw 61vw #fff, 98vw 17vw #fff, 11vw 63vw #fff, 93vw 63vw #fff, 10vw 5vw #fff, 92vw 97vw #fff, 59vw 45vw #fff, 57vw 4vw #fff, 48vw 52vw #fff, 17vw 6vw #fff, 54vw 55vw #fff, 88vw 49vw #fff, 46vw 56vw #fff, 37vw 63vw #fff, 71vw 64vw #fff, 85vw 57vw #fff, 17vw 40vw #fff, 37vw 96vw #fff, 80vw 75vw #fff, 100vw 7vw #fff, 72vw 1vw #fff, 93vw 87vw #fff, 15vw 23vw #fff, 56vw 85vw #fff, 29vw 56vw #fff, 89vw 7vw #fff, 73vw 52vw #fff, 15vw 94vw #fff, 36vw 79vw #fff, 12vw 91vw #fff, 1vw 88vw #fff, 39vw 96vw #fff, 68vw 52vw #fff, 37vw 8vw #fff, 76vw 55vw #fff, 46vw 32vw #fff, 88vw 38vw #fff, 49vw 12vw #fff, 18vw 19vw #fff, 15vw 40vw #fff, 92vw 6vw #fff, 6vw 87vw #fff, 67vw 68vw #fff, 56vw 20vw #fff, 68vw 25vw #fff, 98vw 18vw #fff, 82vw 38vw #fff, 67vw 35vw #fff, 29vw 74vw #fff, 25vw 100vw #fff, 42vw 20vw #fff, 81vw 93vw #fff, 74vw 94vw #fff, 13vw 99vw #fff, 21vw 4vw #fff, 76vw 34vw #fff, 97vw 16vw #fff, 8vw 63vw #fff, 55vw 45vw #fff, 1vw 62vw #fff, 16vw 37vw #fff, 25vw 5vw #fff, 30vw 97vw #fff, 83vw 93vw #fff, 7vw 48vw #fff, 89vw 63vw #fff, 95vw 70vw #fff, 65vw 85vw #fff, 6vw 50vw #fff, 50vw 100vw #fff, 14vw 94vw #fff, 78vw 77vw #fff, 99vw 17vw #fff, 9vw 8vw #fff, 87vw 2vw #fff, 33vw 93vw #fff, 68vw 92vw #fff, 41vw 86vw #fff, 86vw 61vw #fff, 61vw 78vw #fff, 83vw 2vw #fff, 49vw 72vw #fff, 38vw 29vw #fff, 68vw 27vw #fff, 97vw 33vw #fff, 66vw 99vw #fff, 9vw 18vw #fff, 23vw 75vw #fff, 58vw 76vw #fff, 6vw 82vw #fff, 95vw 79vw #fff, 79vw 34vw #fff, 47vw 99vw #fff, 31vw 28vw #fff, 47vw 78vw #fff, 66vw 97vw #fff, 33vw 28vw #fff, 48vw 32vw #fff, 80vw 46vw #fff, 6vw 9vw #fff, 49vw 52vw #fff, 56vw 50vw #fff, 80vw 64vw #fff, 96vw 49vw #fff, 16vw 61vw #fff, 64vw 22vw #fff, 51vw 26vw #fff, 84vw 58vw #fff, 71vw 66vw #fff, 8vw 52vw #fff, 58vw 13vw #fff, 73vw 60vw #fff, 65vw 46vw #fff, 81vw 25vw #fff, 34vw 1vw #fff, 88vw 62vw #fff, 28vw 67vw #fff, 77vw 26vw #fff, 3vw 63vw #fff, 59vw 16vw #fff, 38vw 92vw #fff, 21vw 56vw #fff, 20vw 28vw #fff, 75vw 2vw #fff, 52vw 41vw #fff, 76vw 50vw #fff, 86vw 15vw #fff, 4vw 78vw #fff, 3vw 45vw #fff, 31vw 10vw #fff, 51vw 80vw #fff, 29vw 6vw #fff, 65vw 27vw #fff, 88vw 34vw #fff, 27vw 62vw #fff, 80vw 21vw #fff, 64vw 92vw #fff, 53vw 49vw #fff, 93vw 88vw #fff, 89vw 98vw #fff, 43vw 27vw #fff, 4vw 70vw #fff, 22vw 45vw #fff, 39vw 20vw #fff, 95vw 51vw #fff, 40vw 28vw #fff, 34vw 12vw #fff, 96vw 75vw #fff, 100vw 80vw #fff, 35vw 9vw #fff, 40vw 8vw #fff, 97vw 40vw #fff, 24vw 21vw #fff, 91vw 31vw #fff, 65vw 23vw #fff, 97vw 2vw #fff, 51vw 95vw #fff, 89vw 24vw #fff, 22vw 58vw #fff, 57vw 46vw #fff, 73vw 5vw #fff, 2vw 34vw #fff, 65vw 11vw #fff, 81vw 38vw #fff, 55vw 73vw #fff, 22vw 82vw #fff, 3vw 39vw #fff, 66vw 100vw #fff, 87vw 98vw #fff, 64vw 41vw #fff, 22vw 39vw #fff, 19vw 92vw #fff, 62vw 98vw #fff, 94vw 41vw #fff, 63vw 25vw #fff, 100vw 39vw #fff, 36vw 80vw #fff, 5vw 94vw #fff, 73vw 99vw #fff, 71vw 41vw #fff, 45vw 7vw #fff, 81vw 93vw #fff, 11vw 93vw #fff, 83vw 9vw #fff, 1vw 15vw #fff, 19vw 82vw #fff, 11vw 74vw #fff, 14vw 7vw #fff, 41vw 12vw #fff, 23vw 34vw #fff, 49vw 2vw #fff, 94vw 4vw #fff, 39vw 7vw #fff, 65vw 29vw #fff, 70vw 16vw #fff, 3vw 84vw #fff, 70vw 29vw #fff, 70vw 95vw #fff, 72vw 76vw #fff, 80vw 90vw #fff, 3vw 42vw #fff, 87vw 22vw #fff, 49vw 79vw #fff, 8vw 63vw #fff, 61vw 58vw #fff, 74vw 27vw #fff, 52vw 11vw #fff, 88vw 64vw #fff, 91vw 31vw #fff, 52vw 53vw #fff, 93vw 86vw #fff, 85vw 17vw #fff, 11vw 78vw #fff, 46vw 80vw #fff, 35vw 39vw #fff, 71vw 26vw #fff, 8vw 75vw #fff, 16vw 57vw #fff, 58vw 12vw #fff, 74vw 87vw #fff, 93vw 46vw #fff, 80vw 41vw #fff, 56vw 5vw #fff, 41vw 7vw #fff, 50vw 85vw #fff, 85vw 25vw #fff, 52vw 48vw #fff, 82vw 47vw #fff, 53vw 20vw #fff, 33vw 33vw #fff, 55vw 71vw #fff, 81vw 20vw #fff, 70vw 34vw #fff, 44vw 2vw #fff, 40vw 15vw #fff, 82vw 33vw #fff, 15vw 36vw #fff, 49vw 83vw #fff, 95vw 49vw #fff, 40vw 58vw #fff, 27vw 99vw #fff, 54vw 88vw #fff, 49vw 9vw #fff, 11vw 42vw #fff, 46vw 72vw #fff, 62vw 60vw #fff, 8vw 94vw #fff, 42vw 76vw #fff, 77vw 56vw #fff, 94vw 93vw #fff, 24vw 41vw #fff, 96vw 4vw #fff, 57vw 96vw #fff, 67vw 100vw #fff, 62vw 54vw #fff, 93vw 54vw #fff, 80vw 16vw #fff, 7vw 63vw #fff, 84vw 49vw #fff, 94vw 96vw #fff, 77vw 73vw #fff, 14vw 86vw #fff, 39vw 3vw #fff, 84vw 89vw #fff, 47vw 52vw #fff, 80vw 97vw #fff, 62vw 92vw #fff, 100vw 89vw #fff, 99vw 53vw #fff, 12vw 15vw #fff, 32vw 30vw #fff, 19vw 38vw #fff, 22vw 2vw #fff, 23vw 52vw #fff, 51vw 88vw #fff, 64vw 70vw #fff, 61vw 83vw #fff, 92vw 51vw #fff, 4vw 7vw #fff, 50vw 38vw #fff, 30vw 85vw #fff, 60vw 23vw #fff, 11vw 64vw #fff, 72vw 23vw #fff, 57vw 86vw #fff, 63vw 13vw #fff, 62vw 55vw #fff, 72vw 88vw #fff, 88vw 89vw #fff, 100vw 11vw #fff, 2vw 76vw #fff, 88vw 34vw #fff, 19vw 18vw #fff, 79vw 55vw #fff, 88vw 67vw #fff, 14vw 42vw #fff, 100vw 44vw #fff, 83vw 33vw #fff, 84vw 41vw #fff, 65vw 46vw #fff, 71vw 93vw #fff, 43vw 79vw #fff, 11vw 6vw #fff, 41vw 69vw #fff, 85vw 15vw #fff, 57vw 66vw #fff, 22vw 48vw #fff, 38vw 66vw #fff, 44vw 63vw #fff, 70vw 38vw #fff, 7vw 94vw #fff, 41vw 88vw #fff, 98vw 58vw #fff, 17vw 79vw #fff, 40vw 30vw #fff, 14vw 21vw #fff, 14vw 1vw #fff, 58vw 48vw #fff, 44vw 47vw #fff, 100vw 81vw #fff, 67vw 30vw #fff, 16vw 94vw #fff, 76vw 92vw #fff, 15vw 9vw #fff, 68vw 50vw #fff, 100vw 47vw #fff, 10vw 80vw #fff, 18vw 5vw #fff, 4vw 39vw #fff, 43vw 44vw #fff, 57vw 22vw #fff, 10vw 94vw #fff, 6vw 75vw #fff, 15vw 77vw #fff, 57vw 43vw #fff, 76vw 71vw #fff, 55vw 61vw #fff, 9vw 83vw #fff, 29vw 16vw #fff, 3vw 38vw #fff, 37vw 21vw #fff, 33vw 27vw #fff, 25vw 69vw #fff, 32vw 98vw #fff, 74vw 91vw #fff, 32vw 100vw #fff, 41vw 48vw #fff, 62vw 87vw #fff, 3vw 92vw #fff, 44vw 42vw #fff, 50vw 91vw #fff, 91vw 70vw #fff, 39vw 94vw #fff, 52vw 24vw #fff, 25vw 53vw #fff, 96vw 11vw #fff, 92vw 28vw #fff, 28vw 78vw #fff, 80vw 53vw #fff, 28vw 17vw #fff, 84vw 91vw #fff, 38vw 76vw #fff, 63vw 84vw #fff, 10vw 98vw #fff, 48vw 92vw #fff, 31vw 31vw #fff, 20vw 94vw #fff, 96vw 97vw #fff, 77vw 68vw #fff, 26vw 62vw #fff, 100vw 51vw #fff, 77vw 32vw #fff, 62vw 19vw #fff, 85vw 40vw #fff, 4vw 95vw #fff, 45vw 11vw #fff, 43vw 74vw #fff, 92vw 79vw #fff, 71vw 73vw #fff, 11vw 72vw #fff, 11vw 17vw #fff, 30vw 96vw #fff, 36vw 70vw #fff, 71vw 35vw #fff, 81vw 73vw #fff, 39vw 16vw #fff, 99vw 85vw #fff, 10vw 62vw #fff, 72vw 36vw #fff, 37vw 31vw #fff, 1vw 63vw #fff, 66vw 46vw #fff, 68vw 63vw #fff, 52vw 63vw #fff, 20vw 16vw #fff, 85vw 37vw #fff, 90vw 75vw #fff, 69vw 41vw #fff, 12vw 22vw #fff, 73vw 66vw #fff, 72vw 5vw #fff, 30vw 70vw #fff, 76vw 57vw #fff, 50vw 32vw #fff, 68vw 98vw #fff, 17vw 42vw #fff, 98vw 33vw #fff, 60vw 81vw #fff, 52vw 74vw #fff, 88vw 42vw #fff, 85vw 66vw #fff, 99vw 69vw #fff, 71vw 39vw #fff, 15vw 13vw #fff, 44vw 48vw #fff, 41vw 67vw #fff, 53vw 49vw #fff, 58vw 8vw #fff, 64vw 15vw #fff, 21vw 76vw #fff, 80vw 67vw #fff, 60vw 92vw #fff, 15vw 86vw #fff, 60vw 31vw #fff, 2vw 15vw #fff, 76vw 13vw #fff, 60vw 76vw #fff, 93vw 13vw #fff, 82vw 42vw #fff, 71vw 49vw #fff, 15vw 82vw #fff, 35vw 82vw #fff, 85vw 45vw #fff, 6vw 3vw #fff, 44vw 54vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 87vw 57vh #fff, 63vw 33vw #fff, 53vw 62vw #fff, 23vw 1vw #fff, 4vw 32vw #fff, 31vw 46vw #fff, 24vw 16vw #fff, 100vw 13vw #fff, 68vw 76vw #fff, 25vw 57vw #fff, 45vw 25vw #fff, 36vw 65vw #fff, 59vw 70vw #fff, 20vw 54vw #fff, 54vw 92vw #fff, 24vw 91vw #fff, 71vw 82vw #fff, 91vw 60vw #fff, 9vw 79vw #fff, 68vw 77vw #fff, 80vw 42vw #fff, 26vw 53vw #fff, 18vw 62vw #fff, 31vw 57vw #fff, 41vw 14vw #fff, 15vw 64vw #fff, 36vw 90vw #fff, 80vw 80vw #fff, 75vw 98vw #fff, 12vw 12vw #fff, 73vw 6vw #fff, 23vw 80vw #fff, 63vw 6vw #fff, 56vw 75vw #fff, 79vw 5vw #fff, 6vw 53vw #fff, 82vw 3vw #fff, 100vw 9vw #fff, 49vw 79vw #fff, 67vw 61vw #fff, 13vw 8vw #fff, 14vw 72vw #fff, 100vw 14vw #fff, 81vw 39vw #fff, 55vw 78vw #fff, 98vw 42vw #fff, 95vw 62vw #fff, 73vw 87vw #fff, 15vw 43vw #fff, 35vw 71vw #fff, 77vw 72vw #fff, 92vw 87vw #fff, 18vw 9vw #fff, 52vw 15vw #fff, 12vw 67vw #fff, 31vw 18vw #fff, 96vw 100vw #fff, 86vw 55vw #fff, 80vw 16vw #fff, 37vw 12vw #fff, 92vw 1vw #fff, 61vw 44vw #fff, 36vw 68vw #fff, 48vw 85vw #fff, 88vw 33vw #fff, 31vw 39vw #fff, 69vw 73vw #fff, 86vw 39vw #fff, 51vw 3vw #fff, 95vw 71vw #fff, 92vw 17vw #fff, 2vw 31vw #fff, 76vw 58vw #fff, 43vw 42vw #fff, 87vw 70vw #fff, 9vw 4vw #fff, 66vw 28vw #fff, 98vw 69vw #fff, 22vw 41vw #fff, 71vw 49vw #fff, 79vw 58vw #fff, 26vw 53vw #fff, 75vw 41vw #fff, 25vw 7vw #fff, 25vw 30vw #fff, 17vw 89vw #fff, 35vw 73vw #fff, 81vw 65vw #fff, 5vw 10vw #fff, 56vw 64vw #fff, 58vw 33vw #fff, 3vw 7vw #fff, 63vw 100vw #fff, 22vw 12vw #fff, 18vw 60vw #fff, 68vw 46vw #fff, 21vw 5vw #fff, 28vw 32vw #fff, 11vw 32vw #fff, 92vw 13vw #fff, 71vw 21vw #fff, 73vw 19vw #fff, 22vw 61vw #fff, 83vw 10vw #fff, 15vw 9vw #fff, 93vw 30vw #fff, 77vw 83vw #fff, 56vw 67vw #fff, 78vw 49vw #fff, 16vw 88vw #fff, 36vw 68vw #fff, 77vw 99vw #fff, 46vw 31vw #fff, 10vw 12vw #fff, 17vw 89vw #fff, 96vw 99vw #fff, 99vw 19vw #fff, 34vw 57vw #fff, 38vw 52vw #fff, 32vw 26vw #fff, 88vw 33vw #fff, 47vw 33vw #fff, 28vw 68vw #fff, 74vw 74vw #fff, 98vw 61vw #fff, 33vw 36vw #fff, 73vw 25vw #fff, 83vw 57vw #fff, 27vw 29vw #fff, 83vw 75vw #fff, 43vw 76vw #fff, 59vw 61vw #fff, 53vw 88vw #fff, 29vw 11vw #fff, 22vw 37vw #fff, 67vw 36vw #fff, 86vw 19vw #fff, 36vw 23vw #fff, 46vw 72vw #fff, 75vw 20vw #fff, 37vw 58vw #fff, 74vw 93vw #fff, 54vw 42vw #fff, 57vw 73vw #fff, 66vw 50vw #fff, 95vw 64vw #fff, 33vw 12vw #fff, 70vw 61vw #fff, 16vw 20vw #fff, 81vw 51vw #fff, 22vw 24vw #fff, 91vw 77vw #fff, 18vw 71vw #fff, 16vw 47vw #fff, 8vw 45vw #fff, 38vw 24vw #fff, 74vw 86vw #fff, 17vw 98vw #fff, 27vw 92vw #fff, 100vw 49vw #fff, 90vw 45vw #fff, 58vw 45vw #fff, 100vw 17vw #fff, 22vw 41vw #fff, 40vw 17vw #fff, 89vw 57vw #fff, 65vw 96vw #fff, 49vw 99vw #fff, 70vw 89vw #fff, 13vw 69vw #fff, 85vw 67vw #fff, 91vw 63vw #fff, 41vw 65vw #fff, 74vw 32vw #fff, 31vw 48vw #fff, 29vw 79vw #fff, 15vw 92vw #fff, 32vw 16vw #fff, 7vw 2vw #fff, 9vw 64vw #fff, 20vw 15vw #fff, 32vw 80vw #fff, 82vw 26vw #fff, 83vw 44vw #fff, 21vw 70vw #fff, 98vw 72vw #fff, 17vw 75vw #fff, 78vw 16vw #fff, 56vw 73vw #fff, 72vw 10vw #fff, 96vw 41vw #fff, 14vw 89vw #fff, 6vw 77vw #fff, 30vw 19vw #fff, 14vw 52vw #fff, 36vw 95vw #fff, 28vw 8vw #fff, 95vw 52vw #fff, 94vw 18vw #fff, 62vw 4vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 87vw 57vh #fff, 63vw 33vw #fff, 53vw 62vw #fff, 23vw 1vw #fff, 4vw 32vw #fff, 31vw 46vw #fff, 24vw 16vw #fff, 100vw 13vw #fff, 68vw 76vw #fff, 25vw 57vw #fff, 45vw 25vw #fff, 36vw 65vw #fff, 59vw 70vw #fff, 20vw 54vw #fff, 54vw 92vw #fff, 24vw 91vw #fff, 71vw 82vw #fff, 91vw 60vw #fff, 9vw 79vw #fff, 68vw 77vw #fff, 80vw 42vw #fff, 26vw 53vw #fff, 18vw 62vw #fff, 31vw 57vw #fff, 41vw 14vw #fff, 15vw 64vw #fff, 36vw 90vw #fff, 80vw 80vw #fff, 75vw 98vw #fff, 12vw 12vw #fff, 73vw 6vw #fff, 23vw 80vw #fff, 63vw 6vw #fff, 56vw 75vw #fff, 79vw 5vw #fff, 6vw 53vw #fff, 82vw 3vw #fff, 100vw 9vw #fff, 49vw 79vw #fff, 67vw 61vw #fff, 13vw 8vw #fff, 14vw 72vw #fff, 100vw 14vw #fff, 81vw 39vw #fff, 55vw 78vw #fff, 98vw 42vw #fff, 95vw 62vw #fff, 73vw 87vw #fff, 15vw 43vw #fff, 35vw 71vw #fff, 77vw 72vw #fff, 92vw 87vw #fff, 18vw 9vw #fff, 52vw 15vw #fff, 12vw 67vw #fff, 31vw 18vw #fff, 96vw 100vw #fff, 86vw 55vw #fff, 80vw 16vw #fff, 37vw 12vw #fff, 92vw 1vw #fff, 61vw 44vw #fff, 36vw 68vw #fff, 48vw 85vw #fff, 88vw 33vw #fff, 31vw 39vw #fff, 69vw 73vw #fff, 86vw 39vw #fff, 51vw 3vw #fff, 95vw 71vw #fff, 92vw 17vw #fff, 2vw 31vw #fff, 76vw 58vw #fff, 43vw 42vw #fff, 87vw 70vw #fff, 9vw 4vw #fff, 66vw 28vw #fff, 98vw 69vw #fff, 22vw 41vw #fff, 71vw 49vw #fff, 79vw 58vw #fff, 26vw 53vw #fff, 75vw 41vw #fff, 25vw 7vw #fff, 25vw 30vw #fff, 17vw 89vw #fff, 35vw 73vw #fff, 81vw 65vw #fff, 5vw 10vw #fff, 56vw 64vw #fff, 58vw 33vw #fff, 3vw 7vw #fff, 63vw 100vw #fff, 22vw 12vw #fff, 18vw 60vw #fff, 68vw 46vw #fff, 21vw 5vw #fff, 28vw 32vw #fff, 11vw 32vw #fff, 92vw 13vw #fff, 71vw 21vw #fff, 73vw 19vw #fff, 22vw 61vw #fff, 83vw 10vw #fff, 15vw 9vw #fff, 93vw 30vw #fff, 77vw 83vw #fff, 56vw 67vw #fff, 78vw 49vw #fff, 16vw 88vw #fff, 36vw 68vw #fff, 77vw 99vw #fff, 46vw 31vw #fff, 10vw 12vw #fff, 17vw 89vw #fff, 96vw 99vw #fff, 99vw 19vw #fff, 34vw 57vw #fff, 38vw 52vw #fff, 32vw 26vw #fff, 88vw 33vw #fff, 47vw 33vw #fff, 28vw 68vw #fff, 74vw 74vw #fff, 98vw 61vw #fff, 33vw 36vw #fff, 73vw 25vw #fff, 83vw 57vw #fff, 27vw 29vw #fff, 83vw 75vw #fff, 43vw 76vw #fff, 59vw 61vw #fff, 53vw 88vw #fff, 29vw 11vw #fff, 22vw 37vw #fff, 67vw 36vw #fff, 86vw 19vw #fff, 36vw 23vw #fff, 46vw 72vw #fff, 75vw 20vw #fff, 37vw 58vw #fff, 74vw 93vw #fff, 54vw 42vw #fff, 57vw 73vw #fff, 66vw 50vw #fff, 95vw 64vw #fff, 33vw 12vw #fff, 70vw 61vw #fff, 16vw 20vw #fff, 81vw 51vw #fff, 22vw 24vw #fff, 91vw 77vw #fff, 18vw 71vw #fff, 16vw 47vw #fff, 8vw 45vw #fff, 38vw 24vw #fff, 74vw 86vw #fff, 17vw 98vw #fff, 27vw 92vw #fff, 100vw 49vw #fff, 90vw 45vw #fff, 58vw 45vw #fff, 100vw 17vw #fff, 22vw 41vw #fff, 40vw 17vw #fff, 89vw 57vw #fff, 65vw 96vw #fff, 49vw 99vw #fff, 70vw 89vw #fff, 13vw 69vw #fff, 85vw 67vw #fff, 91vw 63vw #fff, 41vw 65vw #fff, 74vw 32vw #fff, 31vw 48vw #fff, 29vw 79vw #fff, 15vw 92vw #fff, 32vw 16vw #fff, 7vw 2vw #fff, 9vw 64vw #fff, 20vw 15vw #fff, 32vw 80vw #fff, 82vw 26vw #fff, 83vw 44vw #fff, 21vw 70vw #fff, 98vw 72vw #fff, 17vw 75vw #fff, 78vw 16vw #fff, 56vw 73vw #fff, 72vw 10vw #fff, 96vw 41vw #fff, 14vw 89vw #fff, 6vw 77vw #fff, 30vw 19vw #fff, 14vw 52vw #fff, 36vw 95vw #fff, 28vw 8vw #fff, 95vw 52vw #fff, 94vw 18vw #fff, 62vw 4vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from, to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun, .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%, .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%, .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%, 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%, 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%, 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%, 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%, 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%, 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%, 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%, 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%, 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%, .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%, .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%, .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%, .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%, 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%, 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%, 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%, 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%, 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%, 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%, 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%, 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%, .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }

.constellationMapping {
  background-image: url("./images/star-1050487_960_720.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh; }

.constMap {
  width: 100vw; }

.Layer_0 {
  background-image: url("./images/Layer 0.png");
  position: relative;
  width: 359px;
  height: 278px;
  z-index: 1; }

.Layer_12 {
  background-image: url("./images/Layer 12.png");
  position: absolute;
  left: 9px;
  top: 207px;
  width: 100px;
  height: 53px;
  z-index: 2; }
  .Layer_12:hover {
    background-color: yellow; }

.Layer_11 {
  background-image: url("./images/Layer 11.png");
  position: absolute;
  left: 9px;
  top: 136px;
  width: 74px;
  height: 58px;
  z-index: 3; }
  .Layer_11:hover {
    background-color: yellow; }

.Layer_10 {
  background-image: url("./images/Layer 10.png");
  position: absolute;
  left: 90px;
  top: 142px;
  width: 137px;
  height: 64px;
  z-index: 4; }
  .Layer_10:hover {
    background-color: yellow; }

.Layer_9 {
  background-image: url("./images/Layer 9.png");
  position: absolute;
  left: 109px;
  top: 204px;
  width: 117px;
  height: 48px;
  z-index: 5; }
  .Layer_9:hover {
    background-color: yellow; }

.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 31px;
  top: 71px;
  width: 56px;
  height: 53px;
  z-index: 6; }
  .Layer_1:hover {
    background-color: yellow; }

.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 16px;
  top: 17px;
  width: 68px;
  height: 52px;
  z-index: 5; }
  .Layer_2:hover {
    background-color: yellow; }

.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 103px;
  top: 72px;
  width: 94px;
  height: 80px;
  z-index: 4; }
  .Layer_3:hover {
    background-color: yellow; }

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 119px;
  top: 3px;
  width: 104px;
  height: 61px;
  z-index: 3; }
  .Layer_4:hover {
    background-color: yellow; }

.Layer_5 {
  background-image: url("./images/Layer 5.png");
  position: absolute;
  left: 247px;
  top: 5px;
  width: 74px;
  height: 53px;
  z-index: 2; }
  .Layer_5:hover {
    background-color: yellow; }

.toggled_1 {
  position: absolute;
  right: 0px;
  color: yellow;
  font-size: 20px; }

.toggle_off {
  visibility: visible;
  width: 100px;
  height: 200px;
  position: absolute;
  background-color: blue;
  z-index: 200; }

.toggled_2 {
  position: absolute;
  top: 20px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_3 {
  position: absolute;
  top: 120px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_4 {
  position: absolute;
  top: 110px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_5 {
  position: absolute;
  top: 100px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_6 {
  position: absolute;
  top: 90px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_7 {
  position: absolute;
  top: 80px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_8 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: grey;
  font-size: 20px; }

.toggled_9 {
  position: absolute;
  top: 60px;
  right: 0px;
  color: green;
  font-size: 20px; }

.toggled_10 {
  position: absolute;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_11 {
  position: absolute;
  top: 40px;
  right: 0px;
  color: purple;
  font-size: 20px; }

.toggled_12 {
  position: absolute;
  top: 30px;
  right: 0px;
  color: blue;
  font-size: 20px; }

.display_Box {
  width: 100px;
  height: 200px;
  position: absolute;
  visibility: hidden;
  background-color: blue;
  z-index: 200; }

.Layer_8 {
  background-image: url("./images/Layer 8.png");
  position: absolute;
  left: 233px;
  top: 199px;
  width: 112px;
  height: 67px;
  z-index: 6; }
  .Layer_8:hover {
    background-color: yellow; }

.Layer_7 {
  background-image: url("./images/Layer 7.png");
  position: absolute;
  left: 233px;
  top: 50px;
  width: 109px;
  height: 84px;
  z-index: 7; }
  .Layer_7:hover {
    background-color: yellow; }

.Layer_6 {
  background-image: url("./images/Layer 6.png");
  position: absolute;
  left: 235px;
  top: 124px;
  width: 109px;
  height: 82px;
  z-index: 8; }
  .Layer_6:hover {
    background-color: yellow; }

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 258px;
  top: 6px;
  width: 60px;
  height: 51px;
  z-index: 9; }
  .Layer_4:hover {
    background-color: yellow; }

.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 114px;
  top: 5px;
  width: 105px;
  height: 56px;
  z-index: 10; }
  .Layer_3:hover {
    background-color: yellow; }

.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 23px;
  top: 71px;
  width: 75px;
  height: 48px;
  z-index: 11; }
  .Layer_2:hover {
    background-color: yellow; }

.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 12px;
  top: 13px;
  width: 81px;
  height: 57px;
  z-index: 12; }

.toggled_1 {
  position: absolute;
  right: 0px;
  color: yellow;
  font-size: 20px; }

.toggle_off {
  color: red;
  position: absolute;
  right: 0px;
  visibility: hidden;
  font-size: 20px; }

.toggled_2 {
  position: absolute;
  top: 20px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_3 {
  position: absolute;
  top: 120px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_4 {
  position: absolute;
  top: 110px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_5 {
  position: absolute;
  top: 100px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_6 {
  position: absolute;
  top: 90px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_7 {
  position: absolute;
  top: 80px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_8 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: grey;
  font-size: 20px; }

.toggled_9 {
  position: absolute;
  top: 60px;
  right: 0px;
  color: green;
  font-size: 20px; }

.toggled_10 {
  position: absolute;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_11 {
  position: absolute;
  top: 40px;
  right: 0px;
  color: purple;
  font-size: 20px; }

.toggled_12 {
  position: absolute;
  top: 30px;
  right: 0px;
  color: blue;
  font-size: 20px; }
