@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////
$deepspace : #080C22;
$grey : #333542;
$teal : #28E6F9;
$blue : #1DAEEC;
$dust : #606060;
$moon : #B5B4B5;
$lilac : #BDCAEC;
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', sans-serif;
}


a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Megrim', Serif;
    font-weight: normal;
}

button {
    padding: 8px 70px;
    background: rgba($deepspace, 0.75);
    color: $blue;
    font-family: 'Megrim', Serif;
    font-size: 13pt;
    border: 3px solid transparent;
    border-image: linear-gradient(to top right, #fff 0%, $teal 9%, $deepspace 50%);
    border-image-slice: 1;
}

    body {
        margin: 0;
        padding: 0;
        background-color: rgba(black, 0.2);
        font-family: 'Poiret One', sans-serif;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    label {
        position: absolute;
        z-index: 1;
    }
    input {
        display: none;
    }
    input:checked ~ label {
        left: 0;
    }

// burger
////////////////////////////////////////////////
    .burger {
        position: relative;
        top: 24px;
        cursor: pointer;
    }
    .burger g {
        stroke: #ffffff;
        transition: stroke 0.25s ease-in-out;    
    }
    .burger g:hover {
        stroke: darken(#ffffff, 20%);
    }
    input:checked ~ label .burger {
        opacity: 0;
    }

// close
////////////////////////////////////////////////
    .close {
        position: relative;
        top: 24px;
        cursor: pointer;
        opacity: 0;
    }

    .close g:hover {
        stroke: darken(#ffffff, 20%);
    }

    .close g {
        stroke: #ffffff;
        transition: stroke 0.25s ease-in-out;    
    }

    .close line {
        transform-origin: 0%;
    }

    .close g {
        transform: rotateZ(45deg);
        transform-origin: 50%;
    }

    input:checked ~ label .close {
        opacity: 1;
    }

// menu
////////////////////////////////////////////////

    @mixin cover-background($img-uri, $background-top:"center", $background-left:"center", $background-attachment:"fixed") {
        background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment); 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
    }
    .menu {
        @include cover-background('menu-bg.jpg');
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    input:checked ~ .menu {
        opacity: 1;
    }

    .menu div {
        margin-top: 50px;
        transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    input:checked ~ .menu div {
        margin-top: 0px;
    }



// /////////////////////////////////////////////////////////////////
// Home
// /////////////////////////////////////////////////////////////////
.homepage {
    background: #000;
    color: $moon;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    .logo {
        height: 270px;
        width: 400px;
        margin: auto;
        position: absolute;
        left: 34%;
    }
    .topSVG {
        margin-bottom: -235px;
        position: relative;
        z-index: 5;
        width: 400px;
        height: 260px;
        -webkit-animation: starlight 2s linear alternate forwards;
        .logo-star {
            fill: #fff;
        }
    }
    .bottomSVG {
        background: transparent;
        fill: transparent;
        stroke-dasharray: 210;
        stroke-width: 1;
        stroke: $lilac;
        stroke-dashoffset: 525;
        -webkit-animation: dash 3s linear alternate forwards;
    }
    .starmap {
        display: block; // width: 100vw;
        margin: 20px auto;
    }
}

@-webkit-keyframes starlight {
    0% {
        opacity: 0;
        stroke: $moon;
    }
    100% {
        stroke: $moon;
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash {
    0% {
        opacity: 0;
        stroke: $moon;
    }
    50% {
        opacity: 0;
    }
    90% {
        stroke-width: 1;
    }
    100% {
        stroke: $moon;
        stroke-dashoffset: 0;
    }
}

// /////////////////////////////////////////////////////////////////
// Events
// /////////////////////////////////////////////////////////////////
.events-container {
    .section {
        padding: 20px !important;
    }
}

.types {
    background: #000;
    color: #fff;
}

.lunar-cycle {
    background: $deepspace;
    color: #fff;
    height: 100vh;
    text-align: center;
    background: linear-gradient(#000000, $deepspace);
    h1 {
        color: $teal;
        margin-bottom: 0;
    }
    .lunar-text {
        position: relative;
        z-index: 5;
    } //stars aren't working. figure out later
    @function star-shadow ($n) {
        $value: '#{random(100)}vw #{random(100)}vh #fff';
        @for $i from 2 through $n {
            $value: '#{$value}, #{random(100)}vw #{random(100)}vw #fff'
        }
        @return unquote($value)
    }
    $shadows-small: star-shadow(700);
    $shadows-medium: star-shadow(200);
    $shadows-large: star-shdaow(100);
    .star {
        transform-style: preserve-3d;
        position: fixed;
    }
    .starone {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation-timing-function: ease(in-out-circ);
        animation-direction: alternate;
        &:after {
            content: " ";
            position: absolute;
            top: 100vh;
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
        }
    }
    .startwo {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation-timing-function: ease(in-out-circ);
        animation-direction: alternate;
        &:after {
            content: " ";
            position: absolute;
            top: 100vh;
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
        }
    }
    .starthree {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-large;
        animation-timing-function: ease(in-out-circ);
        animation-direction: alternate;
        &:after {
            content: " ";
            position: absolute;
            top: 100vh;
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-large;
        }
    }
    .tonight-moon {
        display: inline-block;
        vertical-align: top;
        margin-top: 87px;
        margin-right: 3vw;
    }
    #lunar-container {
        margin: auto;
        opacity: 0;
        h3 {
            margin: 0;
            color: $teal;
        }
        p {
            margin: 0;
            margin-bottom: 4px;
            color: $moon;
        }
        #moonCanvas {
            margin: 12px auto 20px auto;
        }
    }
    ul li {
        margin-top: 10px;
        display: inline-block;
        &:before {
            content: '☾ ';
            margin-left: 10px;
        }
    }
    .lunar-cycle-image img {
        width: 50vw;
        margin: auto;
        position: relative;
        z-index: 5;
    }
}

.lunar-eclipse {
    text-align: center;
    color: #fff;
    background: $deepspace;
    .lunar-eclipse-text {
        position: relative;
        z-index: 5;
        text-align: right;
        margin-right: 50px;
    }
    .moon-eclipse {
        position: absolute;
        margin: -37vh auto 0 -54vh;
        width: 130vh;
        z-index: 0;
        height: 130vh;
        border-radius: 50%;
        background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center / 124% 124%;
        animation: eclipse 20s linear infinite;
    }
    @keyframes eclipse {
        0% {
            box-shadow: inset 650px 650px 150px rgba(black, .8);
        }
        50% {
            box-shadow: inset 0 0 150px rgba(black, .8);
        }
        100% {
            box-shadow: inset -650px -650px 150px rgba(black, .8);
        }
    }
}

$se-size: 15vh;
$se-duration: 5s;
.solar-eclipse {
    background: $blue;
    .se-img-container {
        height: 20vh;
        animation: sky $se-duration linear infinite;
        background: $blue;
        @keyframes sky {
            from,
            to {
                background: $blue;
            }
            50% {
                background: black;
            }
        }
    }
    .solar-eclipse-image {
        position: relative;
        width: $se-size;
        height: $se-size;
        transform: translate(calc(49vw - #{$se-size/2}),
        calc(10vh - #{$se-size/2}));
    }
    .sun,
    .moon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(red, .5);
        border-radius: 50%;
    }
    .sun {
        background: gold;
        animation: sun $se-duration linear infinite;
        @keyframes sun {
            50% {
                background: white;
                box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white;
            }
        }
    }
    .moon {
        animation: moon $se-duration linear infinite;
        @keyframes moon {
            from {
                transform: translateX(-110%);
                background: lightgray;
            }
            50% {
                background: black;
            }
            to {
                transform: translateX(110%);
                background: lightgray;
            }
        }
    }
}

.meteor {
    background: $moon;
    padding-bottom: 0 !important;
    $path: "http://orion9.net/_demos/meteorRain/img/";
    /*=======================*/
    /* MIXINS
        /*=======================*/
    @mixin keyframes($animation-name) {
        @-webkit-keyframes #{$animation-name} {
            @content;
        }
        @-moz-keyframes #{$animation-name} {
            @content;
        }
        @-ms-keyframes #{$animation-name} {
            @content;
        }
        @-o-keyframes #{$animation-name} {
            @content;
        }
        @keyframes #{$animation-name} {
            @content;
        }
    }
    @mixin animation($str) {
        -webkit-animation: #{$str};
        -moz-animation: #{$str};
        -ms-animation: #{$str};
        -o-animation: #{$str};
        animation: #{$str};
    }
    @mixin transform($str) {
        -webkit-transform: #{$str};
        -moz-transform: #{$str};
        -ms-transform: #{$str};
        -o-transform: #{$str};
        transform: #{$str};
    }
    @mixin transition($str) {
        -webkit-transition: -webkit-#{$str};
        -moz-transition: -moz-#{$str};
        -ms-transition: -ms-#{$str};
        -o-transition: -o-#{$str};
        transition: #{$str};
    }
    /*=======================*/
    /* SVG ELEMENTS
        /*=======================*/
    #foreground {
        position: relative;
        width: 100vw;
        height: 76vh;
    }
    #foreground>div {
        bottom: 0;
        position: absolute;
        transform-origin: 50% 100%;
        pointer-events: none;
    }
    .grass {
        width: 105%;
        height: 200px;
        left: -2.5%;
        background: url("#{$path}grass.svg") repeat-x bottom center;
        background-position: -100px 100%;
        @include animation("skew4 4s .2s ease-in-out infinite");
    }
    #tree1 {
        width: 335px;
        height: 425px;
        background: url("#{$path}tree1.svg") no-repeat;
        left: calc(15% - 335px / 2);
        @include animation("skew1 8s ease-in-out infinite");
    }
    .reed {
        background: url("#{$path}reed.svg") no-repeat;
        background-size: cover;
    }
    #reed1 {
        left: calc(15% - 335px / 2);
        width: 180px;
        height: 155px;
        @include animation("skew4 4s ease-in-out infinite");
    }
    #reed2 {
        left: calc(15% + 80px / 2);
        width: 200px;
        height: 180px;
        @include animation("skew4 4s .4s ease-in-out infinite");
    }
    #reed3 {
        left: calc(15% - 120px / 2);
        width: 220px;
        height: 200px;
        @include animation("skew4 4s .8s ease-in-out infinite");
    }
    #tree2 {
        width: 245px;
        height: 480px;
        background: url("#{$path}tree2.svg") no-repeat;
        right: calc(15% - 245px / 2);
        @include animation("skew1 8s 2s ease-in-out infinite");
    }
    #bush {
        right: calc(15% - 120px / 2);
        width: 210px;
        height: 135px;
        background: url("#{$path}bush.svg") no-repeat;
        background-size: cover;
        @include animation("skew4 4s .6s ease-in-out infinite");
    }
    #telescope {
        width: 130px;
        height: 150px;
        background: url("#{$path}telescope.svg") no-repeat;
        left: calc(50% + 45px);
        bottom: 55px !important;
    }
    #girl {
        width: 108px;
        height: 136px;
        background: url("#{$path}girl.svg") no-repeat;
        left: calc(50% - 108px / 2);
        bottom: 25px !important;
        cursor: pointer;
        cursor: alias;
        pointer-events: auto !important;
    }
    /*=======================*/
    /* OTHER ELEMENTS
        /*=======================*/
    #halo {
        opacity: 0;
        @include transition("opacity 1s ease-out");
    }
    #halo>div {
        position: absolute;
        width: 100%;
        height: 450px;
        background-color: rgba(170, 255, 230, .05);
        bottom: -275px;
        border-radius: 50%;
        box-shadow: 0 0 55px 0 rgba(170, 255, 230, .1);
        @include animation("halo 4s ease-in-out infinite");
        animation-play-state: paused;
    }
    .meteorShower #halo>div {
        animation-play-state: running;
    }
    /*=======================*/
    /* KEYFRAMES
        /*=======================*/
    @include keyframes(skew1) {
        0%,
        100% {
            @include transform("skewX(0)");
        }
        50% {
            @include transform("skewX(1deg)");
        }
    }
    @include keyframes(skew4) {
        0%,
        100% {
            @include transform("skewX(0)");
        }
        50% {
            @include transform("skewX(4deg)");
        }
    }
    @include keyframes(observing) {
        0%,
        80% {
            @include transform("skewX(0)");
        }
        10%,
        15% {
            @include transform("skewX(-4deg)");
        }
        25%,
        50% {
            @include transform("skewX(-4deg) skewY(4deg)");
        }
        55%,
        70% {
            @include transform("skewX(-4deg)")
        }
    }
    @include keyframes(halo) {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: .5;
        }
    }
}

.planetary {
    background: $dust;
}

// /////////////////////////////////////////////////////////////////
// Constellations
// /////////////////////////////////////////////////////////////////

.constellationMapping{
        background-image: url('./images/star-1050487_960_720.jpg');
        background-size: cover;
        position: absolute;
        width: 100vw;
        height: 100vh;
        .constMap{
            width: 100vw; 
    }
    
   
    .Layer_0 {
        background-image: url("./images/Layer 0.png");
        position: relative;
        // left: 10vw;
        // top: 30vh;
        width: 359px;
        height: 278px;
        z-index: 1;
    }
    .Layer_12  {
        background-image: url("./images/Layer 12.png");
        position: absolute;
        left: 9px;
        top: 207px;
        width: 100px;
        height: 53px;
        z-index: 2;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_11 {
        background-image: url("./images/Layer 11.png");
        position: absolute;
        left: 9px;
        top: 136px;
        width: 74px;
        height: 58px;
        z-index: 3;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_10 {
        background-image: url("./images/Layer 10.png");
        position: absolute;
        left: 90px;
        top: 142px;
        width: 137px;
        height: 64px;
        z-index: 4;
        &:hover{
            background-color: yellow;
        }

    }
}
    .Layer_11 {
        background-image: url("./images/Layer 11.png");
        position: absolute;
        left: 9px;
        top: 136px;
        width: 74px;
        height: 58px;
        z-index: 3;
        &:hover {
            background-color: yellow;
        }
    
    }
    .Layer_10 {
        background-image: url("./images/Layer 10.png");
        position: absolute;
        left: 90px;
        top: 142px;
        width: 137px;
        height: 64px;
        z-index: 4;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_9 {
        background-image: url("./images/Layer 9.png");
        position: absolute;
        left: 109px;
        top: 204px;
        width: 117px;
        height: 48px;
        z-index: 5;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_1 {
        background-image: url("./images/Layer 1.png");
        position: absolute;
        left: 31px;
        top: 71px;
        width: 56px;
        height: 53px;
        z-index: 6;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_2 {
        background-image: url("./images/Layer 2.png");
        position: absolute;
        left: 16px;
        top: 17px;
        width: 68px;
        height: 52px;
        z-index: 5;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_3 {
        background-image: url("./images/Layer 3.png");
        position: absolute;
        left: 103px;
        top: 72px;
        width: 94px;
        height: 80px;
        z-index: 4;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_4 {
        background-image: url("./images/Layer 4.png");
        position: absolute;
        left: 119px;
        top: 3px;
        width: 104px;
        height: 61px;
        z-index: 3;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_5 {
        background-image: url("./images/Layer 5.png");
        position: absolute;
        left: 247px;
        top: 5px;
        width: 74px;
        height: 53px;
        z-index: 2;
        &:hover {
            background-color: yellow;
        }
    }
    .toggled_1 {
        position: absolute;
        right: 0px;
        color: yellow;
        font-size: 20px;
    }
    .toggle_off {
        visibility: visible;
        width: 100px;
        height: 200px;
        position: absolute;
        background-color: blue;
        z-index: 200;
    }
    .toggled_2 {
        position: absolute;
        top: 20px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_3 {
        position: absolute;
        top: 120px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_4 {
        position: absolute;
        top: 110px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_5 {
        position: absolute;
        top: 100px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_6 {
        position: absolute;
        top: 90px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_7 {
        position: absolute;
        top: 80px;
        right: 0px;
        color: white;
        font-size: 20px;
    }
    .toggled_8 {
        position: absolute;
        top: 70px;
        right: 0px;
        color: grey;
        font-size: 20px;
    }
    .toggled_9 {
        position: absolute;
        top: 60px;
        right: 0px;
        color: green;
        font-size: 20px;
    }
    .toggled_10 {
        position: absolute;
        top: 50px;
        right: 0px;
        color: white;
        font-size: 20px;
    }
    .toggled_11 {
        position: absolute;
        top: 40px;
        right: 0px;
        color: purple;
        font-size: 20px;
    }
    .toggled_12 {
        position: absolute;
        top: 30px;
        right: 0px;
        color: blue;
        font-size: 20px;
    }
    .display_Box {
        width: 100px;
        height: 200px;
        position: absolute;
        visibility: hidden;
        background-color: blue;
        z-index: 200;
    }
    .Layer_8 {
        background-image: url("./images/Layer 8.png");
        position: absolute;
        left: 233px;
        top: 199px;
        width: 112px;
        height: 67px;
        z-index: 6;
        &:hover {
            background-color: yellow;
        }
    }
    .Layer_7 {
        background-image: url("./images/Layer 7.png");
        position: absolute;
        left: 233px;
        top: 50px;
        width: 109px;
        height: 84px;
        z-index: 7;
        &:hover {
            background-color: yellow;
        }
    }

    .Layer_6 {
        background-image: url("./images/Layer 6.png");
        position: absolute;
        left: 235px;
        top: 124px;
        width: 109px;
        height: 82px;
        z-index: 8;
        &:hover {
            background-color: yellow;
        }

    .Layer_1 {
    background-image: url("./images/Layer 1.png");
    position: absolute;
    left: 31px;
    top: 71px;
    width: 56px;
    height: 53px;
    z-index: 6;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_2 {
    background-image: url("./images/Layer 2.png");
    position: absolute;
    left: 16px;
    top: 17px;
    width: 68px;
    height: 52px;
    z-index: 5;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_3 {
    background-image: url("./images/Layer 3.png");
    position: absolute;
    left: 103px;
    top: 72px;
    width: 94px;
    height: 80px;
    z-index: 4;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_4 {
        background-image: url("./images/Layer 4.png");
        position: absolute;
        left: 119px;
        top: 3px;
        width: 104px;
        height: 61px;
        z-index: 3;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_5 {
        background-image: url("./images/Layer 5.png");
        position: absolute;
        left: 247px;
        top: 5px;
        width: 74px;
        height: 53px;
        z-index: 2;
        &:hover{
            background-color: yellow;
        }
    }
    .toggled_1{
        position: absolute;
        right: 0px;
        color: yellow;
        font-size: 20px;
    }
    .toggle_off{
        visibility: visible;
        width: 100px;
        height: 200px;
        position: absolute; 
        background-color: blue;
        z-index: 200;
    }
    .toggled_2{
        position: absolute;
        top: 20px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_3{
        position: absolute;
        top: 120px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_4{
        position: absolute;
        top: 110px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_5{
        position: absolute;
        top: 100px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_6{
        position: absolute;
        top: 90px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_7{
        position: absolute;
        top: 80px;
        right: 0px;
        color: white;
        font-size: 20px;
    }
    .toggled_8{
        position: absolute;
        top: 70px;
        right: 0px;
        color: grey;
        font-size: 20px;
    }
    .toggled_9{
        position: absolute;
        top: 60px;
        right: 0px;
        color: green;
        font-size: 20px;
    }
    .toggled_10{
        position: absolute;
        top: 50px;
        right: 0px;
        color: white;
        font-size: 20px;
    }
    .toggled_11{
        position: absolute;
        top: 40px;
        right: 0px;
        color: purple;
        font-size: 20px;
    }
    .toggled_12{
        position: absolute;
        top: 30px;
        right: 0px;
        color: blue;
        font-size: 20px;
    }
    .display_Box {
        width: 100px;
        height: 200px;
        position: absolute;
        visibility: hidden;
        background-color: blue;
        z-index: 200;
    }
    .Layer_8 {
        background-image: url("./images/Layer 8.png");
        position: absolute;
        left: 233px;
        top: 199px;
        width: 112px;
        height: 67px;
        z-index: 6;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_7 {
        background-image: url("./images/Layer 7.png");
        position: absolute;
        left: 233px;
        top: 50px;
        width: 109px;
        height: 84px;
        z-index: 7;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_6 {
        background-image: url("./images/Layer 6.png");
        position: absolute;
        left: 235px;
        top: 124px;
        width: 109px;
        height: 82px;
        z-index: 8;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_4 {
        background-image: url("./images/Layer 4.png");
        position: absolute;
        left: 258px;
        top: 6px;
        width: 60px;
        height: 51px;
        z-index: 9;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_3 {
        background-image: url("./images/Layer 3.png");
        position: absolute;
        left: 114px;
        top: 5px;
        width: 105px;
        height: 56px;
        z-index: 10;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_2 {
        background-image: url("./images/Layer 2.png");
        position: absolute;
        left: 23px;
        top: 71px;
        width: 75px;
        height: 48px;
        z-index: 11;
        &:hover{
            background-color: yellow;
        }
    }
    .Layer_1 {
        background-image: url("./images/Layer 1.png");
        position: absolute;
        left: 12px;
        top: 13px;
        width: 81px;
        height: 57px;
        z-index: 12;
    }
    .toggled_1{
        position: absolute;
        right: 0px;
        color: yellow;
        font-size: 20px;
    }
    .toggle_off{
        color: red;
        position: absolute;
        right: 0px;
        visibility: hidden;
        font-size: 20px;
    }
    .toggled_2{
        position: absolute;
        top: 20px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_3{
        position: absolute;
        top: 120px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_4{
        position: absolute;
        top: 110px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_5{
        position: absolute;
        top: 100px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_6{
        position: absolute;
        top: 90px;
        right: 0px;
        color: red;
        font-size: 20px;
    }
    .toggled_7{
        position: absolute;
        top: 80px;
        right: 0px;
        color: white;
        font-size: 20px;
    }
    .toggled_8{
        position: absolute;
        top: 70px;
        right: 0px;
        color: grey;
        font-size: 20px;
    }
    .toggled_9{
        position: absolute;
        top: 60px;
        right: 0px;
        color: green;
        font-size: 20px;

    }


}

