@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 1; }

input {
  display: none; }

input:checked ~ label {
  left: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

body {
  background-color: #5B80AA; }

label {
  position: absolute;
  z-index: 1; }

input {
  display: none; }

input:checked ~ label {
  right: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.main {
  display: flex;
  width: 100vw;
  height: 100vh; }

.main span {
  margin: auto;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Pacifico', cursive; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 34%; }
    .homepage .logo .homepage {
      background: #000;
      color: #B5B4B5;
      height: 100vh;
      width: 100vw;
      padding-top: 50px; }
      .homepage .logo .homepage .logo {
        height: 270px;
        width: 400px;
        margin: auto;
        position: absolute;
        left: 34%; }
      .homepage .logo .homepage .topSVG {
        margin-bottom: -235px;
        position: relative;
        z-index: 5;
        width: 400px;
        height: 260px;
        -webkit-animation: starlight 2s linear alternate forwards; }
        .homepage .logo .homepage .topSVG .logo-star {
          fill: #fff; }
      .homepage .logo .homepage .bottomSVG {
        background: transparent;
        fill: transparent;
        stroke-dasharray: 800;
        stroke-width: 1;
        stroke: #BDCAEC;
        stroke-dashoffset: 1600;
        -webkit-animation: dash 3s linear alternate forwards; }
      .homepage .logo .homepage .starmap {
        display: block;
        margin: 20px auto; }
    .homepage .logo .topSVG {
      margin-bottom: -235px;
      position: relative;
      z-index: 5;
      width: 400px;
      height: 260px;
      -webkit-animation: starlight 2s linear alternate forwards; }
      .homepage .logo .topSVG .logo-star {
        fill: #fff; }
    .homepage .logo .bottomSVG {
      background: transparent;
      fill: transparent;
      stroke-dasharray: 210;
      stroke-width: 1;
      stroke: #BDCAEC;
      stroke-dashoffset: 525;
      -webkit-animation: dash 3s linear alternate forwards; }
    .homepage .logo .starmap {
      display: block;
      margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }
  .homepage .events-container .section {
    padding: 20px !important; }
  .homepage .types {
    background: #000;
    color: #fff; }
  .homepage .lunar-cycle {
    background: #080C22;
    color: #fff;
    height: 100vh;
    text-align: center;
    background: linear-gradient(#000000, #080C22); }
    .homepage .lunar-cycle h1 {
      color: #28E6F9;
      margin-bottom: 0; }
    .homepage .lunar-cycle .lunar-text {
      position: relative;
      z-index: 5; }
    .homepage .lunar-cycle .star {
      transform-style: preserve-3d;
      position: fixed; }
    .homepage .lunar-cycle .starone {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 66vw 90vh #fff, 79vw 57vw #fff, 6vw 34vw #fff, 61vw 64vw #fff, 56vw 36vw #fff, 80vw 93vw #fff, 43vw 80vw #fff, 47vw 19vw #fff, 43vw 19vw #fff, 64vw 80vw #fff, 49vw 36vw #fff, 78vw 76vw #fff, 53vw 28vw #fff, 66vw 19vw #fff, 83vw 57vw #fff, 43vw 64vw #fff, 31vw 13vw #fff, 6vw 17vw #fff, 77vw 68vw #fff, 66vw 39vw #fff, 30vw 70vw #fff, 18vw 99vw #fff, 85vw 84vw #fff, 21vw 87vw #fff, 32vw 8vw #fff, 75vw 67vw #fff, 99vw 55vw #fff, 59vw 30vw #fff, 47vw 25vw #fff, 81vw 56vw #fff, 79vw 48vw #fff, 94vw 92vw #fff, 18vw 8vw #fff, 100vw 16vw #fff, 52vw 91vw #fff, 55vw 28vw #fff, 39vw 25vw #fff, 54vw 72vw #fff, 84vw 77vw #fff, 56vw 90vw #fff, 25vw 73vw #fff, 62vw 40vw #fff, 96vw 90vw #fff, 22vw 52vw #fff, 100vw 68vw #fff, 39vw 91vw #fff, 67vw 85vw #fff, 85vw 21vw #fff, 100vw 89vw #fff, 15vw 90vw #fff, 87vw 54vw #fff, 23vw 42vw #fff, 1vw 68vw #fff, 38vw 45vw #fff, 30vw 5vw #fff, 15vw 50vw #fff, 17vw 26vw #fff, 73vw 44vw #fff, 25vw 71vw #fff, 76vw 42vw #fff, 86vw 9vw #fff, 3vw 76vw #fff, 98vw 3vw #fff, 73vw 77vw #fff, 70vw 95vw #fff, 13vw 66vw #fff, 2vw 83vw #fff, 64vw 54vw #fff, 26vw 70vw #fff, 53vw 55vw #fff, 27vw 5vw #fff, 14vw 75vw #fff, 86vw 39vw #fff, 89vw 82vw #fff, 4vw 54vw #fff, 5vw 97vw #fff, 100vw 50vw #fff, 32vw 80vw #fff, 16vw 73vw #fff, 85vw 41vw #fff, 29vw 80vw #fff, 60vw 36vw #fff, 42vw 24vw #fff, 27vw 3vw #fff, 87vw 83vw #fff, 4vw 100vw #fff, 76vw 65vw #fff, 15vw 96vw #fff, 10vw 95vw #fff, 5vw 75vw #fff, 15vw 71vw #fff, 60vw 100vw #fff, 33vw 95vw #fff, 64vw 16vw #fff, 57vw 82vw #fff, 91vw 60vw #fff, 98vw 16vw #fff, 55vw 12vw #fff, 35vw 58vw #fff, 98vw 43vw #fff, 80vw 50vw #fff, 71vw 61vw #fff, 21vw 27vw #fff, 86vw 1vw #fff, 2vw 94vw #fff, 52vw 8vw #fff, 17vw 99vw #fff, 8vw 57vw #fff, 100vw 37vw #fff, 39vw 46vw #fff, 67vw 99vw #fff, 24vw 8vw #fff, 3vw 90vw #fff, 7vw 56vw #fff, 5vw 18vw #fff, 65vw 14vw #fff, 96vw 42vw #fff, 93vw 2vw #fff, 100vw 61vw #fff, 3vw 88vw #fff, 42vw 9vw #fff, 33vw 28vw #fff, 94vw 99vw #fff, 6vw 97vw #fff, 32vw 23vw #fff, 18vw 97vw #fff, 78vw 57vw #fff, 24vw 62vw #fff, 54vw 99vw #fff, 67vw 61vw #fff, 91vw 95vw #fff, 97vw 21vw #fff, 32vw 13vw #fff, 4vw 65vw #fff, 61vw 14vw #fff, 83vw 88vw #fff, 41vw 6vw #fff, 77vw 1vw #fff, 53vw 100vw #fff, 34vw 47vw #fff, 97vw 56vw #fff, 9vw 80vw #fff, 42vw 85vw #fff, 61vw 11vw #fff, 32vw 7vw #fff, 5vw 74vw #fff, 37vw 48vw #fff, 52vw 63vw #fff, 42vw 97vw #fff, 85vw 60vw #fff, 73vw 45vw #fff, 27vw 36vw #fff, 50vw 18vw #fff, 66vw 97vw #fff, 62vw 42vw #fff, 21vw 62vw #fff, 8vw 4vw #fff, 97vw 61vw #fff, 10vw 46vw #fff, 49vw 76vw #fff, 23vw 37vw #fff, 9vw 22vw #fff, 13vw 66vw #fff, 62vw 79vw #fff, 80vw 39vw #fff, 70vw 99vw #fff, 23vw 31vw #fff, 85vw 5vw #fff, 69vw 39vw #fff, 22vw 9vw #fff, 86vw 17vw #fff, 88vw 2vw #fff, 3vw 28vw #fff, 27vw 77vw #fff, 83vw 36vw #fff, 97vw 56vw #fff, 43vw 32vw #fff, 83vw 2vw #fff, 56vw 63vw #fff, 12vw 6vw #fff, 40vw 92vw #fff, 55vw 8vw #fff, 31vw 86vw #fff, 64vw 35vw #fff, 82vw 77vw #fff, 52vw 68vw #fff, 54vw 42vw #fff, 43vw 63vw #fff, 24vw 48vw #fff, 92vw 75vw #fff, 44vw 79vw #fff, 28vw 48vw #fff, 2vw 58vw #fff, 76vw 67vw #fff, 33vw 91vw #fff, 22vw 56vw #fff, 41vw 71vw #fff, 86vw 8vw #fff, 29vw 80vw #fff, 100vw 79vw #fff, 21vw 63vw #fff, 10vw 64vw #fff, 75vw 66vw #fff, 9vw 9vw #fff, 92vw 9vw #fff, 17vw 55vw #fff, 42vw 61vw #fff, 50vw 74vw #fff, 98vw 90vw #fff, 75vw 38vw #fff, 32vw 10vw #fff, 46vw 64vw #fff, 55vw 96vw #fff, 42vw 33vw #fff, 60vw 37vw #fff, 82vw 46vw #fff, 53vw 74vw #fff, 61vw 76vw #fff, 63vw 98vw #fff, 70vw 28vw #fff, 30vw 75vw #fff, 95vw 87vw #fff, 42vw 46vw #fff, 87vw 55vw #fff, 4vw 95vw #fff, 55vw 41vw #fff, 43vw 23vw #fff, 43vw 56vw #fff, 21vw 92vw #fff, 89vw 72vw #fff, 63vw 54vw #fff, 53vw 53vw #fff, 75vw 58vw #fff, 59vw 76vw #fff, 58vw 30vw #fff, 19vw 43vw #fff, 12vw 32vw #fff, 11vw 63vw #fff, 41vw 20vw #fff, 23vw 10vw #fff, 43vw 19vw #fff, 36vw 96vw #fff, 13vw 45vw #fff, 66vw 85vw #fff, 72vw 33vw #fff, 24vw 48vw #fff, 19vw 94vw #fff, 57vw 8vw #fff, 58vw 92vw #fff, 67vw 43vw #fff, 2vw 14vw #fff, 1vw 78vw #fff, 7vw 13vw #fff, 12vw 91vw #fff, 24vw 45vw #fff, 83vw 31vw #fff, 98vw 63vw #fff, 1vw 98vw #fff, 32vw 100vw #fff, 49vw 25vw #fff, 88vw 78vw #fff, 44vw 96vw #fff, 59vw 9vw #fff, 24vw 49vw #fff, 7vw 51vw #fff, 27vw 93vw #fff, 35vw 2vw #fff, 81vw 16vw #fff, 66vw 80vw #fff, 22vw 98vw #fff, 9vw 32vw #fff, 77vw 27vw #fff, 75vw 66vw #fff, 3vw 62vw #fff, 97vw 59vw #fff, 44vw 10vw #fff, 65vw 8vw #fff, 25vw 60vw #fff, 96vw 75vw #fff, 74vw 63vw #fff, 19vw 64vw #fff, 27vw 98vw #fff, 93vw 46vw #fff, 53vw 26vw #fff, 68vw 71vw #fff, 16vw 100vw #fff, 67vw 36vw #fff, 88vw 48vw #fff, 68vw 76vw #fff, 96vw 99vw #fff, 17vw 48vw #fff, 55vw 32vw #fff, 63vw 59vw #fff, 37vw 37vw #fff, 33vw 70vw #fff, 73vw 11vw #fff, 2vw 63vw #fff, 63vw 64vw #fff, 65vw 93vw #fff, 71vw 39vw #fff, 20vw 94vw #fff, 88vw 86vw #fff, 25vw 34vw #fff, 78vw 49vw #fff, 81vw 81vw #fff, 81vw 29vw #fff, 73vw 46vw #fff, 4vw 17vw #fff, 57vw 4vw #fff, 38vw 96vw #fff, 82vw 22vw #fff, 17vw 29vw #fff, 42vw 17vw #fff, 54vw 96vw #fff, 91vw 28vw #fff, 40vw 74vw #fff, 39vw 72vw #fff, 75vw 84vw #fff, 88vw 89vw #fff, 71vw 5vw #fff, 91vw 30vw #fff, 40vw 13vw #fff, 36vw 40vw #fff, 94vw 47vw #fff, 33vw 25vw #fff, 95vw 89vw #fff, 48vw 26vw #fff, 44vw 63vw #fff, 31vw 53vw #fff, 81vw 25vw #fff, 26vw 36vw #fff, 65vw 56vw #fff, 18vw 13vw #fff, 7vw 69vw #fff, 8vw 67vw #fff, 38vw 88vw #fff, 45vw 47vw #fff, 11vw 99vw #fff, 48vw 72vw #fff, 89vw 81vw #fff, 21vw 48vw #fff, 26vw 52vw #fff, 52vw 12vw #fff, 63vw 54vw #fff, 74vw 29vw #fff, 93vw 94vw #fff, 41vw 82vw #fff, 67vw 46vw #fff, 39vw 58vw #fff, 72vw 5vw #fff, 37vw 16vw #fff, 42vw 92vw #fff, 98vw 50vw #fff, 28vw 8vw #fff, 12vw 31vw #fff, 49vw 34vw #fff, 26vw 54vw #fff, 2vw 45vw #fff, 89vw 15vw #fff, 40vw 60vw #fff, 38vw 50vw #fff, 51vw 27vw #fff, 62vw 62vw #fff, 77vw 36vw #fff, 32vw 20vw #fff, 85vw 98vw #fff, 67vw 12vw #fff, 30vw 8vw #fff, 25vw 50vw #fff, 61vw 16vw #fff, 4vw 15vw #fff, 46vw 9vw #fff, 31vw 87vw #fff, 91vw 65vw #fff, 93vw 91vw #fff, 3vw 77vw #fff, 14vw 48vw #fff, 26vw 32vw #fff, 64vw 45vw #fff, 81vw 22vw #fff, 88vw 17vw #fff, 55vw 94vw #fff, 76vw 4vw #fff, 62vw 88vw #fff, 56vw 56vw #fff, 5vw 63vw #fff, 47vw 91vw #fff, 39vw 18vw #fff, 15vw 64vw #fff, 65vw 87vw #fff, 45vw 6vw #fff, 41vw 85vw #fff, 22vw 13vw #fff, 71vw 74vw #fff, 26vw 67vw #fff, 10vw 96vw #fff, 9vw 53vw #fff, 80vw 28vw #fff, 77vw 47vw #fff, 100vw 34vw #fff, 25vw 87vw #fff, 55vw 75vw #fff, 97vw 4vw #fff, 17vw 57vw #fff, 33vw 57vw #fff, 100vw 10vw #fff, 83vw 50vw #fff, 52vw 32vw #fff, 23vw 57vw #fff, 14vw 55vw #fff, 13vw 64vw #fff, 31vw 88vw #fff, 75vw 67vw #fff, 13vw 12vw #fff, 71vw 63vw #fff, 13vw 30vw #fff, 100vw 63vw #fff, 41vw 84vw #fff, 26vw 24vw #fff, 56vw 12vw #fff, 77vw 73vw #fff, 72vw 9vw #fff, 25vw 24vw #fff, 46vw 22vw #fff, 88vw 15vw #fff, 80vw 81vw #fff, 21vw 17vw #fff, 69vw 99vw #fff, 59vw 74vw #fff, 22vw 99vw #fff, 63vw 68vw #fff, 75vw 15vw #fff, 51vw 23vw #fff, 12vw 42vw #fff, 92vw 94vw #fff, 29vw 13vw #fff, 86vw 14vw #fff, 17vw 96vw #fff, 70vw 7vw #fff, 83vw 16vw #fff, 15vw 75vw #fff, 96vw 11vw #fff, 78vw 18vw #fff, 82vw 3vw #fff, 60vw 89vw #fff, 27vw 53vw #fff, 50vw 2vw #fff, 20vw 82vw #fff, 74vw 22vw #fff, 39vw 46vw #fff, 48vw 15vw #fff, 7vw 88vw #fff, 47vw 9vw #fff, 52vw 90vw #fff, 83vw 69vw #fff, 59vw 54vw #fff, 41vw 9vw #fff, 1vw 93vw #fff, 18vw 65vw #fff, 15vw 1vw #fff, 67vw 64vw #fff, 16vw 1vw #fff, 66vw 20vw #fff, 8vw 3vw #fff, 53vw 72vw #fff, 77vw 2vw #fff, 70vw 44vw #fff, 79vw 13vw #fff, 45vw 78vw #fff, 90vw 43vw #fff, 97vw 92vw #fff, 73vw 96vw #fff, 75vw 2vw #fff, 84vw 70vw #fff, 54vw 79vw #fff, 77vw 9vw #fff, 6vw 74vw #fff, 84vw 17vw #fff, 62vw 47vw #fff, 36vw 53vw #fff, 32vw 28vw #fff, 92vw 17vw #fff, 96vw 22vw #fff, 1vw 45vw #fff, 85vw 70vw #fff, 27vw 20vw #fff, 95vw 57vw #fff, 28vw 93vw #fff, 40vw 54vw #fff, 19vw 87vw #fff, 87vw 48vw #fff, 21vw 61vw #fff, 100vw 75vw #fff, 87vw 88vw #fff, 92vw 48vw #fff, 58vw 85vw #fff, 43vw 54vw #fff, 21vw 73vw #fff, 87vw 99vw #fff, 100vw 98vw #fff, 97vw 57vw #fff, 64vw 20vw #fff, 15vw 59vw #fff, 35vw 76vw #fff, 68vw 80vw #fff, 11vw 75vw #fff, 71vw 94vw #fff, 8vw 14vw #fff, 27vw 28vw #fff, 23vw 5vw #fff, 92vw 21vw #fff, 76vw 27vw #fff, 61vw 69vw #fff, 54vw 60vw #fff, 67vw 64vw #fff, 2vw 67vw #fff, 4vw 33vw #fff, 30vw 82vw #fff, 55vw 30vw #fff, 60vw 20vw #fff, 7vw 94vw #fff, 91vw 1vw #fff, 72vw 98vw #fff, 95vw 50vw #fff, 59vw 18vw #fff, 10vw 19vw #fff, 37vw 76vw #fff, 98vw 66vw #fff, 23vw 33vw #fff, 57vw 37vw #fff, 81vw 85vw #fff, 2vw 74vw #fff, 78vw 21vw #fff, 3vw 88vw #fff, 91vw 87vw #fff, 63vw 51vw #fff, 6vw 97vw #fff, 29vw 25vw #fff, 13vw 41vw #fff, 36vw 9vw #fff, 12vw 61vw #fff, 86vw 28vw #fff, 78vw 90vw #fff, 33vw 93vw #fff, 97vw 72vw #fff, 65vw 30vw #fff, 19vw 18vw #fff, 17vw 95vw #fff, 24vw 22vw #fff, 67vw 98vw #fff, 71vw 56vw #fff, 34vw 13vw #fff, 24vw 10vw #fff, 71vw 18vw #fff, 25vw 82vw #fff, 2vw 7vw #fff, 16vw 58vw #fff, 34vw 19vw #fff, 79vw 62vw #fff, 26vw 19vw #fff, 95vw 100vw #fff, 82vw 24vw #fff, 27vw 2vw #fff, 38vw 83vw #fff, 84vw 29vw #fff, 83vw 84vw #fff, 23vw 100vw #fff, 51vw 98vw #fff, 91vw 66vw #fff, 11vw 47vw #fff, 41vw 41vw #fff, 22vw 73vw #fff, 30vw 41vw #fff, 67vw 16vw #fff, 93vw 13vw #fff, 89vw 14vw #fff, 31vw 49vw #fff, 44vw 9vw #fff, 30vw 79vw #fff, 71vw 63vw #fff, 65vw 81vw #fff, 38vw 3vw #fff, 73vw 47vw #fff, 76vw 62vw #fff, 62vw 37vw #fff, 99vw 87vw #fff, 37vw 81vw #fff, 2vw 42vw #fff, 90vw 73vw #fff, 68vw 19vw #fff, 35vw 83vw #fff, 57vw 80vw #fff, 38vw 33vw #fff, 17vw 17vw #fff, 50vw 99vw #fff, 72vw 2vw #fff, 96vw 8vw #fff, 22vw 100vw #fff, 34vw 74vw #fff, 50vw 20vw #fff, 61vw 59vw #fff, 38vw 86vw #fff, 88vw 39vw #fff, 88vw 38vw #fff, 86vw 54vw #fff, 89vw 72vw #fff, 59vw 87vw #fff, 35vw 1vw #fff, 72vw 48vw #fff, 66vw 2vw #fff, 78vw 76vw #fff, 25vw 7vw #fff, 24vw 97vw #fff, 99vw 17vw #fff, 42vw 62vw #fff, 70vw 74vw #fff, 69vw 29vw #fff, 64vw 58vw #fff, 71vw 57vw #fff, 80vw 31vw #fff, 39vw 92vw #fff, 16vw 19vw #fff, 20vw 28vw #fff, 47vw 45vw #fff, 9vw 67vw #fff, 24vw 29vw #fff, 16vw 15vw #fff, 74vw 84vw #fff, 76vw 51vw #fff, 20vw 9vw #fff, 48vw 6vw #fff, 9vw 34vw #fff, 90vw 27vw #fff, 50vw 95vw #fff, 82vw 84vw #fff, 10vw 22vw #fff, 82vw 98vw #fff, 55vw 100vw #fff, 45vw 93vw #fff, 35vw 48vw #fff, 42vw 34vw #fff, 77vw 4vw #fff, 33vw 86vw #fff, 59vw 93vw #fff, 62vw 21vw #fff, 92vw 49vw #fff, 62vw 45vw #fff, 23vw 37vw #fff, 30vw 24vw #fff, 33vw 52vw #fff, 95vw 66vw #fff, 96vw 92vw #fff, 6vw 9vw #fff, 93vw 91vw #fff, 71vw 83vw #fff, 6vw 29vw #fff, 3vw 35vw #fff, 28vw 76vw #fff, 35vw 3vw #fff, 21vw 78vw #fff, 52vw 44vw #fff, 93vw 80vw #fff, 59vw 62vw #fff, 92vw 31vw #fff, 72vw 27vw #fff, 99vw 15vw #fff, 95vw 41vw #fff, 60vw 71vw #fff, 67vw 33vw #fff, 99vw 16vw #fff, 84vw 2vw #fff, 89vw 87vw #fff, 72vw 71vw #fff, 7vw 97vw #fff, 21vw 5vw #fff, 14vw 45vw #fff, 82vw 3vw #fff, 50vw 68vw #fff, 62vw 74vw #fff, 9vw 74vw #fff, 39vw 68vw #fff, 85vw 100vw #fff, 63vw 39vw #fff, 13vw 72vw #fff, 85vw 59vw #fff, 12vw 76vw #fff, 12vw 82vw #fff, 67vw 85vw #fff, 97vw 100vw #fff, 38vw 88vw #fff, 93vw 61vw #fff, 97vw 6vw #fff, 21vw 44vw #fff, 1vw 32vw #fff, 57vw 82vw #fff, 4vw 94vw #fff, 8vw 79vw #fff, 68vw 31vw #fff, 3vw 28vw #fff, 28vw 54vw #fff;
      animation-timing-function: ease(in-out-circ);
      animation-direction: alternate; }
      .homepage .lunar-cycle .starone:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 66vw 90vh #fff, 79vw 57vw #fff, 6vw 34vw #fff, 61vw 64vw #fff, 56vw 36vw #fff, 80vw 93vw #fff, 43vw 80vw #fff, 47vw 19vw #fff, 43vw 19vw #fff, 64vw 80vw #fff, 49vw 36vw #fff, 78vw 76vw #fff, 53vw 28vw #fff, 66vw 19vw #fff, 83vw 57vw #fff, 43vw 64vw #fff, 31vw 13vw #fff, 6vw 17vw #fff, 77vw 68vw #fff, 66vw 39vw #fff, 30vw 70vw #fff, 18vw 99vw #fff, 85vw 84vw #fff, 21vw 87vw #fff, 32vw 8vw #fff, 75vw 67vw #fff, 99vw 55vw #fff, 59vw 30vw #fff, 47vw 25vw #fff, 81vw 56vw #fff, 79vw 48vw #fff, 94vw 92vw #fff, 18vw 8vw #fff, 100vw 16vw #fff, 52vw 91vw #fff, 55vw 28vw #fff, 39vw 25vw #fff, 54vw 72vw #fff, 84vw 77vw #fff, 56vw 90vw #fff, 25vw 73vw #fff, 62vw 40vw #fff, 96vw 90vw #fff, 22vw 52vw #fff, 100vw 68vw #fff, 39vw 91vw #fff, 67vw 85vw #fff, 85vw 21vw #fff, 100vw 89vw #fff, 15vw 90vw #fff, 87vw 54vw #fff, 23vw 42vw #fff, 1vw 68vw #fff, 38vw 45vw #fff, 30vw 5vw #fff, 15vw 50vw #fff, 17vw 26vw #fff, 73vw 44vw #fff, 25vw 71vw #fff, 76vw 42vw #fff, 86vw 9vw #fff, 3vw 76vw #fff, 98vw 3vw #fff, 73vw 77vw #fff, 70vw 95vw #fff, 13vw 66vw #fff, 2vw 83vw #fff, 64vw 54vw #fff, 26vw 70vw #fff, 53vw 55vw #fff, 27vw 5vw #fff, 14vw 75vw #fff, 86vw 39vw #fff, 89vw 82vw #fff, 4vw 54vw #fff, 5vw 97vw #fff, 100vw 50vw #fff, 32vw 80vw #fff, 16vw 73vw #fff, 85vw 41vw #fff, 29vw 80vw #fff, 60vw 36vw #fff, 42vw 24vw #fff, 27vw 3vw #fff, 87vw 83vw #fff, 4vw 100vw #fff, 76vw 65vw #fff, 15vw 96vw #fff, 10vw 95vw #fff, 5vw 75vw #fff, 15vw 71vw #fff, 60vw 100vw #fff, 33vw 95vw #fff, 64vw 16vw #fff, 57vw 82vw #fff, 91vw 60vw #fff, 98vw 16vw #fff, 55vw 12vw #fff, 35vw 58vw #fff, 98vw 43vw #fff, 80vw 50vw #fff, 71vw 61vw #fff, 21vw 27vw #fff, 86vw 1vw #fff, 2vw 94vw #fff, 52vw 8vw #fff, 17vw 99vw #fff, 8vw 57vw #fff, 100vw 37vw #fff, 39vw 46vw #fff, 67vw 99vw #fff, 24vw 8vw #fff, 3vw 90vw #fff, 7vw 56vw #fff, 5vw 18vw #fff, 65vw 14vw #fff, 96vw 42vw #fff, 93vw 2vw #fff, 100vw 61vw #fff, 3vw 88vw #fff, 42vw 9vw #fff, 33vw 28vw #fff, 94vw 99vw #fff, 6vw 97vw #fff, 32vw 23vw #fff, 18vw 97vw #fff, 78vw 57vw #fff, 24vw 62vw #fff, 54vw 99vw #fff, 67vw 61vw #fff, 91vw 95vw #fff, 97vw 21vw #fff, 32vw 13vw #fff, 4vw 65vw #fff, 61vw 14vw #fff, 83vw 88vw #fff, 41vw 6vw #fff, 77vw 1vw #fff, 53vw 100vw #fff, 34vw 47vw #fff, 97vw 56vw #fff, 9vw 80vw #fff, 42vw 85vw #fff, 61vw 11vw #fff, 32vw 7vw #fff, 5vw 74vw #fff, 37vw 48vw #fff, 52vw 63vw #fff, 42vw 97vw #fff, 85vw 60vw #fff, 73vw 45vw #fff, 27vw 36vw #fff, 50vw 18vw #fff, 66vw 97vw #fff, 62vw 42vw #fff, 21vw 62vw #fff, 8vw 4vw #fff, 97vw 61vw #fff, 10vw 46vw #fff, 49vw 76vw #fff, 23vw 37vw #fff, 9vw 22vw #fff, 13vw 66vw #fff, 62vw 79vw #fff, 80vw 39vw #fff, 70vw 99vw #fff, 23vw 31vw #fff, 85vw 5vw #fff, 69vw 39vw #fff, 22vw 9vw #fff, 86vw 17vw #fff, 88vw 2vw #fff, 3vw 28vw #fff, 27vw 77vw #fff, 83vw 36vw #fff, 97vw 56vw #fff, 43vw 32vw #fff, 83vw 2vw #fff, 56vw 63vw #fff, 12vw 6vw #fff, 40vw 92vw #fff, 55vw 8vw #fff, 31vw 86vw #fff, 64vw 35vw #fff, 82vw 77vw #fff, 52vw 68vw #fff, 54vw 42vw #fff, 43vw 63vw #fff, 24vw 48vw #fff, 92vw 75vw #fff, 44vw 79vw #fff, 28vw 48vw #fff, 2vw 58vw #fff, 76vw 67vw #fff, 33vw 91vw #fff, 22vw 56vw #fff, 41vw 71vw #fff, 86vw 8vw #fff, 29vw 80vw #fff, 100vw 79vw #fff, 21vw 63vw #fff, 10vw 64vw #fff, 75vw 66vw #fff, 9vw 9vw #fff, 92vw 9vw #fff, 17vw 55vw #fff, 42vw 61vw #fff, 50vw 74vw #fff, 98vw 90vw #fff, 75vw 38vw #fff, 32vw 10vw #fff, 46vw 64vw #fff, 55vw 96vw #fff, 42vw 33vw #fff, 60vw 37vw #fff, 82vw 46vw #fff, 53vw 74vw #fff, 61vw 76vw #fff, 63vw 98vw #fff, 70vw 28vw #fff, 30vw 75vw #fff, 95vw 87vw #fff, 42vw 46vw #fff, 87vw 55vw #fff, 4vw 95vw #fff, 55vw 41vw #fff, 43vw 23vw #fff, 43vw 56vw #fff, 21vw 92vw #fff, 89vw 72vw #fff, 63vw 54vw #fff, 53vw 53vw #fff, 75vw 58vw #fff, 59vw 76vw #fff, 58vw 30vw #fff, 19vw 43vw #fff, 12vw 32vw #fff, 11vw 63vw #fff, 41vw 20vw #fff, 23vw 10vw #fff, 43vw 19vw #fff, 36vw 96vw #fff, 13vw 45vw #fff, 66vw 85vw #fff, 72vw 33vw #fff, 24vw 48vw #fff, 19vw 94vw #fff, 57vw 8vw #fff, 58vw 92vw #fff, 67vw 43vw #fff, 2vw 14vw #fff, 1vw 78vw #fff, 7vw 13vw #fff, 12vw 91vw #fff, 24vw 45vw #fff, 83vw 31vw #fff, 98vw 63vw #fff, 1vw 98vw #fff, 32vw 100vw #fff, 49vw 25vw #fff, 88vw 78vw #fff, 44vw 96vw #fff, 59vw 9vw #fff, 24vw 49vw #fff, 7vw 51vw #fff, 27vw 93vw #fff, 35vw 2vw #fff, 81vw 16vw #fff, 66vw 80vw #fff, 22vw 98vw #fff, 9vw 32vw #fff, 77vw 27vw #fff, 75vw 66vw #fff, 3vw 62vw #fff, 97vw 59vw #fff, 44vw 10vw #fff, 65vw 8vw #fff, 25vw 60vw #fff, 96vw 75vw #fff, 74vw 63vw #fff, 19vw 64vw #fff, 27vw 98vw #fff, 93vw 46vw #fff, 53vw 26vw #fff, 68vw 71vw #fff, 16vw 100vw #fff, 67vw 36vw #fff, 88vw 48vw #fff, 68vw 76vw #fff, 96vw 99vw #fff, 17vw 48vw #fff, 55vw 32vw #fff, 63vw 59vw #fff, 37vw 37vw #fff, 33vw 70vw #fff, 73vw 11vw #fff, 2vw 63vw #fff, 63vw 64vw #fff, 65vw 93vw #fff, 71vw 39vw #fff, 20vw 94vw #fff, 88vw 86vw #fff, 25vw 34vw #fff, 78vw 49vw #fff, 81vw 81vw #fff, 81vw 29vw #fff, 73vw 46vw #fff, 4vw 17vw #fff, 57vw 4vw #fff, 38vw 96vw #fff, 82vw 22vw #fff, 17vw 29vw #fff, 42vw 17vw #fff, 54vw 96vw #fff, 91vw 28vw #fff, 40vw 74vw #fff, 39vw 72vw #fff, 75vw 84vw #fff, 88vw 89vw #fff, 71vw 5vw #fff, 91vw 30vw #fff, 40vw 13vw #fff, 36vw 40vw #fff, 94vw 47vw #fff, 33vw 25vw #fff, 95vw 89vw #fff, 48vw 26vw #fff, 44vw 63vw #fff, 31vw 53vw #fff, 81vw 25vw #fff, 26vw 36vw #fff, 65vw 56vw #fff, 18vw 13vw #fff, 7vw 69vw #fff, 8vw 67vw #fff, 38vw 88vw #fff, 45vw 47vw #fff, 11vw 99vw #fff, 48vw 72vw #fff, 89vw 81vw #fff, 21vw 48vw #fff, 26vw 52vw #fff, 52vw 12vw #fff, 63vw 54vw #fff, 74vw 29vw #fff, 93vw 94vw #fff, 41vw 82vw #fff, 67vw 46vw #fff, 39vw 58vw #fff, 72vw 5vw #fff, 37vw 16vw #fff, 42vw 92vw #fff, 98vw 50vw #fff, 28vw 8vw #fff, 12vw 31vw #fff, 49vw 34vw #fff, 26vw 54vw #fff, 2vw 45vw #fff, 89vw 15vw #fff, 40vw 60vw #fff, 38vw 50vw #fff, 51vw 27vw #fff, 62vw 62vw #fff, 77vw 36vw #fff, 32vw 20vw #fff, 85vw 98vw #fff, 67vw 12vw #fff, 30vw 8vw #fff, 25vw 50vw #fff, 61vw 16vw #fff, 4vw 15vw #fff, 46vw 9vw #fff, 31vw 87vw #fff, 91vw 65vw #fff, 93vw 91vw #fff, 3vw 77vw #fff, 14vw 48vw #fff, 26vw 32vw #fff, 64vw 45vw #fff, 81vw 22vw #fff, 88vw 17vw #fff, 55vw 94vw #fff, 76vw 4vw #fff, 62vw 88vw #fff, 56vw 56vw #fff, 5vw 63vw #fff, 47vw 91vw #fff, 39vw 18vw #fff, 15vw 64vw #fff, 65vw 87vw #fff, 45vw 6vw #fff, 41vw 85vw #fff, 22vw 13vw #fff, 71vw 74vw #fff, 26vw 67vw #fff, 10vw 96vw #fff, 9vw 53vw #fff, 80vw 28vw #fff, 77vw 47vw #fff, 100vw 34vw #fff, 25vw 87vw #fff, 55vw 75vw #fff, 97vw 4vw #fff, 17vw 57vw #fff, 33vw 57vw #fff, 100vw 10vw #fff, 83vw 50vw #fff, 52vw 32vw #fff, 23vw 57vw #fff, 14vw 55vw #fff, 13vw 64vw #fff, 31vw 88vw #fff, 75vw 67vw #fff, 13vw 12vw #fff, 71vw 63vw #fff, 13vw 30vw #fff, 100vw 63vw #fff, 41vw 84vw #fff, 26vw 24vw #fff, 56vw 12vw #fff, 77vw 73vw #fff, 72vw 9vw #fff, 25vw 24vw #fff, 46vw 22vw #fff, 88vw 15vw #fff, 80vw 81vw #fff, 21vw 17vw #fff, 69vw 99vw #fff, 59vw 74vw #fff, 22vw 99vw #fff, 63vw 68vw #fff, 75vw 15vw #fff, 51vw 23vw #fff, 12vw 42vw #fff, 92vw 94vw #fff, 29vw 13vw #fff, 86vw 14vw #fff, 17vw 96vw #fff, 70vw 7vw #fff, 83vw 16vw #fff, 15vw 75vw #fff, 96vw 11vw #fff, 78vw 18vw #fff, 82vw 3vw #fff, 60vw 89vw #fff, 27vw 53vw #fff, 50vw 2vw #fff, 20vw 82vw #fff, 74vw 22vw #fff, 39vw 46vw #fff, 48vw 15vw #fff, 7vw 88vw #fff, 47vw 9vw #fff, 52vw 90vw #fff, 83vw 69vw #fff, 59vw 54vw #fff, 41vw 9vw #fff, 1vw 93vw #fff, 18vw 65vw #fff, 15vw 1vw #fff, 67vw 64vw #fff, 16vw 1vw #fff, 66vw 20vw #fff, 8vw 3vw #fff, 53vw 72vw #fff, 77vw 2vw #fff, 70vw 44vw #fff, 79vw 13vw #fff, 45vw 78vw #fff, 90vw 43vw #fff, 97vw 92vw #fff, 73vw 96vw #fff, 75vw 2vw #fff, 84vw 70vw #fff, 54vw 79vw #fff, 77vw 9vw #fff, 6vw 74vw #fff, 84vw 17vw #fff, 62vw 47vw #fff, 36vw 53vw #fff, 32vw 28vw #fff, 92vw 17vw #fff, 96vw 22vw #fff, 1vw 45vw #fff, 85vw 70vw #fff, 27vw 20vw #fff, 95vw 57vw #fff, 28vw 93vw #fff, 40vw 54vw #fff, 19vw 87vw #fff, 87vw 48vw #fff, 21vw 61vw #fff, 100vw 75vw #fff, 87vw 88vw #fff, 92vw 48vw #fff, 58vw 85vw #fff, 43vw 54vw #fff, 21vw 73vw #fff, 87vw 99vw #fff, 100vw 98vw #fff, 97vw 57vw #fff, 64vw 20vw #fff, 15vw 59vw #fff, 35vw 76vw #fff, 68vw 80vw #fff, 11vw 75vw #fff, 71vw 94vw #fff, 8vw 14vw #fff, 27vw 28vw #fff, 23vw 5vw #fff, 92vw 21vw #fff, 76vw 27vw #fff, 61vw 69vw #fff, 54vw 60vw #fff, 67vw 64vw #fff, 2vw 67vw #fff, 4vw 33vw #fff, 30vw 82vw #fff, 55vw 30vw #fff, 60vw 20vw #fff, 7vw 94vw #fff, 91vw 1vw #fff, 72vw 98vw #fff, 95vw 50vw #fff, 59vw 18vw #fff, 10vw 19vw #fff, 37vw 76vw #fff, 98vw 66vw #fff, 23vw 33vw #fff, 57vw 37vw #fff, 81vw 85vw #fff, 2vw 74vw #fff, 78vw 21vw #fff, 3vw 88vw #fff, 91vw 87vw #fff, 63vw 51vw #fff, 6vw 97vw #fff, 29vw 25vw #fff, 13vw 41vw #fff, 36vw 9vw #fff, 12vw 61vw #fff, 86vw 28vw #fff, 78vw 90vw #fff, 33vw 93vw #fff, 97vw 72vw #fff, 65vw 30vw #fff, 19vw 18vw #fff, 17vw 95vw #fff, 24vw 22vw #fff, 67vw 98vw #fff, 71vw 56vw #fff, 34vw 13vw #fff, 24vw 10vw #fff, 71vw 18vw #fff, 25vw 82vw #fff, 2vw 7vw #fff, 16vw 58vw #fff, 34vw 19vw #fff, 79vw 62vw #fff, 26vw 19vw #fff, 95vw 100vw #fff, 82vw 24vw #fff, 27vw 2vw #fff, 38vw 83vw #fff, 84vw 29vw #fff, 83vw 84vw #fff, 23vw 100vw #fff, 51vw 98vw #fff, 91vw 66vw #fff, 11vw 47vw #fff, 41vw 41vw #fff, 22vw 73vw #fff, 30vw 41vw #fff, 67vw 16vw #fff, 93vw 13vw #fff, 89vw 14vw #fff, 31vw 49vw #fff, 44vw 9vw #fff, 30vw 79vw #fff, 71vw 63vw #fff, 65vw 81vw #fff, 38vw 3vw #fff, 73vw 47vw #fff, 76vw 62vw #fff, 62vw 37vw #fff, 99vw 87vw #fff, 37vw 81vw #fff, 2vw 42vw #fff, 90vw 73vw #fff, 68vw 19vw #fff, 35vw 83vw #fff, 57vw 80vw #fff, 38vw 33vw #fff, 17vw 17vw #fff, 50vw 99vw #fff, 72vw 2vw #fff, 96vw 8vw #fff, 22vw 100vw #fff, 34vw 74vw #fff, 50vw 20vw #fff, 61vw 59vw #fff, 38vw 86vw #fff, 88vw 39vw #fff, 88vw 38vw #fff, 86vw 54vw #fff, 89vw 72vw #fff, 59vw 87vw #fff, 35vw 1vw #fff, 72vw 48vw #fff, 66vw 2vw #fff, 78vw 76vw #fff, 25vw 7vw #fff, 24vw 97vw #fff, 99vw 17vw #fff, 42vw 62vw #fff, 70vw 74vw #fff, 69vw 29vw #fff, 64vw 58vw #fff, 71vw 57vw #fff, 80vw 31vw #fff, 39vw 92vw #fff, 16vw 19vw #fff, 20vw 28vw #fff, 47vw 45vw #fff, 9vw 67vw #fff, 24vw 29vw #fff, 16vw 15vw #fff, 74vw 84vw #fff, 76vw 51vw #fff, 20vw 9vw #fff, 48vw 6vw #fff, 9vw 34vw #fff, 90vw 27vw #fff, 50vw 95vw #fff, 82vw 84vw #fff, 10vw 22vw #fff, 82vw 98vw #fff, 55vw 100vw #fff, 45vw 93vw #fff, 35vw 48vw #fff, 42vw 34vw #fff, 77vw 4vw #fff, 33vw 86vw #fff, 59vw 93vw #fff, 62vw 21vw #fff, 92vw 49vw #fff, 62vw 45vw #fff, 23vw 37vw #fff, 30vw 24vw #fff, 33vw 52vw #fff, 95vw 66vw #fff, 96vw 92vw #fff, 6vw 9vw #fff, 93vw 91vw #fff, 71vw 83vw #fff, 6vw 29vw #fff, 3vw 35vw #fff, 28vw 76vw #fff, 35vw 3vw #fff, 21vw 78vw #fff, 52vw 44vw #fff, 93vw 80vw #fff, 59vw 62vw #fff, 92vw 31vw #fff, 72vw 27vw #fff, 99vw 15vw #fff, 95vw 41vw #fff, 60vw 71vw #fff, 67vw 33vw #fff, 99vw 16vw #fff, 84vw 2vw #fff, 89vw 87vw #fff, 72vw 71vw #fff, 7vw 97vw #fff, 21vw 5vw #fff, 14vw 45vw #fff, 82vw 3vw #fff, 50vw 68vw #fff, 62vw 74vw #fff, 9vw 74vw #fff, 39vw 68vw #fff, 85vw 100vw #fff, 63vw 39vw #fff, 13vw 72vw #fff, 85vw 59vw #fff, 12vw 76vw #fff, 12vw 82vw #fff, 67vw 85vw #fff, 97vw 100vw #fff, 38vw 88vw #fff, 93vw 61vw #fff, 97vw 6vw #fff, 21vw 44vw #fff, 1vw 32vw #fff, 57vw 82vw #fff, 4vw 94vw #fff, 8vw 79vw #fff, 68vw 31vw #fff, 3vw 28vw #fff, 28vw 54vw #fff; }
    .homepage .lunar-cycle .startwo {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 58vw 20vh #fff, 16vw 47vw #fff, 48vw 45vw #fff, 5vw 32vw #fff, 80vw 20vw #fff, 84vw 90vw #fff, 38vw 22vw #fff, 60vw 84vw #fff, 85vw 75vw #fff, 22vw 50vw #fff, 65vw 35vw #fff, 24vw 47vw #fff, 60vw 73vw #fff, 37vw 76vw #fff, 94vw 28vw #fff, 83vw 16vw #fff, 73vw 66vw #fff, 4vw 94vw #fff, 25vw 14vw #fff, 85vw 66vw #fff, 15vw 39vw #fff, 1vw 70vw #fff, 88vw 40vw #fff, 88vw 17vw #fff, 61vw 70vw #fff, 69vw 6vw #fff, 53vw 68vw #fff, 12vw 22vw #fff, 78vw 23vw #fff, 23vw 62vw #fff, 81vw 15vw #fff, 55vw 29vw #fff, 1vw 76vw #fff, 54vw 92vw #fff, 14vw 46vw #fff, 57vw 31vw #fff, 66vw 16vw #fff, 14vw 60vw #fff, 8vw 3vw #fff, 29vw 43vw #fff, 20vw 27vw #fff, 69vw 31vw #fff, 40vw 1vw #fff, 2vw 28vw #fff, 5vw 34vw #fff, 91vw 21vw #fff, 100vw 50vw #fff, 51vw 91vw #fff, 41vw 2vw #fff, 1vw 47vw #fff, 76vw 42vw #fff, 99vw 4vw #fff, 30vw 31vw #fff, 9vw 66vw #fff, 49vw 78vw #fff, 63vw 65vw #fff, 85vw 67vw #fff, 90vw 70vw #fff, 74vw 19vw #fff, 42vw 86vw #fff, 16vw 97vw #fff, 99vw 28vw #fff, 39vw 87vw #fff, 77vw 49vw #fff, 39vw 99vw #fff, 31vw 87vw #fff, 63vw 8vw #fff, 23vw 58vw #fff, 10vw 40vw #fff, 75vw 87vw #fff, 28vw 65vw #fff, 10vw 62vw #fff, 16vw 95vw #fff, 44vw 60vw #fff, 41vw 73vw #fff, 66vw 95vw #fff, 73vw 58vw #fff, 55vw 8vw #fff, 69vw 37vw #fff, 96vw 63vw #fff, 71vw 30vw #fff, 3vw 38vw #fff, 10vw 60vw #fff, 48vw 57vw #fff, 46vw 12vw #fff, 35vw 66vw #fff, 23vw 77vw #fff, 79vw 30vw #fff, 96vw 52vw #fff, 19vw 18vw #fff, 6vw 90vw #fff, 25vw 18vw #fff, 2vw 22vw #fff, 39vw 47vw #fff, 48vw 50vw #fff, 93vw 64vw #fff, 28vw 98vw #fff, 57vw 1vw #fff, 68vw 55vw #fff, 33vw 23vw #fff, 50vw 65vw #fff, 40vw 6vw #fff, 7vw 40vw #fff, 20vw 57vw #fff, 21vw 83vw #fff, 14vw 28vw #fff, 38vw 82vw #fff, 26vw 20vw #fff, 55vw 46vw #fff, 38vw 81vw #fff, 4vw 50vw #fff, 43vw 73vw #fff, 53vw 88vw #fff, 8vw 79vw #fff, 68vw 16vw #fff, 81vw 3vw #fff, 81vw 41vw #fff, 88vw 70vw #fff, 82vw 86vw #fff, 74vw 86vw #fff, 14vw 92vw #fff, 72vw 81vw #fff, 61vw 3vw #fff, 99vw 60vw #fff, 60vw 17vw #fff, 45vw 98vw #fff, 13vw 36vw #fff, 44vw 62vw #fff, 46vw 88vw #fff, 68vw 83vw #fff, 39vw 5vw #fff, 24vw 90vw #fff, 76vw 64vw #fff, 83vw 5vw #fff, 76vw 47vw #fff, 35vw 52vw #fff, 75vw 89vw #fff, 98vw 12vw #fff, 7vw 96vw #fff, 66vw 62vw #fff, 87vw 25vw #fff, 58vw 27vw #fff, 8vw 33vw #fff, 44vw 86vw #fff, 86vw 22vw #fff, 26vw 62vw #fff, 19vw 61vw #fff, 87vw 9vw #fff, 60vw 45vw #fff, 6vw 32vw #fff, 90vw 51vw #fff, 30vw 22vw #fff, 58vw 38vw #fff, 90vw 89vw #fff, 67vw 16vw #fff, 46vw 98vw #fff, 86vw 43vw #fff, 50vw 66vw #fff, 67vw 94vw #fff, 17vw 85vw #fff, 78vw 81vw #fff, 64vw 70vw #fff, 24vw 62vw #fff, 59vw 82vw #fff, 6vw 25vw #fff, 11vw 28vw #fff, 88vw 22vw #fff, 4vw 71vw #fff, 66vw 61vw #fff, 66vw 51vw #fff, 5vw 79vw #fff, 31vw 77vw #fff, 2vw 95vw #fff, 67vw 29vw #fff, 57vw 15vw #fff, 18vw 24vw #fff, 29vw 57vw #fff, 98vw 36vw #fff, 89vw 1vw #fff, 14vw 15vw #fff, 42vw 68vw #fff, 17vw 87vw #fff, 3vw 22vw #fff, 84vw 99vw #fff, 22vw 45vw #fff, 83vw 14vw #fff, 69vw 90vw #fff, 99vw 35vw #fff, 38vw 10vw #fff, 36vw 16vw #fff, 55vw 34vw #fff, 54vw 51vw #fff, 39vw 56vw #fff, 8vw 92vw #fff, 39vw 95vw #fff, 5vw 42vw #fff, 26vw 88vw #fff, 42vw 45vw #fff, 76vw 91vw #fff, 64vw 36vw #fff;
      animation-timing-function: ease(in-out-circ);
      animation-direction: alternate; }
      .homepage .lunar-cycle .startwo:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 58vw 20vh #fff, 16vw 47vw #fff, 48vw 45vw #fff, 5vw 32vw #fff, 80vw 20vw #fff, 84vw 90vw #fff, 38vw 22vw #fff, 60vw 84vw #fff, 85vw 75vw #fff, 22vw 50vw #fff, 65vw 35vw #fff, 24vw 47vw #fff, 60vw 73vw #fff, 37vw 76vw #fff, 94vw 28vw #fff, 83vw 16vw #fff, 73vw 66vw #fff, 4vw 94vw #fff, 25vw 14vw #fff, 85vw 66vw #fff, 15vw 39vw #fff, 1vw 70vw #fff, 88vw 40vw #fff, 88vw 17vw #fff, 61vw 70vw #fff, 69vw 6vw #fff, 53vw 68vw #fff, 12vw 22vw #fff, 78vw 23vw #fff, 23vw 62vw #fff, 81vw 15vw #fff, 55vw 29vw #fff, 1vw 76vw #fff, 54vw 92vw #fff, 14vw 46vw #fff, 57vw 31vw #fff, 66vw 16vw #fff, 14vw 60vw #fff, 8vw 3vw #fff, 29vw 43vw #fff, 20vw 27vw #fff, 69vw 31vw #fff, 40vw 1vw #fff, 2vw 28vw #fff, 5vw 34vw #fff, 91vw 21vw #fff, 100vw 50vw #fff, 51vw 91vw #fff, 41vw 2vw #fff, 1vw 47vw #fff, 76vw 42vw #fff, 99vw 4vw #fff, 30vw 31vw #fff, 9vw 66vw #fff, 49vw 78vw #fff, 63vw 65vw #fff, 85vw 67vw #fff, 90vw 70vw #fff, 74vw 19vw #fff, 42vw 86vw #fff, 16vw 97vw #fff, 99vw 28vw #fff, 39vw 87vw #fff, 77vw 49vw #fff, 39vw 99vw #fff, 31vw 87vw #fff, 63vw 8vw #fff, 23vw 58vw #fff, 10vw 40vw #fff, 75vw 87vw #fff, 28vw 65vw #fff, 10vw 62vw #fff, 16vw 95vw #fff, 44vw 60vw #fff, 41vw 73vw #fff, 66vw 95vw #fff, 73vw 58vw #fff, 55vw 8vw #fff, 69vw 37vw #fff, 96vw 63vw #fff, 71vw 30vw #fff, 3vw 38vw #fff, 10vw 60vw #fff, 48vw 57vw #fff, 46vw 12vw #fff, 35vw 66vw #fff, 23vw 77vw #fff, 79vw 30vw #fff, 96vw 52vw #fff, 19vw 18vw #fff, 6vw 90vw #fff, 25vw 18vw #fff, 2vw 22vw #fff, 39vw 47vw #fff, 48vw 50vw #fff, 93vw 64vw #fff, 28vw 98vw #fff, 57vw 1vw #fff, 68vw 55vw #fff, 33vw 23vw #fff, 50vw 65vw #fff, 40vw 6vw #fff, 7vw 40vw #fff, 20vw 57vw #fff, 21vw 83vw #fff, 14vw 28vw #fff, 38vw 82vw #fff, 26vw 20vw #fff, 55vw 46vw #fff, 38vw 81vw #fff, 4vw 50vw #fff, 43vw 73vw #fff, 53vw 88vw #fff, 8vw 79vw #fff, 68vw 16vw #fff, 81vw 3vw #fff, 81vw 41vw #fff, 88vw 70vw #fff, 82vw 86vw #fff, 74vw 86vw #fff, 14vw 92vw #fff, 72vw 81vw #fff, 61vw 3vw #fff, 99vw 60vw #fff, 60vw 17vw #fff, 45vw 98vw #fff, 13vw 36vw #fff, 44vw 62vw #fff, 46vw 88vw #fff, 68vw 83vw #fff, 39vw 5vw #fff, 24vw 90vw #fff, 76vw 64vw #fff, 83vw 5vw #fff, 76vw 47vw #fff, 35vw 52vw #fff, 75vw 89vw #fff, 98vw 12vw #fff, 7vw 96vw #fff, 66vw 62vw #fff, 87vw 25vw #fff, 58vw 27vw #fff, 8vw 33vw #fff, 44vw 86vw #fff, 86vw 22vw #fff, 26vw 62vw #fff, 19vw 61vw #fff, 87vw 9vw #fff, 60vw 45vw #fff, 6vw 32vw #fff, 90vw 51vw #fff, 30vw 22vw #fff, 58vw 38vw #fff, 90vw 89vw #fff, 67vw 16vw #fff, 46vw 98vw #fff, 86vw 43vw #fff, 50vw 66vw #fff, 67vw 94vw #fff, 17vw 85vw #fff, 78vw 81vw #fff, 64vw 70vw #fff, 24vw 62vw #fff, 59vw 82vw #fff, 6vw 25vw #fff, 11vw 28vw #fff, 88vw 22vw #fff, 4vw 71vw #fff, 66vw 61vw #fff, 66vw 51vw #fff, 5vw 79vw #fff, 31vw 77vw #fff, 2vw 95vw #fff, 67vw 29vw #fff, 57vw 15vw #fff, 18vw 24vw #fff, 29vw 57vw #fff, 98vw 36vw #fff, 89vw 1vw #fff, 14vw 15vw #fff, 42vw 68vw #fff, 17vw 87vw #fff, 3vw 22vw #fff, 84vw 99vw #fff, 22vw 45vw #fff, 83vw 14vw #fff, 69vw 90vw #fff, 99vw 35vw #fff, 38vw 10vw #fff, 36vw 16vw #fff, 55vw 34vw #fff, 54vw 51vw #fff, 39vw 56vw #fff, 8vw 92vw #fff, 39vw 95vw #fff, 5vw 42vw #fff, 26vw 88vw #fff, 42vw 45vw #fff, 76vw 91vw #fff, 64vw 36vw #fff; }
    .homepage .lunar-cycle .starthree {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100);
      animation-timing-function: ease(in-out-circ);
      animation-direction: alternate; }
      .homepage .lunar-cycle .starthree:after {
        content: " ";
        position: absolute;
        top: 100vh;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: star-shdaow(100); }
    .homepage .lunar-cycle .tonight-moon {
      display: inline-block;
      vertical-align: top;
      margin-top: 87px;
      margin-right: 3vw; }
    .homepage .lunar-cycle #lunar-container {
      margin: auto;
      opacity: 0; }
      .homepage .lunar-cycle #lunar-container h3 {
        margin: 0;
        color: #28E6F9; }
      .homepage .lunar-cycle #lunar-container p {
        margin: 0;
        margin-bottom: 4px;
        color: #B5B4B5; }
      .homepage .lunar-cycle #lunar-container #moonCanvas {
        margin: 12px auto 20px auto; }
    .homepage .lunar-cycle ul li {
      margin-top: 10px;
      display: inline-block; }
      .homepage .lunar-cycle ul li:before {
        content: '☾ ';
        margin-left: 10px; }
    .homepage .lunar-cycle .lunar-cycle-image img {
      width: 50vw;
      margin: auto;
      position: relative;
      z-index: 5; }
  .homepage .lunar-eclipse {
    text-align: center;
    color: #fff;
    background: #080C22; }
    .homepage .lunar-eclipse .lunar-eclipse-text {
      position: relative;
      z-index: 5;
      text-align: right;
      margin-right: 50px; }
    .homepage .lunar-eclipse .moon-eclipse {
      position: absolute;
      margin: -37vh auto 0 -54vh;
      width: 130vh;
      z-index: 0;
      height: 130vh;
      border-radius: 50%;
      background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
      animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }
  .homepage .solar-eclipse {
    background: #1DAEEC; }
    .homepage .solar-eclipse .se-img-container {
      height: 20vh;
      animation: sky 5s linear infinite;
      background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
    .homepage .solar-eclipse .solar-eclipse-image {
      position: relative;
      width: 15vh;
      height: 15vh;
      transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
    .homepage .solar-eclipse .sun,
    .homepage .solar-eclipse .moon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 0, 0, 0.5);
      border-radius: 50%; }
    .homepage .solar-eclipse .sun {
      background: gold;
      animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
    .homepage .solar-eclipse .moon {
      animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }
  .homepage .meteor {
    background: #B5B4B5;
    padding-bottom: 0 !important;
    /*=======================*/
    /* MIXINS
        /*=======================*/
    /*=======================*/
    /* SVG ELEMENTS
        /*=======================*/
    /*=======================*/
    /* OTHER ELEMENTS
        /*=======================*/
    /*=======================*/
    /* KEYFRAMES
        /*=======================*/ }
    .homepage .meteor #foreground {
      position: relative;
      width: 100vw;
      height: 76vh; }
    .homepage .meteor #foreground > div {
      bottom: 0;
      position: absolute;
      transform-origin: 50% 100%;
      pointer-events: none; }
    .homepage .meteor .grass {
      width: 105%;
      height: 200px;
      left: -2.5%;
      background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
      background-position: -100px 100%;
      -webkit-animation: skew4 4s .2s ease-in-out infinite;
      -moz-animation: skew4 4s .2s ease-in-out infinite;
      -ms-animation: skew4 4s .2s ease-in-out infinite;
      -o-animation: skew4 4s .2s ease-in-out infinite;
      animation: skew4 4s .2s ease-in-out infinite; }
    .homepage .meteor #tree1 {
      width: 335px;
      height: 425px;
      background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
      left: calc(15% - 335px / 2);
      -webkit-animation: skew1 8s ease-in-out infinite;
      -moz-animation: skew1 8s ease-in-out infinite;
      -ms-animation: skew1 8s ease-in-out infinite;
      -o-animation: skew1 8s ease-in-out infinite;
      animation: skew1 8s ease-in-out infinite; }
    .homepage .meteor .reed {
      background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
      background-size: cover; }
    .homepage .meteor #reed1 {
      left: calc(15% - 335px / 2);
      width: 180px;
      height: 155px;
      -webkit-animation: skew4 4s ease-in-out infinite;
      -moz-animation: skew4 4s ease-in-out infinite;
      -ms-animation: skew4 4s ease-in-out infinite;
      -o-animation: skew4 4s ease-in-out infinite;
      animation: skew4 4s ease-in-out infinite; }
    .homepage .meteor #reed2 {
      left: calc(15% + 80px / 2);
      width: 200px;
      height: 180px;
      -webkit-animation: skew4 4s .4s ease-in-out infinite;
      -moz-animation: skew4 4s .4s ease-in-out infinite;
      -ms-animation: skew4 4s .4s ease-in-out infinite;
      -o-animation: skew4 4s .4s ease-in-out infinite;
      animation: skew4 4s .4s ease-in-out infinite; }
    .homepage .meteor #reed3 {
      left: calc(15% - 120px / 2);
      width: 220px;
      height: 200px;
      -webkit-animation: skew4 4s .8s ease-in-out infinite;
      -moz-animation: skew4 4s .8s ease-in-out infinite;
      -ms-animation: skew4 4s .8s ease-in-out infinite;
      -o-animation: skew4 4s .8s ease-in-out infinite;
      animation: skew4 4s .8s ease-in-out infinite; }
    .homepage .meteor #tree2 {
      width: 245px;
      height: 480px;
      background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
      right: calc(15% - 245px / 2);
      -webkit-animation: skew1 8s 2s ease-in-out infinite;
      -moz-animation: skew1 8s 2s ease-in-out infinite;
      -ms-animation: skew1 8s 2s ease-in-out infinite;
      -o-animation: skew1 8s 2s ease-in-out infinite;
      animation: skew1 8s 2s ease-in-out infinite; }
    .homepage .meteor #bush {
      right: calc(15% - 120px / 2);
      width: 210px;
      height: 135px;
      background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
      background-size: cover;
      -webkit-animation: skew4 4s .6s ease-in-out infinite;
      -moz-animation: skew4 4s .6s ease-in-out infinite;
      -ms-animation: skew4 4s .6s ease-in-out infinite;
      -o-animation: skew4 4s .6s ease-in-out infinite;
      animation: skew4 4s .6s ease-in-out infinite; }
    .homepage .meteor #telescope {
      width: 130px;
      height: 150px;
      background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
      left: calc(50% + 45px);
      bottom: 55px !important; }
    .homepage .meteor #girl {
      width: 108px;
      height: 136px;
      background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
      left: calc(50% - 108px / 2);
      bottom: 25px !important;
      cursor: pointer;
      cursor: alias;
      pointer-events: auto !important; }
    .homepage .meteor #halo {
      opacity: 0;
      -webkit-transition: -webkit-opacity 1s ease-out;
      -moz-transition: -moz-opacity 1s ease-out;
      -ms-transition: -ms-opacity 1s ease-out;
      -o-transition: -o-opacity 1s ease-out;
      transition: opacity 1s ease-out; }
    .homepage .meteor #halo > div {
      position: absolute;
      width: 100%;
      height: 450px;
      background-color: rgba(170, 255, 230, 0.05);
      bottom: -275px;
      border-radius: 50%;
      box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
      -webkit-animation: halo 4s ease-in-out infinite;
      -moz-animation: halo 4s ease-in-out infinite;
      -ms-animation: halo 4s ease-in-out infinite;
      -o-animation: halo 4s ease-in-out infinite;
      animation: halo 4s ease-in-out infinite;
      animation-play-state: paused; }
    .homepage .meteor .meteorShower #halo > div {
      animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .homepage .meteor 0%,
  .homepage .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .homepage .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .homepage .meteor 0%,
  .homepage .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .homepage .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .homepage .meteor 0%,
  .homepage .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .homepage .meteor 10%,
  .homepage .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .homepage .meteor 25%,
  .homepage .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .homepage .meteor 55%,
  .homepage .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .homepage .meteor 0%,
  .homepage .meteor 100% {
    opacity: 1; }
  .homepage .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }
  .homepage .planetary {
    background: #606060; }

/* ============================================================================================== 
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
.star-cont {
  overflow: hidden; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .star-cont .stars,
  .star-cont .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block; }
  .star-cont .stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
    height: 100vh;
    width: 100vw; }
  .star-cont .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    -moz-animation: move-twink-back 800s linear infinite;
    -ms-animation: move-twink-back 800s linear infinite;
    -o-animation: move-twink-back 800s linear infinite;
    -webkit-animation: move-twink-back 800s linear infinite;
    animation: move-twink-back 800s linear infinite; }

.Taurus {
  background-image: url("./images/Taurus.png");
  position: absolute;
  left: 141px;
  top: 27px;
  width: 137px;
  height: 153px;
  z-index: 12; }

.Gemini {
  background-image: url("./images/Gemini.png");
  position: absolute;
  left: 275px;
  top: 26px;
  width: 136px;
  height: 153px;
  z-index: 11; }

.Cancer {
  background-image: url("./images/Cancer.png");
  position: absolute;
  left: 346px;
  top: 64px;
  width: 166px;
  height: 166px;
  z-index: 10; }

.Leo {
  background-image: url("./images/Leo.png");
  position: absolute;
  left: 393px;
  top: 164px;
  width: 155px;
  height: 135px;
  z-index: 9; }

.Virgo {
  background-image: url("./images/Virgo.png");
  position: absolute;
  left: 394px;
  top: 298px;
  width: 154px;
  height: 135px;
  z-index: 8; }

.Libra {
  background-image: url("./images/Libra.png");
  position: absolute;
  left: 346px;
  top: 369px;
  width: 164px;
  height: 164px;
  z-index: 7; }

.Scorpio {
  background-image: url("./images/Scorpio.png");
  position: absolute;
  left: 275px;
  top: 417px;
  width: 136px;
  height: 154px;
  z-index: 6; }

.Sagittarius {
  background-image: url("./images/Sagittarius.png");
  position: absolute;
  left: 140px;
  top: 418px;
  width: 138px;
  height: 152px;
  z-index: 5; }

.Capricorn {
  background-image: url("./images/Capricorn.png");
  position: absolute;
  left: 41px;
  top: 368px;
  width: 166px;
  height: 166px;
  z-index: 4; }

.Aquarius {
  background-image: url("./images/Aquarius.png");
  position: absolute;
  left: 3px;
  top: 298px;
  width: 155px;
  height: 138px;
  z-index: 3; }

.Pisces {
  background-image: url("./images/Pisces.png");
  position: absolute;
  left: 3px;
  top: 164px;
  width: 153px;
  height: 135px;
  z-index: 2; }

.Base_Layer {
  background-image: url("./images/BaseLayer.png");
  position: absolute;
  left: 31px;
  top: 3px;
  width: 567px;
  height: 602px;
  z-index: 1; }
