@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 34%; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 210;
    stroke-width: 1;
    stroke: #BDCAEC;
    stroke-dashoffset: 525;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 61vw 57vh #fff, 38vw 91vw #fff, 89vw 13vw #fff, 41vw 45vw #fff, 70vw 21vw #fff, 3vw 76vw #fff, 5vw 86vw #fff, 92vw 21vw #fff, 2vw 78vw #fff, 74vw 40vw #fff, 37vw 32vw #fff, 43vw 25vw #fff, 62vw 78vw #fff, 59vw 88vw #fff, 71vw 2vw #fff, 100vw 25vw #fff, 30vw 85vw #fff, 10vw 35vw #fff, 15vw 34vw #fff, 65vw 52vw #fff, 10vw 60vw #fff, 60vw 81vw #fff, 92vw 75vw #fff, 55vw 91vw #fff, 22vw 40vw #fff, 42vw 53vw #fff, 16vw 40vw #fff, 85vw 46vw #fff, 56vw 10vw #fff, 90vw 16vw #fff, 73vw 50vw #fff, 59vw 35vw #fff, 57vw 28vw #fff, 81vw 47vw #fff, 99vw 65vw #fff, 27vw 75vw #fff, 2vw 37vw #fff, 40vw 51vw #fff, 94vw 61vw #fff, 99vw 87vw #fff, 8vw 55vw #fff, 22vw 39vw #fff, 62vw 49vw #fff, 43vw 83vw #fff, 77vw 59vw #fff, 27vw 25vw #fff, 35vw 52vw #fff, 17vw 6vw #fff, 73vw 49vw #fff, 37vw 40vw #fff, 87vw 7vw #fff, 35vw 24vw #fff, 38vw 13vw #fff, 5vw 10vw #fff, 51vw 7vw #fff, 77vw 3vw #fff, 84vw 72vw #fff, 72vw 39vw #fff, 98vw 18vw #fff, 25vw 67vw #fff, 77vw 4vw #fff, 33vw 65vw #fff, 15vw 90vw #fff, 19vw 78vw #fff, 31vw 33vw #fff, 11vw 72vw #fff, 4vw 100vw #fff, 71vw 33vw #fff, 8vw 12vw #fff, 59vw 43vw #fff, 63vw 14vw #fff, 7vw 25vw #fff, 22vw 51vw #fff, 21vw 100vw #fff, 100vw 10vw #fff, 79vw 17vw #fff, 65vw 39vw #fff, 34vw 69vw #fff, 8vw 62vw #fff, 65vw 45vw #fff, 44vw 25vw #fff, 40vw 56vw #fff, 74vw 77vw #fff, 42vw 46vw #fff, 76vw 26vw #fff, 60vw 43vw #fff, 59vw 90vw #fff, 98vw 36vw #fff, 81vw 35vw #fff, 67vw 37vw #fff, 42vw 94vw #fff, 41vw 12vw #fff, 50vw 63vw #fff, 100vw 2vw #fff, 16vw 21vw #fff, 54vw 56vw #fff, 60vw 14vw #fff, 71vw 6vw #fff, 67vw 79vw #fff, 66vw 63vw #fff, 79vw 27vw #fff, 75vw 23vw #fff, 82vw 95vw #fff, 26vw 36vw #fff, 8vw 39vw #fff, 91vw 44vw #fff, 13vw 72vw #fff, 96vw 27vw #fff, 79vw 86vw #fff, 37vw 59vw #fff, 10vw 29vw #fff, 21vw 37vw #fff, 3vw 65vw #fff, 24vw 61vw #fff, 63vw 22vw #fff, 35vw 13vw #fff, 48vw 83vw #fff, 46vw 40vw #fff, 2vw 75vw #fff, 10vw 89vw #fff, 53vw 32vw #fff, 62vw 39vw #fff, 45vw 33vw #fff, 7vw 73vw #fff, 60vw 18vw #fff, 54vw 60vw #fff, 54vw 20vw #fff, 85vw 71vw #fff, 49vw 44vw #fff, 76vw 58vw #fff, 25vw 97vw #fff, 63vw 92vw #fff, 69vw 99vw #fff, 51vw 86vw #fff, 25vw 79vw #fff, 98vw 74vw #fff, 17vw 39vw #fff, 94vw 61vw #fff, 81vw 32vw #fff, 98vw 58vw #fff, 33vw 57vw #fff, 21vw 96vw #fff, 93vw 10vw #fff, 68vw 1vw #fff, 54vw 50vw #fff, 84vw 20vw #fff, 87vw 21vw #fff, 45vw 45vw #fff, 94vw 49vw #fff, 34vw 11vw #fff, 74vw 87vw #fff, 25vw 5vw #fff, 87vw 62vw #fff, 100vw 21vw #fff, 12vw 86vw #fff, 80vw 75vw #fff, 26vw 95vw #fff, 57vw 74vw #fff, 94vw 97vw #fff, 81vw 17vw #fff, 7vw 70vw #fff, 15vw 20vw #fff, 61vw 92vw #fff, 62vw 10vw #fff, 76vw 84vw #fff, 68vw 72vw #fff, 36vw 31vw #fff, 47vw 56vw #fff, 11vw 20vw #fff, 57vw 66vw #fff, 85vw 6vw #fff, 92vw 44vw #fff, 36vw 35vw #fff, 80vw 59vw #fff, 22vw 22vw #fff, 38vw 92vw #fff, 50vw 79vw #fff, 94vw 31vw #fff, 84vw 22vw #fff, 36vw 94vw #fff, 46vw 4vw #fff, 43vw 3vw #fff, 17vw 43vw #fff, 95vw 54vw #fff, 13vw 76vw #fff, 34vw 52vw #fff, 49vw 66vw #fff, 95vw 14vw #fff, 55vw 73vw #fff, 53vw 55vw #fff, 99vw 82vw #fff, 97vw 14vw #fff, 66vw 15vw #fff, 92vw 25vw #fff, 98vw 11vw #fff, 36vw 40vw #fff, 65vw 6vw #fff, 71vw 31vw #fff, 24vw 39vw #fff, 81vw 30vw #fff, 97vw 45vw #fff, 34vw 11vw #fff, 71vw 74vw #fff, 46vw 25vw #fff, 52vw 34vw #fff, 41vw 11vw #fff, 5vw 2vw #fff, 73vw 35vw #fff, 23vw 86vw #fff, 27vw 87vw #fff, 40vw 18vw #fff, 41vw 33vw #fff, 43vw 60vw #fff, 54vw 31vw #fff, 74vw 72vw #fff, 49vw 81vw #fff, 6vw 41vw #fff, 46vw 11vw #fff, 26vw 33vw #fff, 56vw 82vw #fff, 66vw 45vw #fff, 9vw 9vw #fff, 6vw 48vw #fff, 10vw 68vw #fff, 4vw 75vw #fff, 34vw 57vw #fff, 13vw 27vw #fff, 49vw 98vw #fff, 97vw 38vw #fff, 35vw 15vw #fff, 99vw 76vw #fff, 53vw 59vw #fff, 67vw 89vw #fff, 41vw 58vw #fff, 61vw 50vw #fff, 55vw 16vw #fff, 8vw 73vw #fff, 58vw 62vw #fff, 46vw 62vw #fff, 70vw 84vw #fff, 53vw 75vw #fff, 33vw 23vw #fff, 49vw 93vw #fff, 6vw 91vw #fff, 55vw 92vw #fff, 53vw 61vw #fff, 74vw 32vw #fff, 100vw 66vw #fff, 64vw 49vw #fff, 91vw 71vw #fff, 14vw 38vw #fff, 38vw 48vw #fff, 29vw 96vw #fff, 39vw 78vw #fff, 83vw 1vw #fff, 90vw 44vw #fff, 6vw 67vw #fff, 64vw 49vw #fff, 27vw 57vw #fff, 35vw 20vw #fff, 62vw 58vw #fff, 39vw 33vw #fff, 83vw 75vw #fff, 64vw 25vw #fff, 86vw 55vw #fff, 59vw 1vw #fff, 36vw 62vw #fff, 66vw 43vw #fff, 63vw 44vw #fff, 42vw 34vw #fff, 35vw 98vw #fff, 39vw 24vw #fff, 7vw 21vw #fff, 35vw 56vw #fff, 50vw 69vw #fff, 28vw 71vw #fff, 24vw 94vw #fff, 42vw 28vw #fff, 45vw 76vw #fff, 38vw 67vw #fff, 85vw 34vw #fff, 58vw 53vw #fff, 52vw 83vw #fff, 33vw 52vw #fff, 46vw 74vw #fff, 85vw 67vw #fff, 52vw 35vw #fff, 23vw 38vw #fff, 25vw 76vw #fff, 46vw 71vw #fff, 81vw 38vw #fff, 33vw 55vw #fff, 8vw 25vw #fff, 57vw 54vw #fff, 93vw 30vw #fff, 54vw 85vw #fff, 27vw 95vw #fff, 78vw 92vw #fff, 8vw 62vw #fff, 42vw 34vw #fff, 84vw 38vw #fff, 32vw 46vw #fff, 26vw 11vw #fff, 16vw 64vw #fff, 58vw 40vw #fff, 76vw 7vw #fff, 74vw 17vw #fff, 19vw 64vw #fff, 54vw 39vw #fff, 75vw 79vw #fff, 33vw 63vw #fff, 64vw 89vw #fff, 47vw 57vw #fff, 96vw 87vw #fff, 18vw 78vw #fff, 77vw 94vw #fff, 5vw 18vw #fff, 76vw 35vw #fff, 94vw 78vw #fff, 8vw 21vw #fff, 9vw 21vw #fff, 100vw 79vw #fff, 45vw 94vw #fff, 83vw 65vw #fff, 84vw 52vw #fff, 52vw 26vw #fff, 23vw 17vw #fff, 41vw 12vw #fff, 67vw 79vw #fff, 59vw 57vw #fff, 60vw 96vw #fff, 91vw 15vw #fff, 26vw 18vw #fff, 72vw 27vw #fff, 7vw 59vw #fff, 23vw 78vw #fff, 93vw 35vw #fff, 38vw 46vw #fff, 93vw 61vw #fff, 13vw 44vw #fff, 91vw 62vw #fff, 34vw 74vw #fff, 92vw 85vw #fff, 37vw 60vw #fff, 83vw 10vw #fff, 49vw 11vw #fff, 97vw 30vw #fff, 61vw 26vw #fff, 45vw 33vw #fff, 89vw 61vw #fff, 1vw 4vw #fff, 39vw 7vw #fff, 75vw 62vw #fff, 84vw 46vw #fff, 87vw 72vw #fff, 46vw 42vw #fff, 96vw 25vw #fff, 82vw 79vw #fff, 10vw 5vw #fff, 16vw 48vw #fff, 73vw 7vw #fff, 59vw 96vw #fff, 89vw 13vw #fff, 26vw 16vw #fff, 65vw 40vw #fff, 47vw 96vw #fff, 67vw 6vw #fff, 90vw 17vw #fff, 39vw 45vw #fff, 94vw 63vw #fff, 70vw 11vw #fff, 37vw 97vw #fff, 37vw 5vw #fff, 53vw 20vw #fff, 23vw 99vw #fff, 57vw 20vw #fff, 32vw 5vw #fff, 65vw 10vw #fff, 99vw 83vw #fff, 77vw 95vw #fff, 67vw 19vw #fff, 85vw 5vw #fff, 42vw 100vw #fff, 81vw 10vw #fff, 36vw 44vw #fff, 58vw 64vw #fff, 77vw 73vw #fff, 72vw 82vw #fff, 22vw 17vw #fff, 64vw 77vw #fff, 92vw 5vw #fff, 13vw 7vw #fff, 11vw 28vw #fff, 91vw 37vw #fff, 15vw 9vw #fff, 2vw 74vw #fff, 92vw 29vw #fff, 28vw 34vw #fff, 84vw 97vw #fff, 3vw 32vw #fff, 34vw 57vw #fff, 99vw 85vw #fff, 34vw 42vw #fff, 70vw 30vw #fff, 82vw 17vw #fff, 51vw 62vw #fff, 62vw 62vw #fff, 4vw 98vw #fff, 43vw 23vw #fff, 32vw 100vw #fff, 9vw 84vw #fff, 84vw 98vw #fff, 48vw 30vw #fff, 49vw 43vw #fff, 91vw 70vw #fff, 30vw 64vw #fff, 51vw 38vw #fff, 72vw 6vw #fff, 80vw 77vw #fff, 47vw 14vw #fff, 35vw 31vw #fff, 57vw 69vw #fff, 65vw 68vw #fff, 2vw 55vw #fff, 4vw 12vw #fff, 48vw 27vw #fff, 73vw 65vw #fff, 35vw 73vw #fff, 2vw 34vw #fff, 69vw 58vw #fff, 63vw 19vw #fff, 1vw 89vw #fff, 54vw 39vw #fff, 26vw 25vw #fff, 46vw 5vw #fff, 64vw 84vw #fff, 44vw 28vw #fff, 12vw 68vw #fff, 46vw 67vw #fff, 13vw 94vw #fff, 69vw 94vw #fff, 66vw 58vw #fff, 62vw 54vw #fff, 25vw 79vw #fff, 37vw 5vw #fff, 65vw 57vw #fff, 1vw 82vw #fff, 10vw 78vw #fff, 57vw 26vw #fff, 86vw 61vw #fff, 26vw 9vw #fff, 6vw 7vw #fff, 58vw 33vw #fff, 24vw 29vw #fff, 43vw 19vw #fff, 24vw 67vw #fff, 85vw 11vw #fff, 49vw 44vw #fff, 4vw 74vw #fff, 31vw 75vw #fff, 84vw 92vw #fff, 95vw 32vw #fff, 34vw 75vw #fff, 2vw 70vw #fff, 70vw 77vw #fff, 58vw 23vw #fff, 37vw 10vw #fff, 41vw 49vw #fff, 50vw 66vw #fff, 91vw 12vw #fff, 94vw 71vw #fff, 15vw 32vw #fff, 27vw 78vw #fff, 52vw 52vw #fff, 62vw 93vw #fff, 95vw 18vw #fff, 94vw 98vw #fff, 59vw 54vw #fff, 67vw 1vw #fff, 22vw 52vw #fff, 96vw 94vw #fff, 47vw 81vw #fff, 16vw 1vw #fff, 44vw 59vw #fff, 92vw 3vw #fff, 26vw 4vw #fff, 16vw 15vw #fff, 37vw 7vw #fff, 41vw 2vw #fff, 23vw 17vw #fff, 30vw 46vw #fff, 24vw 72vw #fff, 55vw 82vw #fff, 83vw 37vw #fff, 45vw 88vw #fff, 100vw 81vw #fff, 84vw 17vw #fff, 68vw 21vw #fff, 46vw 33vw #fff, 7vw 81vw #fff, 17vw 70vw #fff, 75vw 52vw #fff, 38vw 80vw #fff, 24vw 91vw #fff, 1vw 7vw #fff, 62vw 74vw #fff, 69vw 32vw #fff, 9vw 97vw #fff, 92vw 14vw #fff, 39vw 15vw #fff, 19vw 19vw #fff, 64vw 49vw #fff, 70vw 77vw #fff, 31vw 16vw #fff, 3vw 6vw #fff, 51vw 51vw #fff, 9vw 92vw #fff, 9vw 93vw #fff, 35vw 16vw #fff, 50vw 66vw #fff, 41vw 32vw #fff, 93vw 22vw #fff, 10vw 27vw #fff, 41vw 15vw #fff, 27vw 67vw #fff, 9vw 60vw #fff, 85vw 21vw #fff, 59vw 61vw #fff, 39vw 14vw #fff, 97vw 56vw #fff, 73vw 47vw #fff, 89vw 10vw #fff, 93vw 32vw #fff, 63vw 44vw #fff, 28vw 28vw #fff, 76vw 57vw #fff, 41vw 77vw #fff, 70vw 1vw #fff, 69vw 43vw #fff, 71vw 59vw #fff, 49vw 9vw #fff, 81vw 29vw #fff, 95vw 33vw #fff, 25vw 69vw #fff, 45vw 90vw #fff, 91vw 94vw #fff, 93vw 29vw #fff, 11vw 50vw #fff, 64vw 64vw #fff, 31vw 80vw #fff, 53vw 49vw #fff, 39vw 22vw #fff, 2vw 71vw #fff, 1vw 3vw #fff, 34vw 65vw #fff, 5vw 99vw #fff, 50vw 68vw #fff, 44vw 32vw #fff, 97vw 1vw #fff, 98vw 26vw #fff, 14vw 19vw #fff, 76vw 54vw #fff, 56vw 62vw #fff, 60vw 93vw #fff, 84vw 43vw #fff, 8vw 56vw #fff, 67vw 3vw #fff, 85vw 28vw #fff, 85vw 60vw #fff, 80vw 62vw #fff, 64vw 79vw #fff, 46vw 9vw #fff, 83vw 56vw #fff, 63vw 39vw #fff, 49vw 27vw #fff, 71vw 16vw #fff, 14vw 16vw #fff, 47vw 99vw #fff, 98vw 47vw #fff, 55vw 77vw #fff, 23vw 29vw #fff, 47vw 100vw #fff, 77vw 36vw #fff, 57vw 91vw #fff, 85vw 84vw #fff, 55vw 94vw #fff, 11vw 16vw #fff, 81vw 97vw #fff, 51vw 87vw #fff, 38vw 15vw #fff, 3vw 59vw #fff, 7vw 10vw #fff, 92vw 19vw #fff, 40vw 8vw #fff, 31vw 68vw #fff, 67vw 90vw #fff, 87vw 32vw #fff, 38vw 46vw #fff, 94vw 24vw #fff, 89vw 37vw #fff, 78vw 28vw #fff, 19vw 12vw #fff, 51vw 41vw #fff, 47vw 90vw #fff, 95vw 30vw #fff, 14vw 75vw #fff, 72vw 21vw #fff, 6vw 40vw #fff, 22vw 56vw #fff, 79vw 45vw #fff, 36vw 50vw #fff, 88vw 27vw #fff, 98vw 83vw #fff, 85vw 17vw #fff, 49vw 61vw #fff, 79vw 95vw #fff, 41vw 56vw #fff, 65vw 23vw #fff, 97vw 65vw #fff, 66vw 11vw #fff, 2vw 87vw #fff, 49vw 23vw #fff, 93vw 17vw #fff, 11vw 65vw #fff, 65vw 82vw #fff, 80vw 80vw #fff, 8vw 54vw #fff, 6vw 83vw #fff, 41vw 32vw #fff, 20vw 32vw #fff, 13vw 45vw #fff, 86vw 95vw #fff, 78vw 24vw #fff, 85vw 50vw #fff, 16vw 66vw #fff, 37vw 24vw #fff, 74vw 39vw #fff, 12vw 41vw #fff, 54vw 91vw #fff, 31vw 58vw #fff, 12vw 75vw #fff, 57vw 1vw #fff, 74vw 74vw #fff, 26vw 96vw #fff, 33vw 82vw #fff, 31vw 6vw #fff, 8vw 81vw #fff, 56vw 29vw #fff, 1vw 10vw #fff, 13vw 35vw #fff, 9vw 50vw #fff, 33vw 30vw #fff, 29vw 71vw #fff, 57vw 95vw #fff, 20vw 69vw #fff, 100vw 12vw #fff, 22vw 36vw #fff, 61vw 3vw #fff, 12vw 39vw #fff, 38vw 72vw #fff, 35vw 33vw #fff, 28vw 91vw #fff, 19vw 39vw #fff, 8vw 84vw #fff, 38vw 41vw #fff, 81vw 19vw #fff, 8vw 66vw #fff, 72vw 25vw #fff, 61vw 29vw #fff, 64vw 25vw #fff, 21vw 23vw #fff, 68vw 49vw #fff, 48vw 73vw #fff, 91vw 59vw #fff, 28vw 45vw #fff, 95vw 42vw #fff, 32vw 31vw #fff, 18vw 60vw #fff, 22vw 1vw #fff, 81vw 18vw #fff, 3vw 48vw #fff, 11vw 99vw #fff, 22vw 95vw #fff, 2vw 20vw #fff, 24vw 16vw #fff, 86vw 10vw #fff, 24vw 84vw #fff, 90vw 85vw #fff, 18vw 96vw #fff, 93vw 90vw #fff, 66vw 30vw #fff, 80vw 15vw #fff, 62vw 19vw #fff, 67vw 87vw #fff, 27vw 36vw #fff, 88vw 80vw #fff, 39vw 64vw #fff, 4vw 33vw #fff, 39vw 13vw #fff, 85vw 79vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 61vw 57vh #fff, 38vw 91vw #fff, 89vw 13vw #fff, 41vw 45vw #fff, 70vw 21vw #fff, 3vw 76vw #fff, 5vw 86vw #fff, 92vw 21vw #fff, 2vw 78vw #fff, 74vw 40vw #fff, 37vw 32vw #fff, 43vw 25vw #fff, 62vw 78vw #fff, 59vw 88vw #fff, 71vw 2vw #fff, 100vw 25vw #fff, 30vw 85vw #fff, 10vw 35vw #fff, 15vw 34vw #fff, 65vw 52vw #fff, 10vw 60vw #fff, 60vw 81vw #fff, 92vw 75vw #fff, 55vw 91vw #fff, 22vw 40vw #fff, 42vw 53vw #fff, 16vw 40vw #fff, 85vw 46vw #fff, 56vw 10vw #fff, 90vw 16vw #fff, 73vw 50vw #fff, 59vw 35vw #fff, 57vw 28vw #fff, 81vw 47vw #fff, 99vw 65vw #fff, 27vw 75vw #fff, 2vw 37vw #fff, 40vw 51vw #fff, 94vw 61vw #fff, 99vw 87vw #fff, 8vw 55vw #fff, 22vw 39vw #fff, 62vw 49vw #fff, 43vw 83vw #fff, 77vw 59vw #fff, 27vw 25vw #fff, 35vw 52vw #fff, 17vw 6vw #fff, 73vw 49vw #fff, 37vw 40vw #fff, 87vw 7vw #fff, 35vw 24vw #fff, 38vw 13vw #fff, 5vw 10vw #fff, 51vw 7vw #fff, 77vw 3vw #fff, 84vw 72vw #fff, 72vw 39vw #fff, 98vw 18vw #fff, 25vw 67vw #fff, 77vw 4vw #fff, 33vw 65vw #fff, 15vw 90vw #fff, 19vw 78vw #fff, 31vw 33vw #fff, 11vw 72vw #fff, 4vw 100vw #fff, 71vw 33vw #fff, 8vw 12vw #fff, 59vw 43vw #fff, 63vw 14vw #fff, 7vw 25vw #fff, 22vw 51vw #fff, 21vw 100vw #fff, 100vw 10vw #fff, 79vw 17vw #fff, 65vw 39vw #fff, 34vw 69vw #fff, 8vw 62vw #fff, 65vw 45vw #fff, 44vw 25vw #fff, 40vw 56vw #fff, 74vw 77vw #fff, 42vw 46vw #fff, 76vw 26vw #fff, 60vw 43vw #fff, 59vw 90vw #fff, 98vw 36vw #fff, 81vw 35vw #fff, 67vw 37vw #fff, 42vw 94vw #fff, 41vw 12vw #fff, 50vw 63vw #fff, 100vw 2vw #fff, 16vw 21vw #fff, 54vw 56vw #fff, 60vw 14vw #fff, 71vw 6vw #fff, 67vw 79vw #fff, 66vw 63vw #fff, 79vw 27vw #fff, 75vw 23vw #fff, 82vw 95vw #fff, 26vw 36vw #fff, 8vw 39vw #fff, 91vw 44vw #fff, 13vw 72vw #fff, 96vw 27vw #fff, 79vw 86vw #fff, 37vw 59vw #fff, 10vw 29vw #fff, 21vw 37vw #fff, 3vw 65vw #fff, 24vw 61vw #fff, 63vw 22vw #fff, 35vw 13vw #fff, 48vw 83vw #fff, 46vw 40vw #fff, 2vw 75vw #fff, 10vw 89vw #fff, 53vw 32vw #fff, 62vw 39vw #fff, 45vw 33vw #fff, 7vw 73vw #fff, 60vw 18vw #fff, 54vw 60vw #fff, 54vw 20vw #fff, 85vw 71vw #fff, 49vw 44vw #fff, 76vw 58vw #fff, 25vw 97vw #fff, 63vw 92vw #fff, 69vw 99vw #fff, 51vw 86vw #fff, 25vw 79vw #fff, 98vw 74vw #fff, 17vw 39vw #fff, 94vw 61vw #fff, 81vw 32vw #fff, 98vw 58vw #fff, 33vw 57vw #fff, 21vw 96vw #fff, 93vw 10vw #fff, 68vw 1vw #fff, 54vw 50vw #fff, 84vw 20vw #fff, 87vw 21vw #fff, 45vw 45vw #fff, 94vw 49vw #fff, 34vw 11vw #fff, 74vw 87vw #fff, 25vw 5vw #fff, 87vw 62vw #fff, 100vw 21vw #fff, 12vw 86vw #fff, 80vw 75vw #fff, 26vw 95vw #fff, 57vw 74vw #fff, 94vw 97vw #fff, 81vw 17vw #fff, 7vw 70vw #fff, 15vw 20vw #fff, 61vw 92vw #fff, 62vw 10vw #fff, 76vw 84vw #fff, 68vw 72vw #fff, 36vw 31vw #fff, 47vw 56vw #fff, 11vw 20vw #fff, 57vw 66vw #fff, 85vw 6vw #fff, 92vw 44vw #fff, 36vw 35vw #fff, 80vw 59vw #fff, 22vw 22vw #fff, 38vw 92vw #fff, 50vw 79vw #fff, 94vw 31vw #fff, 84vw 22vw #fff, 36vw 94vw #fff, 46vw 4vw #fff, 43vw 3vw #fff, 17vw 43vw #fff, 95vw 54vw #fff, 13vw 76vw #fff, 34vw 52vw #fff, 49vw 66vw #fff, 95vw 14vw #fff, 55vw 73vw #fff, 53vw 55vw #fff, 99vw 82vw #fff, 97vw 14vw #fff, 66vw 15vw #fff, 92vw 25vw #fff, 98vw 11vw #fff, 36vw 40vw #fff, 65vw 6vw #fff, 71vw 31vw #fff, 24vw 39vw #fff, 81vw 30vw #fff, 97vw 45vw #fff, 34vw 11vw #fff, 71vw 74vw #fff, 46vw 25vw #fff, 52vw 34vw #fff, 41vw 11vw #fff, 5vw 2vw #fff, 73vw 35vw #fff, 23vw 86vw #fff, 27vw 87vw #fff, 40vw 18vw #fff, 41vw 33vw #fff, 43vw 60vw #fff, 54vw 31vw #fff, 74vw 72vw #fff, 49vw 81vw #fff, 6vw 41vw #fff, 46vw 11vw #fff, 26vw 33vw #fff, 56vw 82vw #fff, 66vw 45vw #fff, 9vw 9vw #fff, 6vw 48vw #fff, 10vw 68vw #fff, 4vw 75vw #fff, 34vw 57vw #fff, 13vw 27vw #fff, 49vw 98vw #fff, 97vw 38vw #fff, 35vw 15vw #fff, 99vw 76vw #fff, 53vw 59vw #fff, 67vw 89vw #fff, 41vw 58vw #fff, 61vw 50vw #fff, 55vw 16vw #fff, 8vw 73vw #fff, 58vw 62vw #fff, 46vw 62vw #fff, 70vw 84vw #fff, 53vw 75vw #fff, 33vw 23vw #fff, 49vw 93vw #fff, 6vw 91vw #fff, 55vw 92vw #fff, 53vw 61vw #fff, 74vw 32vw #fff, 100vw 66vw #fff, 64vw 49vw #fff, 91vw 71vw #fff, 14vw 38vw #fff, 38vw 48vw #fff, 29vw 96vw #fff, 39vw 78vw #fff, 83vw 1vw #fff, 90vw 44vw #fff, 6vw 67vw #fff, 64vw 49vw #fff, 27vw 57vw #fff, 35vw 20vw #fff, 62vw 58vw #fff, 39vw 33vw #fff, 83vw 75vw #fff, 64vw 25vw #fff, 86vw 55vw #fff, 59vw 1vw #fff, 36vw 62vw #fff, 66vw 43vw #fff, 63vw 44vw #fff, 42vw 34vw #fff, 35vw 98vw #fff, 39vw 24vw #fff, 7vw 21vw #fff, 35vw 56vw #fff, 50vw 69vw #fff, 28vw 71vw #fff, 24vw 94vw #fff, 42vw 28vw #fff, 45vw 76vw #fff, 38vw 67vw #fff, 85vw 34vw #fff, 58vw 53vw #fff, 52vw 83vw #fff, 33vw 52vw #fff, 46vw 74vw #fff, 85vw 67vw #fff, 52vw 35vw #fff, 23vw 38vw #fff, 25vw 76vw #fff, 46vw 71vw #fff, 81vw 38vw #fff, 33vw 55vw #fff, 8vw 25vw #fff, 57vw 54vw #fff, 93vw 30vw #fff, 54vw 85vw #fff, 27vw 95vw #fff, 78vw 92vw #fff, 8vw 62vw #fff, 42vw 34vw #fff, 84vw 38vw #fff, 32vw 46vw #fff, 26vw 11vw #fff, 16vw 64vw #fff, 58vw 40vw #fff, 76vw 7vw #fff, 74vw 17vw #fff, 19vw 64vw #fff, 54vw 39vw #fff, 75vw 79vw #fff, 33vw 63vw #fff, 64vw 89vw #fff, 47vw 57vw #fff, 96vw 87vw #fff, 18vw 78vw #fff, 77vw 94vw #fff, 5vw 18vw #fff, 76vw 35vw #fff, 94vw 78vw #fff, 8vw 21vw #fff, 9vw 21vw #fff, 100vw 79vw #fff, 45vw 94vw #fff, 83vw 65vw #fff, 84vw 52vw #fff, 52vw 26vw #fff, 23vw 17vw #fff, 41vw 12vw #fff, 67vw 79vw #fff, 59vw 57vw #fff, 60vw 96vw #fff, 91vw 15vw #fff, 26vw 18vw #fff, 72vw 27vw #fff, 7vw 59vw #fff, 23vw 78vw #fff, 93vw 35vw #fff, 38vw 46vw #fff, 93vw 61vw #fff, 13vw 44vw #fff, 91vw 62vw #fff, 34vw 74vw #fff, 92vw 85vw #fff, 37vw 60vw #fff, 83vw 10vw #fff, 49vw 11vw #fff, 97vw 30vw #fff, 61vw 26vw #fff, 45vw 33vw #fff, 89vw 61vw #fff, 1vw 4vw #fff, 39vw 7vw #fff, 75vw 62vw #fff, 84vw 46vw #fff, 87vw 72vw #fff, 46vw 42vw #fff, 96vw 25vw #fff, 82vw 79vw #fff, 10vw 5vw #fff, 16vw 48vw #fff, 73vw 7vw #fff, 59vw 96vw #fff, 89vw 13vw #fff, 26vw 16vw #fff, 65vw 40vw #fff, 47vw 96vw #fff, 67vw 6vw #fff, 90vw 17vw #fff, 39vw 45vw #fff, 94vw 63vw #fff, 70vw 11vw #fff, 37vw 97vw #fff, 37vw 5vw #fff, 53vw 20vw #fff, 23vw 99vw #fff, 57vw 20vw #fff, 32vw 5vw #fff, 65vw 10vw #fff, 99vw 83vw #fff, 77vw 95vw #fff, 67vw 19vw #fff, 85vw 5vw #fff, 42vw 100vw #fff, 81vw 10vw #fff, 36vw 44vw #fff, 58vw 64vw #fff, 77vw 73vw #fff, 72vw 82vw #fff, 22vw 17vw #fff, 64vw 77vw #fff, 92vw 5vw #fff, 13vw 7vw #fff, 11vw 28vw #fff, 91vw 37vw #fff, 15vw 9vw #fff, 2vw 74vw #fff, 92vw 29vw #fff, 28vw 34vw #fff, 84vw 97vw #fff, 3vw 32vw #fff, 34vw 57vw #fff, 99vw 85vw #fff, 34vw 42vw #fff, 70vw 30vw #fff, 82vw 17vw #fff, 51vw 62vw #fff, 62vw 62vw #fff, 4vw 98vw #fff, 43vw 23vw #fff, 32vw 100vw #fff, 9vw 84vw #fff, 84vw 98vw #fff, 48vw 30vw #fff, 49vw 43vw #fff, 91vw 70vw #fff, 30vw 64vw #fff, 51vw 38vw #fff, 72vw 6vw #fff, 80vw 77vw #fff, 47vw 14vw #fff, 35vw 31vw #fff, 57vw 69vw #fff, 65vw 68vw #fff, 2vw 55vw #fff, 4vw 12vw #fff, 48vw 27vw #fff, 73vw 65vw #fff, 35vw 73vw #fff, 2vw 34vw #fff, 69vw 58vw #fff, 63vw 19vw #fff, 1vw 89vw #fff, 54vw 39vw #fff, 26vw 25vw #fff, 46vw 5vw #fff, 64vw 84vw #fff, 44vw 28vw #fff, 12vw 68vw #fff, 46vw 67vw #fff, 13vw 94vw #fff, 69vw 94vw #fff, 66vw 58vw #fff, 62vw 54vw #fff, 25vw 79vw #fff, 37vw 5vw #fff, 65vw 57vw #fff, 1vw 82vw #fff, 10vw 78vw #fff, 57vw 26vw #fff, 86vw 61vw #fff, 26vw 9vw #fff, 6vw 7vw #fff, 58vw 33vw #fff, 24vw 29vw #fff, 43vw 19vw #fff, 24vw 67vw #fff, 85vw 11vw #fff, 49vw 44vw #fff, 4vw 74vw #fff, 31vw 75vw #fff, 84vw 92vw #fff, 95vw 32vw #fff, 34vw 75vw #fff, 2vw 70vw #fff, 70vw 77vw #fff, 58vw 23vw #fff, 37vw 10vw #fff, 41vw 49vw #fff, 50vw 66vw #fff, 91vw 12vw #fff, 94vw 71vw #fff, 15vw 32vw #fff, 27vw 78vw #fff, 52vw 52vw #fff, 62vw 93vw #fff, 95vw 18vw #fff, 94vw 98vw #fff, 59vw 54vw #fff, 67vw 1vw #fff, 22vw 52vw #fff, 96vw 94vw #fff, 47vw 81vw #fff, 16vw 1vw #fff, 44vw 59vw #fff, 92vw 3vw #fff, 26vw 4vw #fff, 16vw 15vw #fff, 37vw 7vw #fff, 41vw 2vw #fff, 23vw 17vw #fff, 30vw 46vw #fff, 24vw 72vw #fff, 55vw 82vw #fff, 83vw 37vw #fff, 45vw 88vw #fff, 100vw 81vw #fff, 84vw 17vw #fff, 68vw 21vw #fff, 46vw 33vw #fff, 7vw 81vw #fff, 17vw 70vw #fff, 75vw 52vw #fff, 38vw 80vw #fff, 24vw 91vw #fff, 1vw 7vw #fff, 62vw 74vw #fff, 69vw 32vw #fff, 9vw 97vw #fff, 92vw 14vw #fff, 39vw 15vw #fff, 19vw 19vw #fff, 64vw 49vw #fff, 70vw 77vw #fff, 31vw 16vw #fff, 3vw 6vw #fff, 51vw 51vw #fff, 9vw 92vw #fff, 9vw 93vw #fff, 35vw 16vw #fff, 50vw 66vw #fff, 41vw 32vw #fff, 93vw 22vw #fff, 10vw 27vw #fff, 41vw 15vw #fff, 27vw 67vw #fff, 9vw 60vw #fff, 85vw 21vw #fff, 59vw 61vw #fff, 39vw 14vw #fff, 97vw 56vw #fff, 73vw 47vw #fff, 89vw 10vw #fff, 93vw 32vw #fff, 63vw 44vw #fff, 28vw 28vw #fff, 76vw 57vw #fff, 41vw 77vw #fff, 70vw 1vw #fff, 69vw 43vw #fff, 71vw 59vw #fff, 49vw 9vw #fff, 81vw 29vw #fff, 95vw 33vw #fff, 25vw 69vw #fff, 45vw 90vw #fff, 91vw 94vw #fff, 93vw 29vw #fff, 11vw 50vw #fff, 64vw 64vw #fff, 31vw 80vw #fff, 53vw 49vw #fff, 39vw 22vw #fff, 2vw 71vw #fff, 1vw 3vw #fff, 34vw 65vw #fff, 5vw 99vw #fff, 50vw 68vw #fff, 44vw 32vw #fff, 97vw 1vw #fff, 98vw 26vw #fff, 14vw 19vw #fff, 76vw 54vw #fff, 56vw 62vw #fff, 60vw 93vw #fff, 84vw 43vw #fff, 8vw 56vw #fff, 67vw 3vw #fff, 85vw 28vw #fff, 85vw 60vw #fff, 80vw 62vw #fff, 64vw 79vw #fff, 46vw 9vw #fff, 83vw 56vw #fff, 63vw 39vw #fff, 49vw 27vw #fff, 71vw 16vw #fff, 14vw 16vw #fff, 47vw 99vw #fff, 98vw 47vw #fff, 55vw 77vw #fff, 23vw 29vw #fff, 47vw 100vw #fff, 77vw 36vw #fff, 57vw 91vw #fff, 85vw 84vw #fff, 55vw 94vw #fff, 11vw 16vw #fff, 81vw 97vw #fff, 51vw 87vw #fff, 38vw 15vw #fff, 3vw 59vw #fff, 7vw 10vw #fff, 92vw 19vw #fff, 40vw 8vw #fff, 31vw 68vw #fff, 67vw 90vw #fff, 87vw 32vw #fff, 38vw 46vw #fff, 94vw 24vw #fff, 89vw 37vw #fff, 78vw 28vw #fff, 19vw 12vw #fff, 51vw 41vw #fff, 47vw 90vw #fff, 95vw 30vw #fff, 14vw 75vw #fff, 72vw 21vw #fff, 6vw 40vw #fff, 22vw 56vw #fff, 79vw 45vw #fff, 36vw 50vw #fff, 88vw 27vw #fff, 98vw 83vw #fff, 85vw 17vw #fff, 49vw 61vw #fff, 79vw 95vw #fff, 41vw 56vw #fff, 65vw 23vw #fff, 97vw 65vw #fff, 66vw 11vw #fff, 2vw 87vw #fff, 49vw 23vw #fff, 93vw 17vw #fff, 11vw 65vw #fff, 65vw 82vw #fff, 80vw 80vw #fff, 8vw 54vw #fff, 6vw 83vw #fff, 41vw 32vw #fff, 20vw 32vw #fff, 13vw 45vw #fff, 86vw 95vw #fff, 78vw 24vw #fff, 85vw 50vw #fff, 16vw 66vw #fff, 37vw 24vw #fff, 74vw 39vw #fff, 12vw 41vw #fff, 54vw 91vw #fff, 31vw 58vw #fff, 12vw 75vw #fff, 57vw 1vw #fff, 74vw 74vw #fff, 26vw 96vw #fff, 33vw 82vw #fff, 31vw 6vw #fff, 8vw 81vw #fff, 56vw 29vw #fff, 1vw 10vw #fff, 13vw 35vw #fff, 9vw 50vw #fff, 33vw 30vw #fff, 29vw 71vw #fff, 57vw 95vw #fff, 20vw 69vw #fff, 100vw 12vw #fff, 22vw 36vw #fff, 61vw 3vw #fff, 12vw 39vw #fff, 38vw 72vw #fff, 35vw 33vw #fff, 28vw 91vw #fff, 19vw 39vw #fff, 8vw 84vw #fff, 38vw 41vw #fff, 81vw 19vw #fff, 8vw 66vw #fff, 72vw 25vw #fff, 61vw 29vw #fff, 64vw 25vw #fff, 21vw 23vw #fff, 68vw 49vw #fff, 48vw 73vw #fff, 91vw 59vw #fff, 28vw 45vw #fff, 95vw 42vw #fff, 32vw 31vw #fff, 18vw 60vw #fff, 22vw 1vw #fff, 81vw 18vw #fff, 3vw 48vw #fff, 11vw 99vw #fff, 22vw 95vw #fff, 2vw 20vw #fff, 24vw 16vw #fff, 86vw 10vw #fff, 24vw 84vw #fff, 90vw 85vw #fff, 18vw 96vw #fff, 93vw 90vw #fff, 66vw 30vw #fff, 80vw 15vw #fff, 62vw 19vw #fff, 67vw 87vw #fff, 27vw 36vw #fff, 88vw 80vw #fff, 39vw 64vw #fff, 4vw 33vw #fff, 39vw 13vw #fff, 85vw 79vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 46vw 4vh #fff, 78vw 97vw #fff, 47vw 15vw #fff, 67vw 80vw #fff, 81vw 58vw #fff, 95vw 70vw #fff, 34vw 88vw #fff, 65vw 3vw #fff, 1vw 96vw #fff, 47vw 50vw #fff, 43vw 94vw #fff, 8vw 96vw #fff, 59vw 92vw #fff, 9vw 56vw #fff, 89vw 3vw #fff, 42vw 98vw #fff, 42vw 24vw #fff, 24vw 21vw #fff, 69vw 2vw #fff, 73vw 20vw #fff, 51vw 23vw #fff, 72vw 91vw #fff, 29vw 40vw #fff, 1vw 95vw #fff, 35vw 65vw #fff, 45vw 88vw #fff, 14vw 44vw #fff, 32vw 49vw #fff, 52vw 84vw #fff, 72vw 67vw #fff, 87vw 33vw #fff, 9vw 11vw #fff, 80vw 70vw #fff, 81vw 47vw #fff, 51vw 24vw #fff, 84vw 84vw #fff, 7vw 8vw #fff, 46vw 77vw #fff, 16vw 87vw #fff, 38vw 27vw #fff, 7vw 31vw #fff, 72vw 9vw #fff, 97vw 8vw #fff, 55vw 3vw #fff, 89vw 58vw #fff, 26vw 60vw #fff, 51vw 16vw #fff, 97vw 15vw #fff, 71vw 88vw #fff, 70vw 85vw #fff, 92vw 36vw #fff, 62vw 35vw #fff, 30vw 73vw #fff, 25vw 100vw #fff, 9vw 42vw #fff, 18vw 68vw #fff, 10vw 83vw #fff, 15vw 18vw #fff, 17vw 35vw #fff, 5vw 16vw #fff, 8vw 33vw #fff, 55vw 95vw #fff, 75vw 95vw #fff, 20vw 14vw #fff, 28vw 52vw #fff, 77vw 40vw #fff, 67vw 71vw #fff, 77vw 42vw #fff, 47vw 40vw #fff, 19vw 22vw #fff, 47vw 25vw #fff, 69vw 79vw #fff, 19vw 98vw #fff, 12vw 90vw #fff, 39vw 97vw #fff, 58vw 93vw #fff, 13vw 51vw #fff, 43vw 97vw #fff, 84vw 97vw #fff, 4vw 1vw #fff, 14vw 37vw #fff, 90vw 100vw #fff, 12vw 39vw #fff, 94vw 46vw #fff, 27vw 19vw #fff, 56vw 43vw #fff, 84vw 66vw #fff, 63vw 63vw #fff, 37vw 66vw #fff, 66vw 20vw #fff, 1vw 78vw #fff, 91vw 98vw #fff, 60vw 49vw #fff, 31vw 91vw #fff, 31vw 31vw #fff, 74vw 6vw #fff, 29vw 17vw #fff, 65vw 51vw #fff, 24vw 54vw #fff, 70vw 33vw #fff, 13vw 81vw #fff, 86vw 51vw #fff, 53vw 19vw #fff, 58vw 59vw #fff, 39vw 77vw #fff, 23vw 61vw #fff, 91vw 6vw #fff, 12vw 80vw #fff, 76vw 23vw #fff, 91vw 33vw #fff, 44vw 78vw #fff, 74vw 41vw #fff, 67vw 58vw #fff, 99vw 96vw #fff, 41vw 71vw #fff, 31vw 71vw #fff, 86vw 8vw #fff, 64vw 88vw #fff, 96vw 5vw #fff, 96vw 7vw #fff, 39vw 64vw #fff, 11vw 48vw #fff, 31vw 99vw #fff, 56vw 5vw #fff, 34vw 73vw #fff, 4vw 47vw #fff, 65vw 87vw #fff, 42vw 28vw #fff, 20vw 81vw #fff, 52vw 37vw #fff, 15vw 97vw #fff, 5vw 73vw #fff, 73vw 86vw #fff, 49vw 73vw #fff, 73vw 80vw #fff, 100vw 100vw #fff, 5vw 25vw #fff, 21vw 58vw #fff, 14vw 77vw #fff, 22vw 31vw #fff, 2vw 72vw #fff, 32vw 76vw #fff, 12vw 70vw #fff, 80vw 30vw #fff, 28vw 48vw #fff, 20vw 27vw #fff, 9vw 53vw #fff, 35vw 55vw #fff, 98vw 81vw #fff, 17vw 58vw #fff, 37vw 80vw #fff, 8vw 62vw #fff, 79vw 94vw #fff, 74vw 42vw #fff, 47vw 79vw #fff, 59vw 25vw #fff, 83vw 51vw #fff, 55vw 74vw #fff, 44vw 68vw #fff, 36vw 25vw #fff, 31vw 76vw #fff, 62vw 4vw #fff, 12vw 69vw #fff, 85vw 90vw #fff, 87vw 55vw #fff, 6vw 16vw #fff, 17vw 51vw #fff, 21vw 61vw #fff, 15vw 48vw #fff, 64vw 44vw #fff, 86vw 51vw #fff, 17vw 11vw #fff, 80vw 6vw #fff, 65vw 79vw #fff, 65vw 83vw #fff, 2vw 54vw #fff, 65vw 56vw #fff, 50vw 80vw #fff, 60vw 48vw #fff, 27vw 8vw #fff, 47vw 32vw #fff, 8vw 54vw #fff, 75vw 23vw #fff, 95vw 43vw #fff, 68vw 58vw #fff, 43vw 3vw #fff, 50vw 1vw #fff, 92vw 77vw #fff, 79vw 94vw #fff, 59vw 19vw #fff, 56vw 27vw #fff, 3vw 68vw #fff, 3vw 76vw #fff, 2vw 74vw #fff, 31vw 83vw #fff, 71vw 35vw #fff, 34vw 96vw #fff, 96vw 73vw #fff, 29vw 1vw #fff, 96vw 13vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 46vw 4vh #fff, 78vw 97vw #fff, 47vw 15vw #fff, 67vw 80vw #fff, 81vw 58vw #fff, 95vw 70vw #fff, 34vw 88vw #fff, 65vw 3vw #fff, 1vw 96vw #fff, 47vw 50vw #fff, 43vw 94vw #fff, 8vw 96vw #fff, 59vw 92vw #fff, 9vw 56vw #fff, 89vw 3vw #fff, 42vw 98vw #fff, 42vw 24vw #fff, 24vw 21vw #fff, 69vw 2vw #fff, 73vw 20vw #fff, 51vw 23vw #fff, 72vw 91vw #fff, 29vw 40vw #fff, 1vw 95vw #fff, 35vw 65vw #fff, 45vw 88vw #fff, 14vw 44vw #fff, 32vw 49vw #fff, 52vw 84vw #fff, 72vw 67vw #fff, 87vw 33vw #fff, 9vw 11vw #fff, 80vw 70vw #fff, 81vw 47vw #fff, 51vw 24vw #fff, 84vw 84vw #fff, 7vw 8vw #fff, 46vw 77vw #fff, 16vw 87vw #fff, 38vw 27vw #fff, 7vw 31vw #fff, 72vw 9vw #fff, 97vw 8vw #fff, 55vw 3vw #fff, 89vw 58vw #fff, 26vw 60vw #fff, 51vw 16vw #fff, 97vw 15vw #fff, 71vw 88vw #fff, 70vw 85vw #fff, 92vw 36vw #fff, 62vw 35vw #fff, 30vw 73vw #fff, 25vw 100vw #fff, 9vw 42vw #fff, 18vw 68vw #fff, 10vw 83vw #fff, 15vw 18vw #fff, 17vw 35vw #fff, 5vw 16vw #fff, 8vw 33vw #fff, 55vw 95vw #fff, 75vw 95vw #fff, 20vw 14vw #fff, 28vw 52vw #fff, 77vw 40vw #fff, 67vw 71vw #fff, 77vw 42vw #fff, 47vw 40vw #fff, 19vw 22vw #fff, 47vw 25vw #fff, 69vw 79vw #fff, 19vw 98vw #fff, 12vw 90vw #fff, 39vw 97vw #fff, 58vw 93vw #fff, 13vw 51vw #fff, 43vw 97vw #fff, 84vw 97vw #fff, 4vw 1vw #fff, 14vw 37vw #fff, 90vw 100vw #fff, 12vw 39vw #fff, 94vw 46vw #fff, 27vw 19vw #fff, 56vw 43vw #fff, 84vw 66vw #fff, 63vw 63vw #fff, 37vw 66vw #fff, 66vw 20vw #fff, 1vw 78vw #fff, 91vw 98vw #fff, 60vw 49vw #fff, 31vw 91vw #fff, 31vw 31vw #fff, 74vw 6vw #fff, 29vw 17vw #fff, 65vw 51vw #fff, 24vw 54vw #fff, 70vw 33vw #fff, 13vw 81vw #fff, 86vw 51vw #fff, 53vw 19vw #fff, 58vw 59vw #fff, 39vw 77vw #fff, 23vw 61vw #fff, 91vw 6vw #fff, 12vw 80vw #fff, 76vw 23vw #fff, 91vw 33vw #fff, 44vw 78vw #fff, 74vw 41vw #fff, 67vw 58vw #fff, 99vw 96vw #fff, 41vw 71vw #fff, 31vw 71vw #fff, 86vw 8vw #fff, 64vw 88vw #fff, 96vw 5vw #fff, 96vw 7vw #fff, 39vw 64vw #fff, 11vw 48vw #fff, 31vw 99vw #fff, 56vw 5vw #fff, 34vw 73vw #fff, 4vw 47vw #fff, 65vw 87vw #fff, 42vw 28vw #fff, 20vw 81vw #fff, 52vw 37vw #fff, 15vw 97vw #fff, 5vw 73vw #fff, 73vw 86vw #fff, 49vw 73vw #fff, 73vw 80vw #fff, 100vw 100vw #fff, 5vw 25vw #fff, 21vw 58vw #fff, 14vw 77vw #fff, 22vw 31vw #fff, 2vw 72vw #fff, 32vw 76vw #fff, 12vw 70vw #fff, 80vw 30vw #fff, 28vw 48vw #fff, 20vw 27vw #fff, 9vw 53vw #fff, 35vw 55vw #fff, 98vw 81vw #fff, 17vw 58vw #fff, 37vw 80vw #fff, 8vw 62vw #fff, 79vw 94vw #fff, 74vw 42vw #fff, 47vw 79vw #fff, 59vw 25vw #fff, 83vw 51vw #fff, 55vw 74vw #fff, 44vw 68vw #fff, 36vw 25vw #fff, 31vw 76vw #fff, 62vw 4vw #fff, 12vw 69vw #fff, 85vw 90vw #fff, 87vw 55vw #fff, 6vw 16vw #fff, 17vw 51vw #fff, 21vw 61vw #fff, 15vw 48vw #fff, 64vw 44vw #fff, 86vw 51vw #fff, 17vw 11vw #fff, 80vw 6vw #fff, 65vw 79vw #fff, 65vw 83vw #fff, 2vw 54vw #fff, 65vw 56vw #fff, 50vw 80vw #fff, 60vw 48vw #fff, 27vw 8vw #fff, 47vw 32vw #fff, 8vw 54vw #fff, 75vw 23vw #fff, 95vw 43vw #fff, 68vw 58vw #fff, 43vw 3vw #fff, 50vw 1vw #fff, 92vw 77vw #fff, 79vw 94vw #fff, 59vw 19vw #fff, 56vw 27vw #fff, 3vw 68vw #fff, 3vw 76vw #fff, 2vw 74vw #fff, 31vw 83vw #fff, 71vw 35vw #fff, 34vw 96vw #fff, 96vw 73vw #fff, 29vw 1vw #fff, 96vw 13vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun,
  .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%,
  .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%,
  .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%,
  .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%,
  .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%,
  .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }

.constellationMapping {
  background-image: url("./images/star-1050487_960_720.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh; }

.constMap {
  width: 100vw; }

.Layer_0 {
  background-image: url("./images/Layer 0.png");
  position: relative;
  width: 359px;
  height: 278px;
  z-index: 1; }

.Layer_12 {
  background-image: url("./images/Layer 12.png");
  position: absolute;
  left: 9px;
  top: 207px;
  width: 100px;
  height: 53px;
  z-index: 2; }
  .Layer_12:hover {
    background-color: yellow; }

.Layer_11 {
  background-image: url("./images/Layer 11.png");
  position: absolute;
  left: 9px;
  top: 136px;
  width: 74px;
  height: 58px;
  z-index: 3; }
  .Layer_11:hover {
    background-color: yellow; }

.Layer_10 {
  background-image: url("./images/Layer 10.png");
  position: absolute;
  left: 90px;
  top: 142px;
  width: 137px;
  height: 64px;
  z-index: 4; }
  .Layer_10:hover {
    background-color: yellow; }

.Layer_9 {
  background-image: url("./images/Layer 9.png");
  position: absolute;
  left: 109px;
  top: 204px;
  width: 117px;
  height: 48px;
  z-index: 5; }
  .Layer_9:hover {
    background-color: yellow; }

.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 31px;
  top: 71px;
  width: 56px;
  height: 53px;
  z-index: 6; }
  .Layer_1:hover {
    background-color: yellow; }

.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 16px;
  top: 17px;
  width: 68px;
  height: 52px;
  z-index: 5; }
  .Layer_2:hover {
    background-color: yellow; }

.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 103px;
  top: 72px;
  width: 94px;
  height: 80px;
  z-index: 4; }
  .Layer_3:hover {
    background-color: yellow; }

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 119px;
  top: 3px;
  width: 104px;
  height: 61px;
  z-index: 3; }
  .Layer_4:hover {
    background-color: yellow; }

.Layer_5 {
  background-image: url("./images/Layer 5.png");
  position: absolute;
  left: 247px;
  top: 5px;
  width: 74px;
  height: 53px;
  z-index: 2; }
  .Layer_5:hover {
    background-color: yellow; }

.toggled_1 {
  position: absolute;
  right: 0px;
  color: yellow;
  font-size: 20px; }

.toggle_off {
  visibility: visible;
  width: 100px;
  height: 200px;
  position: absolute;
  background-color: blue;
  z-index: 200; }

.toggled_2 {
  position: absolute;
  top: 20px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_3 {
  position: absolute;
  top: 120px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_4 {
  position: absolute;
  top: 110px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_5 {
  position: absolute;
  top: 100px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_6 {
  position: absolute;
  top: 90px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_7 {
  position: absolute;
  top: 80px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_8 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: grey;
  font-size: 20px; }

.toggled_9 {
  position: absolute;
  top: 60px;
  right: 0px;
  color: green;
  font-size: 20px; }

.toggled_10 {
  position: absolute;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_11 {
  position: absolute;
  top: 40px;
  right: 0px;
  color: purple;
  font-size: 20px; }

.toggled_12 {
  position: absolute;
  top: 30px;
  right: 0px;
  color: blue;
  font-size: 20px; }

.display_Box {
  width: 100px;
  height: 200px;
  position: absolute;
  visibility: hidden;
  background-color: blue;
  z-index: 200; }

.Layer_8 {
  background-image: url("./images/Layer 8.png");
  position: absolute;
  left: 233px;
  top: 199px;
  width: 112px;
  height: 67px;
  z-index: 6; }
  .Layer_8:hover {
    background-color: yellow; }

.Layer_7 {
  background-image: url("./images/Layer 7.png");
  position: absolute;
  left: 233px;
  top: 50px;
  width: 109px;
  height: 84px;
  z-index: 7; }
  .Layer_7:hover {
    background-color: yellow; }

.Layer_6 {
  background-image: url("./images/Layer 6.png");
  position: absolute;
  left: 235px;
  top: 124px;
  width: 109px;
  height: 82px;
  z-index: 8; }
  .Layer_6:hover {
    background-color: yellow; }

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 258px;
  top: 6px;
  width: 60px;
  height: 51px;
  z-index: 9; }
  .Layer_4:hover {
    background-color: yellow; }

.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 114px;
  top: 5px;
  width: 105px;
  height: 56px;
  z-index: 10; }
  .Layer_3:hover {
    background-color: yellow; }

.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 23px;
  top: 71px;
  width: 75px;
  height: 48px;
  z-index: 11; }
  .Layer_2:hover {
    background-color: yellow; }

.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 12px;
  top: 13px;
  width: 81px;
  height: 57px;
  z-index: 12; }

.toggled_1 {
  position: absolute;
  right: 0px;
  color: yellow;
  font-size: 20px; }

.toggle_off {
  color: red;
  position: absolute;
  right: 0px;
  visibility: hidden;
  font-size: 20px; }

.toggled_2 {
  position: absolute;
  top: 20px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_3 {
  position: absolute;
  top: 120px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_4 {
  position: absolute;
  top: 110px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_5 {
  position: absolute;
  top: 100px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_6 {
  position: absolute;
  top: 90px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_7 {
  position: absolute;
  top: 80px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_8 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: grey;
  font-size: 20px; }

.toggled_9 {
  position: absolute;
  top: 60px;
  right: 0px;
  color: green;
  font-size: 20px; }

.toggled_10 {
  position: absolute;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_11 {
  position: absolute;
  top: 40px;
  right: 0px;
  color: purple;
  font-size: 20px; }

.toggled_12 {
  position: absolute;
  top: 30px;
  right: 0px;
  color: blue;
  font-size: 20px; }
