@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

    $deepspace:     #080C22;
    $grey:          #333542;
    $teal:          #28E6F9;
    $blue:          #1DAEEC;
    $dust:          #606060;
    $moon:          #B5B4B5;
    $lilac:         #BDCAEC;

    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poiret One', sans-serif;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    h1, h2 {
        font-family: 'Megrim', Serif;
        font-weight: normal;
    }

  

// /////////////////////////////////////////////////////////////////
// Home
// /////////////////////////////////////////////////////////////////
    .homepage{
        background: #000;
        color: $moon;
        height: 100vh;
        width: 100vw;
        padding-top: 50px;
        .logo{
            height: 270px;
            width: 400px;
            margin: auto;
            position: absolute;
            left: 34%;
        }
        .topSVG {
            margin-bottom: -235px;
            position: relative;
            z-index: 5;
            width: 400px;
            height: 260px;
            -webkit-animation: starlight 2s linear alternate forwards;
            .logo-star {
                fill: #fff;
            }
        }
        .bottomSVG {
            background: transparent;
            fill: transparent;
            stroke-dasharray: 210;
            stroke-width: 1;
            stroke: $lilac;
            stroke-dashoffset: 525;
            -webkit-animation: dash 3s linear alternate forwards;
        }
        .starmap {
            display: block;
            // width: 100vw;
            margin: 20px auto;
        }
    }

    @-webkit-keyframes starlight {
        0% {
            opacity: 0;
            stroke: $moon;
        }
        100% {
            stroke: $moon;
            stroke-dashoffset: 0;
        }
    }
    @-webkit-keyframes dash {
        0% {
            opacity: 0;
            stroke: $moon;
        }
        50%{
            opacity: 0;
        }
        90% {
            stroke-width: 1;
        }
        100% {
            stroke: $moon;
            stroke-dashoffset: 0;
        }    
    }
  

// /////////////////////////////////////////////////////////////////
// Events
// /////////////////////////////////////////////////////////////////

    .events-container {
        section {
            width: 100vw;
            height: 100vh;
        }
    }

    .types, .lunar-cycle, .lunar-eclipse, .solar-eclipse, .meteor {
        padding: 50px;
        ul {
            list-style: none;
            li{
                padding-left: 20px;
            }
        }
    }

    .types {
        background: $teal;
    }
    .lunar-cycle {
        background: $blue;
        height: 200vh;
    }
    .lunar-eclipse {
        background: $deepspace;
    }
    .solar-eclipse {
        background: $lilac;
    }
    .meteor {
        background: $moon;
    }


// /////////////////////////////////////////////////////////////////
// Constellations
// /////////////////////////////////////////////////////////////////

  .constellationMapping{
        background-image: url('./images/star-1050487_960_720.jpg');
        background-size: cover;
        position: absolute;
        width: 100vw;
        height: 100vh;

    }
    .constMap{
        width: 100vw;
        
    }
    .Layer_0 {
        background-image: url("./images/Layer 0.png");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 359px;
        height: 278px;
        z-index: 1;
    }
    .Layer_12  {
  background-image: url("./images/Layer 12.png");
  position: absolute;
  
  left: 9px;
  top: 207px;
  width: 100px;
  height: 53px;
  z-index: 2;
  &:hover{
background-color: yellow;
  }
}

.Layer_11 {
  background-image: url("./images/Layer 11.png");
  position: absolute;
  left: 9px;
  top: 136px;
  width: 74px;
  height: 58px;
  z-index: 3;
  &:hover{
background-color: yellow;

  }
}
.Layer_10 {
  background-image: url("./images/Layer 10.png");
  position: absolute;
  left: 90px;
  
  top: 142px;
  width: 137px;
  height: 64px;
  z-index: 4;
  &:hover{
background-color: yellow;
  }
}
.Layer_9  {
  background-image: url("./images/Layer 9.png");
  position: absolute;
  left: 109px;
  top: 204px;
  width: 117px;
  height: 48px;
  z-index: 5;
  &:hover{
background-color: yellow;
  }
}

.Layer_8 {
  background-image: url("./images/Layer 8.png");
  position: absolute;
  left: 233px;
  top: 199px;
  width: 112px;
  height: 67px;
  z-index: 6;
  &:hover{
background-color: yellow;
  }
}

.Layer_7 {
  background-image: url("./images/Layer 7.png");
  position: absolute;
  left: 233px;
  top: 50px;
  width: 109px;
  height: 84px;
  z-index: 7;
  &:hover{
background-color: yellow;
  }
}
.Layer_6 {
  background-image: url("./images/Layer 6.png");
  position: absolute;
  left: 235px;
  top: 124px;
  width: 109px;
  height: 82px;
  z-index: 8;
  &:hover{
background-color: yellow;

  }
}

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 258px;
  top: 6px;
  width: 60px;
  height: 51px;
  z-index: 9;
  &:hover{
background-color: yellow;

  }
}
.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 114px;
  top: 5px;
  width: 105px;
  height: 56px;
  z-index: 10;
  &:hover{
background-color: yellow;
  }
}
.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 23px;
  top: 71px;
  width: 75px;
  height: 48px;
  z-index: 11;
  &:hover{
background-color: yellow;
  }
}
.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 12px;
  top: 13px;
  width: 81px;
  height: 57px;
  z-index: 12;
  
}
