@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

    $deepspace:     #080C22;
    $grey:          #333542;
    $teal:          #28E6F9;
    $blue:          #1DAEEC;
    $dust:          #606060;
    $moon:          #B5B4B5;
    $lilac:         #BDCAEC;

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poiret One', sans-serif;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    h1, h2 {
        font-family: 'Megrim', Serif;
        font-weight: normal;
    }

// /////////////////////////////////////////////////////////////////
// Home
// /////////////////////////////////////////////////////////////////
    .homepage{
        background: #000;
        color: $moon;
        #logo {
            height: 52px;
            width: 242px;
        }
    }