@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

// /////////////////////////////////////////////////////////////////
// Base
// /////////////////////////////////////////////////////////////////

    $deepspace:     #080C22;
    $grey:          #333542;
    $teal:          #28E6F9;
    $blue:          #1DAEEC;
    $dust:          #606060;
    $moon:          #B5B4B5;
    $lilac:         #BDCAEC;

    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Poiret One', sans-serif;
    }
    a {
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    h1, h2 {
        font-family: 'Megrim', Serif;
        font-weight: normal;
    }

  

// /////////////////////////////////////////////////////////////////
// Home
// /////////////////////////////////////////////////////////////////
    .homepage{
        background: #000;
        color: $moon;
        height: 100vh;
        width: 100vw;
        padding-top: 50px;
        .logo{
            height: 270px;
            width: 400px;
            margin: auto;
            position: absolute;
            left: 34%;
        }
        .topSVG {
            margin-bottom: -235px;
            position: relative;
            z-index: 5;
            width: 400px;
            height: 260px;
            -webkit-animation: starlight 2s linear alternate forwards;
            .logo-star {
                fill: #fff;
            }
        }
        .bottomSVG {
            background: transparent;
            fill: transparent;
            stroke-dasharray: 210;
            stroke-width: 1;
            stroke: $lilac;
            stroke-dashoffset: 525;
            -webkit-animation: dash 3s linear alternate forwards;
        }
        .starmap {
            display: block;
            // width: 100vw;
            margin: 20px auto;
        }
    }

    @-webkit-keyframes starlight {
        0% {
            opacity: 0;
            stroke: $moon;
        }
        100% {
            stroke: $moon;
            stroke-dashoffset: 0;
        }
    }
    @-webkit-keyframes dash {
        0% {
            opacity: 0;
            stroke: $moon;
        }
        50%{
            opacity: 0;
        }
        90% {
            stroke-width: 1;
        }
        100% {
            stroke: $moon;
            stroke-dashoffset: 0;
        }    
    }
  

// /////////////////////////////////////////////////////////////////
// Events
// /////////////////////////////////////////////////////////////////

    .events-container {
        .section {
            padding: 20px !important;
        }
    }

    .types {
        background: #000;
        color: #fff;
    }
    .lunar-cycle {
        background: $deepspace;
        color: #fff;
        height: 100vh;
        text-align: center;
        background: linear-gradient(#000000, $deepspace);
        h1 {
            color: $teal;
            margin-bottom: 0;
        }
        .lunar-text {
            position: relative;
            z-index: 5;
        }

        //stars aren't working. figure out later
        @function star-shadow ($n){
            $value: '#{random(2000)}px #{random(2000)}px #fff';
            @for $i from 2 through $n{
                $value: '#{$value}, #{random(2000)}px #{random(2000)}px #fff'
            }
            @return unquote($value)
        }
        $shadows-small: star-shadow(700);
        $shadows-medium: star-shadow(200);
        $shadows-large: star-shdaow(100);
        .star{
            transform-style: preserve-3d;
        }
        .starone {
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
            animation-timing-function: ease(in-out-circ);
            animation-direction: alternate;
            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 1px;
                height: 1px;
                background: transparent;
                box-shadow: $shadows-small;
            }
        }
        .startwo{
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
            animation-timing-function: ease(in-out-circ);
            animation-direction: alternate;
            &:after{
                content: " ";
                position: absolute;
                top: 2000px;
                width: 2px;
                height: 2px;
                background: transparent;
                box-shadow: $shadows-medium;
            }
        }
        .starthree{
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-large;
            animation-timing-function: ease(in-out-circ);
            animation-direction: alternate;
            &:after{
                content: " ";
                position: absolute;
                top: 2000px;
                width: 3px;
                height: 3px;
                background: transparent;
                box-shadow: $shadows-large;
            }
        }  
        .tonight-moon {
            display: inline-block;
            vertical-align: top;
            margin-top: 87px;
            margin-right: 3vw;
        }
        #lunar-container {
            margin: auto;
            opacity: 0;
            h3 {
                margin: 0;
                color: $teal;
            }
            p {
                margin: 0;
                margin-bottom: 4px;
                color: $moon;
            }
            #moonCanvas {
                margin: 12px auto 20px auto;
            }
        }
        ul li {
            margin-top: 10px;
            display: inline-block;
            &:before {
                content: '☾ ';
                margin-left: 10px;
            }
        }
        .lunar-cycle-image img {
            width: 50vw;
            margin: auto;
            position: relative;
            z-index: 5;
        }
    }
    .lunar-eclipse {
        text-align: center;
        color: #fff;
        background: $deepspace;
        .lunar-eclipse-text {
            position: relative;
            z-index: 5;
            text-align: right;
            margin-right: 50px;
        }
        .moon-eclipse {
            position: absolute;
            margin: -37vh auto 0 -54vh;
            width: 130vh;
            z-index: 0;
            height: 130vh;
            border-radius: 50%;
            background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center / 124% 124%;
            animation: eclipse 20s linear infinite;
        }
        @keyframes eclipse {
            0% {
                box-shadow: inset 200px 200px 50px rgba(black, .8);
            }
            50% {
                box-shadow: inset  0 0 50px rgba(black, .8);
            }
            100% {
                box-shadow: inset -200px -200px 50px rgba(black, .8);
            }
        }
    }
    .solar-eclipse {
        background: $lilac;
    }
    .meteor {
        background: $moon;
    }
    .planetary {
        background: $dust;
    }


// /////////////////////////////////////////////////////////////////
// Constellations
// /////////////////////////////////////////////////////////////////

  .constellationMapping{
        background-image: url('./images/star-1050487_960_720.jpg');
        background-size: cover;
        position: absolute;
        width: 100vw;
        height: 100vh;

    }
    .constMap{
        width: 100vw;
        
    }
    .Layer_0 {
        background-image: url("./images/Layer 0.png");
        position: absolute;
        left: 0px;
        top: 0px;
        width: 359px;
        height: 278px;
        z-index: 1;
    }
    .Layer_12  {
  background-image: url("./images/Layer 12.png");
  position: absolute;
  
  left: 9px;
  top: 207px;
  width: 100px;
  height: 53px;
  z-index: 2;
  &:hover{
background-color: yellow;
  }
}

.Layer_11 {
  background-image: url("./images/Layer 11.png");
  position: absolute;
  left: 9px;
  top: 136px;
  width: 74px;
  height: 58px;
  z-index: 3;
  &:hover{
background-color: yellow;

  }
}
.Layer_10 {
  background-image: url("./images/Layer 10.png");
  position: absolute;
  left: 90px;
  
  top: 142px;
  width: 137px;
  height: 64px;
  z-index: 4;
  &:hover{
background-color: yellow;
  }
}
.Layer_9  {
  background-image: url("./images/Layer 9.png");
  position: absolute;
  left: 109px;
  top: 204px;
  width: 117px;
  height: 48px;
  z-index: 5;
  &:hover{
background-color: yellow;
  }
}

.Layer_8 {
  background-image: url("./images/Layer 8.png");
  position: absolute;
  left: 233px;
  top: 199px;
  width: 112px;
  height: 67px;
  z-index: 6;
  &:hover{
background-color: yellow;
  }
}

.Layer_7 {
  background-image: url("./images/Layer 7.png");
  position: absolute;
  left: 233px;
  top: 50px;
  width: 109px;
  height: 84px;
  z-index: 7;
  &:hover{
background-color: yellow;
  }
}
.Layer_6 {
  background-image: url("./images/Layer 6.png");
  position: absolute;
  left: 235px;
  top: 124px;
  width: 109px;
  height: 82px;
  z-index: 8;
  &:hover{
background-color: yellow;

  }
}

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 258px;
  top: 6px;
  width: 60px;
  height: 51px;
  z-index: 9;
  &:hover{
background-color: yellow;

  }
}
.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 114px;
  top: 5px;
  width: 105px;
  height: 56px;
  z-index: 10;
  &:hover{
background-color: yellow;
  }
}
.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 23px;
  top: 71px;
  width: 75px;
  height: 48px;
  z-index: 11;
  &:hover{
background-color: yellow;
  }
}
.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 12px;
  top: 13px;
  width: 81px;
  height: 57px;
  z-index: 12;
  
}
