@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1, h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 34%; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 210;
    stroke-width: 1;
    stroke: #BDCAEC;
    stroke-dashoffset: 525;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container {
  background: #080C22;
  color: #28E6F9;
  padding: 20px; }
