.constellationMapping {
  background-image: url("./images/star-1050487_960_720.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh; }
  .constellationMapping .constMap {
    width: 100vw; }
  .constellationMapping .Layer_0 {
    background-image: url("./images/Layer 0.png");
    position: relative;
    width: 359px;
    height: 278px;
    z-index: 1; }
  .constellationMapping .Layer_12 {
    background-image: url("./images/Layer 12.png");
    position: absolute;
    left: 9px;
    top: 207px;
    width: 100px;
    height: 53px;
    z-index: 2; }
    .constellationMapping .Layer_12:hover {
      background-color: yellow; }
  .constellationMapping .Layer_11 {
    background-image: url("./images/Layer 11.png");
    position: absolute;
    left: 9px;
    top: 136px;
    width: 74px;
    height: 58px;
    z-index: 3; }
    .constellationMapping .Layer_11:hover {
      background-color: yellow; }
  .constellationMapping .Layer_10 {
    background-image: url("./images/Layer 10.png");
    position: absolute;
    left: 90px;
    top: 142px;
    width: 137px;
    height: 64px;
    z-index: 4; }
    .constellationMapping .Layer_10:hover {
      background-color: yellow; }

.Layer_11 {
  background-image: url("./images/Layer 11.png");
  position: absolute;
  left: 9px;
  top: 136px;
  width: 74px;
  height: 58px;
  z-index: 3; }
  .Layer_11:hover {
    background-color: yellow; }

.Layer_10 {
  background-image: url("./images/Layer 10.png");
  position: absolute;
  left: 90px;
  top: 142px;
  width: 137px;
  height: 64px;
  z-index: 4; }
  .Layer_10:hover {
    background-color: yellow; }

.Layer_9 {
  background-image: url("./images/Layer 9.png");
  position: absolute;
  left: 109px;
  top: 204px;
  width: 117px;
  height: 48px;
  z-index: 5; }
  .Layer_9:hover {
    background-color: yellow; }

.Layer_1 {
  background-image: url("./images/Layer 1.png");
  position: absolute;
  left: 31px;
  top: 71px;
  width: 56px;
  height: 53px;
  z-index: 6; }
  .Layer_1:hover {
    background-color: yellow; }

.Layer_2 {
  background-image: url("./images/Layer 2.png");
  position: absolute;
  left: 16px;
  top: 17px;
  width: 68px;
  height: 52px;
  z-index: 5; }
  .Layer_2:hover {
    background-color: yellow; }

.Layer_3 {
  background-image: url("./images/Layer 3.png");
  position: absolute;
  left: 103px;
  top: 72px;
  width: 94px;
  height: 80px;
  z-index: 4; }
  .Layer_3:hover {
    background-color: yellow; }

.Layer_4 {
  background-image: url("./images/Layer 4.png");
  position: absolute;
  left: 119px;
  top: 3px;
  width: 104px;
  height: 61px;
  z-index: 3; }
  .Layer_4:hover {
    background-color: yellow; }

.Layer_5 {
  background-image: url("./images/Layer 5.png");
  position: absolute;
  left: 247px;
  top: 5px;
  width: 74px;
  height: 53px;
  z-index: 2; }
  .Layer_5:hover {
    background-color: yellow; }

.toggled_1 {
  position: absolute;
  right: 0px;
  color: yellow;
  font-size: 20px; }

.toggle_off {
  visibility: visible;
  width: 100px;
  height: 200px;
  position: absolute;
  background-color: blue;
  z-index: 200; }

.toggled_2 {
  position: absolute;
  top: 20px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_3 {
  position: absolute;
  top: 120px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_4 {
  position: absolute;
  top: 110px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_5 {
  position: absolute;
  top: 100px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_6 {
  position: absolute;
  top: 90px;
  right: 0px;
  color: red;
  font-size: 20px; }

.toggled_7 {
  position: absolute;
  top: 80px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_8 {
  position: absolute;
  top: 70px;
  right: 0px;
  color: grey;
  font-size: 20px; }

.toggled_9 {
  position: absolute;
  top: 60px;
  right: 0px;
  color: green;
  font-size: 20px; }

.toggled_10 {
  position: absolute;
  top: 50px;
  right: 0px;
  color: white;
  font-size: 20px; }

.toggled_11 {
  position: absolute;
  top: 40px;
  right: 0px;
  color: purple;
  font-size: 20px; }

.toggled_12 {
  position: absolute;
  top: 30px;
  right: 0px;
  color: blue;
  font-size: 20px; }

.display_Box {
  width: 100px;
  height: 200px;
  position: absolute;
  visibility: hidden;
  background-color: blue;
  z-index: 200; }

.Layer_8 {
  background-image: url("./images/Layer 8.png");
  position: absolute;
  left: 233px;
  top: 199px;
  width: 112px;
  height: 67px;
  z-index: 6; }
  .Layer_8:hover {
    background-color: yellow; }

.Layer_7 {
  background-image: url("./images/Layer 7.png");
  position: absolute;
  left: 233px;
  top: 50px;
  width: 109px;
  height: 84px;
  z-index: 7; }
  .Layer_7:hover {
    background-color: yellow; }

.Layer_6 {
  background-image: url("./images/Layer 6.png");
  position: absolute;
  left: 235px;
  top: 124px;
  width: 109px;
  height: 82px;
  z-index: 8; }
  .Layer_6:hover {
    background-color: yellow; }
  .Layer_6 .Layer_1 {
    background-image: url("./images/Layer 1.png");
    position: absolute;
    left: 31px;
    top: 71px;
    width: 56px;
    height: 53px;
    z-index: 6; }
    .Layer_6 .Layer_1:hover {
      background-color: yellow; }
  .Layer_6 .Layer_2 {
    background-image: url("./images/Layer 2.png");
    position: absolute;
    left: 16px;
    top: 17px;
    width: 68px;
    height: 52px;
    z-index: 5; }
    .Layer_6 .Layer_2:hover {
      background-color: yellow; }
  .Layer_6 .Layer_3 {
    background-image: url("./images/Layer 3.png");
    position: absolute;
    left: 103px;
    top: 72px;
    width: 94px;
    height: 80px;
    z-index: 4; }
    .Layer_6 .Layer_3:hover {
      background-color: yellow; }
  .Layer_6 .Layer_4 {
    background-image: url("./images/Layer 4.png");
    position: absolute;
    left: 119px;
    top: 3px;
    width: 104px;
    height: 61px;
    z-index: 3; }
    .Layer_6 .Layer_4:hover {
      background-color: yellow; }
  .Layer_6 .Layer_5 {
    background-image: url("./images/Layer 5.png");
    position: absolute;
    left: 247px;
    top: 5px;
    width: 74px;
    height: 53px;
    z-index: 2; }
    .Layer_6 .Layer_5:hover {
      background-color: yellow; }
  .Layer_6 .toggled_1 {
    position: absolute;
    right: 0px;
    color: yellow;
    font-size: 20px; }
  .Layer_6 .toggle_off {
    visibility: visible;
    width: 100px;
    height: 200px;
    position: absolute;
    background-color: blue;
    z-index: 200; }
  .Layer_6 .toggled_2 {
    position: absolute;
    top: 20px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_3 {
    position: absolute;
    top: 120px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_4 {
    position: absolute;
    top: 110px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_5 {
    position: absolute;
    top: 100px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_6 {
    position: absolute;
    top: 90px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_7 {
    position: absolute;
    top: 80px;
    right: 0px;
    color: white;
    font-size: 20px; }
  .Layer_6 .toggled_8 {
    position: absolute;
    top: 70px;
    right: 0px;
    color: grey;
    font-size: 20px; }
  .Layer_6 .toggled_9 {
    position: absolute;
    top: 60px;
    right: 0px;
    color: green;
    font-size: 20px; }
  .Layer_6 .toggled_10 {
    position: absolute;
    top: 50px;
    right: 0px;
    color: white;
    font-size: 20px; }
  .Layer_6 .toggled_11 {
    position: absolute;
    top: 40px;
    right: 0px;
    color: purple;
    font-size: 20px; }
  .Layer_6 .toggled_12 {
    position: absolute;
    top: 30px;
    right: 0px;
    color: blue;
    font-size: 20px; }
  .Layer_6 .display_Box {
    width: 100px;
    height: 200px;
    position: absolute;
    visibility: hidden;
    background-color: blue;
    z-index: 200; }
  .Layer_6 .Layer_8 {
    background-image: url("./images/Layer 8.png");
    position: absolute;
    left: 233px;
    top: 199px;
    width: 112px;
    height: 67px;
    z-index: 6; }
    .Layer_6 .Layer_8:hover {
      background-color: yellow; }
  .Layer_6 .Layer_7 {
    background-image: url("./images/Layer 7.png");
    position: absolute;
    left: 233px;
    top: 50px;
    width: 109px;
    height: 84px;
    z-index: 7; }
    .Layer_6 .Layer_7:hover {
      background-color: yellow; }
  .Layer_6 .Layer_6 {
    background-image: url("./images/Layer 6.png");
    position: absolute;
    left: 235px;
    top: 124px;
    width: 109px;
    height: 82px;
    z-index: 8; }
    .Layer_6 .Layer_6:hover {
      background-color: yellow; }
  .Layer_6 .Layer_4 {
    background-image: url("./images/Layer 4.png");
    position: absolute;
    left: 258px;
    top: 6px;
    width: 60px;
    height: 51px;
    z-index: 9; }
    .Layer_6 .Layer_4:hover {
      background-color: yellow; }
  .Layer_6 .Layer_3 {
    background-image: url("./images/Layer 3.png");
    position: absolute;
    left: 114px;
    top: 5px;
    width: 105px;
    height: 56px;
    z-index: 10; }
    .Layer_6 .Layer_3:hover {
      background-color: yellow; }
  .Layer_6 .Layer_2 {
    background-image: url("./images/Layer 2.png");
    position: absolute;
    left: 23px;
    top: 71px;
    width: 75px;
    height: 48px;
    z-index: 11; }
    .Layer_6 .Layer_2:hover {
      background-color: yellow; }
  .Layer_6 .Layer_1 {
    background-image: url("./images/Layer 1.png");
    position: absolute;
    left: 12px;
    top: 13px;
    width: 81px;
    height: 57px;
    z-index: 12; }
  .Layer_6 .toggled_1 {
    position: absolute;
    right: 0px;
    color: yellow;
    font-size: 20px; }
  .Layer_6 .toggle_off {
    color: red;
    position: absolute;
    right: 0px;
    visibility: hidden;
    font-size: 20px; }
  .Layer_6 .toggled_2 {
    position: absolute;
    top: 20px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_3 {
    position: absolute;
    top: 120px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_4 {
    position: absolute;
    top: 110px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_5 {
    position: absolute;
    top: 100px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_6 {
    position: absolute;
    top: 90px;
    right: 0px;
    color: red;
    font-size: 20px; }
  .Layer_6 .toggled_7 {
    position: absolute;
    top: 80px;
    right: 0px;
    color: white;
    font-size: 20px; }
  .Layer_6 .toggled_8 {
    position: absolute;
    top: 70px;
    right: 0px;
    color: grey;
    font-size: 20px; }
  .Layer_6 .toggled_9 {
    position: absolute;
    top: 60px;
    right: 0px;
    color: green;
    font-size: 20px; }
