/* ============================================================================================== 
Nick Mkrtchyan
https://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal;
  opacity: 1; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

.star-cont {
  overflow: hidden; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  .star-cont .stars,
  .star-cont .twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block; }
  .star-cont .stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 0;
    height: 150vh;
    width: 100vw;
    overflow: hidden; }
  .star-cont .stars2 {
    background: transparent url("./images/stars2.png") repeat top center;
    z-index: 0;
    transform: scaleY(-1);
    height: 100vh;
    width: 100vw;
    margin-top: -20vh;
    animation: App-logo-spin infinite 500s linear;
    overflow: hidden; }
  .star-cont .twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    -moz-animation: move-twink-back 800s linear infinite;
    -ms-animation: move-twink-back 800s linear infinite;
    -o-animation: move-twink-back 800s linear infinite;
    -webkit-animation: move-twink-back 800s linear infinite;
    animation: move-twink-back 800s linear infinite; }

.Aries {
  background-image: url("images/Aries.png");
  position: absolute;
  left: 41px;
  top: 63px;
  width: 166px;
  height: 167px;
  z-index: 13;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Aries:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 26; }

.Taurus {
  background-image: url("./images/Taurus.png");
  position: absolute;
  left: 141px;
  top: 27px;
  width: 137px;
  height: 153px;
  z-index: 12;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Taurus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Gemini {
  background-image: url("./images/Gemini.png");
  position: absolute;
  left: 275px;
  top: 26px;
  width: 136px;
  height: 153px;
  z-index: 11;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Gemini:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Cancer {
  background-image: url("./images/Cancer.png");
  position: absolute;
  left: 346px;
  top: 64px;
  width: 166px;
  height: 166px;
  z-index: 10;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Cancer:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Leo {
  background-image: url("./images/Leo.png");
  position: absolute;
  left: 393px;
  top: 164px;
  width: 155px;
  height: 135px;
  z-index: 9;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Leo:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Virgo {
  background-image: url("./images/Virgo.png");
  position: absolute;
  left: 394px;
  top: 298px;
  width: 154px;
  height: 135px;
  z-index: 8;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Virgo:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Libra {
  background-image: url("./images/Libra.png");
  position: absolute;
  left: 346px;
  top: 369px;
  width: 164px;
  height: 164px;
  z-index: 7;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Libra:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Scorpio {
  background-image: url("./images/Scorpio.png");
  position: absolute;
  left: 275px;
  top: 417px;
  width: 136px;
  height: 154px;
  z-index: 6;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Scorpio:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Sagittarius {
  background-image: url("./images/Sagittarius.png");
  position: absolute;
  left: 140px;
  top: 418px;
  width: 138px;
  height: 152px;
  z-index: 5;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Sagittarius:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Capricorn {
  background-image: url("./images/Capricorn.png");
  position: absolute;
  left: 41px;
  top: 368px;
  width: 166px;
  height: 166px;
  z-index: 4;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Capricorn:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Aquarius {
  background-image: url("./images/Aquarius.png");
  position: absolute;
  left: 3px;
  top: 298px;
  width: 155px;
  height: 138px;
  z-index: 3;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Aquarius:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Pisces {
  background-image: url("./images/Pisces.png");
  position: absolute;
  left: 3px;
  top: 164px;
  width: 153px;
  height: 135px;
  z-index: 100;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }
  .Pisces:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
    z-index: 25; }

.Base_Layer {
  background-image: url("./images/BaseLayer.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 10vw;
  top: 20vh;
  width: 567px;
  height: 86vh;
  z-index: 1;
  display: block; }

.display_Box {
  height: 30vh;
  width: 45vw;
  display: block;
  position: absolute;
  right: 0px;
  top: 25vh;
  background-color: transparent; }

.info_Box {
  height: auto;
  width: 35vw;
  background-color: rgba(181, 180, 181, 0.75);
  border-radius: 5px;
  padding: 40px;
  text-align: center; }

.zodiac-title {
  color: #B5B4B5;
  font-size: 50px;
  position: absolute;
  top: 20px;
  left: 8vw;
  z-index: 2; }

.Ursa_Major {
  background-image: url("./images/UrsaMinor.png");
  position: absolute;
  left: 15px;
  top: 50px;
  width: 549px;
  height: 305px;
  z-index: 26; }
  .Ursa_Major:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Leo_Minor {
  background-image: url("./images/LeoMinor.png");
  position: absolute;
  left: 215px;
  top: 323px;
  width: 152px;
  height: 100px;
  z-index: 25; }
  .Leo_Minor:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Leo2 {
  background-image: url("./images/Leo2.png");
  position: absolute;
  left: 55px;
  top: 424px;
  width: 379px;
  height: 227px;
  z-index: 24; }
  .Leo2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Cancer2 {
  background-image: url("./images/Cancer2.png");
  position: absolute;
  left: 459px;
  top: 406px;
  width: 153px;
  height: 234px;
  z-index: 23; }
  .Cancer2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Gemini2 {
  background-image: url("./images/Gemini2.png");
  position: absolute;
  left: 617px;
  top: 372px;
  width: 243px;
  height: 246px;
  z-index: 22; }
  .Gemini2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Taurus2 {
  background-image: url("./images/Taurus2.png");
  position: absolute;
  left: 839px;
  top: 162px;
  width: 447px;
  height: 498px;
  z-index: 21; }
  .Taurus2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Orion {
  background-image: url("./images/Orion.png");
  position: absolute;
  left: 831px;
  top: 494px;
  width: 233px;
  height: 328px;
  z-index: 20; }
  .Orion:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Canis_Minor {
  background-image: url("./images/CanisMinor.png");
  position: absolute;
  left: 587px;
  top: 608px;
  width: 205px;
  height: 68px;
  z-index: 19; }
  .Canis_Minor:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Canis_Major {
  background-image: url("./images/CanisMajor.png");
  position: absolute;
  left: 599px;
  top: 838px;
  width: 271px;
  height: 184px;
  z-index: 18; }
  .Canis_Major:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Columba {
  background-image: url("./images/Columba.png");
  position: absolute;
  left: 805px;
  top: 1008px;
  width: 201px;
  height: 152px;
  z-index: 17; }
  .Columba:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Eridanus {
  background-image: url("./images/Eredanus.png");
  position: absolute;
  left: 977px;
  top: 734px;
  width: 391px;
  height: 466px;
  z-index: 16; }
  .Eridanus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Cetus {
  background-image: url("./images/Cetus.png");
  position: absolute;
  left: 1241px;
  top: 584px;
  width: 429px;
  height: 362px;
  z-index: 15; }
  .Cetus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Perseus {
  background-image: url("./images/Perseus.png");
  position: absolute;
  left: 1073px;
  top: 128px;
  width: 273px;
  height: 288px;
  z-index: 14; }
  .Perseus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Pegasus {
  background-image: url("./images/Pegasus.png");
  position: absolute;
  left: 1367px;
  top: 212px;
  width: 673px;
  height: 468px;
  z-index: 13; }
  .Pegasus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Cassiopeia {
  background-image: url("./images/Cassiopeia.png");
  position: absolute;
  left: 1389px;
  top: 48px;
  width: 309px;
  height: 154px;
  z-index: 12; }
  .Cassiopeia:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Cygnus {
  background-image: url("./images/Cygnus.png");
  position: absolute;
  left: 1993px;
  top: 186px;
  width: 315px;
  height: 264px;
  z-index: 11; }
  .Cygnus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Draco {
  background-image: url("./images/Draco.png");
  position: absolute;
  left: 2193px;
  top: 0px;
  width: 849px;
  height: 232px;
  z-index: 10; }
  .Draco:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Hercules {
  background-image: url("./images/Herculese.png");
  position: absolute;
  left: 2411px;
  top: 230px;
  width: 363px;
  height: 368px;
  z-index: 9; }
  .Hercules:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Pisces2 {
  background-image: url("./images/allPisces.png");
  position: absolute;
  left: 1785px;
  top: 952px;
  width: 261px;
  height: 110px;
  z-index: 8; }
  .Pisces2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Scorpius {
  background-image: url("./images/Scopius.png");
  position: absolute;
  left: 2459px;
  top: 870px;
  width: 293px;
  height: 290px;
  z-index: 7; }
  .Scorpius:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Libra2 {
  background-image: url("./images/Libra2.png");
  position: absolute;
  left: 2763px;
  top: 770px;
  width: 141px;
  height: 248px;
  z-index: 6; }
  .Libra2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Corvus {
  background-image: url("./images/Corvus.png");
  position: absolute;
  left: 3089px;
  top: 838px;
  width: 190px;
  height: 140px;
  z-index: 5; }
  .Corvus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Lupus {
  background-image: url("./images/Lupus.png");
  position: absolute;
  left: 2687px;
  top: 1028px;
  width: 243px;
  height: 204px;
  z-index: 4; }
  .Lupus:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Virgo2 {
  background-image: url("./images/Virgo2.png");
  position: absolute;
  left: 2871px;
  top: 558px;
  width: 444px;
  height: 302px;
  z-index: 3; }
  .Virgo2:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.Hydra {
  background-image: url("./images/Hydra.png");
  position: absolute;
  left: 32px;
  top: 616px;
  width: 514px;
  height: 454px;
  z-index: 2; }
  .Hydra:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25); }

.mainMap {
  background-image: url("./images/mainMap.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  display: block;
  margin-top: 15vh; }

.info_Box2 {
  height: auto;
  width: 65vw;
  background-color: rgba(181, 180, 181, 0.75);
  border-radius: 5px;
  margin-top: 5vh;
  margin-left: 1.5vw;
  padding: 40px;
  text-align: center; }

.display_Box2 {
  height: 40vh;
  width: 65vw;
  display: block;
  text-align: center;
  margin-left: 30vh;
  background-color: transparent; }

.const-cont {
  width: 3323px;
  height: 1248px;
  zoom: .3866; }

.img-size {
  height: 25vh; }
