@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Days+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal;
  opacity: 1; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 4; }

.noinput {
  display: none; }

input:checked ~ label {
  right: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.main {
  display: flex;
  width: 100vw;
  height: 100vh; }

.main span {
  margin: auto;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Pacifico', cursive; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    left: 34%; }
  .homepage .homepage {
    background: #000;
    color: #B5B4B5;
    height: 100vh;
    width: 100vw;
    padding-top: 50px; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 700;
    stroke-width: 2;
    stroke: #BDCAEC;
    stroke-dashoffset: 1300;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 99vw 88vh #fff, 83vw 80vw #fff, 87vw 69vw #fff, 59vw 11vw #fff, 20vw 23vw #fff, 19vw 84vw #fff, 43vw 27vw #fff, 55vw 19vw #fff, 19vw 58vw #fff, 47vw 79vw #fff, 45vw 75vw #fff, 68vw 75vw #fff, 58vw 93vw #fff, 18vw 70vw #fff, 98vw 41vw #fff, 31vw 10vw #fff, 74vw 5vw #fff, 72vw 63vw #fff, 90vw 3vw #fff, 88vw 99vw #fff, 68vw 21vw #fff, 63vw 21vw #fff, 53vw 88vw #fff, 59vw 65vw #fff, 38vw 13vw #fff, 20vw 19vw #fff, 92vw 83vw #fff, 25vw 93vw #fff, 79vw 88vw #fff, 30vw 18vw #fff, 97vw 9vw #fff, 39vw 74vw #fff, 48vw 5vw #fff, 33vw 87vw #fff, 9vw 59vw #fff, 68vw 57vw #fff, 62vw 65vw #fff, 89vw 76vw #fff, 65vw 85vw #fff, 72vw 7vw #fff, 55vw 61vw #fff, 13vw 97vw #fff, 56vw 56vw #fff, 58vw 95vw #fff, 45vw 31vw #fff, 16vw 80vw #fff, 85vw 35vw #fff, 74vw 35vw #fff, 73vw 42vw #fff, 65vw 47vw #fff, 31vw 45vw #fff, 42vw 62vw #fff, 83vw 51vw #fff, 83vw 86vw #fff, 9vw 80vw #fff, 62vw 44vw #fff, 67vw 69vw #fff, 59vw 61vw #fff, 17vw 67vw #fff, 75vw 19vw #fff, 57vw 86vw #fff, 32vw 57vw #fff, 38vw 67vw #fff, 76vw 30vw #fff, 1vw 39vw #fff, 67vw 41vw #fff, 34vw 1vw #fff, 20vw 98vw #fff, 4vw 41vw #fff, 15vw 70vw #fff, 79vw 45vw #fff, 31vw 58vw #fff, 14vw 89vw #fff, 67vw 6vw #fff, 32vw 41vw #fff, 31vw 11vw #fff, 69vw 49vw #fff, 38vw 92vw #fff, 17vw 13vw #fff, 64vw 6vw #fff, 91vw 70vw #fff, 68vw 12vw #fff, 73vw 82vw #fff, 41vw 60vw #fff, 28vw 88vw #fff, 7vw 36vw #fff, 9vw 17vw #fff, 78vw 98vw #fff, 51vw 84vw #fff, 53vw 13vw #fff, 64vw 29vw #fff, 34vw 67vw #fff, 86vw 41vw #fff, 21vw 70vw #fff, 82vw 26vw #fff, 58vw 63vw #fff, 40vw 13vw #fff, 71vw 32vw #fff, 6vw 51vw #fff, 63vw 32vw #fff, 45vw 24vw #fff, 87vw 36vw #fff, 14vw 36vw #fff, 94vw 88vw #fff, 50vw 69vw #fff, 45vw 41vw #fff, 64vw 39vw #fff, 40vw 19vw #fff, 4vw 70vw #fff, 60vw 94vw #fff, 44vw 17vw #fff, 12vw 57vw #fff, 17vw 74vw #fff, 78vw 28vw #fff, 100vw 79vw #fff, 36vw 89vw #fff, 65vw 45vw #fff, 54vw 30vw #fff, 23vw 44vw #fff, 12vw 21vw #fff, 28vw 92vw #fff, 21vw 87vw #fff, 99vw 19vw #fff, 13vw 3vw #fff, 76vw 3vw #fff, 94vw 90vw #fff, 13vw 59vw #fff, 64vw 24vw #fff, 52vw 74vw #fff, 56vw 91vw #fff, 7vw 10vw #fff, 39vw 69vw #fff, 61vw 90vw #fff, 73vw 11vw #fff, 19vw 44vw #fff, 58vw 44vw #fff, 51vw 87vw #fff, 46vw 65vw #fff, 85vw 28vw #fff, 19vw 42vw #fff, 90vw 88vw #fff, 47vw 6vw #fff, 52vw 45vw #fff, 21vw 58vw #fff, 25vw 48vw #fff, 63vw 13vw #fff, 17vw 62vw #fff, 98vw 67vw #fff, 44vw 17vw #fff, 32vw 3vw #fff, 72vw 98vw #fff, 19vw 42vw #fff, 76vw 33vw #fff, 59vw 79vw #fff, 93vw 18vw #fff, 100vw 90vw #fff, 63vw 22vw #fff, 97vw 34vw #fff, 63vw 30vw #fff, 86vw 11vw #fff, 96vw 74vw #fff, 6vw 8vw #fff, 47vw 39vw #fff, 49vw 28vw #fff, 63vw 1vw #fff, 9vw 73vw #fff, 90vw 60vw #fff, 67vw 36vw #fff, 65vw 38vw #fff, 95vw 37vw #fff, 35vw 38vw #fff, 14vw 52vw #fff, 87vw 62vw #fff, 71vw 36vw #fff, 17vw 47vw #fff, 62vw 64vw #fff, 93vw 81vw #fff, 54vw 88vw #fff, 69vw 8vw #fff, 90vw 97vw #fff, 13vw 33vw #fff, 37vw 27vw #fff, 79vw 56vw #fff, 70vw 88vw #fff, 88vw 49vw #fff, 81vw 49vw #fff, 96vw 6vw #fff, 32vw 12vw #fff, 40vw 81vw #fff, 9vw 23vw #fff, 76vw 49vw #fff, 99vw 7vw #fff, 54vw 7vw #fff, 93vw 91vw #fff, 7vw 16vw #fff, 36vw 20vw #fff, 33vw 46vw #fff, 85vw 8vw #fff, 96vw 32vw #fff, 33vw 61vw #fff, 79vw 41vw #fff, 56vw 96vw #fff, 31vw 32vw #fff, 42vw 31vw #fff, 20vw 57vw #fff, 81vw 47vw #fff, 58vw 86vw #fff, 17vw 60vw #fff, 100vw 31vw #fff, 55vw 48vw #fff, 91vw 16vw #fff, 83vw 28vw #fff, 4vw 74vw #fff, 73vw 17vw #fff, 69vw 35vw #fff, 58vw 11vw #fff, 67vw 8vw #fff, 8vw 69vw #fff, 76vw 6vw #fff, 11vw 20vw #fff, 30vw 38vw #fff, 78vw 21vw #fff, 13vw 5vw #fff, 79vw 11vw #fff, 32vw 68vw #fff, 68vw 61vw #fff, 8vw 1vw #fff, 91vw 24vw #fff, 14vw 81vw #fff, 20vw 68vw #fff, 23vw 51vw #fff, 53vw 57vw #fff, 92vw 19vw #fff, 63vw 23vw #fff, 77vw 15vw #fff, 42vw 60vw #fff, 86vw 34vw #fff, 70vw 69vw #fff, 55vw 91vw #fff, 34vw 12vw #fff, 16vw 93vw #fff, 45vw 44vw #fff, 36vw 25vw #fff, 13vw 69vw #fff, 83vw 64vw #fff, 39vw 63vw #fff, 53vw 15vw #fff, 86vw 65vw #fff, 83vw 58vw #fff, 20vw 79vw #fff, 82vw 3vw #fff, 56vw 20vw #fff, 27vw 52vw #fff, 21vw 35vw #fff, 40vw 5vw #fff, 37vw 18vw #fff, 66vw 82vw #fff, 93vw 100vw #fff, 72vw 100vw #fff, 37vw 23vw #fff, 28vw 24vw #fff, 88vw 86vw #fff, 30vw 20vw #fff, 64vw 42vw #fff, 89vw 57vw #fff, 2vw 36vw #fff, 44vw 46vw #fff, 52vw 64vw #fff, 19vw 3vw #fff, 78vw 66vw #fff, 69vw 30vw #fff, 19vw 13vw #fff, 30vw 63vw #fff, 20vw 24vw #fff, 89vw 46vw #fff, 95vw 46vw #fff, 70vw 84vw #fff, 1vw 99vw #fff, 91vw 28vw #fff, 56vw 31vw #fff, 19vw 38vw #fff, 2vw 45vw #fff, 80vw 98vw #fff, 66vw 98vw #fff, 40vw 28vw #fff, 81vw 30vw #fff, 14vw 61vw #fff, 38vw 39vw #fff, 100vw 83vw #fff, 50vw 63vw #fff, 9vw 99vw #fff, 82vw 28vw #fff, 96vw 89vw #fff, 17vw 40vw #fff, 30vw 66vw #fff, 9vw 12vw #fff, 91vw 69vw #fff, 24vw 41vw #fff, 73vw 11vw #fff, 89vw 78vw #fff, 49vw 21vw #fff, 50vw 27vw #fff, 61vw 78vw #fff, 92vw 13vw #fff, 48vw 37vw #fff, 66vw 29vw #fff, 88vw 65vw #fff, 45vw 41vw #fff, 17vw 26vw #fff, 80vw 64vw #fff, 36vw 36vw #fff, 13vw 25vw #fff, 1vw 80vw #fff, 68vw 47vw #fff, 67vw 90vw #fff, 20vw 45vw #fff, 72vw 80vw #fff, 11vw 42vw #fff, 17vw 57vw #fff, 82vw 81vw #fff, 84vw 5vw #fff, 35vw 10vw #fff, 46vw 34vw #fff, 46vw 46vw #fff, 23vw 76vw #fff, 3vw 80vw #fff, 97vw 81vw #fff, 79vw 76vw #fff, 63vw 93vw #fff, 63vw 97vw #fff, 25vw 67vw #fff, 29vw 87vw #fff, 99vw 57vw #fff, 96vw 70vw #fff, 23vw 13vw #fff, 54vw 71vw #fff, 78vw 56vw #fff, 62vw 55vw #fff, 27vw 26vw #fff, 55vw 19vw #fff, 62vw 81vw #fff, 15vw 100vw #fff, 91vw 9vw #fff, 27vw 28vw #fff, 34vw 34vw #fff, 60vw 17vw #fff, 84vw 44vw #fff, 86vw 89vw #fff, 44vw 89vw #fff, 10vw 29vw #fff, 75vw 34vw #fff, 57vw 20vw #fff, 67vw 54vw #fff, 8vw 40vw #fff, 31vw 14vw #fff, 55vw 75vw #fff, 26vw 99vw #fff, 65vw 17vw #fff, 76vw 69vw #fff, 5vw 76vw #fff, 9vw 11vw #fff, 88vw 21vw #fff, 14vw 44vw #fff, 83vw 63vw #fff, 67vw 98vw #fff, 44vw 96vw #fff, 76vw 48vw #fff, 1vw 31vw #fff, 33vw 72vw #fff, 69vw 77vw #fff, 3vw 73vw #fff, 80vw 5vw #fff, 4vw 49vw #fff, 25vw 59vw #fff, 34vw 35vw #fff, 55vw 18vw #fff, 83vw 13vw #fff, 57vw 55vw #fff, 76vw 76vw #fff, 52vw 66vw #fff, 26vw 1vw #fff, 26vw 35vw #fff, 25vw 2vw #fff, 29vw 90vw #fff, 42vw 65vw #fff, 55vw 88vw #fff, 19vw 51vw #fff, 25vw 72vw #fff, 24vw 28vw #fff, 67vw 65vw #fff, 56vw 95vw #fff, 69vw 17vw #fff, 77vw 70vw #fff, 62vw 30vw #fff, 85vw 43vw #fff, 63vw 46vw #fff, 86vw 58vw #fff, 37vw 78vw #fff, 34vw 16vw #fff, 85vw 27vw #fff, 28vw 12vw #fff, 42vw 69vw #fff, 94vw 37vw #fff, 90vw 38vw #fff, 40vw 98vw #fff, 13vw 88vw #fff, 25vw 39vw #fff, 67vw 79vw #fff, 75vw 76vw #fff, 98vw 5vw #fff, 91vw 71vw #fff, 59vw 94vw #fff, 97vw 25vw #fff, 97vw 68vw #fff, 69vw 81vw #fff, 52vw 27vw #fff, 94vw 16vw #fff, 61vw 87vw #fff, 80vw 31vw #fff, 65vw 4vw #fff, 15vw 19vw #fff, 35vw 46vw #fff, 15vw 30vw #fff, 10vw 11vw #fff, 4vw 4vw #fff, 8vw 81vw #fff, 96vw 69vw #fff, 86vw 62vw #fff, 46vw 59vw #fff, 38vw 90vw #fff, 37vw 78vw #fff, 91vw 1vw #fff, 69vw 40vw #fff, 58vw 44vw #fff, 70vw 90vw #fff, 83vw 62vw #fff, 53vw 100vw #fff, 72vw 80vw #fff, 41vw 99vw #fff, 53vw 55vw #fff, 10vw 99vw #fff, 99vw 95vw #fff, 51vw 74vw #fff, 99vw 89vw #fff, 10vw 69vw #fff, 31vw 38vw #fff, 92vw 80vw #fff, 67vw 54vw #fff, 76vw 63vw #fff, 13vw 28vw #fff, 60vw 30vw #fff, 36vw 80vw #fff, 81vw 82vw #fff, 25vw 62vw #fff, 42vw 27vw #fff, 14vw 75vw #fff, 38vw 79vw #fff, 41vw 7vw #fff, 92vw 71vw #fff, 45vw 65vw #fff, 25vw 90vw #fff, 47vw 18vw #fff, 60vw 67vw #fff, 85vw 70vw #fff, 53vw 76vw #fff, 98vw 81vw #fff, 59vw 10vw #fff, 58vw 37vw #fff, 29vw 9vw #fff, 23vw 22vw #fff, 34vw 30vw #fff, 96vw 94vw #fff, 9vw 91vw #fff, 36vw 41vw #fff, 11vw 55vw #fff, 66vw 8vw #fff, 83vw 28vw #fff, 43vw 8vw #fff, 16vw 92vw #fff, 12vw 18vw #fff, 83vw 90vw #fff, 2vw 61vw #fff, 12vw 44vw #fff, 4vw 69vw #fff, 69vw 68vw #fff, 43vw 12vw #fff, 19vw 72vw #fff, 54vw 90vw #fff, 98vw 50vw #fff, 45vw 92vw #fff, 20vw 63vw #fff, 33vw 91vw #fff, 96vw 36vw #fff, 49vw 1vw #fff, 50vw 64vw #fff, 66vw 15vw #fff, 2vw 29vw #fff, 3vw 9vw #fff, 28vw 9vw #fff, 19vw 61vw #fff, 100vw 46vw #fff, 99vw 28vw #fff, 90vw 2vw #fff, 57vw 89vw #fff, 37vw 16vw #fff, 64vw 21vw #fff, 26vw 100vw #fff, 72vw 97vw #fff, 76vw 5vw #fff, 85vw 3vw #fff, 7vw 7vw #fff, 16vw 31vw #fff, 30vw 45vw #fff, 35vw 10vw #fff, 74vw 37vw #fff, 67vw 81vw #fff, 22vw 5vw #fff, 31vw 77vw #fff, 95vw 100vw #fff, 46vw 41vw #fff, 19vw 42vw #fff, 94vw 36vw #fff, 66vw 47vw #fff, 75vw 94vw #fff, 84vw 92vw #fff, 24vw 75vw #fff, 18vw 62vw #fff, 88vw 83vw #fff, 20vw 35vw #fff, 83vw 40vw #fff, 99vw 96vw #fff, 15vw 89vw #fff, 45vw 19vw #fff, 58vw 37vw #fff, 82vw 87vw #fff, 4vw 63vw #fff, 17vw 13vw #fff, 72vw 75vw #fff, 77vw 30vw #fff, 37vw 81vw #fff, 13vw 81vw #fff, 20vw 24vw #fff, 38vw 61vw #fff, 86vw 27vw #fff, 34vw 95vw #fff, 69vw 97vw #fff, 59vw 2vw #fff, 34vw 52vw #fff, 25vw 93vw #fff, 16vw 95vw #fff, 3vw 14vw #fff, 37vw 6vw #fff, 30vw 45vw #fff, 63vw 73vw #fff, 14vw 68vw #fff, 89vw 28vw #fff, 35vw 76vw #fff, 31vw 96vw #fff, 9vw 98vw #fff, 84vw 90vw #fff, 60vw 76vw #fff, 3vw 58vw #fff, 23vw 62vw #fff, 11vw 3vw #fff, 25vw 27vw #fff, 23vw 81vw #fff, 39vw 13vw #fff, 42vw 74vw #fff, 67vw 24vw #fff, 2vw 84vw #fff, 55vw 89vw #fff, 19vw 37vw #fff, 95vw 31vw #fff, 81vw 39vw #fff, 60vw 64vw #fff, 39vw 2vw #fff, 71vw 70vw #fff, 31vw 5vw #fff, 95vw 95vw #fff, 43vw 75vw #fff, 8vw 4vw #fff, 21vw 5vw #fff, 39vw 59vw #fff, 2vw 18vw #fff, 70vw 64vw #fff, 47vw 4vw #fff, 31vw 88vw #fff, 59vw 75vw #fff, 9vw 32vw #fff, 33vw 22vw #fff, 1vw 4vw #fff, 95vw 98vw #fff, 52vw 8vw #fff, 2vw 25vw #fff, 30vw 62vw #fff, 32vw 66vw #fff, 95vw 66vw #fff, 86vw 16vw #fff, 14vw 72vw #fff, 39vw 42vw #fff, 44vw 1vw #fff, 22vw 41vw #fff, 88vw 7vw #fff, 35vw 4vw #fff, 71vw 99vw #fff, 20vw 77vw #fff, 7vw 1vw #fff, 58vw 49vw #fff, 71vw 56vw #fff, 66vw 92vw #fff, 59vw 20vw #fff, 36vw 90vw #fff, 61vw 41vw #fff, 58vw 87vw #fff, 75vw 76vw #fff, 55vw 25vw #fff, 50vw 26vw #fff, 86vw 4vw #fff, 82vw 88vw #fff, 72vw 89vw #fff, 43vw 7vw #fff, 15vw 67vw #fff, 96vw 79vw #fff, 57vw 2vw #fff, 80vw 28vw #fff, 86vw 90vw #fff, 21vw 96vw #fff, 63vw 2vw #fff, 53vw 73vw #fff, 79vw 60vw #fff, 28vw 13vw #fff, 19vw 94vw #fff, 58vw 78vw #fff, 74vw 25vw #fff, 82vw 73vw #fff, 55vw 36vw #fff, 31vw 39vw #fff, 4vw 75vw #fff, 10vw 28vw #fff, 87vw 25vw #fff, 41vw 55vw #fff, 2vw 95vw #fff, 55vw 4vw #fff, 74vw 65vw #fff, 81vw 44vw #fff, 94vw 67vw #fff, 40vw 16vw #fff, 95vw 24vw #fff, 68vw 22vw #fff, 58vw 26vw #fff, 40vw 13vw #fff, 91vw 39vw #fff, 4vw 8vw #fff, 63vw 45vw #fff, 23vw 46vw #fff, 71vw 24vw #fff, 77vw 79vw #fff, 87vw 96vw #fff, 5vw 92vw #fff, 30vw 6vw #fff, 55vw 12vw #fff, 4vw 53vw #fff, 61vw 36vw #fff, 17vw 53vw #fff, 8vw 73vw #fff, 19vw 74vw #fff, 92vw 40vw #fff, 16vw 92vw #fff, 94vw 41vw #fff, 21vw 32vw #fff, 14vw 66vw #fff, 81vw 51vw #fff, 83vw 58vw #fff, 10vw 41vw #fff, 20vw 19vw #fff, 17vw 7vw #fff, 32vw 95vw #fff, 78vw 94vw #fff, 85vw 39vw #fff, 64vw 46vw #fff, 95vw 37vw #fff, 47vw 47vw #fff, 80vw 74vw #fff, 92vw 39vw #fff, 92vw 48vw #fff, 47vw 18vw #fff, 63vw 43vw #fff, 78vw 91vw #fff, 57vw 22vw #fff, 40vw 53vw #fff, 43vw 3vw #fff, 76vw 74vw #fff, 59vw 99vw #fff, 15vw 43vw #fff, 79vw 9vw #fff, 51vw 15vw #fff, 82vw 74vw #fff, 48vw 89vw #fff, 37vw 22vw #fff, 30vw 3vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 99vw 88vh #fff, 83vw 80vw #fff, 87vw 69vw #fff, 59vw 11vw #fff, 20vw 23vw #fff, 19vw 84vw #fff, 43vw 27vw #fff, 55vw 19vw #fff, 19vw 58vw #fff, 47vw 79vw #fff, 45vw 75vw #fff, 68vw 75vw #fff, 58vw 93vw #fff, 18vw 70vw #fff, 98vw 41vw #fff, 31vw 10vw #fff, 74vw 5vw #fff, 72vw 63vw #fff, 90vw 3vw #fff, 88vw 99vw #fff, 68vw 21vw #fff, 63vw 21vw #fff, 53vw 88vw #fff, 59vw 65vw #fff, 38vw 13vw #fff, 20vw 19vw #fff, 92vw 83vw #fff, 25vw 93vw #fff, 79vw 88vw #fff, 30vw 18vw #fff, 97vw 9vw #fff, 39vw 74vw #fff, 48vw 5vw #fff, 33vw 87vw #fff, 9vw 59vw #fff, 68vw 57vw #fff, 62vw 65vw #fff, 89vw 76vw #fff, 65vw 85vw #fff, 72vw 7vw #fff, 55vw 61vw #fff, 13vw 97vw #fff, 56vw 56vw #fff, 58vw 95vw #fff, 45vw 31vw #fff, 16vw 80vw #fff, 85vw 35vw #fff, 74vw 35vw #fff, 73vw 42vw #fff, 65vw 47vw #fff, 31vw 45vw #fff, 42vw 62vw #fff, 83vw 51vw #fff, 83vw 86vw #fff, 9vw 80vw #fff, 62vw 44vw #fff, 67vw 69vw #fff, 59vw 61vw #fff, 17vw 67vw #fff, 75vw 19vw #fff, 57vw 86vw #fff, 32vw 57vw #fff, 38vw 67vw #fff, 76vw 30vw #fff, 1vw 39vw #fff, 67vw 41vw #fff, 34vw 1vw #fff, 20vw 98vw #fff, 4vw 41vw #fff, 15vw 70vw #fff, 79vw 45vw #fff, 31vw 58vw #fff, 14vw 89vw #fff, 67vw 6vw #fff, 32vw 41vw #fff, 31vw 11vw #fff, 69vw 49vw #fff, 38vw 92vw #fff, 17vw 13vw #fff, 64vw 6vw #fff, 91vw 70vw #fff, 68vw 12vw #fff, 73vw 82vw #fff, 41vw 60vw #fff, 28vw 88vw #fff, 7vw 36vw #fff, 9vw 17vw #fff, 78vw 98vw #fff, 51vw 84vw #fff, 53vw 13vw #fff, 64vw 29vw #fff, 34vw 67vw #fff, 86vw 41vw #fff, 21vw 70vw #fff, 82vw 26vw #fff, 58vw 63vw #fff, 40vw 13vw #fff, 71vw 32vw #fff, 6vw 51vw #fff, 63vw 32vw #fff, 45vw 24vw #fff, 87vw 36vw #fff, 14vw 36vw #fff, 94vw 88vw #fff, 50vw 69vw #fff, 45vw 41vw #fff, 64vw 39vw #fff, 40vw 19vw #fff, 4vw 70vw #fff, 60vw 94vw #fff, 44vw 17vw #fff, 12vw 57vw #fff, 17vw 74vw #fff, 78vw 28vw #fff, 100vw 79vw #fff, 36vw 89vw #fff, 65vw 45vw #fff, 54vw 30vw #fff, 23vw 44vw #fff, 12vw 21vw #fff, 28vw 92vw #fff, 21vw 87vw #fff, 99vw 19vw #fff, 13vw 3vw #fff, 76vw 3vw #fff, 94vw 90vw #fff, 13vw 59vw #fff, 64vw 24vw #fff, 52vw 74vw #fff, 56vw 91vw #fff, 7vw 10vw #fff, 39vw 69vw #fff, 61vw 90vw #fff, 73vw 11vw #fff, 19vw 44vw #fff, 58vw 44vw #fff, 51vw 87vw #fff, 46vw 65vw #fff, 85vw 28vw #fff, 19vw 42vw #fff, 90vw 88vw #fff, 47vw 6vw #fff, 52vw 45vw #fff, 21vw 58vw #fff, 25vw 48vw #fff, 63vw 13vw #fff, 17vw 62vw #fff, 98vw 67vw #fff, 44vw 17vw #fff, 32vw 3vw #fff, 72vw 98vw #fff, 19vw 42vw #fff, 76vw 33vw #fff, 59vw 79vw #fff, 93vw 18vw #fff, 100vw 90vw #fff, 63vw 22vw #fff, 97vw 34vw #fff, 63vw 30vw #fff, 86vw 11vw #fff, 96vw 74vw #fff, 6vw 8vw #fff, 47vw 39vw #fff, 49vw 28vw #fff, 63vw 1vw #fff, 9vw 73vw #fff, 90vw 60vw #fff, 67vw 36vw #fff, 65vw 38vw #fff, 95vw 37vw #fff, 35vw 38vw #fff, 14vw 52vw #fff, 87vw 62vw #fff, 71vw 36vw #fff, 17vw 47vw #fff, 62vw 64vw #fff, 93vw 81vw #fff, 54vw 88vw #fff, 69vw 8vw #fff, 90vw 97vw #fff, 13vw 33vw #fff, 37vw 27vw #fff, 79vw 56vw #fff, 70vw 88vw #fff, 88vw 49vw #fff, 81vw 49vw #fff, 96vw 6vw #fff, 32vw 12vw #fff, 40vw 81vw #fff, 9vw 23vw #fff, 76vw 49vw #fff, 99vw 7vw #fff, 54vw 7vw #fff, 93vw 91vw #fff, 7vw 16vw #fff, 36vw 20vw #fff, 33vw 46vw #fff, 85vw 8vw #fff, 96vw 32vw #fff, 33vw 61vw #fff, 79vw 41vw #fff, 56vw 96vw #fff, 31vw 32vw #fff, 42vw 31vw #fff, 20vw 57vw #fff, 81vw 47vw #fff, 58vw 86vw #fff, 17vw 60vw #fff, 100vw 31vw #fff, 55vw 48vw #fff, 91vw 16vw #fff, 83vw 28vw #fff, 4vw 74vw #fff, 73vw 17vw #fff, 69vw 35vw #fff, 58vw 11vw #fff, 67vw 8vw #fff, 8vw 69vw #fff, 76vw 6vw #fff, 11vw 20vw #fff, 30vw 38vw #fff, 78vw 21vw #fff, 13vw 5vw #fff, 79vw 11vw #fff, 32vw 68vw #fff, 68vw 61vw #fff, 8vw 1vw #fff, 91vw 24vw #fff, 14vw 81vw #fff, 20vw 68vw #fff, 23vw 51vw #fff, 53vw 57vw #fff, 92vw 19vw #fff, 63vw 23vw #fff, 77vw 15vw #fff, 42vw 60vw #fff, 86vw 34vw #fff, 70vw 69vw #fff, 55vw 91vw #fff, 34vw 12vw #fff, 16vw 93vw #fff, 45vw 44vw #fff, 36vw 25vw #fff, 13vw 69vw #fff, 83vw 64vw #fff, 39vw 63vw #fff, 53vw 15vw #fff, 86vw 65vw #fff, 83vw 58vw #fff, 20vw 79vw #fff, 82vw 3vw #fff, 56vw 20vw #fff, 27vw 52vw #fff, 21vw 35vw #fff, 40vw 5vw #fff, 37vw 18vw #fff, 66vw 82vw #fff, 93vw 100vw #fff, 72vw 100vw #fff, 37vw 23vw #fff, 28vw 24vw #fff, 88vw 86vw #fff, 30vw 20vw #fff, 64vw 42vw #fff, 89vw 57vw #fff, 2vw 36vw #fff, 44vw 46vw #fff, 52vw 64vw #fff, 19vw 3vw #fff, 78vw 66vw #fff, 69vw 30vw #fff, 19vw 13vw #fff, 30vw 63vw #fff, 20vw 24vw #fff, 89vw 46vw #fff, 95vw 46vw #fff, 70vw 84vw #fff, 1vw 99vw #fff, 91vw 28vw #fff, 56vw 31vw #fff, 19vw 38vw #fff, 2vw 45vw #fff, 80vw 98vw #fff, 66vw 98vw #fff, 40vw 28vw #fff, 81vw 30vw #fff, 14vw 61vw #fff, 38vw 39vw #fff, 100vw 83vw #fff, 50vw 63vw #fff, 9vw 99vw #fff, 82vw 28vw #fff, 96vw 89vw #fff, 17vw 40vw #fff, 30vw 66vw #fff, 9vw 12vw #fff, 91vw 69vw #fff, 24vw 41vw #fff, 73vw 11vw #fff, 89vw 78vw #fff, 49vw 21vw #fff, 50vw 27vw #fff, 61vw 78vw #fff, 92vw 13vw #fff, 48vw 37vw #fff, 66vw 29vw #fff, 88vw 65vw #fff, 45vw 41vw #fff, 17vw 26vw #fff, 80vw 64vw #fff, 36vw 36vw #fff, 13vw 25vw #fff, 1vw 80vw #fff, 68vw 47vw #fff, 67vw 90vw #fff, 20vw 45vw #fff, 72vw 80vw #fff, 11vw 42vw #fff, 17vw 57vw #fff, 82vw 81vw #fff, 84vw 5vw #fff, 35vw 10vw #fff, 46vw 34vw #fff, 46vw 46vw #fff, 23vw 76vw #fff, 3vw 80vw #fff, 97vw 81vw #fff, 79vw 76vw #fff, 63vw 93vw #fff, 63vw 97vw #fff, 25vw 67vw #fff, 29vw 87vw #fff, 99vw 57vw #fff, 96vw 70vw #fff, 23vw 13vw #fff, 54vw 71vw #fff, 78vw 56vw #fff, 62vw 55vw #fff, 27vw 26vw #fff, 55vw 19vw #fff, 62vw 81vw #fff, 15vw 100vw #fff, 91vw 9vw #fff, 27vw 28vw #fff, 34vw 34vw #fff, 60vw 17vw #fff, 84vw 44vw #fff, 86vw 89vw #fff, 44vw 89vw #fff, 10vw 29vw #fff, 75vw 34vw #fff, 57vw 20vw #fff, 67vw 54vw #fff, 8vw 40vw #fff, 31vw 14vw #fff, 55vw 75vw #fff, 26vw 99vw #fff, 65vw 17vw #fff, 76vw 69vw #fff, 5vw 76vw #fff, 9vw 11vw #fff, 88vw 21vw #fff, 14vw 44vw #fff, 83vw 63vw #fff, 67vw 98vw #fff, 44vw 96vw #fff, 76vw 48vw #fff, 1vw 31vw #fff, 33vw 72vw #fff, 69vw 77vw #fff, 3vw 73vw #fff, 80vw 5vw #fff, 4vw 49vw #fff, 25vw 59vw #fff, 34vw 35vw #fff, 55vw 18vw #fff, 83vw 13vw #fff, 57vw 55vw #fff, 76vw 76vw #fff, 52vw 66vw #fff, 26vw 1vw #fff, 26vw 35vw #fff, 25vw 2vw #fff, 29vw 90vw #fff, 42vw 65vw #fff, 55vw 88vw #fff, 19vw 51vw #fff, 25vw 72vw #fff, 24vw 28vw #fff, 67vw 65vw #fff, 56vw 95vw #fff, 69vw 17vw #fff, 77vw 70vw #fff, 62vw 30vw #fff, 85vw 43vw #fff, 63vw 46vw #fff, 86vw 58vw #fff, 37vw 78vw #fff, 34vw 16vw #fff, 85vw 27vw #fff, 28vw 12vw #fff, 42vw 69vw #fff, 94vw 37vw #fff, 90vw 38vw #fff, 40vw 98vw #fff, 13vw 88vw #fff, 25vw 39vw #fff, 67vw 79vw #fff, 75vw 76vw #fff, 98vw 5vw #fff, 91vw 71vw #fff, 59vw 94vw #fff, 97vw 25vw #fff, 97vw 68vw #fff, 69vw 81vw #fff, 52vw 27vw #fff, 94vw 16vw #fff, 61vw 87vw #fff, 80vw 31vw #fff, 65vw 4vw #fff, 15vw 19vw #fff, 35vw 46vw #fff, 15vw 30vw #fff, 10vw 11vw #fff, 4vw 4vw #fff, 8vw 81vw #fff, 96vw 69vw #fff, 86vw 62vw #fff, 46vw 59vw #fff, 38vw 90vw #fff, 37vw 78vw #fff, 91vw 1vw #fff, 69vw 40vw #fff, 58vw 44vw #fff, 70vw 90vw #fff, 83vw 62vw #fff, 53vw 100vw #fff, 72vw 80vw #fff, 41vw 99vw #fff, 53vw 55vw #fff, 10vw 99vw #fff, 99vw 95vw #fff, 51vw 74vw #fff, 99vw 89vw #fff, 10vw 69vw #fff, 31vw 38vw #fff, 92vw 80vw #fff, 67vw 54vw #fff, 76vw 63vw #fff, 13vw 28vw #fff, 60vw 30vw #fff, 36vw 80vw #fff, 81vw 82vw #fff, 25vw 62vw #fff, 42vw 27vw #fff, 14vw 75vw #fff, 38vw 79vw #fff, 41vw 7vw #fff, 92vw 71vw #fff, 45vw 65vw #fff, 25vw 90vw #fff, 47vw 18vw #fff, 60vw 67vw #fff, 85vw 70vw #fff, 53vw 76vw #fff, 98vw 81vw #fff, 59vw 10vw #fff, 58vw 37vw #fff, 29vw 9vw #fff, 23vw 22vw #fff, 34vw 30vw #fff, 96vw 94vw #fff, 9vw 91vw #fff, 36vw 41vw #fff, 11vw 55vw #fff, 66vw 8vw #fff, 83vw 28vw #fff, 43vw 8vw #fff, 16vw 92vw #fff, 12vw 18vw #fff, 83vw 90vw #fff, 2vw 61vw #fff, 12vw 44vw #fff, 4vw 69vw #fff, 69vw 68vw #fff, 43vw 12vw #fff, 19vw 72vw #fff, 54vw 90vw #fff, 98vw 50vw #fff, 45vw 92vw #fff, 20vw 63vw #fff, 33vw 91vw #fff, 96vw 36vw #fff, 49vw 1vw #fff, 50vw 64vw #fff, 66vw 15vw #fff, 2vw 29vw #fff, 3vw 9vw #fff, 28vw 9vw #fff, 19vw 61vw #fff, 100vw 46vw #fff, 99vw 28vw #fff, 90vw 2vw #fff, 57vw 89vw #fff, 37vw 16vw #fff, 64vw 21vw #fff, 26vw 100vw #fff, 72vw 97vw #fff, 76vw 5vw #fff, 85vw 3vw #fff, 7vw 7vw #fff, 16vw 31vw #fff, 30vw 45vw #fff, 35vw 10vw #fff, 74vw 37vw #fff, 67vw 81vw #fff, 22vw 5vw #fff, 31vw 77vw #fff, 95vw 100vw #fff, 46vw 41vw #fff, 19vw 42vw #fff, 94vw 36vw #fff, 66vw 47vw #fff, 75vw 94vw #fff, 84vw 92vw #fff, 24vw 75vw #fff, 18vw 62vw #fff, 88vw 83vw #fff, 20vw 35vw #fff, 83vw 40vw #fff, 99vw 96vw #fff, 15vw 89vw #fff, 45vw 19vw #fff, 58vw 37vw #fff, 82vw 87vw #fff, 4vw 63vw #fff, 17vw 13vw #fff, 72vw 75vw #fff, 77vw 30vw #fff, 37vw 81vw #fff, 13vw 81vw #fff, 20vw 24vw #fff, 38vw 61vw #fff, 86vw 27vw #fff, 34vw 95vw #fff, 69vw 97vw #fff, 59vw 2vw #fff, 34vw 52vw #fff, 25vw 93vw #fff, 16vw 95vw #fff, 3vw 14vw #fff, 37vw 6vw #fff, 30vw 45vw #fff, 63vw 73vw #fff, 14vw 68vw #fff, 89vw 28vw #fff, 35vw 76vw #fff, 31vw 96vw #fff, 9vw 98vw #fff, 84vw 90vw #fff, 60vw 76vw #fff, 3vw 58vw #fff, 23vw 62vw #fff, 11vw 3vw #fff, 25vw 27vw #fff, 23vw 81vw #fff, 39vw 13vw #fff, 42vw 74vw #fff, 67vw 24vw #fff, 2vw 84vw #fff, 55vw 89vw #fff, 19vw 37vw #fff, 95vw 31vw #fff, 81vw 39vw #fff, 60vw 64vw #fff, 39vw 2vw #fff, 71vw 70vw #fff, 31vw 5vw #fff, 95vw 95vw #fff, 43vw 75vw #fff, 8vw 4vw #fff, 21vw 5vw #fff, 39vw 59vw #fff, 2vw 18vw #fff, 70vw 64vw #fff, 47vw 4vw #fff, 31vw 88vw #fff, 59vw 75vw #fff, 9vw 32vw #fff, 33vw 22vw #fff, 1vw 4vw #fff, 95vw 98vw #fff, 52vw 8vw #fff, 2vw 25vw #fff, 30vw 62vw #fff, 32vw 66vw #fff, 95vw 66vw #fff, 86vw 16vw #fff, 14vw 72vw #fff, 39vw 42vw #fff, 44vw 1vw #fff, 22vw 41vw #fff, 88vw 7vw #fff, 35vw 4vw #fff, 71vw 99vw #fff, 20vw 77vw #fff, 7vw 1vw #fff, 58vw 49vw #fff, 71vw 56vw #fff, 66vw 92vw #fff, 59vw 20vw #fff, 36vw 90vw #fff, 61vw 41vw #fff, 58vw 87vw #fff, 75vw 76vw #fff, 55vw 25vw #fff, 50vw 26vw #fff, 86vw 4vw #fff, 82vw 88vw #fff, 72vw 89vw #fff, 43vw 7vw #fff, 15vw 67vw #fff, 96vw 79vw #fff, 57vw 2vw #fff, 80vw 28vw #fff, 86vw 90vw #fff, 21vw 96vw #fff, 63vw 2vw #fff, 53vw 73vw #fff, 79vw 60vw #fff, 28vw 13vw #fff, 19vw 94vw #fff, 58vw 78vw #fff, 74vw 25vw #fff, 82vw 73vw #fff, 55vw 36vw #fff, 31vw 39vw #fff, 4vw 75vw #fff, 10vw 28vw #fff, 87vw 25vw #fff, 41vw 55vw #fff, 2vw 95vw #fff, 55vw 4vw #fff, 74vw 65vw #fff, 81vw 44vw #fff, 94vw 67vw #fff, 40vw 16vw #fff, 95vw 24vw #fff, 68vw 22vw #fff, 58vw 26vw #fff, 40vw 13vw #fff, 91vw 39vw #fff, 4vw 8vw #fff, 63vw 45vw #fff, 23vw 46vw #fff, 71vw 24vw #fff, 77vw 79vw #fff, 87vw 96vw #fff, 5vw 92vw #fff, 30vw 6vw #fff, 55vw 12vw #fff, 4vw 53vw #fff, 61vw 36vw #fff, 17vw 53vw #fff, 8vw 73vw #fff, 19vw 74vw #fff, 92vw 40vw #fff, 16vw 92vw #fff, 94vw 41vw #fff, 21vw 32vw #fff, 14vw 66vw #fff, 81vw 51vw #fff, 83vw 58vw #fff, 10vw 41vw #fff, 20vw 19vw #fff, 17vw 7vw #fff, 32vw 95vw #fff, 78vw 94vw #fff, 85vw 39vw #fff, 64vw 46vw #fff, 95vw 37vw #fff, 47vw 47vw #fff, 80vw 74vw #fff, 92vw 39vw #fff, 92vw 48vw #fff, 47vw 18vw #fff, 63vw 43vw #fff, 78vw 91vw #fff, 57vw 22vw #fff, 40vw 53vw #fff, 43vw 3vw #fff, 76vw 74vw #fff, 59vw 99vw #fff, 15vw 43vw #fff, 79vw 9vw #fff, 51vw 15vw #fff, 82vw 74vw #fff, 48vw 89vw #fff, 37vw 22vw #fff, 30vw 3vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 6vw 50vh #fff, 4vw 62vw #fff, 51vw 95vw #fff, 72vw 46vw #fff, 89vw 26vw #fff, 29vw 77vw #fff, 85vw 43vw #fff, 5vw 40vw #fff, 62vw 57vw #fff, 79vw 20vw #fff, 97vw 1vw #fff, 1vw 56vw #fff, 13vw 77vw #fff, 93vw 86vw #fff, 86vw 26vw #fff, 99vw 95vw #fff, 53vw 81vw #fff, 11vw 62vw #fff, 50vw 65vw #fff, 95vw 63vw #fff, 80vw 32vw #fff, 36vw 95vw #fff, 47vw 21vw #fff, 62vw 60vw #fff, 60vw 34vw #fff, 26vw 18vw #fff, 37vw 95vw #fff, 50vw 19vw #fff, 61vw 52vw #fff, 16vw 52vw #fff, 61vw 64vw #fff, 38vw 27vw #fff, 68vw 36vw #fff, 53vw 25vw #fff, 29vw 50vw #fff, 29vw 100vw #fff, 60vw 62vw #fff, 76vw 10vw #fff, 70vw 29vw #fff, 30vw 94vw #fff, 68vw 31vw #fff, 60vw 37vw #fff, 16vw 87vw #fff, 82vw 20vw #fff, 51vw 83vw #fff, 96vw 85vw #fff, 39vw 71vw #fff, 15vw 90vw #fff, 25vw 8vw #fff, 70vw 83vw #fff, 59vw 1vw #fff, 58vw 18vw #fff, 63vw 11vw #fff, 59vw 81vw #fff, 74vw 7vw #fff, 26vw 44vw #fff, 69vw 92vw #fff, 99vw 41vw #fff, 11vw 14vw #fff, 66vw 3vw #fff, 13vw 89vw #fff, 78vw 10vw #fff, 3vw 96vw #fff, 83vw 86vw #fff, 84vw 36vw #fff, 51vw 41vw #fff, 34vw 22vw #fff, 70vw 31vw #fff, 89vw 50vw #fff, 68vw 37vw #fff, 13vw 11vw #fff, 85vw 70vw #fff, 81vw 80vw #fff, 48vw 69vw #fff, 18vw 98vw #fff, 25vw 82vw #fff, 97vw 65vw #fff, 12vw 49vw #fff, 36vw 9vw #fff, 19vw 90vw #fff, 24vw 1vw #fff, 6vw 60vw #fff, 40vw 2vw #fff, 94vw 32vw #fff, 23vw 14vw #fff, 56vw 44vw #fff, 77vw 82vw #fff, 97vw 12vw #fff, 67vw 53vw #fff, 68vw 1vw #fff, 80vw 96vw #fff, 96vw 40vw #fff, 86vw 29vw #fff, 14vw 49vw #fff, 8vw 10vw #fff, 30vw 58vw #fff, 50vw 90vw #fff, 61vw 25vw #fff, 17vw 88vw #fff, 86vw 50vw #fff, 35vw 25vw #fff, 64vw 15vw #fff, 98vw 44vw #fff, 49vw 51vw #fff, 42vw 51vw #fff, 31vw 79vw #fff, 43vw 53vw #fff, 13vw 56vw #fff, 26vw 78vw #fff, 83vw 39vw #fff, 25vw 30vw #fff, 21vw 74vw #fff, 88vw 26vw #fff, 2vw 64vw #fff, 8vw 36vw #fff, 47vw 52vw #fff, 11vw 20vw #fff, 12vw 82vw #fff, 67vw 7vw #fff, 8vw 59vw #fff, 98vw 92vw #fff, 77vw 52vw #fff, 78vw 23vw #fff, 98vw 27vw #fff, 56vw 88vw #fff, 69vw 91vw #fff, 16vw 60vw #fff, 81vw 1vw #fff, 100vw 45vw #fff, 53vw 92vw #fff, 37vw 3vw #fff, 24vw 4vw #fff, 86vw 78vw #fff, 87vw 26vw #fff, 76vw 3vw #fff, 42vw 28vw #fff, 46vw 65vw #fff, 77vw 72vw #fff, 63vw 43vw #fff, 59vw 36vw #fff, 42vw 19vw #fff, 87vw 54vw #fff, 68vw 1vw #fff, 53vw 38vw #fff, 94vw 15vw #fff, 15vw 85vw #fff, 21vw 14vw #fff, 10vw 10vw #fff, 96vw 65vw #fff, 86vw 80vw #fff, 73vw 46vw #fff, 50vw 98vw #fff, 71vw 1vw #fff, 85vw 76vw #fff, 22vw 2vw #fff, 64vw 75vw #fff, 19vw 97vw #fff, 85vw 10vw #fff, 77vw 47vw #fff, 28vw 87vw #fff, 23vw 75vw #fff, 36vw 18vw #fff, 59vw 96vw #fff, 33vw 43vw #fff, 14vw 71vw #fff, 4vw 99vw #fff, 42vw 48vw #fff, 41vw 53vw #fff, 80vw 3vw #fff, 39vw 73vw #fff, 80vw 86vw #fff, 26vw 13vw #fff, 23vw 12vw #fff, 22vw 22vw #fff, 77vw 1vw #fff, 64vw 56vw #fff, 44vw 74vw #fff, 66vw 35vw #fff, 33vw 31vw #fff, 64vw 55vw #fff, 79vw 30vw #fff, 40vw 100vw #fff, 82vw 55vw #fff, 67vw 8vw #fff, 9vw 83vw #fff, 4vw 94vw #fff, 30vw 95vw #fff, 42vw 24vw #fff, 52vw 23vw #fff, 59vw 57vw #fff, 16vw 72vw #fff, 7vw 57vw #fff, 89vw 20vw #fff, 34vw 45vw #fff, 65vw 72vw #fff, 86vw 35vw #fff, 66vw 61vw #fff, 98vw 43vw #fff, 36vw 54vw #fff, 18vw 80vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 6vw 50vh #fff, 4vw 62vw #fff, 51vw 95vw #fff, 72vw 46vw #fff, 89vw 26vw #fff, 29vw 77vw #fff, 85vw 43vw #fff, 5vw 40vw #fff, 62vw 57vw #fff, 79vw 20vw #fff, 97vw 1vw #fff, 1vw 56vw #fff, 13vw 77vw #fff, 93vw 86vw #fff, 86vw 26vw #fff, 99vw 95vw #fff, 53vw 81vw #fff, 11vw 62vw #fff, 50vw 65vw #fff, 95vw 63vw #fff, 80vw 32vw #fff, 36vw 95vw #fff, 47vw 21vw #fff, 62vw 60vw #fff, 60vw 34vw #fff, 26vw 18vw #fff, 37vw 95vw #fff, 50vw 19vw #fff, 61vw 52vw #fff, 16vw 52vw #fff, 61vw 64vw #fff, 38vw 27vw #fff, 68vw 36vw #fff, 53vw 25vw #fff, 29vw 50vw #fff, 29vw 100vw #fff, 60vw 62vw #fff, 76vw 10vw #fff, 70vw 29vw #fff, 30vw 94vw #fff, 68vw 31vw #fff, 60vw 37vw #fff, 16vw 87vw #fff, 82vw 20vw #fff, 51vw 83vw #fff, 96vw 85vw #fff, 39vw 71vw #fff, 15vw 90vw #fff, 25vw 8vw #fff, 70vw 83vw #fff, 59vw 1vw #fff, 58vw 18vw #fff, 63vw 11vw #fff, 59vw 81vw #fff, 74vw 7vw #fff, 26vw 44vw #fff, 69vw 92vw #fff, 99vw 41vw #fff, 11vw 14vw #fff, 66vw 3vw #fff, 13vw 89vw #fff, 78vw 10vw #fff, 3vw 96vw #fff, 83vw 86vw #fff, 84vw 36vw #fff, 51vw 41vw #fff, 34vw 22vw #fff, 70vw 31vw #fff, 89vw 50vw #fff, 68vw 37vw #fff, 13vw 11vw #fff, 85vw 70vw #fff, 81vw 80vw #fff, 48vw 69vw #fff, 18vw 98vw #fff, 25vw 82vw #fff, 97vw 65vw #fff, 12vw 49vw #fff, 36vw 9vw #fff, 19vw 90vw #fff, 24vw 1vw #fff, 6vw 60vw #fff, 40vw 2vw #fff, 94vw 32vw #fff, 23vw 14vw #fff, 56vw 44vw #fff, 77vw 82vw #fff, 97vw 12vw #fff, 67vw 53vw #fff, 68vw 1vw #fff, 80vw 96vw #fff, 96vw 40vw #fff, 86vw 29vw #fff, 14vw 49vw #fff, 8vw 10vw #fff, 30vw 58vw #fff, 50vw 90vw #fff, 61vw 25vw #fff, 17vw 88vw #fff, 86vw 50vw #fff, 35vw 25vw #fff, 64vw 15vw #fff, 98vw 44vw #fff, 49vw 51vw #fff, 42vw 51vw #fff, 31vw 79vw #fff, 43vw 53vw #fff, 13vw 56vw #fff, 26vw 78vw #fff, 83vw 39vw #fff, 25vw 30vw #fff, 21vw 74vw #fff, 88vw 26vw #fff, 2vw 64vw #fff, 8vw 36vw #fff, 47vw 52vw #fff, 11vw 20vw #fff, 12vw 82vw #fff, 67vw 7vw #fff, 8vw 59vw #fff, 98vw 92vw #fff, 77vw 52vw #fff, 78vw 23vw #fff, 98vw 27vw #fff, 56vw 88vw #fff, 69vw 91vw #fff, 16vw 60vw #fff, 81vw 1vw #fff, 100vw 45vw #fff, 53vw 92vw #fff, 37vw 3vw #fff, 24vw 4vw #fff, 86vw 78vw #fff, 87vw 26vw #fff, 76vw 3vw #fff, 42vw 28vw #fff, 46vw 65vw #fff, 77vw 72vw #fff, 63vw 43vw #fff, 59vw 36vw #fff, 42vw 19vw #fff, 87vw 54vw #fff, 68vw 1vw #fff, 53vw 38vw #fff, 94vw 15vw #fff, 15vw 85vw #fff, 21vw 14vw #fff, 10vw 10vw #fff, 96vw 65vw #fff, 86vw 80vw #fff, 73vw 46vw #fff, 50vw 98vw #fff, 71vw 1vw #fff, 85vw 76vw #fff, 22vw 2vw #fff, 64vw 75vw #fff, 19vw 97vw #fff, 85vw 10vw #fff, 77vw 47vw #fff, 28vw 87vw #fff, 23vw 75vw #fff, 36vw 18vw #fff, 59vw 96vw #fff, 33vw 43vw #fff, 14vw 71vw #fff, 4vw 99vw #fff, 42vw 48vw #fff, 41vw 53vw #fff, 80vw 3vw #fff, 39vw 73vw #fff, 80vw 86vw #fff, 26vw 13vw #fff, 23vw 12vw #fff, 22vw 22vw #fff, 77vw 1vw #fff, 64vw 56vw #fff, 44vw 74vw #fff, 66vw 35vw #fff, 33vw 31vw #fff, 64vw 55vw #fff, 79vw 30vw #fff, 40vw 100vw #fff, 82vw 55vw #fff, 67vw 8vw #fff, 9vw 83vw #fff, 4vw 94vw #fff, 30vw 95vw #fff, 42vw 24vw #fff, 52vw 23vw #fff, 59vw 57vw #fff, 16vw 72vw #fff, 7vw 57vw #fff, 89vw 20vw #fff, 34vw 45vw #fff, 65vw 72vw #fff, 86vw 35vw #fff, 66vw 61vw #fff, 98vw 43vw #fff, 36vw 54vw #fff, 18vw 80vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun,
  .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%,
  .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%,
  .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%,
  .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%,
  .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%,
  .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }
