@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal;
  opacity: 1; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }
