@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Megrim");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Days+One");
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: 'Megrim', Serif;
  font-weight: normal;
  opacity: 1; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Poiret One', sans-serif; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

button {
  padding: 8px 70px;
  background: rgba(8, 12, 34, 0.75);
  color: #1DAEEC;
  font-family: 'Megrim', Serif;
  font-size: 13pt;
  border: 3px solid transparent;
  border-image: linear-gradient(to top right, #fff 0%, #28E6F9 9%, #080C22 50%);
  border-image-slice: 1; }

label {
  position: absolute;
  z-index: 4; }

.noinput {
  display: none; }

input:checked ~ label {
  right: 0; }

.burger {
  position: relative;
  top: 24px;
  cursor: pointer; }

.burger g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.burger g:hover {
  stroke: #cccccc; }

input:checked ~ label .burger {
  opacity: 0; }

.close {
  position: relative;
  top: 24px;
  cursor: pointer;
  opacity: 0; }

.close g:hover {
  stroke: #cccccc; }

.close g {
  stroke: #ffffff;
  transition: stroke 0.25s ease-in-out; }

.close line {
  transform-origin: 0%; }

.close g {
  transform: rotateZ(45deg);
  transform-origin: 50%; }

input:checked ~ label .close {
  opacity: 1; }

.menu {
  background: url("menu-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

input:checked ~ .menu {
  opacity: 1; }

.menu div {
  margin-top: 50px;
  transition: margin 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

input:checked ~ .menu div {
  margin-top: 0px; }

.main {
  display: flex;
  width: 100vw;
  height: 100vh; }

.main span {
  margin: auto;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Pacifico', cursive; }

.homepage {
  background: #000;
  color: #B5B4B5;
  height: 100vh;
  width: 100vw;
  padding-top: 50px; }
  .homepage .logo {
    height: 270px;
    width: 400px;
    margin: auto;
    left: 34%; }
  .homepage .homepage {
    background: #000;
    color: #B5B4B5;
    height: 100vh;
    width: 100vw;
    padding-top: 50px; }
  .homepage .topSVG {
    margin-bottom: -235px;
    position: relative;
    z-index: 5;
    width: 400px;
    height: 260px;
    -webkit-animation: starlight 2s linear alternate forwards; }
    .homepage .topSVG .logo-star {
      fill: #fff; }
  .homepage .bottomSVG {
    background: transparent;
    fill: transparent;
    stroke-dasharray: 700;
    stroke-width: 2;
    stroke: #BDCAEC;
    stroke-dashoffset: 1300;
    -webkit-animation: dash 3s linear alternate forwards; }
  .homepage .starmap {
    display: block;
    margin: 20px auto; }

@-webkit-keyframes starlight {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

@-webkit-keyframes dash {
  0% {
    opacity: 0;
    stroke: #B5B4B5; }
  50% {
    opacity: 0; }
  90% {
    stroke-width: 1; }
  100% {
    stroke: #B5B4B5;
    stroke-dashoffset: 0; } }

.events-container .section {
  padding: 20px !important; }

.types {
  background: #000;
  color: #fff; }

.lunar-cycle {
  background: #080C22;
  color: #fff;
  height: 100vh;
  text-align: center;
  background: linear-gradient(#000000, #080C22); }
  .lunar-cycle h1 {
    color: #28E6F9;
    margin-bottom: 0; }
  .lunar-cycle .lunar-text {
    position: relative;
    z-index: 5; }
  .lunar-cycle .star {
    transform-style: preserve-3d;
    position: fixed; }
  .lunar-cycle .starone {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 23vw 60vh #fff, 46vw 85vw #fff, 47vw 72vw #fff, 73vw 36vw #fff, 24vw 70vw #fff, 43vw 61vw #fff, 87vw 12vw #fff, 3vw 54vw #fff, 34vw 39vw #fff, 22vw 54vw #fff, 28vw 95vw #fff, 68vw 28vw #fff, 23vw 51vw #fff, 26vw 99vw #fff, 52vw 18vw #fff, 25vw 29vw #fff, 13vw 81vw #fff, 88vw 49vw #fff, 5vw 71vw #fff, 87vw 77vw #fff, 27vw 92vw #fff, 37vw 68vw #fff, 84vw 7vw #fff, 37vw 16vw #fff, 97vw 8vw #fff, 60vw 28vw #fff, 43vw 23vw #fff, 67vw 77vw #fff, 41vw 12vw #fff, 9vw 2vw #fff, 5vw 74vw #fff, 24vw 30vw #fff, 100vw 40vw #fff, 14vw 95vw #fff, 58vw 82vw #fff, 78vw 67vw #fff, 27vw 17vw #fff, 49vw 18vw #fff, 66vw 58vw #fff, 65vw 42vw #fff, 57vw 16vw #fff, 45vw 98vw #fff, 84vw 70vw #fff, 69vw 13vw #fff, 86vw 87vw #fff, 35vw 2vw #fff, 13vw 17vw #fff, 41vw 52vw #fff, 57vw 7vw #fff, 64vw 51vw #fff, 17vw 10vw #fff, 3vw 79vw #fff, 4vw 89vw #fff, 29vw 96vw #fff, 55vw 69vw #fff, 61vw 52vw #fff, 61vw 13vw #fff, 92vw 68vw #fff, 7vw 85vw #fff, 47vw 97vw #fff, 85vw 94vw #fff, 22vw 72vw #fff, 85vw 84vw #fff, 26vw 36vw #fff, 59vw 69vw #fff, 45vw 15vw #fff, 68vw 76vw #fff, 47vw 86vw #fff, 62vw 79vw #fff, 1vw 81vw #fff, 69vw 13vw #fff, 42vw 1vw #fff, 8vw 87vw #fff, 53vw 2vw #fff, 93vw 44vw #fff, 23vw 17vw #fff, 80vw 14vw #fff, 84vw 11vw #fff, 80vw 90vw #fff, 21vw 41vw #fff, 31vw 29vw #fff, 52vw 17vw #fff, 60vw 48vw #fff, 55vw 55vw #fff, 32vw 11vw #fff, 81vw 57vw #fff, 1vw 8vw #fff, 77vw 9vw #fff, 62vw 3vw #fff, 61vw 53vw #fff, 49vw 22vw #fff, 64vw 62vw #fff, 26vw 16vw #fff, 58vw 20vw #fff, 25vw 21vw #fff, 71vw 46vw #fff, 2vw 97vw #fff, 48vw 28vw #fff, 27vw 14vw #fff, 45vw 80vw #fff, 24vw 72vw #fff, 13vw 48vw #fff, 98vw 22vw #fff, 69vw 19vw #fff, 53vw 60vw #fff, 5vw 14vw #fff, 76vw 67vw #fff, 99vw 1vw #fff, 75vw 68vw #fff, 54vw 4vw #fff, 90vw 60vw #fff, 91vw 93vw #fff, 32vw 71vw #fff, 55vw 27vw #fff, 89vw 18vw #fff, 36vw 76vw #fff, 85vw 8vw #fff, 62vw 41vw #fff, 9vw 62vw #fff, 27vw 57vw #fff, 31vw 82vw #fff, 59vw 58vw #fff, 33vw 24vw #fff, 44vw 97vw #fff, 17vw 51vw #fff, 91vw 58vw #fff, 8vw 85vw #fff, 9vw 81vw #fff, 26vw 95vw #fff, 12vw 97vw #fff, 70vw 70vw #fff, 42vw 25vw #fff, 24vw 81vw #fff, 67vw 3vw #fff, 4vw 15vw #fff, 4vw 66vw #fff, 13vw 62vw #fff, 37vw 22vw #fff, 41vw 42vw #fff, 23vw 63vw #fff, 25vw 39vw #fff, 17vw 85vw #fff, 68vw 70vw #fff, 31vw 35vw #fff, 58vw 75vw #fff, 85vw 41vw #fff, 64vw 75vw #fff, 24vw 31vw #fff, 95vw 33vw #fff, 95vw 86vw #fff, 34vw 94vw #fff, 8vw 50vw #fff, 93vw 2vw #fff, 69vw 92vw #fff, 29vw 51vw #fff, 89vw 77vw #fff, 7vw 41vw #fff, 92vw 80vw #fff, 49vw 71vw #fff, 20vw 46vw #fff, 29vw 3vw #fff, 76vw 66vw #fff, 32vw 61vw #fff, 17vw 74vw #fff, 54vw 43vw #fff, 1vw 96vw #fff, 77vw 11vw #fff, 80vw 67vw #fff, 96vw 73vw #fff, 7vw 44vw #fff, 98vw 22vw #fff, 63vw 66vw #fff, 40vw 1vw #fff, 80vw 16vw #fff, 82vw 45vw #fff, 12vw 71vw #fff, 86vw 85vw #fff, 54vw 63vw #fff, 1vw 96vw #fff, 12vw 71vw #fff, 71vw 28vw #fff, 22vw 87vw #fff, 73vw 46vw #fff, 33vw 70vw #fff, 26vw 74vw #fff, 89vw 47vw #fff, 74vw 18vw #fff, 4vw 94vw #fff, 20vw 69vw #fff, 97vw 30vw #fff, 3vw 88vw #fff, 99vw 32vw #fff, 35vw 35vw #fff, 45vw 86vw #fff, 84vw 35vw #fff, 4vw 93vw #fff, 71vw 78vw #fff, 97vw 71vw #fff, 25vw 60vw #fff, 51vw 44vw #fff, 5vw 81vw #fff, 84vw 61vw #fff, 74vw 66vw #fff, 19vw 72vw #fff, 78vw 72vw #fff, 77vw 1vw #fff, 86vw 74vw #fff, 9vw 74vw #fff, 48vw 75vw #fff, 38vw 11vw #fff, 24vw 29vw #fff, 55vw 30vw #fff, 6vw 25vw #fff, 15vw 81vw #fff, 72vw 50vw #fff, 80vw 76vw #fff, 99vw 4vw #fff, 37vw 93vw #fff, 26vw 32vw #fff, 43vw 27vw #fff, 69vw 73vw #fff, 68vw 12vw #fff, 18vw 87vw #fff, 28vw 11vw #fff, 23vw 62vw #fff, 44vw 46vw #fff, 96vw 19vw #fff, 26vw 88vw #fff, 63vw 69vw #fff, 17vw 48vw #fff, 66vw 92vw #fff, 73vw 57vw #fff, 50vw 32vw #fff, 85vw 38vw #fff, 67vw 52vw #fff, 48vw 49vw #fff, 89vw 33vw #fff, 50vw 59vw #fff, 73vw 5vw #fff, 88vw 24vw #fff, 37vw 65vw #fff, 37vw 11vw #fff, 15vw 73vw #fff, 51vw 89vw #fff, 28vw 23vw #fff, 18vw 69vw #fff, 62vw 31vw #fff, 52vw 7vw #fff, 33vw 31vw #fff, 42vw 72vw #fff, 16vw 52vw #fff, 80vw 50vw #fff, 73vw 13vw #fff, 19vw 95vw #fff, 22vw 98vw #fff, 63vw 30vw #fff, 28vw 42vw #fff, 87vw 56vw #fff, 74vw 74vw #fff, 14vw 59vw #fff, 1vw 67vw #fff, 2vw 31vw #fff, 54vw 41vw #fff, 6vw 54vw #fff, 73vw 21vw #fff, 87vw 2vw #fff, 65vw 29vw #fff, 53vw 42vw #fff, 36vw 80vw #fff, 89vw 92vw #fff, 30vw 46vw #fff, 41vw 57vw #fff, 57vw 53vw #fff, 63vw 55vw #fff, 59vw 63vw #fff, 60vw 13vw #fff, 68vw 58vw #fff, 67vw 18vw #fff, 23vw 6vw #fff, 45vw 24vw #fff, 69vw 87vw #fff, 24vw 20vw #fff, 7vw 96vw #fff, 4vw 89vw #fff, 80vw 58vw #fff, 19vw 59vw #fff, 68vw 29vw #fff, 62vw 46vw #fff, 78vw 82vw #fff, 28vw 49vw #fff, 30vw 88vw #fff, 40vw 54vw #fff, 66vw 93vw #fff, 50vw 100vw #fff, 52vw 31vw #fff, 84vw 79vw #fff, 34vw 42vw #fff, 97vw 44vw #fff, 72vw 34vw #fff, 93vw 58vw #fff, 58vw 65vw #fff, 6vw 18vw #fff, 95vw 94vw #fff, 37vw 68vw #fff, 92vw 65vw #fff, 89vw 23vw #fff, 70vw 65vw #fff, 57vw 29vw #fff, 51vw 95vw #fff, 82vw 62vw #fff, 81vw 88vw #fff, 85vw 38vw #fff, 92vw 87vw #fff, 46vw 29vw #fff, 9vw 5vw #fff, 74vw 14vw #fff, 56vw 2vw #fff, 71vw 42vw #fff, 91vw 58vw #fff, 100vw 50vw #fff, 42vw 65vw #fff, 46vw 14vw #fff, 3vw 29vw #fff, 56vw 87vw #fff, 95vw 6vw #fff, 8vw 24vw #fff, 27vw 99vw #fff, 25vw 92vw #fff, 21vw 54vw #fff, 74vw 43vw #fff, 63vw 64vw #fff, 77vw 56vw #fff, 45vw 5vw #fff, 76vw 46vw #fff, 78vw 6vw #fff, 72vw 53vw #fff, 44vw 100vw #fff, 75vw 20vw #fff, 70vw 64vw #fff, 67vw 36vw #fff, 32vw 1vw #fff, 36vw 47vw #fff, 64vw 39vw #fff, 53vw 74vw #fff, 4vw 56vw #fff, 25vw 9vw #fff, 54vw 1vw #fff, 55vw 83vw #fff, 51vw 60vw #fff, 17vw 51vw #fff, 67vw 36vw #fff, 27vw 99vw #fff, 81vw 8vw #fff, 58vw 98vw #fff, 50vw 57vw #fff, 57vw 1vw #fff, 48vw 7vw #fff, 48vw 33vw #fff, 17vw 55vw #fff, 69vw 84vw #fff, 30vw 67vw #fff, 63vw 89vw #fff, 83vw 99vw #fff, 86vw 49vw #fff, 71vw 78vw #fff, 9vw 77vw #fff, 51vw 78vw #fff, 38vw 5vw #fff, 48vw 43vw #fff, 64vw 40vw #fff, 1vw 89vw #fff, 32vw 8vw #fff, 30vw 18vw #fff, 87vw 93vw #fff, 76vw 58vw #fff, 39vw 54vw #fff, 64vw 46vw #fff, 100vw 21vw #fff, 37vw 30vw #fff, 43vw 73vw #fff, 81vw 69vw #fff, 60vw 94vw #fff, 97vw 53vw #fff, 11vw 51vw #fff, 18vw 53vw #fff, 47vw 7vw #fff, 18vw 22vw #fff, 52vw 51vw #fff, 93vw 29vw #fff, 39vw 46vw #fff, 89vw 37vw #fff, 43vw 52vw #fff, 94vw 55vw #fff, 44vw 38vw #fff, 56vw 55vw #fff, 7vw 27vw #fff, 67vw 27vw #fff, 44vw 6vw #fff, 10vw 79vw #fff, 83vw 41vw #fff, 99vw 33vw #fff, 50vw 43vw #fff, 20vw 5vw #fff, 48vw 95vw #fff, 37vw 43vw #fff, 70vw 80vw #fff, 17vw 83vw #fff, 71vw 10vw #fff, 100vw 61vw #fff, 24vw 36vw #fff, 36vw 59vw #fff, 56vw 49vw #fff, 92vw 12vw #fff, 20vw 42vw #fff, 97vw 35vw #fff, 58vw 95vw #fff, 94vw 58vw #fff, 83vw 21vw #fff, 77vw 96vw #fff, 17vw 37vw #fff, 100vw 100vw #fff, 40vw 32vw #fff, 64vw 39vw #fff, 75vw 31vw #fff, 62vw 91vw #fff, 9vw 93vw #fff, 18vw 35vw #fff, 40vw 38vw #fff, 32vw 1vw #fff, 23vw 44vw #fff, 48vw 34vw #fff, 55vw 66vw #fff, 40vw 48vw #fff, 15vw 29vw #fff, 72vw 36vw #fff, 85vw 37vw #fff, 91vw 70vw #fff, 32vw 91vw #fff, 90vw 64vw #fff, 72vw 90vw #fff, 99vw 77vw #fff, 2vw 70vw #fff, 80vw 66vw #fff, 59vw 25vw #fff, 49vw 27vw #fff, 59vw 83vw #fff, 10vw 12vw #fff, 1vw 15vw #fff, 50vw 62vw #fff, 93vw 65vw #fff, 84vw 39vw #fff, 73vw 95vw #fff, 96vw 25vw #fff, 55vw 53vw #fff, 21vw 83vw #fff, 89vw 59vw #fff, 36vw 79vw #fff, 39vw 59vw #fff, 59vw 84vw #fff, 57vw 54vw #fff, 90vw 13vw #fff, 90vw 41vw #fff, 3vw 43vw #fff, 64vw 8vw #fff, 37vw 16vw #fff, 67vw 87vw #fff, 34vw 48vw #fff, 39vw 99vw #fff, 81vw 58vw #fff, 54vw 29vw #fff, 18vw 15vw #fff, 20vw 7vw #fff, 17vw 74vw #fff, 93vw 52vw #fff, 43vw 2vw #fff, 49vw 3vw #fff, 4vw 32vw #fff, 14vw 30vw #fff, 70vw 7vw #fff, 32vw 57vw #fff, 92vw 72vw #fff, 50vw 85vw #fff, 29vw 61vw #fff, 11vw 21vw #fff, 5vw 53vw #fff, 65vw 45vw #fff, 79vw 22vw #fff, 9vw 46vw #fff, 81vw 38vw #fff, 18vw 80vw #fff, 63vw 69vw #fff, 59vw 71vw #fff, 67vw 33vw #fff, 62vw 2vw #fff, 7vw 28vw #fff, 55vw 78vw #fff, 59vw 54vw #fff, 48vw 88vw #fff, 56vw 37vw #fff, 84vw 75vw #fff, 15vw 60vw #fff, 41vw 36vw #fff, 71vw 21vw #fff, 42vw 100vw #fff, 3vw 63vw #fff, 56vw 100vw #fff, 79vw 1vw #fff, 75vw 30vw #fff, 68vw 27vw #fff, 79vw 79vw #fff, 16vw 26vw #fff, 25vw 66vw #fff, 73vw 95vw #fff, 65vw 75vw #fff, 89vw 7vw #fff, 17vw 37vw #fff, 16vw 15vw #fff, 27vw 41vw #fff, 54vw 45vw #fff, 91vw 69vw #fff, 26vw 69vw #fff, 29vw 59vw #fff, 56vw 20vw #fff, 62vw 25vw #fff, 6vw 53vw #fff, 55vw 95vw #fff, 50vw 93vw #fff, 26vw 64vw #fff, 69vw 100vw #fff, 91vw 38vw #fff, 99vw 11vw #fff, 8vw 80vw #fff, 16vw 21vw #fff, 77vw 92vw #fff, 4vw 61vw #fff, 11vw 13vw #fff, 63vw 56vw #fff, 36vw 24vw #fff, 54vw 74vw #fff, 69vw 15vw #fff, 65vw 63vw #fff, 4vw 36vw #fff, 41vw 39vw #fff, 32vw 42vw #fff, 93vw 62vw #fff, 32vw 31vw #fff, 36vw 96vw #fff, 92vw 90vw #fff, 21vw 62vw #fff, 68vw 20vw #fff, 64vw 48vw #fff, 91vw 19vw #fff, 53vw 81vw #fff, 80vw 4vw #fff, 43vw 56vw #fff, 16vw 11vw #fff, 68vw 8vw #fff, 47vw 35vw #fff, 43vw 76vw #fff, 1vw 23vw #fff, 26vw 50vw #fff, 47vw 94vw #fff, 44vw 79vw #fff, 18vw 88vw #fff, 32vw 20vw #fff, 43vw 62vw #fff, 3vw 18vw #fff, 12vw 45vw #fff, 50vw 42vw #fff, 34vw 74vw #fff, 79vw 73vw #fff, 45vw 84vw #fff, 71vw 80vw #fff, 15vw 3vw #fff, 67vw 87vw #fff, 28vw 26vw #fff, 10vw 12vw #fff, 54vw 19vw #fff, 6vw 42vw #fff, 13vw 83vw #fff, 56vw 47vw #fff, 42vw 80vw #fff, 32vw 38vw #fff, 67vw 14vw #fff, 86vw 1vw #fff, 45vw 91vw #fff, 69vw 45vw #fff, 82vw 50vw #fff, 41vw 20vw #fff, 99vw 45vw #fff, 66vw 8vw #fff, 24vw 83vw #fff, 1vw 56vw #fff, 29vw 71vw #fff, 81vw 73vw #fff, 74vw 52vw #fff, 52vw 85vw #fff, 50vw 86vw #fff, 50vw 70vw #fff, 2vw 92vw #fff, 87vw 24vw #fff, 91vw 2vw #fff, 14vw 38vw #fff, 85vw 71vw #fff, 40vw 88vw #fff, 27vw 16vw #fff, 12vw 54vw #fff, 18vw 63vw #fff, 3vw 57vw #fff, 12vw 79vw #fff, 63vw 69vw #fff, 89vw 90vw #fff, 69vw 53vw #fff, 78vw 96vw #fff, 24vw 31vw #fff, 75vw 52vw #fff, 30vw 80vw #fff, 69vw 67vw #fff, 26vw 17vw #fff, 65vw 15vw #fff, 63vw 36vw #fff, 73vw 28vw #fff, 43vw 2vw #fff, 78vw 47vw #fff, 22vw 51vw #fff, 48vw 28vw #fff, 97vw 62vw #fff, 85vw 93vw #fff, 62vw 83vw #fff, 11vw 17vw #fff, 33vw 72vw #fff, 8vw 45vw #fff, 40vw 34vw #fff, 46vw 47vw #fff, 5vw 88vw #fff, 87vw 97vw #fff, 42vw 87vw #fff, 82vw 5vw #fff, 20vw 7vw #fff, 5vw 28vw #fff, 38vw 27vw #fff, 6vw 69vw #fff, 43vw 31vw #fff, 63vw 26vw #fff, 79vw 61vw #fff, 93vw 81vw #fff, 59vw 24vw #fff, 38vw 36vw #fff, 19vw 65vw #fff, 3vw 51vw #fff, 58vw 49vw #fff, 67vw 32vw #fff, 93vw 28vw #fff, 22vw 3vw #fff, 50vw 46vw #fff, 11vw 12vw #fff, 18vw 43vw #fff, 38vw 69vw #fff, 96vw 83vw #fff, 86vw 80vw #fff, 79vw 46vw #fff, 98vw 50vw #fff, 10vw 98vw #fff, 56vw 62vw #fff, 95vw 50vw #fff, 68vw 94vw #fff, 29vw 87vw #fff, 6vw 51vw #fff, 50vw 29vw #fff, 3vw 30vw #fff, 24vw 99vw #fff, 66vw 78vw #fff, 70vw 40vw #fff, 20vw 17vw #fff, 78vw 64vw #fff, 54vw 75vw #fff, 9vw 61vw #fff, 20vw 56vw #fff, 32vw 36vw #fff, 29vw 82vw #fff, 56vw 15vw #fff, 51vw 44vw #fff, 91vw 4vw #fff, 87vw 94vw #fff, 72vw 91vw #fff, 69vw 5vw #fff, 13vw 45vw #fff, 90vw 70vw #fff, 85vw 21vw #fff, 70vw 53vw #fff, 15vw 78vw #fff, 2vw 57vw #fff, 20vw 83vw #fff, 84vw 11vw #fff, 68vw 80vw #fff, 99vw 32vw #fff, 23vw 36vw #fff, 72vw 54vw #fff, 55vw 17vw #fff, 50vw 8vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starone:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 23vw 60vh #fff, 46vw 85vw #fff, 47vw 72vw #fff, 73vw 36vw #fff, 24vw 70vw #fff, 43vw 61vw #fff, 87vw 12vw #fff, 3vw 54vw #fff, 34vw 39vw #fff, 22vw 54vw #fff, 28vw 95vw #fff, 68vw 28vw #fff, 23vw 51vw #fff, 26vw 99vw #fff, 52vw 18vw #fff, 25vw 29vw #fff, 13vw 81vw #fff, 88vw 49vw #fff, 5vw 71vw #fff, 87vw 77vw #fff, 27vw 92vw #fff, 37vw 68vw #fff, 84vw 7vw #fff, 37vw 16vw #fff, 97vw 8vw #fff, 60vw 28vw #fff, 43vw 23vw #fff, 67vw 77vw #fff, 41vw 12vw #fff, 9vw 2vw #fff, 5vw 74vw #fff, 24vw 30vw #fff, 100vw 40vw #fff, 14vw 95vw #fff, 58vw 82vw #fff, 78vw 67vw #fff, 27vw 17vw #fff, 49vw 18vw #fff, 66vw 58vw #fff, 65vw 42vw #fff, 57vw 16vw #fff, 45vw 98vw #fff, 84vw 70vw #fff, 69vw 13vw #fff, 86vw 87vw #fff, 35vw 2vw #fff, 13vw 17vw #fff, 41vw 52vw #fff, 57vw 7vw #fff, 64vw 51vw #fff, 17vw 10vw #fff, 3vw 79vw #fff, 4vw 89vw #fff, 29vw 96vw #fff, 55vw 69vw #fff, 61vw 52vw #fff, 61vw 13vw #fff, 92vw 68vw #fff, 7vw 85vw #fff, 47vw 97vw #fff, 85vw 94vw #fff, 22vw 72vw #fff, 85vw 84vw #fff, 26vw 36vw #fff, 59vw 69vw #fff, 45vw 15vw #fff, 68vw 76vw #fff, 47vw 86vw #fff, 62vw 79vw #fff, 1vw 81vw #fff, 69vw 13vw #fff, 42vw 1vw #fff, 8vw 87vw #fff, 53vw 2vw #fff, 93vw 44vw #fff, 23vw 17vw #fff, 80vw 14vw #fff, 84vw 11vw #fff, 80vw 90vw #fff, 21vw 41vw #fff, 31vw 29vw #fff, 52vw 17vw #fff, 60vw 48vw #fff, 55vw 55vw #fff, 32vw 11vw #fff, 81vw 57vw #fff, 1vw 8vw #fff, 77vw 9vw #fff, 62vw 3vw #fff, 61vw 53vw #fff, 49vw 22vw #fff, 64vw 62vw #fff, 26vw 16vw #fff, 58vw 20vw #fff, 25vw 21vw #fff, 71vw 46vw #fff, 2vw 97vw #fff, 48vw 28vw #fff, 27vw 14vw #fff, 45vw 80vw #fff, 24vw 72vw #fff, 13vw 48vw #fff, 98vw 22vw #fff, 69vw 19vw #fff, 53vw 60vw #fff, 5vw 14vw #fff, 76vw 67vw #fff, 99vw 1vw #fff, 75vw 68vw #fff, 54vw 4vw #fff, 90vw 60vw #fff, 91vw 93vw #fff, 32vw 71vw #fff, 55vw 27vw #fff, 89vw 18vw #fff, 36vw 76vw #fff, 85vw 8vw #fff, 62vw 41vw #fff, 9vw 62vw #fff, 27vw 57vw #fff, 31vw 82vw #fff, 59vw 58vw #fff, 33vw 24vw #fff, 44vw 97vw #fff, 17vw 51vw #fff, 91vw 58vw #fff, 8vw 85vw #fff, 9vw 81vw #fff, 26vw 95vw #fff, 12vw 97vw #fff, 70vw 70vw #fff, 42vw 25vw #fff, 24vw 81vw #fff, 67vw 3vw #fff, 4vw 15vw #fff, 4vw 66vw #fff, 13vw 62vw #fff, 37vw 22vw #fff, 41vw 42vw #fff, 23vw 63vw #fff, 25vw 39vw #fff, 17vw 85vw #fff, 68vw 70vw #fff, 31vw 35vw #fff, 58vw 75vw #fff, 85vw 41vw #fff, 64vw 75vw #fff, 24vw 31vw #fff, 95vw 33vw #fff, 95vw 86vw #fff, 34vw 94vw #fff, 8vw 50vw #fff, 93vw 2vw #fff, 69vw 92vw #fff, 29vw 51vw #fff, 89vw 77vw #fff, 7vw 41vw #fff, 92vw 80vw #fff, 49vw 71vw #fff, 20vw 46vw #fff, 29vw 3vw #fff, 76vw 66vw #fff, 32vw 61vw #fff, 17vw 74vw #fff, 54vw 43vw #fff, 1vw 96vw #fff, 77vw 11vw #fff, 80vw 67vw #fff, 96vw 73vw #fff, 7vw 44vw #fff, 98vw 22vw #fff, 63vw 66vw #fff, 40vw 1vw #fff, 80vw 16vw #fff, 82vw 45vw #fff, 12vw 71vw #fff, 86vw 85vw #fff, 54vw 63vw #fff, 1vw 96vw #fff, 12vw 71vw #fff, 71vw 28vw #fff, 22vw 87vw #fff, 73vw 46vw #fff, 33vw 70vw #fff, 26vw 74vw #fff, 89vw 47vw #fff, 74vw 18vw #fff, 4vw 94vw #fff, 20vw 69vw #fff, 97vw 30vw #fff, 3vw 88vw #fff, 99vw 32vw #fff, 35vw 35vw #fff, 45vw 86vw #fff, 84vw 35vw #fff, 4vw 93vw #fff, 71vw 78vw #fff, 97vw 71vw #fff, 25vw 60vw #fff, 51vw 44vw #fff, 5vw 81vw #fff, 84vw 61vw #fff, 74vw 66vw #fff, 19vw 72vw #fff, 78vw 72vw #fff, 77vw 1vw #fff, 86vw 74vw #fff, 9vw 74vw #fff, 48vw 75vw #fff, 38vw 11vw #fff, 24vw 29vw #fff, 55vw 30vw #fff, 6vw 25vw #fff, 15vw 81vw #fff, 72vw 50vw #fff, 80vw 76vw #fff, 99vw 4vw #fff, 37vw 93vw #fff, 26vw 32vw #fff, 43vw 27vw #fff, 69vw 73vw #fff, 68vw 12vw #fff, 18vw 87vw #fff, 28vw 11vw #fff, 23vw 62vw #fff, 44vw 46vw #fff, 96vw 19vw #fff, 26vw 88vw #fff, 63vw 69vw #fff, 17vw 48vw #fff, 66vw 92vw #fff, 73vw 57vw #fff, 50vw 32vw #fff, 85vw 38vw #fff, 67vw 52vw #fff, 48vw 49vw #fff, 89vw 33vw #fff, 50vw 59vw #fff, 73vw 5vw #fff, 88vw 24vw #fff, 37vw 65vw #fff, 37vw 11vw #fff, 15vw 73vw #fff, 51vw 89vw #fff, 28vw 23vw #fff, 18vw 69vw #fff, 62vw 31vw #fff, 52vw 7vw #fff, 33vw 31vw #fff, 42vw 72vw #fff, 16vw 52vw #fff, 80vw 50vw #fff, 73vw 13vw #fff, 19vw 95vw #fff, 22vw 98vw #fff, 63vw 30vw #fff, 28vw 42vw #fff, 87vw 56vw #fff, 74vw 74vw #fff, 14vw 59vw #fff, 1vw 67vw #fff, 2vw 31vw #fff, 54vw 41vw #fff, 6vw 54vw #fff, 73vw 21vw #fff, 87vw 2vw #fff, 65vw 29vw #fff, 53vw 42vw #fff, 36vw 80vw #fff, 89vw 92vw #fff, 30vw 46vw #fff, 41vw 57vw #fff, 57vw 53vw #fff, 63vw 55vw #fff, 59vw 63vw #fff, 60vw 13vw #fff, 68vw 58vw #fff, 67vw 18vw #fff, 23vw 6vw #fff, 45vw 24vw #fff, 69vw 87vw #fff, 24vw 20vw #fff, 7vw 96vw #fff, 4vw 89vw #fff, 80vw 58vw #fff, 19vw 59vw #fff, 68vw 29vw #fff, 62vw 46vw #fff, 78vw 82vw #fff, 28vw 49vw #fff, 30vw 88vw #fff, 40vw 54vw #fff, 66vw 93vw #fff, 50vw 100vw #fff, 52vw 31vw #fff, 84vw 79vw #fff, 34vw 42vw #fff, 97vw 44vw #fff, 72vw 34vw #fff, 93vw 58vw #fff, 58vw 65vw #fff, 6vw 18vw #fff, 95vw 94vw #fff, 37vw 68vw #fff, 92vw 65vw #fff, 89vw 23vw #fff, 70vw 65vw #fff, 57vw 29vw #fff, 51vw 95vw #fff, 82vw 62vw #fff, 81vw 88vw #fff, 85vw 38vw #fff, 92vw 87vw #fff, 46vw 29vw #fff, 9vw 5vw #fff, 74vw 14vw #fff, 56vw 2vw #fff, 71vw 42vw #fff, 91vw 58vw #fff, 100vw 50vw #fff, 42vw 65vw #fff, 46vw 14vw #fff, 3vw 29vw #fff, 56vw 87vw #fff, 95vw 6vw #fff, 8vw 24vw #fff, 27vw 99vw #fff, 25vw 92vw #fff, 21vw 54vw #fff, 74vw 43vw #fff, 63vw 64vw #fff, 77vw 56vw #fff, 45vw 5vw #fff, 76vw 46vw #fff, 78vw 6vw #fff, 72vw 53vw #fff, 44vw 100vw #fff, 75vw 20vw #fff, 70vw 64vw #fff, 67vw 36vw #fff, 32vw 1vw #fff, 36vw 47vw #fff, 64vw 39vw #fff, 53vw 74vw #fff, 4vw 56vw #fff, 25vw 9vw #fff, 54vw 1vw #fff, 55vw 83vw #fff, 51vw 60vw #fff, 17vw 51vw #fff, 67vw 36vw #fff, 27vw 99vw #fff, 81vw 8vw #fff, 58vw 98vw #fff, 50vw 57vw #fff, 57vw 1vw #fff, 48vw 7vw #fff, 48vw 33vw #fff, 17vw 55vw #fff, 69vw 84vw #fff, 30vw 67vw #fff, 63vw 89vw #fff, 83vw 99vw #fff, 86vw 49vw #fff, 71vw 78vw #fff, 9vw 77vw #fff, 51vw 78vw #fff, 38vw 5vw #fff, 48vw 43vw #fff, 64vw 40vw #fff, 1vw 89vw #fff, 32vw 8vw #fff, 30vw 18vw #fff, 87vw 93vw #fff, 76vw 58vw #fff, 39vw 54vw #fff, 64vw 46vw #fff, 100vw 21vw #fff, 37vw 30vw #fff, 43vw 73vw #fff, 81vw 69vw #fff, 60vw 94vw #fff, 97vw 53vw #fff, 11vw 51vw #fff, 18vw 53vw #fff, 47vw 7vw #fff, 18vw 22vw #fff, 52vw 51vw #fff, 93vw 29vw #fff, 39vw 46vw #fff, 89vw 37vw #fff, 43vw 52vw #fff, 94vw 55vw #fff, 44vw 38vw #fff, 56vw 55vw #fff, 7vw 27vw #fff, 67vw 27vw #fff, 44vw 6vw #fff, 10vw 79vw #fff, 83vw 41vw #fff, 99vw 33vw #fff, 50vw 43vw #fff, 20vw 5vw #fff, 48vw 95vw #fff, 37vw 43vw #fff, 70vw 80vw #fff, 17vw 83vw #fff, 71vw 10vw #fff, 100vw 61vw #fff, 24vw 36vw #fff, 36vw 59vw #fff, 56vw 49vw #fff, 92vw 12vw #fff, 20vw 42vw #fff, 97vw 35vw #fff, 58vw 95vw #fff, 94vw 58vw #fff, 83vw 21vw #fff, 77vw 96vw #fff, 17vw 37vw #fff, 100vw 100vw #fff, 40vw 32vw #fff, 64vw 39vw #fff, 75vw 31vw #fff, 62vw 91vw #fff, 9vw 93vw #fff, 18vw 35vw #fff, 40vw 38vw #fff, 32vw 1vw #fff, 23vw 44vw #fff, 48vw 34vw #fff, 55vw 66vw #fff, 40vw 48vw #fff, 15vw 29vw #fff, 72vw 36vw #fff, 85vw 37vw #fff, 91vw 70vw #fff, 32vw 91vw #fff, 90vw 64vw #fff, 72vw 90vw #fff, 99vw 77vw #fff, 2vw 70vw #fff, 80vw 66vw #fff, 59vw 25vw #fff, 49vw 27vw #fff, 59vw 83vw #fff, 10vw 12vw #fff, 1vw 15vw #fff, 50vw 62vw #fff, 93vw 65vw #fff, 84vw 39vw #fff, 73vw 95vw #fff, 96vw 25vw #fff, 55vw 53vw #fff, 21vw 83vw #fff, 89vw 59vw #fff, 36vw 79vw #fff, 39vw 59vw #fff, 59vw 84vw #fff, 57vw 54vw #fff, 90vw 13vw #fff, 90vw 41vw #fff, 3vw 43vw #fff, 64vw 8vw #fff, 37vw 16vw #fff, 67vw 87vw #fff, 34vw 48vw #fff, 39vw 99vw #fff, 81vw 58vw #fff, 54vw 29vw #fff, 18vw 15vw #fff, 20vw 7vw #fff, 17vw 74vw #fff, 93vw 52vw #fff, 43vw 2vw #fff, 49vw 3vw #fff, 4vw 32vw #fff, 14vw 30vw #fff, 70vw 7vw #fff, 32vw 57vw #fff, 92vw 72vw #fff, 50vw 85vw #fff, 29vw 61vw #fff, 11vw 21vw #fff, 5vw 53vw #fff, 65vw 45vw #fff, 79vw 22vw #fff, 9vw 46vw #fff, 81vw 38vw #fff, 18vw 80vw #fff, 63vw 69vw #fff, 59vw 71vw #fff, 67vw 33vw #fff, 62vw 2vw #fff, 7vw 28vw #fff, 55vw 78vw #fff, 59vw 54vw #fff, 48vw 88vw #fff, 56vw 37vw #fff, 84vw 75vw #fff, 15vw 60vw #fff, 41vw 36vw #fff, 71vw 21vw #fff, 42vw 100vw #fff, 3vw 63vw #fff, 56vw 100vw #fff, 79vw 1vw #fff, 75vw 30vw #fff, 68vw 27vw #fff, 79vw 79vw #fff, 16vw 26vw #fff, 25vw 66vw #fff, 73vw 95vw #fff, 65vw 75vw #fff, 89vw 7vw #fff, 17vw 37vw #fff, 16vw 15vw #fff, 27vw 41vw #fff, 54vw 45vw #fff, 91vw 69vw #fff, 26vw 69vw #fff, 29vw 59vw #fff, 56vw 20vw #fff, 62vw 25vw #fff, 6vw 53vw #fff, 55vw 95vw #fff, 50vw 93vw #fff, 26vw 64vw #fff, 69vw 100vw #fff, 91vw 38vw #fff, 99vw 11vw #fff, 8vw 80vw #fff, 16vw 21vw #fff, 77vw 92vw #fff, 4vw 61vw #fff, 11vw 13vw #fff, 63vw 56vw #fff, 36vw 24vw #fff, 54vw 74vw #fff, 69vw 15vw #fff, 65vw 63vw #fff, 4vw 36vw #fff, 41vw 39vw #fff, 32vw 42vw #fff, 93vw 62vw #fff, 32vw 31vw #fff, 36vw 96vw #fff, 92vw 90vw #fff, 21vw 62vw #fff, 68vw 20vw #fff, 64vw 48vw #fff, 91vw 19vw #fff, 53vw 81vw #fff, 80vw 4vw #fff, 43vw 56vw #fff, 16vw 11vw #fff, 68vw 8vw #fff, 47vw 35vw #fff, 43vw 76vw #fff, 1vw 23vw #fff, 26vw 50vw #fff, 47vw 94vw #fff, 44vw 79vw #fff, 18vw 88vw #fff, 32vw 20vw #fff, 43vw 62vw #fff, 3vw 18vw #fff, 12vw 45vw #fff, 50vw 42vw #fff, 34vw 74vw #fff, 79vw 73vw #fff, 45vw 84vw #fff, 71vw 80vw #fff, 15vw 3vw #fff, 67vw 87vw #fff, 28vw 26vw #fff, 10vw 12vw #fff, 54vw 19vw #fff, 6vw 42vw #fff, 13vw 83vw #fff, 56vw 47vw #fff, 42vw 80vw #fff, 32vw 38vw #fff, 67vw 14vw #fff, 86vw 1vw #fff, 45vw 91vw #fff, 69vw 45vw #fff, 82vw 50vw #fff, 41vw 20vw #fff, 99vw 45vw #fff, 66vw 8vw #fff, 24vw 83vw #fff, 1vw 56vw #fff, 29vw 71vw #fff, 81vw 73vw #fff, 74vw 52vw #fff, 52vw 85vw #fff, 50vw 86vw #fff, 50vw 70vw #fff, 2vw 92vw #fff, 87vw 24vw #fff, 91vw 2vw #fff, 14vw 38vw #fff, 85vw 71vw #fff, 40vw 88vw #fff, 27vw 16vw #fff, 12vw 54vw #fff, 18vw 63vw #fff, 3vw 57vw #fff, 12vw 79vw #fff, 63vw 69vw #fff, 89vw 90vw #fff, 69vw 53vw #fff, 78vw 96vw #fff, 24vw 31vw #fff, 75vw 52vw #fff, 30vw 80vw #fff, 69vw 67vw #fff, 26vw 17vw #fff, 65vw 15vw #fff, 63vw 36vw #fff, 73vw 28vw #fff, 43vw 2vw #fff, 78vw 47vw #fff, 22vw 51vw #fff, 48vw 28vw #fff, 97vw 62vw #fff, 85vw 93vw #fff, 62vw 83vw #fff, 11vw 17vw #fff, 33vw 72vw #fff, 8vw 45vw #fff, 40vw 34vw #fff, 46vw 47vw #fff, 5vw 88vw #fff, 87vw 97vw #fff, 42vw 87vw #fff, 82vw 5vw #fff, 20vw 7vw #fff, 5vw 28vw #fff, 38vw 27vw #fff, 6vw 69vw #fff, 43vw 31vw #fff, 63vw 26vw #fff, 79vw 61vw #fff, 93vw 81vw #fff, 59vw 24vw #fff, 38vw 36vw #fff, 19vw 65vw #fff, 3vw 51vw #fff, 58vw 49vw #fff, 67vw 32vw #fff, 93vw 28vw #fff, 22vw 3vw #fff, 50vw 46vw #fff, 11vw 12vw #fff, 18vw 43vw #fff, 38vw 69vw #fff, 96vw 83vw #fff, 86vw 80vw #fff, 79vw 46vw #fff, 98vw 50vw #fff, 10vw 98vw #fff, 56vw 62vw #fff, 95vw 50vw #fff, 68vw 94vw #fff, 29vw 87vw #fff, 6vw 51vw #fff, 50vw 29vw #fff, 3vw 30vw #fff, 24vw 99vw #fff, 66vw 78vw #fff, 70vw 40vw #fff, 20vw 17vw #fff, 78vw 64vw #fff, 54vw 75vw #fff, 9vw 61vw #fff, 20vw 56vw #fff, 32vw 36vw #fff, 29vw 82vw #fff, 56vw 15vw #fff, 51vw 44vw #fff, 91vw 4vw #fff, 87vw 94vw #fff, 72vw 91vw #fff, 69vw 5vw #fff, 13vw 45vw #fff, 90vw 70vw #fff, 85vw 21vw #fff, 70vw 53vw #fff, 15vw 78vw #fff, 2vw 57vw #fff, 20vw 83vw #fff, 84vw 11vw #fff, 68vw 80vw #fff, 99vw 32vw #fff, 23vw 36vw #fff, 72vw 54vw #fff, 55vw 17vw #fff, 50vw 8vw #fff; }
  .lunar-cycle .startwo {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 50vw 41vh #fff, 1vw 39vw #fff, 23vw 20vw #fff, 52vw 55vw #fff, 92vw 91vw #fff, 48vw 67vw #fff, 43vw 30vw #fff, 40vw 16vw #fff, 67vw 14vw #fff, 63vw 69vw #fff, 30vw 44vw #fff, 30vw 35vw #fff, 86vw 15vw #fff, 65vw 50vw #fff, 38vw 85vw #fff, 17vw 7vw #fff, 94vw 98vw #fff, 22vw 7vw #fff, 94vw 52vw #fff, 94vw 99vw #fff, 89vw 41vw #fff, 100vw 1vw #fff, 61vw 10vw #fff, 35vw 97vw #fff, 77vw 99vw #fff, 37vw 18vw #fff, 6vw 29vw #fff, 83vw 40vw #fff, 2vw 94vw #fff, 99vw 52vw #fff, 46vw 47vw #fff, 53vw 81vw #fff, 87vw 66vw #fff, 72vw 75vw #fff, 100vw 55vw #fff, 79vw 50vw #fff, 78vw 45vw #fff, 31vw 35vw #fff, 24vw 47vw #fff, 42vw 25vw #fff, 18vw 17vw #fff, 99vw 97vw #fff, 26vw 81vw #fff, 46vw 15vw #fff, 45vw 17vw #fff, 52vw 78vw #fff, 46vw 87vw #fff, 91vw 14vw #fff, 38vw 51vw #fff, 37vw 27vw #fff, 5vw 84vw #fff, 21vw 50vw #fff, 61vw 75vw #fff, 40vw 73vw #fff, 59vw 75vw #fff, 98vw 19vw #fff, 28vw 31vw #fff, 21vw 63vw #fff, 69vw 9vw #fff, 35vw 67vw #fff, 100vw 60vw #fff, 45vw 42vw #fff, 5vw 90vw #fff, 96vw 75vw #fff, 78vw 52vw #fff, 46vw 85vw #fff, 99vw 100vw #fff, 23vw 27vw #fff, 88vw 26vw #fff, 38vw 71vw #fff, 47vw 56vw #fff, 85vw 37vw #fff, 100vw 43vw #fff, 76vw 87vw #fff, 76vw 9vw #fff, 6vw 53vw #fff, 62vw 46vw #fff, 46vw 26vw #fff, 42vw 37vw #fff, 33vw 62vw #fff, 77vw 43vw #fff, 72vw 93vw #fff, 32vw 89vw #fff, 81vw 88vw #fff, 49vw 61vw #fff, 98vw 75vw #fff, 88vw 82vw #fff, 90vw 2vw #fff, 49vw 67vw #fff, 33vw 93vw #fff, 90vw 40vw #fff, 89vw 69vw #fff, 44vw 59vw #fff, 70vw 9vw #fff, 85vw 75vw #fff, 81vw 28vw #fff, 39vw 44vw #fff, 18vw 46vw #fff, 11vw 65vw #fff, 50vw 82vw #fff, 42vw 30vw #fff, 22vw 39vw #fff, 96vw 42vw #fff, 38vw 27vw #fff, 11vw 6vw #fff, 63vw 55vw #fff, 87vw 33vw #fff, 30vw 9vw #fff, 24vw 62vw #fff, 6vw 6vw #fff, 72vw 77vw #fff, 89vw 19vw #fff, 96vw 21vw #fff, 45vw 80vw #fff, 27vw 99vw #fff, 66vw 17vw #fff, 8vw 67vw #fff, 12vw 90vw #fff, 70vw 76vw #fff, 45vw 34vw #fff, 68vw 41vw #fff, 46vw 73vw #fff, 39vw 27vw #fff, 13vw 48vw #fff, 16vw 72vw #fff, 73vw 18vw #fff, 68vw 46vw #fff, 80vw 81vw #fff, 68vw 70vw #fff, 24vw 28vw #fff, 17vw 12vw #fff, 29vw 54vw #fff, 90vw 60vw #fff, 40vw 18vw #fff, 84vw 53vw #fff, 29vw 57vw #fff, 60vw 35vw #fff, 65vw 98vw #fff, 18vw 78vw #fff, 37vw 40vw #fff, 41vw 75vw #fff, 52vw 83vw #fff, 49vw 2vw #fff, 99vw 40vw #fff, 16vw 44vw #fff, 74vw 18vw #fff, 57vw 28vw #fff, 88vw 55vw #fff, 96vw 36vw #fff, 40vw 87vw #fff, 90vw 82vw #fff, 34vw 3vw #fff, 87vw 61vw #fff, 68vw 80vw #fff, 28vw 14vw #fff, 32vw 32vw #fff, 69vw 69vw #fff, 1vw 7vw #fff, 89vw 15vw #fff, 90vw 33vw #fff, 33vw 34vw #fff, 27vw 93vw #fff, 10vw 46vw #fff, 83vw 95vw #fff, 37vw 97vw #fff, 64vw 4vw #fff, 21vw 40vw #fff, 49vw 97vw #fff, 82vw 23vw #fff, 6vw 86vw #fff, 7vw 37vw #fff, 6vw 25vw #fff, 31vw 45vw #fff, 27vw 19vw #fff, 83vw 47vw #fff, 10vw 13vw #fff, 67vw 82vw #fff, 10vw 100vw #fff, 62vw 48vw #fff, 66vw 10vw #fff, 5vw 72vw #fff, 12vw 36vw #fff, 50vw 22vw #fff, 87vw 47vw #fff, 32vw 100vw #fff, 14vw 48vw #fff, 33vw 36vw #fff, 60vw 38vw #fff, 34vw 93vw #fff, 81vw 53vw #fff, 98vw 15vw #fff, 21vw 9vw #fff, 83vw 57vw #fff, 22vw 18vw #fff, 79vw 56vw #fff, 15vw 73vw #fff, 100vw 95vw #fff, 16vw 48vw #fff, 71vw 49vw #fff, 20vw 17vw #fff;
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .startwo:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 50vw 41vh #fff, 1vw 39vw #fff, 23vw 20vw #fff, 52vw 55vw #fff, 92vw 91vw #fff, 48vw 67vw #fff, 43vw 30vw #fff, 40vw 16vw #fff, 67vw 14vw #fff, 63vw 69vw #fff, 30vw 44vw #fff, 30vw 35vw #fff, 86vw 15vw #fff, 65vw 50vw #fff, 38vw 85vw #fff, 17vw 7vw #fff, 94vw 98vw #fff, 22vw 7vw #fff, 94vw 52vw #fff, 94vw 99vw #fff, 89vw 41vw #fff, 100vw 1vw #fff, 61vw 10vw #fff, 35vw 97vw #fff, 77vw 99vw #fff, 37vw 18vw #fff, 6vw 29vw #fff, 83vw 40vw #fff, 2vw 94vw #fff, 99vw 52vw #fff, 46vw 47vw #fff, 53vw 81vw #fff, 87vw 66vw #fff, 72vw 75vw #fff, 100vw 55vw #fff, 79vw 50vw #fff, 78vw 45vw #fff, 31vw 35vw #fff, 24vw 47vw #fff, 42vw 25vw #fff, 18vw 17vw #fff, 99vw 97vw #fff, 26vw 81vw #fff, 46vw 15vw #fff, 45vw 17vw #fff, 52vw 78vw #fff, 46vw 87vw #fff, 91vw 14vw #fff, 38vw 51vw #fff, 37vw 27vw #fff, 5vw 84vw #fff, 21vw 50vw #fff, 61vw 75vw #fff, 40vw 73vw #fff, 59vw 75vw #fff, 98vw 19vw #fff, 28vw 31vw #fff, 21vw 63vw #fff, 69vw 9vw #fff, 35vw 67vw #fff, 100vw 60vw #fff, 45vw 42vw #fff, 5vw 90vw #fff, 96vw 75vw #fff, 78vw 52vw #fff, 46vw 85vw #fff, 99vw 100vw #fff, 23vw 27vw #fff, 88vw 26vw #fff, 38vw 71vw #fff, 47vw 56vw #fff, 85vw 37vw #fff, 100vw 43vw #fff, 76vw 87vw #fff, 76vw 9vw #fff, 6vw 53vw #fff, 62vw 46vw #fff, 46vw 26vw #fff, 42vw 37vw #fff, 33vw 62vw #fff, 77vw 43vw #fff, 72vw 93vw #fff, 32vw 89vw #fff, 81vw 88vw #fff, 49vw 61vw #fff, 98vw 75vw #fff, 88vw 82vw #fff, 90vw 2vw #fff, 49vw 67vw #fff, 33vw 93vw #fff, 90vw 40vw #fff, 89vw 69vw #fff, 44vw 59vw #fff, 70vw 9vw #fff, 85vw 75vw #fff, 81vw 28vw #fff, 39vw 44vw #fff, 18vw 46vw #fff, 11vw 65vw #fff, 50vw 82vw #fff, 42vw 30vw #fff, 22vw 39vw #fff, 96vw 42vw #fff, 38vw 27vw #fff, 11vw 6vw #fff, 63vw 55vw #fff, 87vw 33vw #fff, 30vw 9vw #fff, 24vw 62vw #fff, 6vw 6vw #fff, 72vw 77vw #fff, 89vw 19vw #fff, 96vw 21vw #fff, 45vw 80vw #fff, 27vw 99vw #fff, 66vw 17vw #fff, 8vw 67vw #fff, 12vw 90vw #fff, 70vw 76vw #fff, 45vw 34vw #fff, 68vw 41vw #fff, 46vw 73vw #fff, 39vw 27vw #fff, 13vw 48vw #fff, 16vw 72vw #fff, 73vw 18vw #fff, 68vw 46vw #fff, 80vw 81vw #fff, 68vw 70vw #fff, 24vw 28vw #fff, 17vw 12vw #fff, 29vw 54vw #fff, 90vw 60vw #fff, 40vw 18vw #fff, 84vw 53vw #fff, 29vw 57vw #fff, 60vw 35vw #fff, 65vw 98vw #fff, 18vw 78vw #fff, 37vw 40vw #fff, 41vw 75vw #fff, 52vw 83vw #fff, 49vw 2vw #fff, 99vw 40vw #fff, 16vw 44vw #fff, 74vw 18vw #fff, 57vw 28vw #fff, 88vw 55vw #fff, 96vw 36vw #fff, 40vw 87vw #fff, 90vw 82vw #fff, 34vw 3vw #fff, 87vw 61vw #fff, 68vw 80vw #fff, 28vw 14vw #fff, 32vw 32vw #fff, 69vw 69vw #fff, 1vw 7vw #fff, 89vw 15vw #fff, 90vw 33vw #fff, 33vw 34vw #fff, 27vw 93vw #fff, 10vw 46vw #fff, 83vw 95vw #fff, 37vw 97vw #fff, 64vw 4vw #fff, 21vw 40vw #fff, 49vw 97vw #fff, 82vw 23vw #fff, 6vw 86vw #fff, 7vw 37vw #fff, 6vw 25vw #fff, 31vw 45vw #fff, 27vw 19vw #fff, 83vw 47vw #fff, 10vw 13vw #fff, 67vw 82vw #fff, 10vw 100vw #fff, 62vw 48vw #fff, 66vw 10vw #fff, 5vw 72vw #fff, 12vw 36vw #fff, 50vw 22vw #fff, 87vw 47vw #fff, 32vw 100vw #fff, 14vw 48vw #fff, 33vw 36vw #fff, 60vw 38vw #fff, 34vw 93vw #fff, 81vw 53vw #fff, 98vw 15vw #fff, 21vw 9vw #fff, 83vw 57vw #fff, 22vw 18vw #fff, 79vw 56vw #fff, 15vw 73vw #fff, 100vw 95vw #fff, 16vw 48vw #fff, 71vw 49vw #fff, 20vw 17vw #fff; }
  .lunar-cycle .starthree {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: star-shdaow(100);
    animation-timing-function: ease(in-out-circ);
    animation-direction: alternate; }
    .lunar-cycle .starthree:after {
      content: " ";
      position: absolute;
      top: 100vh;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: star-shdaow(100); }
  .lunar-cycle .tonight-moon {
    display: inline-block;
    vertical-align: top;
    margin-top: 87px;
    margin-right: 3vw; }
  .lunar-cycle #lunar-container {
    margin: auto;
    opacity: 0; }
    .lunar-cycle #lunar-container h3 {
      margin: 0;
      color: #28E6F9; }
    .lunar-cycle #lunar-container p {
      margin: 0;
      margin-bottom: 4px;
      color: #B5B4B5; }
    .lunar-cycle #lunar-container #moonCanvas {
      margin: 12px auto 20px auto; }
  .lunar-cycle ul li {
    margin-top: 10px;
    display: inline-block; }
    .lunar-cycle ul li:before {
      content: '☾ ';
      margin-left: 10px; }
  .lunar-cycle .lunar-cycle-image img {
    width: 50vw;
    margin: auto;
    position: relative;
    z-index: 5; }

.lunar-eclipse {
  text-align: center;
  color: #fff;
  background: #080C22; }
  .lunar-eclipse .lunar-eclipse-text {
    position: relative;
    z-index: 5;
    text-align: right;
    margin-right: 50px; }
  .lunar-eclipse .moon-eclipse {
    position: absolute;
    margin: -37vh auto 0 -54vh;
    width: 130vh;
    z-index: 0;
    height: 130vh;
    border-radius: 50%;
    background: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/FullMoon2010.jpg") no-repeat center/124% 124%;
    animation: eclipse 20s linear infinite; }

@keyframes eclipse {
  0% {
    box-shadow: inset 650px 650px 150px rgba(0, 0, 0, 0.8); }
  50% {
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.8); }
  100% {
    box-shadow: inset -650px -650px 150px rgba(0, 0, 0, 0.8); } }

.solar-eclipse {
  background: #1DAEEC; }
  .solar-eclipse .se-img-container {
    height: 20vh;
    animation: sky 5s linear infinite;
    background: #1DAEEC; }

@keyframes sky {
  from,
  to {
    background: #1DAEEC; }
  50% {
    background: black; } }
  .solar-eclipse .solar-eclipse-image {
    position: relative;
    width: 15vh;
    height: 15vh;
    transform: translate(calc(49vw - 7.5vh), calc(10vh - 7.5vh)); }
  .solar-eclipse .sun,
  .solar-eclipse .moon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 50%; }
  .solar-eclipse .sun {
    background: gold;
    animation: sun 5s linear infinite; }

@keyframes sun {
  50% {
    background: white;
    box-shadow: 0 0 5em white, 0 0 5em white, 0 0 5em white, 0 0 5em white; } }
  .solar-eclipse .moon {
    animation: moon 5s linear infinite; }

@keyframes moon {
  from {
    transform: translateX(-110%);
    background: lightgray; }
  50% {
    background: black; }
  to {
    transform: translateX(110%);
    background: lightgray; } }

.meteor {
  background: #B5B4B5;
  padding-bottom: 0 !important;
  /*=======================*/
  /* MIXINS
        /*=======================*/
  /*=======================*/
  /* SVG ELEMENTS
        /*=======================*/
  /*=======================*/
  /* OTHER ELEMENTS
        /*=======================*/
  /*=======================*/
  /* KEYFRAMES
        /*=======================*/ }
  .meteor #foreground {
    position: relative;
    width: 100vw;
    height: 76vh; }
  .meteor #foreground > div {
    bottom: 0;
    position: absolute;
    transform-origin: 50% 100%;
    pointer-events: none; }
  .meteor .grass {
    width: 105%;
    height: 200px;
    left: -2.5%;
    background: url("http://orion9.net/_demos/meteorRain/img/grass.svg") repeat-x bottom center;
    background-position: -100px 100%;
    -webkit-animation: skew4 4s .2s ease-in-out infinite;
    -moz-animation: skew4 4s .2s ease-in-out infinite;
    -ms-animation: skew4 4s .2s ease-in-out infinite;
    -o-animation: skew4 4s .2s ease-in-out infinite;
    animation: skew4 4s .2s ease-in-out infinite; }
  .meteor #tree1 {
    width: 335px;
    height: 425px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree1.svg") no-repeat;
    left: calc(15% - 335px / 2);
    -webkit-animation: skew1 8s ease-in-out infinite;
    -moz-animation: skew1 8s ease-in-out infinite;
    -ms-animation: skew1 8s ease-in-out infinite;
    -o-animation: skew1 8s ease-in-out infinite;
    animation: skew1 8s ease-in-out infinite; }
  .meteor .reed {
    background: url("http://orion9.net/_demos/meteorRain/img/reed.svg") no-repeat;
    background-size: cover; }
  .meteor #reed1 {
    left: calc(15% - 335px / 2);
    width: 180px;
    height: 155px;
    -webkit-animation: skew4 4s ease-in-out infinite;
    -moz-animation: skew4 4s ease-in-out infinite;
    -ms-animation: skew4 4s ease-in-out infinite;
    -o-animation: skew4 4s ease-in-out infinite;
    animation: skew4 4s ease-in-out infinite; }
  .meteor #reed2 {
    left: calc(15% + 80px / 2);
    width: 200px;
    height: 180px;
    -webkit-animation: skew4 4s .4s ease-in-out infinite;
    -moz-animation: skew4 4s .4s ease-in-out infinite;
    -ms-animation: skew4 4s .4s ease-in-out infinite;
    -o-animation: skew4 4s .4s ease-in-out infinite;
    animation: skew4 4s .4s ease-in-out infinite; }
  .meteor #reed3 {
    left: calc(15% - 120px / 2);
    width: 220px;
    height: 200px;
    -webkit-animation: skew4 4s .8s ease-in-out infinite;
    -moz-animation: skew4 4s .8s ease-in-out infinite;
    -ms-animation: skew4 4s .8s ease-in-out infinite;
    -o-animation: skew4 4s .8s ease-in-out infinite;
    animation: skew4 4s .8s ease-in-out infinite; }
  .meteor #tree2 {
    width: 245px;
    height: 480px;
    background: url("http://orion9.net/_demos/meteorRain/img/tree2.svg") no-repeat;
    right: calc(15% - 245px / 2);
    -webkit-animation: skew1 8s 2s ease-in-out infinite;
    -moz-animation: skew1 8s 2s ease-in-out infinite;
    -ms-animation: skew1 8s 2s ease-in-out infinite;
    -o-animation: skew1 8s 2s ease-in-out infinite;
    animation: skew1 8s 2s ease-in-out infinite; }
  .meteor #bush {
    right: calc(15% - 120px / 2);
    width: 210px;
    height: 135px;
    background: url("http://orion9.net/_demos/meteorRain/img/bush.svg") no-repeat;
    background-size: cover;
    -webkit-animation: skew4 4s .6s ease-in-out infinite;
    -moz-animation: skew4 4s .6s ease-in-out infinite;
    -ms-animation: skew4 4s .6s ease-in-out infinite;
    -o-animation: skew4 4s .6s ease-in-out infinite;
    animation: skew4 4s .6s ease-in-out infinite; }
  .meteor #telescope {
    width: 130px;
    height: 150px;
    background: url("http://orion9.net/_demos/meteorRain/img/telescope.svg") no-repeat;
    left: calc(50% + 45px);
    bottom: 55px !important; }
  .meteor #girl {
    width: 108px;
    height: 136px;
    background: url("http://orion9.net/_demos/meteorRain/img/girl.svg") no-repeat;
    left: calc(50% - 108px / 2);
    bottom: 25px !important;
    cursor: pointer;
    cursor: alias;
    pointer-events: auto !important; }
  .meteor #halo {
    opacity: 0;
    -webkit-transition: -webkit-opacity 1s ease-out;
    -moz-transition: -moz-opacity 1s ease-out;
    -ms-transition: -ms-opacity 1s ease-out;
    -o-transition: -o-opacity 1s ease-out;
    transition: opacity 1s ease-out; }
  .meteor #halo > div {
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: rgba(170, 255, 230, 0.05);
    bottom: -275px;
    border-radius: 50%;
    box-shadow: 0 0 55px 0 rgba(170, 255, 230, 0.1);
    -webkit-animation: halo 4s ease-in-out infinite;
    -moz-animation: halo 4s ease-in-out infinite;
    -ms-animation: halo 4s ease-in-out infinite;
    -o-animation: halo 4s ease-in-out infinite;
    animation: halo 4s ease-in-out infinite;
    animation-play-state: paused; }
  .meteor .meteorShower #halo > div {
    animation-play-state: running; }

@-webkit-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-moz-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-ms-keyframes skew1 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-o-keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@keyframes skew1 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(1deg);
    -moz-transform: skewX(1deg);
    -ms-transform: skewX(1deg);
    -o-transform: skewX(1deg);
    transform: skewX(1deg); } }

@-webkit-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-moz-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-ms-keyframes skew4 {
  .meteor 0%,
  .meteor 100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-o-keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@keyframes skew4 {
  0%,
  100% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  50% {
    -webkit-transform: skewX(4deg);
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    transform: skewX(4deg); } }

@-webkit-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-moz-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-ms-keyframes observing {
  .meteor 0%,
  .meteor 80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  .meteor 10%,
  .meteor 15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  .meteor 25%,
  .meteor 50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  .meteor 55%,
  .meteor 70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-o-keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@keyframes observing {
  0%,
  80% {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -ms-transform: skewX(0);
    -o-transform: skewX(0);
    transform: skewX(0); }
  10%,
  15% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); }
  25%,
  50% {
    -webkit-transform: skewX(-4deg) skewY(4deg);
    -moz-transform: skewX(-4deg) skewY(4deg);
    -ms-transform: skewX(-4deg) skewY(4deg);
    -o-transform: skewX(-4deg) skewY(4deg);
    transform: skewX(-4deg) skewY(4deg); }
  55%,
  70% {
    -webkit-transform: skewX(-4deg);
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    transform: skewX(-4deg); } }

@-webkit-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-moz-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@-ms-keyframes halo {
  .meteor 0%,
  .meteor 100% {
    opacity: 1; }
  .meteor 50% {
    opacity: .5; } }

@-o-keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes halo {
  0%,
  100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.planetary {
  background: #606060; }
